Repository twilio-labs/paste, changes with the owners that .github/CODEOWNERS names for each.
All owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads, @twilio-labs/design-systems-pd

.github/CODEOWNERS:

* @twilio-labs/design-system-eng

# Paste core - round robin someone from leads for review
/packages/paste-core @twilio-labs/design-system-eng-leads

# Paste customization - round robin someone from leads for review
/packages/paste-customization @twilio-labs/design-system-eng-leads

# Paste style props - round robin someone from leads for review
/packages/paste-style-props @twilio-labs/design-system-eng-leads

# Paste theme - round robin someone from leads for review
/packages/paste-theme @twilio-labs/design-system-eng-leads

# Design tokens - ensure someone from design reviews to keep in sync with Figma
/packages/paste-design-tokens @twilio-labs/design-systems-pd @twilio-labs/design-system-eng-leads

# Icons - ensure changes to icons are reviewed by a designer
/packages/paste-icons/svg @twilio-labs/design-systems-pd

chore: update yarnlock
  yarn.lock
Owners: @twilio-labs/design-system-eng

fix: remove all english
  packages/paste-theme/stories/themeProvider.stories.tsx
Owners: @twilio-labs/design-system-eng-leads

chore: add changeset
  .changeset/calm-badgers-double.md
  .changeset/clean-birds-carry.md
  .changeset/modern-turtles-unite.md
Owners: @twilio-labs/design-system-eng

chore: update react-helmet
  packages/paste-website/package.json
  yarn.lock
Owners: @twilio-labs/design-system-eng

fix: remove extra selectors
  packages/paste-theme/src/styles/global.ts
Owners: @twilio-labs/design-system-eng-leads

fix: rename aliases/tokens
  packages/paste-design-tokens/tokens/aliases/font-family.yml
  packages/paste-design-tokens/tokens/global/font-family.yml
Owners: @twilio-labs/design-systems-pd, @twilio-labs/design-system-eng-leads

chore: update snapshots
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Owners: @twilio-labs/design-systems-pd, @twilio-labs/design-system-eng-leads

chore(website): update table docs with data grid info (#2295)
  packages/paste-website/src/pages/components/table/index.mdx
Owners: @twilio-labs/design-system-eng

chore: remove transforms we do not need anymore
  .jest/transform-esm.js
  .jest/transform-typescript.js
Owners: @twilio-labs/design-system-eng

chore: fix jest errors
  jest.config.js
  package.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/toast/__tests__/useToaster.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  tools/jest.config.js
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore: try node 16 and not running jest in parallel
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_jest.yml
Owners: @twilio-labs/design-system-eng

chore: job name
  .github/workflows/on_pull_request_jest.yml
Owners: @twilio-labs/design-system-eng

chore: update testing lib and disclosure and tooltip tests
  package.json
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore: try some better async test
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/menu/__tests__/index.spec.tsx
Owners: @twilio-labs/design-system-eng-leads

chore: more test refactoring and trying maxworkers
  jest.config.js
  package.json
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/toast/__tests__/useToaster.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/menu/__tests__/index.spec.tsx
  packages/paste-website/src/utils/color-combos/__test__/index.spec.ts
  tools/utils/__tests__/runCmd.spec.js
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore: remove enzyme and react-test-renderer
  .jest/resolver.js
  .jest/setupFilesAfterEnv.js
  .vscode/launch.json
  .vscode/settings.json
  jest.config.js
  package.json
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore: try adding more async tests for interactions
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/menu/__tests__/index.spec.tsx
Owners: @twilio-labs/design-system-eng-leads

fix: tests memory leaks
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/textarea/__tests__/textarea.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/text/__tests__/StyleFunctions.spec.tsx
Owners: @twilio-labs/design-system-eng-leads

fix: more memory leaking and async tests
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/box/__tests__/box.test.tsx
  packages/paste-customization/src/CustomizationProvider.tsx
Owners: @twilio-labs/design-system-eng-leads

chore: whoops
  packages/paste-customization/src/CustomizationProvider.tsx
Owners: @twilio-labs/design-system-eng-leads

chore: update snapshots
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
Owners: @twilio-labs/design-system-eng-leads

feat(badge): update/add Badge variants
  .changeset/gorgeous-mangos-live.md
  packages/paste-core/components/badge/__tests__/customization.spec.tsx
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/src/BadgeWrapper.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/styles.ts
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  packages/paste-core/components/badge/stories/customization.stories.tsx
  packages/paste-core/components/badge/stories/index.stories.tsx
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore(tokens): add new badge related tokens
  .changeset/sweet-buses-lie.md
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/border-radius.yml
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/border-color.yml
  packages/paste-design-tokens/tokens/global/border-radius.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads, @twilio-labs/design-systems-pd

chore(popover): update types and story with Badge
  .changeset/long-trees-sin.md
  packages/paste-core/components/popover/src/types.ts
  packages/paste-core/components/popover/stories/index.stories.tsx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

docs(website): add changes to Badge docs
  packages/paste-website/src/component-examples/BadgeExamples.ts
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/pages/components/badge/index.mdx
Owners: @twilio-labs/design-system-eng

chore(tokens): add new badge related tokens
  .changeset/sweet-buses-lie.md
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/border-radius.yml
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/border-color.yml
  packages/paste-design-tokens/tokens/global/border-radius.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads, @twilio-labs/design-systems-pd

docs(website): add changes to Badge docs
  packages/paste-website/src/component-examples/BadgeExamples.ts
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/pages/components/badge/index.mdx
Owners: @twilio-labs/design-system-eng

feat(badge): update/add Badge variants
  .changeset/gorgeous-mangos-live.md
  packages/paste-core/components/badge/__tests__/customization.spec.tsx
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/src/BadgeWrapper.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/styles.ts
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  packages/paste-core/components/badge/stories/customization.stories.tsx
  packages/paste-core/components/badge/stories/index.stories.tsx
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore(popover): update types and story with Badge
  .changeset/long-trees-sin.md
  packages/paste-core/components/popover/src/types.ts
  packages/paste-core/components/popover/stories/index.stories.tsx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

fix(badge): adjust error counter icon color
  packages/paste-core/components/badge/src/index.tsx
Owners: @twilio-labs/design-system-eng-leads

chore(badge): add changeset
  .changeset/thin-mangos-report.md
Owners: @twilio-labs/design-system-eng

fix(badge): adjust error counter icon color (#2302)
  .changeset/thin-mangos-report.md
  packages/paste-core/components/badge/src/index.tsx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

feat: add localized fonts to support i18n (#2298)
  .changeset/calm-badgers-double.md
  .changeset/clean-birds-carry.md
  .changeset/modern-turtles-unite.md
  package.json
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowButton.tsx
  packages/paste-core/components/pagination/src/PaginationNumber.tsx
  packages/paste-core/components/select/src/Option.tsx
  packages/paste-core/components/select/src/OptionGroup.tsx
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/font-family.yml
  packages/paste-design-tokens/tokens/global/font-family.yml
  packages/paste-theme/package.json
  packages/paste-theme/src/styles/global.ts
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/stories/themeProvider.stories.tsx
  packages/paste-website/package.json
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads, @twilio-labs/design-systems-pd

chore(select): set background color
  .changeset/curvy-hounds-yawn.md
  packages/paste-core/components/select/src/Select.tsx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore: correct version
  .changeset/happy-boats-collect.md
Owners: @twilio-labs/design-system-eng

chore(button): add changeset
  .changeset/happy-boats-collect.md
Owners: @twilio-labs/design-system-eng

feat(button): add i18n props
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
Owners: @twilio-labs/design-system-eng-leads

feat: finish button i18n
  .changeset/friendly-feet-shake.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-website/src/pages/components/button/index.mdx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore: correct heading level in docs site
  packages/paste-website/src/pages/components/button/index.mdx
Owners: @twilio-labs/design-system-eng

feat(button): resolve ts failure on possible null object
  packages/paste-core/components/button/__tests__/button.test.tsx
Owners: @twilio-labs/design-system-eng-leads
