Repository twilio-labs/paste, changes with the owners that .github/CODEOWNERS names for each.
All owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads, @twilio-labs/design-systems-pd

feat: remove hardcoded string
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
Owners: @twilio-labs/design-system-eng-leads

chore: add changeset
  .changeset/cuddly-students-agree.md
Owners: @twilio-labs/design-system-eng

fix(dark-mode-scroll): set background color on scrolling element (#2273)
  packages/paste-website/src/components/SlantedBackgroundGradient.tsx
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/homepage/Popular.tsx
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Owners: @twilio-labs/design-system-eng

feat(label): add i18nRequiredLabel prop
  .changeset/cuddly-students-agree.md
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
  packages/paste-website/src/pages/components/label/index.mdx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

feat(inline-control-group): pass i18nRequiredLabel to the legend
  packages/paste-core/components/inline-control-group/__tests__/inlineControlGroup.test.tsx
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
Owners: @twilio-labs/design-system-eng-leads

feat(checkbox): add i18nRequiredLabel prop to CheckboxGroup
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/checkbox/src/CheckboxGroup.tsx
  packages/paste-website/src/pages/components/checkbox/index.mdx
Owners: @twilio-labs/design-system-eng-leads, @twilio-labs/design-system-eng

feat(radio): add i18nRequiredLabel prop to RadioGroup
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/radio-group/src/RadioGroup.tsx
  packages/paste-website/src/pages/components/radio-group/index.mdx
Owners: @twilio-labs/design-system-eng-leads, @twilio-labs/design-system-eng

chore: add changeset
  .changeset/great-fans-decide.md
Owners: @twilio-labs/design-system-eng

chore: add padding to last img
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Owners: @twilio-labs/design-system-eng

feat: add i18n examples to site
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
Owners: @twilio-labs/design-system-eng-leads, @twilio-labs/design-system-eng

chore(applitools-landing): add vrt to landing page; update config
  applitools.config.js
  cypress/integration/landing-page/index.spec.ts
Owners: @twilio-labs/design-system-eng

chore(commitlint): update commitlint
  package.json
  yarn.lock
Owners: @twilio-labs/design-system-eng

chore(website): fix combobox example typo (#2268)
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Owners: @twilio-labs/design-system-eng

fix(radio group page): conflicting id between heading and examples (#2205)
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
Owners: @twilio-labs/design-system-eng

fix: correct date img
  packages/paste-website/src/assets/images/patterns/filter-custom-date.png
Owners: @twilio-labs/design-system-eng

fix: link on create pattern page
  packages/paste-website/src/pages/patterns/create/index.mdx
Owners: @twilio-labs/design-system-eng

feat(website): update dark theme badge and faq
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadgeButton.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Owners: @twilio-labs/design-system-eng

fix(website): swap back to custom dark mode badge
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadgeButton.tsx
Owners: @twilio-labs/design-system-eng

fix(website): fix error in dark mode modal
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Owners: @twilio-labs/design-system-eng

fix(website): try Badge component again
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadgeButton.tsx
Owners: @twilio-labs/design-system-eng

fix(website): add spaces before Anchors and change heading size
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Owners: @twilio-labs/design-system-eng

fix(website): update icon in badge to be before text
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
Owners: @twilio-labs/design-system-eng

chore: linting and formatting
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Owners: @twilio-labs/design-system-eng

fix: make the button icon decorative
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
Owners: @twilio-labs/design-system-eng

chore(commitlint): update commitlint (#2276)
  package.json
  yarn.lock
Owners: @twilio-labs/design-system-eng

feat(label): remove hardcoded strings for i18n (#2274)
  .changeset/cuddly-students-agree.md
  .changeset/great-fans-decide.md
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/checkbox/src/CheckboxGroup.tsx
  packages/paste-core/components/inline-control-group/__tests__/inlineControlGroup.test.tsx
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/radio-group/src/RadioGroup.tsx
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

fix: typos
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Owners: @twilio-labs/design-system-eng

feat(website): add filter group pattern page (#2270)
  packages/paste-website/src/assets/images/patterns/filter-custom-date.png
  packages/paste-website/src/assets/images/patterns/filter-default-state.png
  packages/paste-website/src/assets/images/patterns/filter-empty-state.png
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/src/utils/GraphqlUtils.ts
Owners: @twilio-labs/design-system-eng

feat(website): update dark theme badge and faq (#2271)
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadgeButton.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Owners: @twilio-labs/design-system-eng

chore(applitools-landing): add vrt to landing page; update config (#2275)
  applitools.config.js
  cypress/integration/landing-page/index.spec.ts
Owners: @twilio-labs/design-system-eng

chore(website): update table docs with data grid info
  packages/paste-website/src/pages/components/table/index.mdx
Owners: @twilio-labs/design-system-eng

fix(website): fix typos and add process icons to live preview
  packages/paste-website/src/pages/components/table/index.mdx
Owners: @twilio-labs/design-system-eng

fix(website): fix typo in data grid link
  packages/paste-website/src/pages/components/table/index.mdx
Owners: @twilio-labs/design-system-eng

feat: add paste-theme-provider class
  packages/paste-theme/src/themeProvider.tsx
Owners: @twilio-labs/design-system-eng-leads

feat: add i18n fontFamily aliases and tokens
  packages/paste-design-tokens/tokens/aliases/font-family.yml
  packages/paste-design-tokens/tokens/global/font-family.yml
Owners: @twilio-labs/design-systems-pd, @twilio-labs/design-system-eng-leads

feat: add font families based on html lang
  packages/paste-theme/src/styles/global.ts
Owners: @twilio-labs/design-system-eng-leads

fix: set font to inherit
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowButton.tsx
  packages/paste-core/components/pagination/src/PaginationNumber.tsx
  packages/paste-core/components/select/src/Option.tsx
  packages/paste-core/components/select/src/OptionGroup.tsx
Owners: @twilio-labs/design-system-eng-leads

feat: add font family stories for VRT
  packages/paste-theme/stories/themeProvider.stories.tsx
Owners: @twilio-labs/design-system-eng-leads

feat: add react-helmet to change lang
  package.json
  packages/paste-theme/package.json
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore(website): remove emoji from callout on Table docs page
  packages/paste-website/src/pages/components/table/index.mdx
Owners: @twilio-labs/design-system-eng

.github/CODEOWNERS:

* @twilio-labs/design-system-eng

# Paste core - round robin someone from leads for review
/packages/paste-core @twilio-labs/design-system-eng-leads

# Paste customization - round robin someone from leads for review
/packages/paste-customization @twilio-labs/design-system-eng-leads

# Paste style props - round robin someone from leads for review
/packages/paste-style-props @twilio-labs/design-system-eng-leads

# Paste theme - round robin someone from leads for review
/packages/paste-theme @twilio-labs/design-system-eng-leads

# Design tokens - ensure someone from design reviews to keep in sync with Figma
/packages/paste-design-tokens @twilio-labs/design-systems-pd @twilio-labs/design-system-eng-leads

# Icons - ensure changes to icons are reviewed by a designer
/packages/paste-icons/svg @twilio-labs/design-systems-pd
