Repository twilio-labs/paste, changes with the owners that .github/CODEOWNERS names for each.
All owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads, @twilio-labs/design-systems-pd

.github/CODEOWNERS:

* @twilio-labs/design-system-eng

# Paste core - round robin someone from leads for review
/packages/paste-core @twilio-labs/design-system-eng-leads

# Paste customization - round robin someone from leads for review
/packages/paste-customization @twilio-labs/design-system-eng-leads

# Paste style props - round robin someone from leads for review
/packages/paste-style-props @twilio-labs/design-system-eng-leads

# Paste theme - round robin someone from leads for review
/packages/paste-theme @twilio-labs/design-system-eng-leads

# Design tokens - ensure someone from design reviews to keep in sync with Figma
/packages/paste-design-tokens @twilio-labs/design-systems-pd @twilio-labs/design-system-eng-leads

# Icons - ensure changes to icons are reviewed by a designer
/packages/paste-icons/svg @twilio-labs/design-systems-pd

chore(select): set background color (#2309)
  .changeset/curvy-hounds-yawn.md
  packages/paste-core/components/select/src/Select.tsx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

fix(website): fixes sidebar page selection on page load
  packages/paste-website/package.json
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/utils/RouteUtils.ts
  yarn.lock
Owners: @twilio-labs/design-system-eng

test(website): cypress test for first load sidebar expansion
  cypress/integration/sidebar-navigation/index.spec.ts
  package.json
  packages/paste-website/stories/ComponentHeader.stories.tsx
  packages/paste-website/stories/SidebarNavigation.stories.tsx
  packages/paste-website/stories/feedback-popover.stories.tsx
  yarn.lock
Owners: @twilio-labs/design-system-eng

fix(website-route): remove Reach Router references in Stories
  packages/paste-website/stories/ComponentHeader.stories.tsx
  packages/paste-website/stories/SidebarNavigation.stories.tsx
Owners: @twilio-labs/design-system-eng

fix(website-route): update package dependencies
  package.json
  packages/paste-website/package.json
  yarn.lock
Owners: @twilio-labs/design-system-eng

fix(website-route): update RouteUtils to look for window object before going to Reach Router
  packages/paste-website/src/utils/RouteUtils.ts
Owners: @twilio-labs/design-system-eng

fix(website-route): remove Reach from storybook, pass pathname as prop
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
  packages/paste-website/stories/feedback-popover.stories.tsx
Owners: @twilio-labs/design-system-eng

fix(website-route): revert stories for feedback popover
  packages/paste-website/stories/feedback-popover.stories.tsx
Owners: @twilio-labs/design-system-eng

fix(website-route): revert pathname changes for feedback popoover
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
Owners: @twilio-labs/design-system-eng

fix(website-route): dry up window detection
  packages/paste-website/src/utils/RouteUtils.ts
Owners: @twilio-labs/design-system-eng

fix(website): fixes sidebar page selection on page load (#2229)
  cypress/integration/sidebar-navigation/index.spec.ts
  packages/paste-website/package.json
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/utils/RouteUtils.ts
  packages/paste-website/stories/SidebarNavigation.stories.tsx
  yarn.lock
Owners: @twilio-labs/design-system-eng

feat(button): add i18n props (#2304)
  .changeset/friendly-feet-shake.md
  .changeset/happy-boats-collect.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-website/src/pages/components/button/index.mdx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore: remove enzyme, add jest-swc, createEvent bug
  .jest/resolver.js
  .jest/setupFilesAfterEnv.js
  .jest/transform-esm.js
  .jest/transform-typescript.js
  jest.config.js
  package.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/toast/__tests__/useToaster.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/StyleFunctions.spec.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  packages/paste-website/src/utils/color-combos/__test__/index.spec.ts
  tools/jest.config.js
  tools/utils/__tests__/runCmd.spec.js
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore: silly mistakes
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
Owners: @twilio-labs/design-system-eng-leads

chore: button fix from merge
  packages/paste-core/components/button/__tests__/button.test.tsx
Owners: @twilio-labs/design-system-eng-leads

chore: Jest improvements part 1 (#2313)
  .jest/resolver.js
  .jest/setupFilesAfterEnv.js
  .jest/transform-esm.js
  .jest/transform-typescript.js
  jest.config.js
  package.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/toast/__tests__/useToaster.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/StyleFunctions.spec.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  packages/paste-website/src/utils/color-combos/__test__/index.spec.ts
  tools/jest.config.js
  tools/utils/__tests__/runCmd.spec.js
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

feat(anchor): add i18n prop
  .changeset/neat-apples-boil.md
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/anchor/src/index.tsx
  packages/paste-core/components/anchor/src/proptypes.ts
  packages/paste-core/components/anchor/src/types.ts
  packages/paste-core/components/anchor/stories/index.stories.tsx
  packages/paste-website/src/pages/components/anchor/index.mdx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

feat(anchor): resolve ts failure on possible null object
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
Owners: @twilio-labs/design-system-eng-leads

feat(anchor): add i18n prop (#2306)
  .changeset/neat-apples-boil.md
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/anchor/src/index.tsx
  packages/paste-core/components/anchor/src/proptypes.ts
  packages/paste-core/components/anchor/src/types.ts
  packages/paste-core/components/anchor/stories/index.stories.tsx
  packages/paste-website/src/pages/components/anchor/index.mdx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

feat(table): add responsive tables
  .changeset/giant-pillows-lick.md
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-website/src/pages/components/table/index.mdx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

feat(data-grid): inherit table layout options including responsive layout support
  .changeset/lovely-guests-think.md
  packages/paste-core/components/data-grid/src/DataGrid.tsx
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/stories/components/DataGridLayouts.tsx
  packages/paste-core/components/data-grid/stories/index.stories.tsx
  packages/paste-website/src/pages/components/data-grid/index.mdx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

fix(website): adopt responsive table layouts where tables break out moble experience
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Owners: @twilio-labs/design-system-eng

fix: pr feedback and prop name change
  .changeset/giant-pillows-lick.md
  .changeset/lovely-guests-think.md
  packages/paste-core/components/data-grid/stories/components/DataGridLayouts.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/data-grid/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

fix: data grid layout backwards compat with older tables. Support responsive tables (#2307)
  .changeset/giant-pillows-lick.md
  .changeset/lovely-guests-think.md
  packages/paste-core/components/data-grid/src/DataGrid.tsx
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/stories/components/DataGridLayouts.tsx
  packages/paste-core/components/data-grid/stories/index.stories.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/data-grid/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

fix(spinner): match title props types to types
  packages/paste-core/components/spinner/src/index.tsx
Owners: @twilio-labs/design-system-eng-leads

chore: changeset
  .changeset/mean-starfishes-share.md
Owners: @twilio-labs/design-system-eng

feat: live example start
  packages/paste-website/src/component-examples/FilterGroupExamples.tsx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Owners: @twilio-labs/design-system-eng

fix: add links to codesandbox
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Owners: @twilio-labs/design-system-eng

feat: finish live examples
  packages/paste-website/src/__tests__/filterGroup.test.tsx
  packages/paste-website/src/assets/images/patterns/filter-default-state.png
  packages/paste-website/src/assets/images/patterns/filter-empty-state.png
  packages/paste-website/src/component-examples/FilterGroupExamples.tsx
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/components/EmptyState.tsx
  packages/paste-website/src/component-examples/filter-group/components/NoResultsIllustration.tsx
  packages/paste-website/src/component-examples/filter-group/components/SampleDataGrid.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
  packages/paste-website/src/component-examples/filter-group/helpers.ts
  packages/paste-website/src/component-examples/filter-group/types.ts
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/stories/FilterGroup.stories.tsx
Owners: @twilio-labs/design-system-eng

chore: add cypress tests
  cypress/integration/filter-group-examples/index.spec.ts
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/components/EmptyState.tsx
  packages/paste-website/src/component-examples/filter-group/components/SampleDataGrid.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
Owners: @twilio-labs/design-system-eng

chore: update package.json plop template
  tools/plop-templates/package.hbs
Owners: @twilio-labs/design-system-eng

fix(spinner): match title prop types to types (#2315)
  .changeset/mean-starfishes-share.md
  packages/paste-core/components/spinner/src/index.tsx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore: update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @twilio-labs/design-system-eng

feat(website): add default and empty state examples to filter group pattern (#2311)
  cypress/integration/filter-group-examples/index.spec.ts
  packages/paste-website/src/__tests__/filterGroup.test.tsx
  packages/paste-website/src/assets/images/patterns/filter-default-state.png
  packages/paste-website/src/assets/images/patterns/filter-empty-state.png
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/components/EmptyState.tsx
  packages/paste-website/src/component-examples/filter-group/components/NoResultsIllustration.tsx
  packages/paste-website/src/component-examples/filter-group/components/SampleDataGrid.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
  packages/paste-website/src/component-examples/filter-group/helpers.ts
  packages/paste-website/src/component-examples/filter-group/types.ts
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/stories/FilterGroup.stories.tsx
Owners: @twilio-labs/design-system-eng

fix: add links to codesandboxes below examples
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Owners: @twilio-labs/design-system-eng

feat: add should forward props to box and text
  @types/@styled-system/index.d.ts
  @types/@styled-system/should-forward-prop/index.d.ts
  @types/@styled-system/theme-get/index.d.ts
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/primitives/box/src/CustomStyleProps.ts
  packages/paste-core/primitives/box/src/StyleFunctions.ts
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/src/CustomStyleProps.ts
  packages/paste-core/primitives/text/src/StyleFunctions.ts
  packages/paste-core/primitives/text/src/index.tsx
  packages/paste-libraries/styling/package.json
  packages/paste-libraries/styling/src/index.tsx
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

fix: types and changesets
  .changeset/spotty-lobsters-impress.md
  .changeset/wicked-vans-add.md
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/text/src/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

fix: exclude size from being prevented
  packages/paste-core/primitives/box/src/index.tsx
Owners: @twilio-labs/design-system-eng-leads

fix: modal overlay to use styled component
  .changeset/shaggy-weeks-return.md
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/primitives/modal-dialog/package.json
  yarn.lock
Owners: @twilio-labs/design-system-eng, @twilio-labs/design-system-eng-leads

chore: changeset
  .changeset/red-masks-obey.md
  .changeset/shaggy-weeks-return.md
Owners: @twilio-labs/design-system-eng
