Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

fix: update website examples
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
Labels: Area: Primitives, Area: Doc Site

fix: remove selected items from list
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
Labels: Area: Primitives

fix: lint error
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

fix(combobox): fix combobox bug
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-core/primitives/combobox/stories/mutliple-select.stories.tsx
Labels: Area: Primitives

chore(combobox): clean
  packages/paste-core/primitives/combobox/stories/mutliple-select.stories.tsx
Labels: Area: Primitives

fix: image paths
  packages/paste-website/src/pages/introduction/for-designers/design-guidelines/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): start to set up applitools eyes
  @types/index.d.ts
  cypress/integration/e2e/components/overview-page.spec.ts
  cypress/support/index.js
  cypress/support/parent-commands.ts
  cypress/support/utils/index.ts
  cypress/support/utils/openTwilioEyes.ts
  cypress/tsconfig.json
  package.json
  tsconfig.json
  yarn.lock
Labels: Area: Repo, Type: Tests

chore(website): commands for applitools added to tokens page
  .github/workflows/on_pull_request.yml
  .gitignore
  applitools.config.js
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/e2e/components/overview-page.spec.ts
  cypress/integration/token-list/index.spec.ts
  cypress/plugins/index.js
  cypress/support/commands/@types/index.d.ts
  cypress/support/commands/child-commands.ts
  cypress/support/commands/dual-commands.ts
  cypress/support/commands/index.ts
  cypress/support/commands/override-commands.ts
  cypress/support/commands/parent-commands.ts
  cypress/support/index.js
  cypress/support/utils/applitools.ts
  cypress/support/utils/index.ts
  cypress/support/utils/openTwilioEyes.ts
  cypress/tsconfig.json
  package.json
  tsconfig.json
Labels: Area: Repo, Area: Infrastructure, Type: Tests

chore(website): add comment about context
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/e2e/components/overview-page.spec.ts
  cypress/integration/token-list/index.spec.ts
  cypress/plugins/index.js
  cypress/support/commands/@types/index.d.ts
  cypress/support/commands/parent-commands.ts
  cypress/support/utils/applitools.ts
  package.json
  yarn.lock
Labels: Area: Repo, Type: Tests

chore(website): update gh action for applitools
  .github/workflows/on_pull_request.yml
  applitools.config.js
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/token-list/index.spec.ts
  cypress/plugins/index.js
  cypress/support/utils/applitools.ts
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Repo, Area: Doc Site, Area: Infrastructure, Type: Documentation, Type: Tests

chore(website): determine threshold for layout and tweak config
  cypress/integration/token-list/index.spec.ts
  cypress/support/utils/applitools.ts
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Doc Site, Type: Documentation, Type: Tests

chore(website): test diff
  cypress.json
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Repo, Area: Doc Site, Type: Documentation

chore(website): test style change
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): test content change
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: add do/dont about casing
  packages/paste-website/src/pages/components/heading/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): update breadcrumb for routing
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(breadcrumb): spread props to Anchor or Text
  .changeset/afraid-dancers-confess.md
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/breadcrumb/src/index.tsx
Labels: Area: Components, Type: Tests

chore(breadcrumb): fix typing issue
  packages/paste-core/components/breadcrumb/src/index.tsx
Labels: Area: Components

chore(website): fixed iframe spacing & title
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): adjust codesandbox initial path
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: add link to style guide
  packages/paste-website/src/pages/components/heading/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: center do/dont
  packages/paste-website/src/pages/components/heading/index.mdx
Labels: Area: Doc Site, Type: Documentation

test(website): erkjng
  cypress/integration/token-list/index.spec.ts
  cypress/support/utils/applitools.ts
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Doc Site, Type: Documentation, Type: Tests

docs(heading): add sentence case guidelines to website (#2159)
  packages/paste-website/src/pages/components/heading/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: simplify badge children type
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/types.ts
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

fix(website): design guidelines image paths (#2154)
  packages/paste-website/src/pages/introduction/for-designers/design-guidelines/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: add changeset
  .changeset/tidy-feet-wash.md
Labels: none

first draft
  packages/paste-core/components/anchor/src/types.ts
  packages/paste-core/components/breadcrumb/src/index.tsx
Labels: Area: Components

chore: logging React.Profiler of component renders in storybook
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  .storybook/RenderPerformanceProfiler.js
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Labels: Area: Repo, Area: Storybook, Area: Infrastructure

chore: update url to post to
  .storybook/RenderPerformanceProfiler.js
Labels: Area: Storybook

chore: component render perf tracking (#1997)
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  .storybook/RenderPerformanceProfiler.js
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Labels: Area: Repo, Area: Storybook, Area: Infrastructure

fix: removed duplicated onChange props from textarea example
  packages/paste-website/src/pages/components/textarea/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: removed duplicated onChange props from textarea example (#2161)
  packages/paste-website/src/pages/components/textarea/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: remove namedChild from tests file
  packages/paste-core/components/badge/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

fix: update hook type
  packages/paste-core/components/badge/src/hooks.tsx
Labels: Area: Components

fix: hook test
  packages/paste-core/components/badge/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

fix: hooks again?
  packages/paste-core/components/badge/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

test(meow): meow
  cypress/integration/token-list/index.spec.ts
  cypress/integration/token-list/original.spec.ts
  cypress/support/utils/applitools.ts
Labels: Type: Tests

fix: use NamedChild type for test only
  packages/paste-core/components/badge/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

chore(breadcrumb): spread props to Anchor or Text
  .changeset/afraid-dancers-confess.md
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/breadcrumb/src/index.tsx
Labels: Area: Components, Type: Tests
