Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

chore: try adding more async tests for interactions
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/menu/__tests__/index.spec.tsx
Labels: Area: Primitives, Area: Components, Type: Tests

fix: tests memory leaks
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/textarea/__tests__/textarea.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/text/__tests__/StyleFunctions.spec.tsx
Labels: Area: Primitives, Area: Components, Type: Tests

fix: more memory leaking and async tests
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/box/__tests__/box.test.tsx
  packages/paste-customization/src/CustomizationProvider.tsx
Labels: Area: Primitives, Area: Components, Type: Tests

chore: whoops
  packages/paste-customization/src/CustomizationProvider.tsx
Labels: none

chore: update snapshots
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
Labels: Area: Components, Type: Tests

feat(badge): update/add Badge variants
  .changeset/gorgeous-mangos-live.md
  packages/paste-core/components/badge/__tests__/customization.spec.tsx
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/src/BadgeWrapper.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/styles.ts
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  packages/paste-core/components/badge/stories/customization.stories.tsx
  packages/paste-core/components/badge/stories/index.stories.tsx
  yarn.lock
Labels: Area: Repo, Area: Components, Type: Tests

chore(tokens): add new badge related tokens
  .changeset/sweet-buses-lie.md
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/border-radius.yml
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/border-color.yml
  packages/paste-design-tokens/tokens/global/border-radius.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Components, Area: Tokens, Type: Tests

chore(popover): update types and story with Badge
  .changeset/long-trees-sin.md
  packages/paste-core/components/popover/src/types.ts
  packages/paste-core/components/popover/stories/index.stories.tsx
Labels: Area: Components

docs(website): add changes to Badge docs
  packages/paste-website/src/component-examples/BadgeExamples.ts
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(tokens): add new badge related tokens
  .changeset/sweet-buses-lie.md
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/border-radius.yml
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/border-color.yml
  packages/paste-design-tokens/tokens/global/border-radius.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Components, Area: Tokens, Type: Tests

docs(website): add changes to Badge docs
  packages/paste-website/src/component-examples/BadgeExamples.ts
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(badge): update/add Badge variants
  .changeset/gorgeous-mangos-live.md
  packages/paste-core/components/badge/__tests__/customization.spec.tsx
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/src/BadgeWrapper.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/styles.ts
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  packages/paste-core/components/badge/stories/customization.stories.tsx
  packages/paste-core/components/badge/stories/index.stories.tsx
  yarn.lock
Labels: Area: Repo, Area: Components, Type: Tests

chore(popover): update types and story with Badge
  .changeset/long-trees-sin.md
  packages/paste-core/components/popover/src/types.ts
  packages/paste-core/components/popover/stories/index.stories.tsx
Labels: Area: Components

fix(badge): adjust error counter icon color
  packages/paste-core/components/badge/src/index.tsx
Labels: Area: Components

chore(badge): add changeset
  .changeset/thin-mangos-report.md
Labels: none

fix(badge): adjust error counter icon color (#2302)
  .changeset/thin-mangos-report.md
  packages/paste-core/components/badge/src/index.tsx
Labels: Area: Components

feat: add localized fonts to support i18n (#2298)
  .changeset/calm-badgers-double.md
  .changeset/clean-birds-carry.md
  .changeset/modern-turtles-unite.md
  package.json
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowButton.tsx
  packages/paste-core/components/pagination/src/PaginationNumber.tsx
  packages/paste-core/components/select/src/Option.tsx
  packages/paste-core/components/select/src/OptionGroup.tsx
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/font-family.yml
  packages/paste-design-tokens/tokens/global/font-family.yml
  packages/paste-theme/package.json
  packages/paste-theme/src/styles/global.ts
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/stories/themeProvider.stories.tsx
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Doc Site, Area: Theme, Area: Tokens, Type: Tests

chore(select): set background color
  .changeset/curvy-hounds-yawn.md
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components

chore: correct version
  .changeset/happy-boats-collect.md
Labels: none

chore(button): add changeset
  .changeset/happy-boats-collect.md
Labels: none

feat(button): add i18n props
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
Labels: Area: Components

feat: finish button i18n
  .changeset/friendly-feet-shake.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

chore: correct heading level in docs site
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(button): resolve ts failure on possible null object
  packages/paste-core/components/button/__tests__/button.test.tsx
Labels: Area: Components, Type: Tests

chore(select): set background color (#2309)
  .changeset/curvy-hounds-yawn.md
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components

fix(website): fixes sidebar page selection on page load
  packages/paste-website/package.json
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/utils/RouteUtils.ts
  yarn.lock
Labels: Area: Repo, Area: Doc Site

test(website): cypress test for first load sidebar expansion
  cypress/integration/sidebar-navigation/index.spec.ts
  package.json
  packages/paste-website/stories/ComponentHeader.stories.tsx
  packages/paste-website/stories/SidebarNavigation.stories.tsx
  packages/paste-website/stories/feedback-popover.stories.tsx
  yarn.lock
Labels: Area: Repo, Area: Doc Site, Type: Tests

fix(website-route): remove Reach Router references in Stories
  packages/paste-website/stories/ComponentHeader.stories.tsx
  packages/paste-website/stories/SidebarNavigation.stories.tsx
Labels: Area: Doc Site

fix(website-route): update package dependencies
  package.json
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Repo, Area: Doc Site

fix(website-route): update RouteUtils to look for window object before going to Reach Router
  packages/paste-website/src/utils/RouteUtils.ts
Labels: Area: Doc Site

fix(website-route): remove Reach from storybook, pass pathname as prop
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
  packages/paste-website/stories/feedback-popover.stories.tsx
Labels: Area: Doc Site

fix(website-route): revert stories for feedback popover
  packages/paste-website/stories/feedback-popover.stories.tsx
Labels: Area: Doc Site

fix(website-route): revert pathname changes for feedback popoover
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
Labels: Area: Doc Site

fix(website-route): dry up window detection
  packages/paste-website/src/utils/RouteUtils.ts
Labels: Area: Doc Site

fix(website): fixes sidebar page selection on page load (#2229)
  cypress/integration/sidebar-navigation/index.spec.ts
  packages/paste-website/package.json
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/utils/RouteUtils.ts
  packages/paste-website/stories/SidebarNavigation.stories.tsx
  yarn.lock
Labels: Area: Repo, Area: Doc Site, Type: Tests

feat(button): add i18n props (#2304)
  .changeset/friendly-feet-shake.md
  .changeset/happy-boats-collect.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

chore: remove enzyme, add jest-swc, createEvent bug
  .jest/resolver.js
  .jest/setupFilesAfterEnv.js
  .jest/transform-esm.js
  .jest/transform-typescript.js
  jest.config.js
  package.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/toast/__tests__/useToaster.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/StyleFunctions.spec.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  packages/paste-website/src/utils/color-combos/__test__/index.spec.ts
  tools/jest.config.js
  tools/utils/__tests__/runCmd.spec.js
  yarn.lock
Labels: Area: Repo, Area: Primitives, Area: Components, Area: Doc Site, Area: Theme, Area: Infrastructure, Type: Documentation, Type: Tests

chore: silly mistakes
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
Labels: Area: Components, Type: Tests

chore: button fix from merge
  packages/paste-core/components/button/__tests__/button.test.tsx
Labels: Area: Components, Type: Tests

chore: Jest improvements part 1 (#2313)
  .jest/resolver.js
  .jest/setupFilesAfterEnv.js
  .jest/transform-esm.js
  .jest/transform-typescript.js
  jest.config.js
  package.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/toast/__tests__/useToaster.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/StyleFunctions.spec.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  packages/paste-website/src/utils/color-combos/__test__/index.spec.ts
  tools/jest.config.js
  tools/utils/__tests__/runCmd.spec.js
  yarn.lock
Labels: Area: Repo, Area: Primitives, Area: Components, Area: Doc Site, Area: Theme, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
