Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

fix(select): select and option background color (#2242)
  .changeset/late-rules-add.md
  .changeset/twenty-seals-tickle.md
  packages/paste-core/components/select/src/Option.tsx
  packages/paste-core/components/select/src/OptionGroup.tsx
  packages/paste-core/components/select/src/Select.tsx
  packages/paste-style-props/src/types/background.ts
Labels: Area: Components

Merge pull request #2228 from twilio-labs/fix/kodiak
  .kodiak.toml
Labels: Area: Repo

chore: changeset
  .changeset/angry-ants-reply.md
Labels: none

chore: remove the form package
  packages/paste-codemods/tools/generatePackageExportsMap.js
  packages/paste-core/components/form/CHANGELOG.md
  packages/paste-core/components/form/build.js
  packages/paste-core/components/form/package.json
  packages/paste-core/components/form/src/FormHelpText.tsx
  packages/paste-core/components/form/src/FormInput.tsx
  packages/paste-core/components/form/src/FormLabel.tsx
  packages/paste-core/components/form/src/FormTextArea.tsx
  packages/paste-core/components/form/src/index.tsx
  packages/paste-core/components/form/src/shared/types.ts
  packages/paste-core/components/form/stories/form.stories.tsx
  packages/paste-core/components/form/tsconfig.json
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/package.json
  packages/paste-core/components/modal/stories/index.stories.tsx
  packages/paste-core/core-bundle/src/form.tsx
  packages/paste-core/core-bundle/tools/constants.js
  packages/paste-website/src/component-examples/ModalExamples.ts
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerControls.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerPreview.tsx
  packages/paste-website/src/components/icons-list/IconsList.tsx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/stack/index.mdx
  packages/paste-website/src/pages/introduction/contributing/patterns/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
  packages/paste-website/src/utils/componentFilters.ts
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Core bundle, Area: Doc Site, Type: Documentation, Type: Tests

chore: update esbuild and bump target browsers to 2019 versions
  package.json
  tools/build/esbuild.js
  yarn.lock
Labels: Area: Repo, Area: Infrastructure

chore: pr feedback and typo
  .changeset/angry-ants-reply.md
  tools/build/esbuild.js
Labels: Area: Infrastructure

Chore: esbuild upgrade and remove form package (#2237)
  .changeset/angry-ants-reply.md
  package.json
  packages/paste-codemods/tools/generatePackageExportsMap.js
  packages/paste-core/components/form/CHANGELOG.md
  packages/paste-core/components/form/build.js
  packages/paste-core/components/form/package.json
  packages/paste-core/components/form/src/FormHelpText.tsx
  packages/paste-core/components/form/src/FormInput.tsx
  packages/paste-core/components/form/src/FormLabel.tsx
  packages/paste-core/components/form/src/FormTextArea.tsx
  packages/paste-core/components/form/src/index.tsx
  packages/paste-core/components/form/src/shared/types.ts
  packages/paste-core/components/form/stories/form.stories.tsx
  packages/paste-core/components/form/tsconfig.json
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/package.json
  packages/paste-core/components/modal/stories/index.stories.tsx
  packages/paste-core/core-bundle/src/form.tsx
  packages/paste-core/core-bundle/tools/constants.js
  packages/paste-website/src/component-examples/ModalExamples.ts
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerControls.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerPreview.tsx
  packages/paste-website/src/components/icons-list/IconsList.tsx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/stack/index.mdx
  packages/paste-website/src/pages/introduction/contributing/patterns/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
  packages/paste-website/src/utils/componentFilters.ts
  tools/build/esbuild.js
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Core bundle, Area: Doc Site, Area: Infrastructure, Type: Documentation, Type: Tests

fix: separate changesets for different packages
  .changeset/blue-gorillas-divide.md
  .changeset/eleven-rocks-argue.md
  .changeset/poor-parents-suffer.md
  .changeset/shiny-lions-call.md
  .changeset/sour-geckos-smell.md
  .changeset/tall-steaks-argue.md
  .changeset/tasty-ads-punch.md
  .changeset/ten-pants-greet.md
  .changeset/twenty-cheetahs-greet.md
Labels: none

feat: add i18n props
  packages/paste-core/components/alert/src/index.tsx
Labels: Area: Components

fix: separate changesets for different packages
  .changeset/blue-gorillas-divide.md
  .changeset/eleven-rocks-argue.md
  .changeset/poor-parents-suffer.md
  .changeset/shiny-lions-call.md
  .changeset/sour-geckos-smell.md
  .changeset/tall-steaks-argue.md
  .changeset/tasty-ads-punch.md
  .changeset/ten-pants-greet.md
  .changeset/twenty-cheetahs-greet.md
Labels: none

fix: update theme designer link
  packages/paste-website/src/pages/customization/creating-a-custom-theme.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add stories
  packages/paste-core/components/alert/stories/index.stories.tsx
Labels: Area: Components

feat: add unit tests
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/alert/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat: add i18n to website
  packages/paste-website/src/pages/components/alert/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: add changeset
  .changeset/sweet-days-talk.md
Labels: none

fix: update theme designer link
  packages/paste-website/src/pages/customization/creating-a-custom-theme.mdx
Labels: Area: Doc Site, Type: Documentation

feat(toast): add i18n props
  .changeset/fluffy-sheep-try.md
  packages/paste-core/components/toast/__tests__/index.spec.tsx
  packages/paste-core/components/toast/src/Toast.tsx
  packages/paste-core/components/toast/src/propTypes.ts
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

docs(website): add i18n details to Toast docs
  packages/paste-website/src/component-examples/ToastExamples.tsx
  packages/paste-website/src/pages/components/toast/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(toast): add i18n props (#2234)
  .changeset/fluffy-sheep-try.md
  packages/paste-core/components/toast/__tests__/index.spec.tsx
  packages/paste-core/components/toast/src/Toast.tsx
  packages/paste-core/components/toast/src/propTypes.ts
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ToastExamples.tsx
  packages/paste-website/src/pages/components/toast/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

chore: lockfile
  yarn.lock
Labels: Area: Repo

Update wording
  packages/paste-website/src/pages/components/alert/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add data viz foundations page
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: finish page, add library page
  packages/paste-website/package.json
  packages/paste-website/src/assets/images/foundations/data-visualization/figma-colors.png
  packages/paste-website/src/assets/images/foundations/data-visualization/line-chart.png
  packages/paste-website/src/assets/images/foundations/data-visualization/pie-chart.png
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/component-examples/DataVisualizationExamples.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/core/libraries/data-visualization/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: update yarnlock
  yarn.lock
Labels: Area: Repo

fix: broken link
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: add changeset
  .changeset/wild-chicken-thank.md
Labels: none

fix: add changelog
  packages/paste-website/src/pages/core/libraries/data-visualization/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: pr feedback
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/pages/core/libraries/data-visualization/index.mdx
  packages/paste-website/src/pages/foundations/colors/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: update copy
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: patch preview images
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

fix: add core to changelog
  .changeset/wild-chicken-thank.md
Labels: none

chore: update data-viz package
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Repo, Area: Doc Site

chore: fix conflicts
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Repo, Area: Doc Site

feat(alert): add i18n props (#2253)
  .changeset/sweet-days-talk.md
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/alert/stories/index.stories.tsx
  packages/paste-website/src/pages/components/alert/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

feat(website): add data visualization foundation page (#2236)
  .changeset/wild-chicken-thank.md
  packages/paste-website/package.json
  packages/paste-website/src/assets/images/foundations/data-visualization/figma-colors.png
  packages/paste-website/src/assets/images/foundations/data-visualization/line-chart.png
  packages/paste-website/src/assets/images/foundations/data-visualization/pie-chart.png
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/component-examples/DataVisualizationExamples.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/core/libraries/data-visualization/index.mdx
  packages/paste-website/src/pages/foundations/colors/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
  yarn.lock
Labels: Area: Repo, Area: Doc Site, Type: Documentation

chore(release): version packages (#2256)
  .changeset/sweet-days-talk.md
  .changeset/wild-chicken-thank.md
  packages/paste-core/components/alert/CHANGELOG.md
  packages/paste-core/components/alert/package.json
  packages/paste-core/core-bundle/CHANGELOG.md
  packages/paste-core/core-bundle/package.json
  packages/paste-libraries/data-visualization/CHANGELOG.md
  packages/paste-libraries/data-visualization/package.json
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Core bundle

chore(website): rename empty state pattern
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): rename empty state pattern (#2252)
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(applitools): enhance batch naming
  .github/workflows/on_pull_request.yml
  cypress/support/utils/applitools.ts
  cypress/tsconfig.json
Labels: Area: Infrastructure, Type: Tests

chore(applitools): ensure Applitools does full-page capture
  applitools.config.js
  cypress/integration/token-list/index.spec.ts
  cypress/support/utils/applitools.ts
Labels: Area: Repo, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
