Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

chore: try some caching and limiting workspaces
  .github/workflows/cypress.yml
  .github/workflows/package-size.yml
  .github/workflows/publish.yml
  .github/workflows/pull_request.yml
  .github/workflows/vrt_main.yml
  .github/workflows/vrt_pull_request.yml
  netlify.toml
  package.json
  packages/paste-theme-designer/netlify.toml
  packages/paste-website/netlify.toml
  yarn.lock
Labels: Area: Repo, Area: Doc Site, Area: Infrastructure

chore: replace lerna requirement in scripts
  .eslintignore
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarnrc.yml
  netlify.toml
  now-build.sh
  package.json
  packages/paste-theme-designer/netlify.toml
  packages/paste-website/netlify.toml
Labels: Area: Repo, Area: Doc Site

chore(yarn3): placeholder bootstrap command
  package.json
Labels: Area: Repo

chore(yarn3): add form package to modal
  packages/paste-core/components/modal/package.json
  yarn.lock
Labels: Area: Repo, Area: Components

chore(yarn3): yarn3 cleanup
  .eslintrc.js
  package.json
Labels: Area: Repo

chore(yarn3): empty bootstrap
  package.json
Labels: Area: Repo

fix: try unsetting the yarn version in config
  netlify.toml
  packages/paste-theme-designer/netlify.toml
  packages/paste-website/netlify.toml
Labels: Area: Repo, Area: Doc Site

chore(yarn3): use fork of compressed-size-action
  .github/workflows/package-size.yml
Labels: Area: Infrastructure

chore(yarn3): revert back to lerna for perf
  package.json
Labels: Area: Repo

chore: yarn v3 upgrade (#1952)
  .eslintignore
  .eslintrc.js
  .github/workflows/cypress.yml
  .github/workflows/package-size.yml
  .github/workflows/publish.yml
  .github/workflows/pull_request.yml
  .github/workflows/vrt_main.yml
  .github/workflows/vrt_pull_request.yml
  .gitignore
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.0.2.cjs
  .yarnrc
  .yarnrc.yml
  netlify.toml
  now-build.sh
  package.json
  packages/paste-codemods/package.json
  packages/paste-core/components/modal/package.json
  packages/paste-icons/package.json
  packages/paste-theme-designer/netlify.toml
  packages/paste-theme-designer/package.json
  packages/paste-website/netlify.toml
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Doc Site, Area: Infrastructure

fix(package-size-action): update tag
  .github/workflows/package-size.yml
Labels: Area: Infrastructure

fix(package-size-action): bump to 2.4.2 which reverts dep updates
  .github/workflows/package-size.yml
Labels: Area: Infrastructure

fix(package-size-action): update tag (#1966)
  .github/workflows/package-size.yml
Labels: Area: Infrastructure

feat(icons): add Home icon
  .changeset/smooth-dolphins-change.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductHomeIcon.tsx
  packages/paste-icons/svg/ProductHome.svg
Labels: none

feat(icons): add Home icon (#1973)
  .changeset/smooth-dolphins-change.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductHomeIcon.tsx
  packages/paste-icons/svg/ProductHome.svg
Labels: none

fix: prevent GA from tracking chromatic builds
  .storybook/addons/google-analytics/register.js
  .storybook/main.js
  .storybook/preview-head.html
  package.json
  yarn.lock
Labels: Area: Repo, Area: Storybook

fix: prevent GA from tracking chromatic builds
  .storybook/addons/google-analytics/register.js
  .storybook/main.js
  .storybook/preview-head.html
  package.json
  yarn.lock
Labels: Area: Repo, Area: Storybook

fix(anchor): improved wrapping and underline fix in FF
  .changeset/light-goats-laugh.md
  packages/paste-core/components/anchor/src/index.tsx
Labels: Area: Components

fix(anchor): improved wrapping and underline fix in FF (#1969)
  .changeset/light-goats-laugh.md
  packages/paste-core/components/anchor/src/index.tsx
Labels: Area: Components

fix(text): add whiteSpace and fontVariantNumeric props
  .changeset/silver-apples-behave.md
  packages/paste-core/primitives/text/src/StyleFunctions.ts
  packages/paste-core/primitives/text/src/types.ts
  packages/paste-core/primitives/text/stories/index.stories.tsx
Labels: Area: Primitives

chore(website): add missing props to Text and Box props tables
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(text): add whiteSpace and fontVariantNumeric style props (#1975)
  .changeset/silver-apples-behave.md
  packages/paste-core/primitives/text/src/StyleFunctions.ts
  packages/paste-core/primitives/text/src/types.ts
  packages/paste-core/primitives/text/stories/index.stories.tsx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
Labels: Area: Primitives, Area: Doc Site, Type: Documentation

fix(button): remove extra padding for invisible children
  .changeset/hip-actors-listen.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix(button): remove extra padding for invisible children
  .changeset/hip-actors-listen.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore: update yarnlock
  yarn.lock
Labels: Area: Repo

chore: update yarnlock
  yarn.lock
Labels: Area: Repo

fix: roadmap filtering broken with column rename
  packages/paste-website/gatsby-node.js
Labels: Area: Doc Site

fix(website): remove duplicative github link
  packages/paste-website/src/components/site-wrapper/site-header/GithubLink.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
Labels: Area: Doc Site

fix: roadmap filtering broken with column rename
  packages/paste-website/gatsby-node.js
Labels: Area: Doc Site

chore(website): delete unused github icon
  packages/paste-website/src/components/icons/GithubIcon.tsx
Labels: Area: Doc Site

docs(website): use unbarreled imports on docs pages
  packages/paste-website/src/pages/components/alert-dialog/index.mdx
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/avatar/index.mdx
  packages/paste-website/src/pages/components/badge/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/disclosure/index.mdx
  packages/paste-website/src/pages/components/display-pill-group/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/paragraph/index.mdx
  packages/paste-website/src/pages/components/popover/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/screen-reader-only/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/separator/index.mdx
  packages/paste-website/src/pages/components/skeleton-loader/index.mdx
  packages/paste-website/src/pages/components/spinner/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/components/tooltip/index.mdx
  packages/paste-website/src/pages/components/truncate/index.mdx
  packages/paste-website/src/pages/layout/flex/index.mdx
  packages/paste-website/src/pages/layout/grid/index.mdx
  packages/paste-website/src/pages/layout/media-object/index.mdx
  packages/paste-website/src/pages/layout/stack/index.mdx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(button): add icon_only variant
  .changeset/twenty-boxes-ring.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveButton.tsx
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/DestructiveSecondaryButton.tsx
  packages/paste-core/components/button/src/IconOnlyButton.tsx
  packages/paste-core/components/button/src/InverseButton.tsx
  packages/paste-core/components/button/src/InverseLinkButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
  packages/paste-core/components/button/src/PrimaryButton.tsx
  packages/paste-core/components/button/src/SecondaryButton.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore: ship an unminified dist file for debugging
  .changeset/hip-roses-pull.md
  tools/build/esbuild.js
Labels: Area: Infrastructure

docs(button): add icon_only variant to docs
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: exclude debug builds from packaze-size check
  .github/workflows/package-size.yml
Labels: Area: Infrastructure

docs(website): use unbarreled imports on docs pages
  packages/paste-website/src/pages/components/alert-dialog/index.mdx
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/avatar/index.mdx
  packages/paste-website/src/pages/components/badge/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/disclosure/index.mdx
  packages/paste-website/src/pages/components/display-pill-group/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/paragraph/index.mdx
  packages/paste-website/src/pages/components/popover/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/screen-reader-only/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/separator/index.mdx
  packages/paste-website/src/pages/components/skeleton-loader/index.mdx
  packages/paste-website/src/pages/components/spinner/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/components/tooltip/index.mdx
  packages/paste-website/src/pages/components/truncate/index.mdx
  packages/paste-website/src/pages/layout/flex/index.mdx
  packages/paste-website/src/pages/layout/grid/index.mdx
  packages/paste-website/src/pages/layout/media-object/index.mdx
  packages/paste-website/src/pages/layout/stack/index.mdx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: publish script needs to commit lockfile
  .github/workflows/publish.yml
  package.json
Labels: Area: Repo, Area: Infrastructure

fix: publish script needs to commit lockfile
  .github/workflows/publish.yml
  package.json
Labels: Area: Repo, Area: Infrastructure

docs: init quickstart page
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/getting-started/engineering/index.mdx
  packages/paste-website/src/pages/getting-started/quickstart/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: broken link;
  packages/paste-website/src/components/icons-list/IconCard.tsx
Labels: Area: Doc Site
