Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

feat(popover): update tests
  packages/paste-core/components/popover/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

feat(popover): update color on custom buttons
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix(select): must have a default element name
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components

fix(combobox): must have a default element name
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

chore(tokens): update text tokens
  .changeset/little-poets-pay.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
Labels: Area: Tokens, Type: Tests

feat(disclosure): add element customization (#1860)
  .changeset/rotten-parrots-hug.md
  .changeset/tame-rabbits-collect.md
  packages/paste-core/components/card/src/index.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/disclosure/src/Disclosure.tsx
  packages/paste-core/components/disclosure/src/DisclosureContent.tsx
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
  packages/paste-core/components/disclosure/src/PropTypes.ts
  packages/paste-core/components/disclosure/src/types.ts
  packages/paste-core/components/disclosure/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore(alert): update alert icon tokens
  .changeset/lazy-keys-sort.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/alert/src/index.tsx
Labels: Area: Components, Type: Tests

feat(sibling-box): add element customization
  .changeset/brown-colts-dress.md
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/sibling-box/src/index.tsx
Labels: Area: Primitives, Type: Tests

feat(icons): add status svgs
  .changeset/shaggy-masks-drop.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProcessDisabledIcon.tsx
  packages/paste-icons/src/ProcessDraftIcon.tsx
  packages/paste-icons/src/ProcessErrorIcon.tsx
  packages/paste-icons/src/ProcessInProgressIcon.tsx
  packages/paste-icons/src/ProcessNeutralIcon.tsx
  packages/paste-icons/src/ProcessSuccessIcon.tsx
  packages/paste-icons/src/ProcessWarningIcon.tsx
  packages/paste-icons/svg/ProcessDisabled.svg
  packages/paste-icons/svg/ProcessDraft.svg
  packages/paste-icons/svg/ProcessError.svg
  packages/paste-icons/svg/ProcessInProgress.svg
  packages/paste-icons/svg/ProcessNeutral.svg
  packages/paste-icons/svg/ProcessSuccess.svg
  packages/paste-icons/svg/ProcessWarning.svg
Labels: none

feat(spinner): add new animated spinner (#1858)
  .changeset/light-beans-speak.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/spinner/src/constants.ts
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/src/keyframes.tsx
  packages/paste-core/components/spinner/src/styled.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix(textarea): must have a default element name
  packages/paste-core/components/textarea/src/TextArea.tsx
Labels: Area: Components

chore(tokens): add an orange alias
  .changeset/funny-geckos-deny.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens, Type: Tests

feat(tabs): add element customization (#1840)
  .changeset/cool-cats-fly.md
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/TabPanel.tsx
  packages/paste-core/components/tabs/src/TabPanels.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-core/components/tabs/src/TabsContext.tsx
  packages/paste-core/components/tabs/src/utils.ts
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(toast): allow onDismiss on toast push method (#1818)
  .changeset/modern-shoes-check.md
  packages/paste-core/components/toast/__tests__/toaster.spec.tsx
  packages/paste-core/components/toast/src/Toaster.tsx
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/src/useToaster.ts
  packages/paste-core/components/toast/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore(disclosure): add fixed z-index to heading to prevent flash (#1831)
  .changeset/heavy-bees-divide.md
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
Labels: Area: Components

test(box): update color-text-success rgb value
  packages/paste-core/primitives/box/__tests__/box.test.tsx
Labels: Area: Primitives, Type: Tests

feat(help text): add customization (#1852)
  .changeset/moody-elephants-deliver.md
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/help-text/package.json
  packages/paste-core/components/help-text/src/HelpText.tsx
  packages/paste-core/components/help-text/stories/input.stories.tsx
  packages/paste-core/components/input/__tests__/input.test.tsx
Labels: Area: Components, Type: Tests

feat(label): add element customization (#1878)
  .changeset/short-eagles-beg.md
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/package.json
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
  packages/paste-core/components/label/src/index.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
Labels: Area: Components, Type: Tests

chore: prevent animations from running in vrt
  .storybook/preview.js
Labels: Area: Storybook

chore(button): use left text alignment for link button variants (#1826)
  .changeset/brown-parents-cross.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/InverseLinkButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
  packages/paste-core/components/button/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore(toast): update toast icon tokens
  .changeset/eleven-ghosts-rhyme.md
  packages/paste-core/components/toast/src/Toast.tsx
Labels: Area: Components

test: add global 'TestTheme' jest variable (#1853)
  .jest/globals/TestTheme.js
  jest.config.js
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/skeleton-loader/__tests__/index.spec.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-icons/__test__/icons.spec.tsx
Labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Infrastructure, Type: Tests

docs(status-label): add status label pattern page
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(website): roadmap page quick fix
  packages/paste-website/src/pages/roadmap/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(icons): adding toolbar related icons (#1837)
  .changeset/gold-tips-kiss.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/AttachmentIcon.tsx
  packages/paste-icons/src/BoldIcon.tsx
  packages/paste-icons/src/FileIcon.tsx
  packages/paste-icons/src/HistoryIcon.tsx
  packages/paste-icons/src/ItalicIcon.tsx
  packages/paste-icons/src/OrderedListIcon.tsx
  packages/paste-icons/src/StrikethroughIcon.tsx
  packages/paste-icons/src/UnderlineIcon.tsx
  packages/paste-icons/src/UnorderedListIcon.tsx
  packages/paste-icons/svg/Attachment.svg
  packages/paste-icons/svg/Bold.svg
  packages/paste-icons/svg/File.svg
  packages/paste-icons/svg/History.svg
  packages/paste-icons/svg/Italic.svg
  packages/paste-icons/svg/OrderedList.svg
  packages/paste-icons/svg/Strikethrough.svg
  packages/paste-icons/svg/Underline.svg
  packages/paste-icons/svg/UnorderedList.svg
Labels: none

chore: combobox, select and textarea changeset
  .changeset/many-dryers-punch.md
Labels: none

feat: textarea, date-picker and time-picker customization (#1816)
  .changeset/brave-cougars-deliver.md
  .changeset/lucky-pigs-bake.md
  .changeset/modern-foxes-shout.md
  .changeset/tender-balloons-reply.md
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/date-picker/src/DatePicker.tsx
  packages/paste-core/components/date-picker/stories/index.stories.tsx
  packages/paste-core/components/textarea/__tests__/textarea.test.tsx
  packages/paste-core/components/textarea/src/TextArea.tsx
  packages/paste-core/components/textarea/src/utils.ts
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/components/time-picker/src/TimePicker.tsx
  packages/paste-core/components/time-picker/stories/index.stories.tsx
  packages/paste-core/primitives/box/src/index.tsx
Labels: Area: Primitives, Area: Components, Type: Tests

feat(table): add element customization (#1817)
  .changeset/soft-weeks-worry.md
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/TBody.tsx
  packages/paste-core/components/table/src/TFoot.tsx
  packages/paste-core/components/table/src/THead.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/Td.tsx
  packages/paste-core/components/table/src/Th.tsx
  packages/paste-core/components/table/src/Tr.tsx
  packages/paste-core/components/table/src/index.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

test(text): udpate color-text-success rgb value
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
Labels: Area: Primitives, Type: Tests

feat(skeleton-loader): add ability to customize
  .changeset/smart-stingrays-sit.md
  packages/paste-core/components/skeleton-loader/__tests__/index.spec.tsx
  packages/paste-core/components/skeleton-loader/src/index.tsx
  packages/paste-core/components/skeleton-loader/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(pagination): add element customization (#1880)
  .changeset/four-suns-fail.md
  packages/paste-core/components/pagination/__tests__/customization.spec.tsx
  packages/paste-core/components/pagination/src/Pagination.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowButton.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowIconWrapper.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationBackArrow.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationForwardArrow.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/index.tsx
  packages/paste-core/components/pagination/src/PaginationEllipsis.tsx
  packages/paste-core/components/pagination/src/PaginationItems.tsx
  packages/paste-core/components/pagination/src/PaginationLabel.tsx
  packages/paste-core/components/pagination/src/PaginationNumber.tsx
  packages/paste-core/components/pagination/src/PaginationNumbers.tsx
  packages/paste-core/components/pagination/src/proptypes.ts
  packages/paste-core/components/pagination/src/types.ts
  packages/paste-core/components/pagination/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

chore(combobox): update multiselect examples to use pills
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Area: Primitives, Area: Doc Site, Type: Documentation

feat(tokens, icons): add content for connectivity status pattern (#1911)
  .changeset/serious-timers-run.md
  .changeset/three-teachers-give.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ConnectivityAvailableIcon.tsx
  packages/paste-icons/src/ConnectivityBusyIcon.tsx
  packages/paste-icons/src/ConnectivityOfflineIcon.tsx
  packages/paste-icons/src/ConnectivityUnavailableIcon.tsx
  packages/paste-icons/svg/ConnectivityAvailable.svg
  packages/paste-icons/svg/ConnectivityBusy.svg
  packages/paste-icons/svg/ConnectivityOffline.svg
  packages/paste-icons/svg/ConnectivityUnavailable.svg
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Area: Tokens, Type: Documentation, Type: Tests

chore(input-box): remove duplicated suffix in element string
  .changeset/empty-spiders-rest.md
  packages/paste-core/components/input-box/__tests__/input-chevron-wrapper.test.tsx
  packages/paste-core/components/input-box/src/InputChevronWrapper.tsx
Labels: Area: Components, Type: Tests

feat(design-tokens): added shadow-focus-inset token
  .changeset/cool-yaks-rule.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/box-shadow.yml
Labels: Area: Tokens, Type: Tests

fix: added three pseudo selectors to box and text
  .changeset/tough-spies-live.md
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-core/primitives/text/src/PseudoPropStyles.ts
Labels: Area: Primitives

test(tooltip): put ts-errorexpect in original spot
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
Labels: Area: Components

chore(table): improve typing on Th
  .changeset/many-boxes-flow.md
  packages/paste-core/components/table/src/Th.tsx
Labels: Area: Components

chore(tooltip): adjust element type
  packages/paste-core/components/tooltip/src/index.tsx
Labels: Area: Components

fix(form-pill-group): improved visual design
  .changeset/itchy-houses-allow.md
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  packages/paste-core/components/form-pill-group/src/useFormPillState.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
Labels: Area: Components, Type: Tests
