Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

feat(callout-update): content updates on callouts
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/patterns/button-vs-anchor/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(callout-update): normalize line height and space icon to fit
  packages/paste-website/src/components/callout/index.tsx
Labels: Area: Doc Site

fix(callout-update): update callouts that use Text components
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/layout/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(callout-update): add CalloutList & CalloutListItem components
  packages/paste-website/src/components/callout/index.tsx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/layout/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(callout-update): add CalloutList / CalloutListItem to stories
  packages/paste-website/src/components/callout/index.tsx
  packages/paste-website/stories/callout.stories.tsx
Labels: Area: Doc Site

feat(callout-update): fix heading levels
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/layout/index.mdx
  packages/paste-website/src/pages/patterns/button-vs-anchor/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(callout-update): update callout component UI (#2039)
  packages/paste-website/src/components/callout/index.tsx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/layout/index.mdx
  packages/paste-website/src/pages/libraries/uid-library/index.mdx
  packages/paste-website/src/pages/patterns/button-vs-anchor/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
  packages/paste-website/stories/callout.stories.tsx
Labels: Area: Doc Site, Type: Documentation

fix(data-grid): allow clicking links in the data-grid
  .changeset/many-adults-add.md
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/src/table/Td.tsx
  packages/paste-core/components/data-grid/src/table/Th.tsx
  packages/paste-core/components/data-grid/stories/components/ComposableCellsDataGrid.tsx
Labels: Area: Components

fix(data-grid): allow clicking links in the data-grid (#2075)
  .changeset/many-adults-add.md
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/src/table/Td.tsx
  packages/paste-core/components/data-grid/src/table/Th.tsx
  packages/paste-core/components/data-grid/stories/components/ComposableCellsDataGrid.tsx
Labels: Area: Components

chore(release): version packages (#2048)
  .changeset/breezy-kiwis-relate.md
  .changeset/four-cycles-collect.md
  .changeset/little-meals-thank.md
  .changeset/many-adults-add.md
  .changeset/nine-pugs-work.md
  .changeset/perfect-countries-speak.md
  packages/paste-core/components/badge/CHANGELOG.md
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/button/CHANGELOG.md
  packages/paste-core/components/button/package.json
  packages/paste-core/components/checkbox/CHANGELOG.md
  packages/paste-core/components/checkbox/package.json
  packages/paste-core/components/data-grid/CHANGELOG.md
  packages/paste-core/components/data-grid/package.json
  packages/paste-core/core-bundle/CHANGELOG.md
  packages/paste-core/core-bundle/package.json
  packages/paste-design-tokens/CHANGELOG.md
  packages/paste-design-tokens/package.json
  packages/paste-icons/CHANGELOG.md
  packages/paste-icons/package.json
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Core bundle, Area: Tokens

chore(website): update inline code design
  packages/paste-website/src/components/Typography.tsx
  packages/paste-website/src/pages/core/upgrade-guide.mdx
  packages/paste-website/stories/inline-code.stories.tsx
Labels: Area: Doc Site, Type: Documentation

chore(website): update inline code design
  packages/paste-website/src/components/Typography.tsx
  packages/paste-website/src/pages/core/upgrade-guide.mdx
  packages/paste-website/stories/inline-code.stories.tsx
Labels: Area: Doc Site, Type: Documentation

feat(spacing-update): update spacing for site docs
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/layouts/DefaultLayout.tsx
Labels: Area: Doc Site

feat(spacing-update): remove max-width, use boxSizing for additive pad
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/layouts/DefaultLayout.tsx
Labels: Area: Doc Site

feat(spacing-update): ability to suppress feedback button on PageAside
  packages/paste-website/src/components/shortcodes/PageAside.tsx
Labels: Area: Doc Site

feat(spacing-update): protect content w/ pre-wrap, add content max-width
  packages/paste-website/src/components/codeblock/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
Labels: Area: Doc Site

feat(spacing-update): add PageAside to article
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/ArticleLayouts.tsx
  packages/paste-website/src/pages/articles/2021-07-26-pastes-path-to-a-transparent-package-categorization-system.mdx
Labels: Area: Doc Site, Type: Documentation

feat(spacing-update): remove contentwrapper/content from sing col pages
  packages/paste-website/src/pages/articles/index.mdx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/layout/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(spacing-update): replace minWidth declaration to help with resizing
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
Labels: Area: Doc Site

feat(spacing-update): update spacing for site docs (#2041)
  packages/paste-website/src/components/codeblock/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/ArticleLayouts.tsx
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/layouts/DefaultLayout.tsx
  packages/paste-website/src/pages/articles/2021-07-26-pastes-path-to-a-transparent-package-categorization-system.mdx
  packages/paste-website/src/pages/articles/index.mdx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/layout/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: alert/popover/modal/toast close button
  .changeset/eleven-pets-applaud.md
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/toast/__tests__/toaster.spec.tsx
  packages/paste-core/components/toast/src/Toast.tsx
Labels: Area: Components, Type: Tests

chore: alert/popover/modal/toast close button
  .changeset/eleven-pets-applaud.md
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/toast/__tests__/toaster.spec.tsx
  packages/paste-core/components/toast/src/Toast.tsx
Labels: Area: Components, Type: Tests

feat(website): update LivePreview design and functionality
  packages/paste-website/src/components/CopyButton.tsx
  packages/paste-website/src/components/icons-list/IconCard.tsx
  packages/paste-website/src/components/shortcodes/live-preview/CodeBlockOverlayShadow.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/stories/LivePreview.stories.tsx
Labels: Area: Doc Site

fix(website): fix console warning about nested prop
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
Labels: Area: Doc Site

feat(website): update website codeblocks design (#2082)
  packages/paste-website/src/components/CopyButton.tsx
  packages/paste-website/src/components/icons-list/IconCard.tsx
  packages/paste-website/src/components/shortcodes/live-preview/CodeBlockOverlayShadow.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/stories/LivePreview.stories.tsx
Labels: Area: Doc Site

fix: cursor for legend
  .changeset/tricky-rules-wonder.md
  packages/paste-core/components/label/src/Label.tsx
Labels: Area: Components

fix: update cursor for legend (#2087)
  .changeset/tricky-rules-wonder.md
  packages/paste-core/components/label/src/Label.tsx
Labels: Area: Components

fix(website): fix overflow on codeblocks, revert overflowX fix
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
Labels: Area: Doc Site

chore: checkpointing some ideas
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  packages/paste-codemods/component-package-mappings.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-codemods/tools/create-package-mappings.js
  packages/paste-codemods/tools/generatePackageExportsMap.js
  packages/paste-codemods/transforms/barreled-to-unbarreled.js
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/alert/stories/Neutral.tsx
  packages/paste-website/src/components/shortcodes/live-preview-new/CodeBlockOverlayShadow.tsx
  packages/paste-website/src/components/shortcodes/live-preview-new/codeBlockTheme.ts
  packages/paste-website/src/components/shortcodes/live-preview-new/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview-new/open-in-codesandbox/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview-new/open-in-codesandbox/templates/code.ts
  packages/paste-website/src/components/shortcodes/live-preview-new/open-in-codesandbox/templates/codeTemplate.ts
  packages/paste-website/src/components/shortcodes/live-preview-new/open-in-codesandbox/templates/html.ts
  packages/paste-website/src/pages/components/alert/index.mdx
Labels: Area: Components, Area: Doc Site, Area: Infrastructure, Type: Documentation, Type: Tests

fix(website): fix overflow on codeblocks, revert overflowX fix (#2092)
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
Labels: Area: Doc Site

feat: add badge option
  packages/paste-core/components/popover/src/PopoverButton.tsx
Labels: Area: Components

feat: add types for popoverbutton
  packages/paste-core/components/popover/src/types.ts
Labels: Area: Components

fix: add badge as dependency
  packages/paste-core/components/popover/package.json
Labels: Area: Components

feat: add badge popover story
  packages/paste-core/components/popover/stories/index.stories.tsx
Labels: Area: Components

feat: use popover for componentheader
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

fix: correct changeset
  .changeset/many-maps-refuse.md
Labels: none

chore: add changeset
  .changeset/many-maps-refuse.md
Labels: none

feat: remove website specific badgePopover
  packages/paste-website/src/components/badge-popover/BadgePopover.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverButton.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContainer.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContext.tsx
  packages/paste-website/src/components/badge-popover/index.tsx
Labels: Area: Doc Site

feat: change element name if is badge
  packages/paste-core/components/popover/src/PopoverButton.tsx
Labels: Area: Components

chore: update yarnlock
  yarn.lock
Labels: Area: Repo

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
