Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

feat(tabs): add element to api
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/TabPanel.tsx
  packages/paste-core/components/tabs/src/TabPanels.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Components

feat(tabs): add new tests for customization
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(tabs): fix orientation typing in context
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/TabPanel.tsx
  packages/paste-core/components/tabs/src/TabPanels.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-core/components/tabs/src/TabsContext.tsx
Labels: Area: Components

feat(tabs): fix type errors in tests
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
Labels: Area: Components, Type: Tests

feat(tabs): add changset
  .changeset/cool-cats-fly.md
Labels: none

feat(tabs): add more story examples
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Components

feat(tabs): cleanup
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Components

feat(tabs): pr feedback
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/TabPanel.tsx
  packages/paste-core/components/tabs/src/TabPanels.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-core/components/tabs/src/utils.ts
Labels: Area: Components, Type: Tests

feat(tabs): unit test for helper
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
Labels: Area: Components, Type: Tests

feat(tabs): remove test for null input
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
Labels: Area: Components, Type: Tests

feat(tabs): expand customization examples for tabs
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Components

feat(tabs): ensure that customization examples are accessible
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Components

feat(tabs): add element customization (#1840)
  .changeset/cool-cats-fly.md
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/TabPanel.tsx
  packages/paste-core/components/tabs/src/TabPanels.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-core/components/tabs/src/TabsContext.tsx
  packages/paste-core/components/tabs/src/utils.ts
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

test: add global 'TestTheme' jest variable
  .jest/globals/TestTheme.js
  jest.config.js
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
Labels: Area: Repo, Area: Components, Area: Infrastructure, Type: Tests

test: update all customization tests to use TestTheme
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/skeleton-loader/__tests__/index.spec.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-icons/__test__/icons.spec.tsx
Labels: Area: Primitives, Area: Layout, Area: Components, Type: Tests

test: add global 'TestTheme' jest variable (#1853)
  .jest/globals/TestTheme.js
  jest.config.js
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/skeleton-loader/__tests__/index.spec.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-icons/__test__/icons.spec.tsx
Labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Infrastructure, Type: Tests

chore(card): add 'variant' to props
  .changeset/rotten-parrots-hug.md
  packages/paste-core/components/card/src/index.tsx
Labels: Area: Components

feat(disclosure): add customization capability
  .changeset/tame-rabbits-collect.md
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/disclosure/src/Disclosure.tsx
  packages/paste-core/components/disclosure/src/DisclosureContent.tsx
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
  packages/paste-core/components/disclosure/src/PropTypes.ts
  packages/paste-core/components/disclosure/src/types.ts
  packages/paste-core/components/disclosure/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

test(disclosure): use global TestTheme
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
Labels: Area: Components, Type: Tests

chore(disclosure): allow customization header icon
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
Labels: Area: Components

test(disclosure): improve story styles
  packages/paste-core/components/disclosure/stories/index.stories.tsx
Labels: Area: Components

fix(disclosure): fix typing
  packages/paste-core/components/disclosure/src/types.ts
Labels: Area: Components

test(disclosure): add test for customizing icon
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
Labels: Area: Components, Type: Tests

feat(disclosure): add element customization (#1860)
  .changeset/rotten-parrots-hug.md
  .changeset/tame-rabbits-collect.md
  packages/paste-core/components/card/src/index.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/disclosure/src/Disclosure.tsx
  packages/paste-core/components/disclosure/src/DisclosureContent.tsx
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
  packages/paste-core/components/disclosure/src/PropTypes.ts
  packages/paste-core/components/disclosure/src/types.ts
  packages/paste-core/components/disclosure/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix(website): roadmap page quick fix
  packages/paste-website/src/pages/roadmap/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(website): roadmap page quick fix
  packages/paste-website/src/pages/roadmap/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(help-text): add customization capability
  .changeset/moody-elephants-deliver.md
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/help-text/package.json
  packages/paste-core/components/help-text/src/HelpText.tsx
  packages/paste-core/components/help-text/stories/input.stories.tsx
Labels: Area: Components, Type: Tests

test(input): add help text to accessibility tests
  packages/paste-core/components/input/__tests__/input.test.tsx
Labels: Area: Components, Type: Tests

feat(help text): add customization (#1852)
  .changeset/moody-elephants-deliver.md
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/help-text/package.json
  packages/paste-core/components/help-text/src/HelpText.tsx
  packages/paste-core/components/help-text/stories/input.stories.tsx
  packages/paste-core/components/input/__tests__/input.test.tsx
Labels: Area: Components, Type: Tests

chore: remove old vercel stuff
  .nowignore
  now.json
Labels: Area: Repo

feat: add launch beta modal
  packages/paste-theme-designer/components/topbar/BetaBadge.tsx
  packages/paste-theme-designer/components/topbar/BetaModal.tsx
  packages/paste-theme-designer/components/topbar/SiteHeaderLogo.tsx
  packages/paste-theme-designer/components/topbar/index.tsx
  packages/paste-theme-designer/utils/SimpleStorage.ts
Labels: none

feat: sharing, links from docs site, netlify toml
  .gitignore
  package.json
  packages/paste-theme-designer/netlify.toml
  packages/paste-theme-designer/package.json
  packages/paste-theme-designer/pages/_app.tsx
  packages/paste-theme-designer/public/og-card.png
  packages/paste-website/netlify.toml
  packages/paste-website/package.json
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterNav.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
  packages/paste-website/src/constants.ts
  yarn.lock
Labels: Area: Repo, Area: Doc Site

fix: environment variables and types fix
  package.json
  packages/paste-theme-designer/next.config.js
  packages/paste-theme-designer/pages/_app.tsx
  packages/paste-theme-designer/tsconfig.json
  packages/paste-website/package.json
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
  tsconfig.json
  yarn.lock
Labels: Area: Repo, Area: Doc Site

fix: package json dev deps
  package.json
Labels: Area: Repo

fix: twitter card type
  packages/paste-theme-designer/pages/_app.tsx
Labels: none

chore: storybook analytics
  .storybook/preview-head.html
Labels: Area: Storybook

feat(pagination): add element props
  packages/paste-core/components/pagination/src/Pagination.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowButton.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowIconWrapper.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationBackArrow.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationForwardArrow.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/index.tsx
  packages/paste-core/components/pagination/src/PaginationEllipsis.tsx
  packages/paste-core/components/pagination/src/PaginationItems.tsx
  packages/paste-core/components/pagination/src/PaginationLabel.tsx
  packages/paste-core/components/pagination/src/PaginationNumber.tsx
  packages/paste-core/components/pagination/src/PaginationNumbers.tsx
  packages/paste-core/components/pagination/src/proptypes.ts
  packages/paste-core/components/pagination/src/types.ts
Labels: Area: Components

test(pagination): add customization stories
  packages/paste-core/components/pagination/stories/customization.stories.tsx
Labels: Area: Components

test(pagination): add unit tests for customization
  packages/paste-core/components/pagination/__tests__/customization.spec.tsx
Labels: Area: Components, Type: Tests

chore(pagination): add changeset
  .changeset/four-suns-fail.md
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
