Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

fix: use backgroundColorStrongest instead of inverse
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
Labels: Area: Doc Site

feat: add images
  packages/paste-website/src/assets/images/foundations/colors/interacting-states.png
  packages/paste-website/src/assets/images/foundations/colors/tokens-diagram.png
  packages/paste-website/src/assets/images/foundations/colors/use-of-color-example.png
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: update snapshots
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Tokens, Type: Tests

style(paste-website): update sidebar right border token
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
Labels: Area: Doc Site

chore: update changeset
  .changeset/three-mangos-suffer.md
Labels: none

docs(website): update the New banner (#2195)
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site

feat(paste-icons): add Send action icon (#2193)
  .changeset/forty-tables-allow.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/SendIcon.tsx
  packages/paste-icons/svg/Send.svg
Labels: none

fix: dont add stuff to themes
  packages/paste-design-tokens/tokens/global/palette-color.yml
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
Labels: Area: Doc Site, Area: Tokens

fix: undid updates to snapshots
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Tokens, Type: Tests

fix(design-token): match token to figma
  packages/paste-design-tokens/tokens/global/border-color.yml
Labels: Area: Tokens

style(button): update link-style active state tokens
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
Labels: Area: Components

fix: higher res images
  packages/paste-website/src/assets/images/foundations/colors/interacting-states.png
  packages/paste-website/src/assets/images/foundations/colors/tokens-diagram.png
  packages/paste-website/src/assets/images/foundations/colors/use-of-color-example.png
  packages/paste-website/src/pages/foundations/colors/index.mdx
Labels: Area: Doc Site, Type: Documentation

test: update dark theme tokens
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Tokens, Type: Tests

fix: remove changeset
  .changeset/red-vans-care.md
Labels: none

style(paste-website): update right border token
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
Labels: Area: Doc Site

chore(website): update Patterns overview table (#2133)
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/pages/patterns/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(combobox): state hook example
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/extractPropsFromState.tsx
  packages/paste-core/components/combobox/stories/controlled-state.stories.tsx
  packages/paste-core/components/combobox/stories/index.stories.tsx
Labels: Area: Components

fix(combobox): cleanup
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
Labels: Area: Primitives

fix(combobox-primitive): switch toggle and input prop getter order
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
Labels: Area: Primitives

fix(combobox): update docs examples
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(combobox): changset added
  .changeset/flat-colts-learn.md
Labels: none

fix(combobox): update docs examples
  packages/paste-core/components/combobox/stories/controlled-state.stories.tsx
  packages/paste-core/components/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxExamples.ts
  packages/paste-website/src/pages/components/combobox/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

fix(combobox): pr feedback
  packages/paste-core/components/combobox/src/extractPropsFromState.tsx
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
Labels: Area: Primitives, Area: Components, Area: Doc Site

fix(combobox): update changeset notes
  .changeset/flat-colts-learn.md
Labels: none

fix(combobox): sneaky docs example ref fix
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
Labels: Area: Doc Site

fix: a11y and margins
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/components/color-swatch/ColorSwatch.tsx
Labels: Area: Doc Site

chore: add stories, tests
  packages/paste-website/src/__tests__/colorGradient.test.tsx
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/stories/ColorSwatch.stories.tsx
Labels: Area: Doc Site, Type: Tests

chore: add foundations to getCategoryFromRoute util
  packages/paste-website/src/utils/RouteUtils.ts
Labels: Area: Doc Site

fix: typos, use ComponentHeader
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(combobox/combobox-primitive): fix multiselect example and ref merge bug (#2155)
  .changeset/flat-colts-learn.md
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/extractPropsFromState.tsx
  packages/paste-core/components/combobox/stories/index.stories.tsx
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxExamples.ts
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Area: Primitives, Area: Components, Area: Doc Site, Type: Documentation

fix: color examples
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
Labels: Area: Doc Site

test(radio-group): add test for control circle
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
Labels: Area: Components, Type: Tests

feat(design-tokens): update some tokens that weren't matching
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens, Type: Tests

feat(checkbox): update select all background color
  .changeset/shiny-lions-call.md
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/checkbox/stories/checkbox.stories.tsx
Labels: Area: Components

fix: type error
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
Labels: Area: Doc Site

feat(design-tokens): match colorBorderDestructiveWeak to shadow token
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/border-color.yml
Labels: Area: Tokens, Type: Tests

chore(radio-group): update changeset to minor
  .changeset/yellow-eggs-provide.md
Labels: none

fix: broken link
  packages/paste-website/src/pages/foundations/colors/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add colors foundation page (#2191)
  packages/paste-website/src/__tests__/colorGradient.test.tsx
  packages/paste-website/src/assets/images/foundations/colors/interacting-states.png
  packages/paste-website/src/assets/images/foundations/colors/tokens-diagram.png
  packages/paste-website/src/assets/images/foundations/colors/use-of-color-example.png
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/components/color-swatch/ColorSwatch.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
  packages/paste-website/src/utils/RouteUtils.ts
  packages/paste-website/stories/ColorSwatch.stories.tsx
Labels: Area: Doc Site, Type: Documentation, Type: Tests

fix(radio group page): conflicting id between heading and examples
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
Labels: Area: Doc Site

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
