Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

fix: changed gh workflow name
  .github/workflows/pull_request.yml
Labels: Area: Infrastructure

feat: new build_and_tests_16 github script
  .github/workflows/pull_request.yml
Labels: Area: Infrastructure

chore: revert reach-dialog dependency
  packages/paste-core/primitives/modal-dialog/package.json
  yarn.lock
Labels: Area: Repo, Area: Primitives

test: update snapshots
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
Labels: Area: Components, Type: Tests

chore: update @types/react-dom, add @types/react to root
  package.json
  packages/paste-types/package.json
  yarn.lock
Labels: Area: Repo

test: remove enzyme from alert tests
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
Labels: Area: Components, Type: Tests

test: remove enzyme mount from tests
  packages/paste-core/layout/aspect-ratio/__tests__/aspectRatio.spec.tsx
  packages/paste-theme/__tests__/themeConsumer.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-theme/__tests__/useTheme.spec.tsx
  packages/paste-theme/__tests__/withTheme.spec.tsx
Labels: Area: Layout, Area: Theme, Type: Tests

chore: add changeset
  .changeset/six-carrots-swim.md
Labels: none

chore: fix tests
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/layout/aspect-ratio/__tests__/aspectRatio.spec.tsx
Labels: Area: Layout, Area: Components, Type: Tests

chore: add react-ga dep
  package.json
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  yarn.lock
Labels: Area: Repo, Area: Components, Type: Tests

fix: slantedBackgroundGradient type error
  packages/paste-website/src/components/SlantedBackgroundGradient.tsx
Labels: Area: Doc Site

chore: improve changeset message
  .changeset/six-carrots-swim.md
Labels: none

chore: correct tests
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
Labels: Area: Components, Type: Tests

chore: updated virtualized combobox tests
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
Labels: Area: Components, Type: Tests

chore: remove alert snapshots
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
Labels: Area: Components, Type: Tests

chore(codemods): update mappings for new Paste components (#1989)
  .changeset/silly-maps-dream.md
  .gitignore
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-codemods/tools/create-package-mappings.js
  packages/paste-codemods/transforms/barreled-to-unbarreled.js
Labels: Area: Repo, Type: Tests

chore(core): update description
  packages/paste-core/core-bundle/package.json
Labels: Area: Core bundle

chore(website): add Core docs pages
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/component-status/PeerReviewStatus.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/core/changelog.mdx
  packages/paste-website/src/pages/core/index.mdx
  packages/paste-website/src/pages/core/upgrade-guide.mdx
Labels: Area: Doc Site, Type: Documentation

fix(website): fix typo on illustrations page
  packages/paste-website/src/pages/illustrations/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(data grid): make 'striped' prop work
  .changeset/giant-ladybugs-promise.md
  packages/paste-core/components/data-grid/src/DataGrid.tsx
  packages/paste-core/components/data-grid/src/DataGridContext.tsx
  packages/paste-core/components/data-grid/src/table/Tr.tsx
  packages/paste-core/components/data-grid/stories/components/LoadingDataGrid.tsx
  packages/paste-website/src/component-examples/DataGridExamples.ts
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

chore(data grid): make striped false by default
  packages/paste-core/components/data-grid/src/DataGrid.tsx
  packages/paste-core/components/data-grid/src/DataGridContext.tsx
  packages/paste-core/components/data-grid/stories/components/ComposableCellsDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/KitchenSinkDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/LoadingDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/PaginatedDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/PlainDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/SelectableRowsDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/SortableColumnsDataGrid.tsx
  packages/paste-website/src/component-examples/DataGridExamples.ts
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

chore(website): add Core docs pages
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/component-status/PeerReviewStatus.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/core/changelog.mdx
  packages/paste-website/src/pages/core/index.mdx
  packages/paste-website/src/pages/core/upgrade-guide.mdx
Labels: Area: Doc Site, Type: Documentation

chore(core): update description
  packages/paste-core/core-bundle/package.json
Labels: Area: Core bundle

fix(data grid): make 'striped' prop work (#1990)
  .changeset/giant-ladybugs-promise.md
  packages/paste-core/components/data-grid/src/DataGrid.tsx
  packages/paste-core/components/data-grid/src/DataGridContext.tsx
  packages/paste-core/components/data-grid/src/table/Tr.tsx
  packages/paste-core/components/data-grid/stories/components/ComposableCellsDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/KitchenSinkDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/PaginatedDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/PlainDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/SelectableRowsDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/SortableColumnsDataGrid.tsx
  packages/paste-website/src/component-examples/DataGridExamples.ts
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

fix(plopfile): typo in 'component-type' message (#1927)
  plopfile.js
Labels: Area: Repo

chore(design-tokens): update and add link colors
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens

test(desing-tokens): update snapshot tests
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Tokens, Type: Tests

chore(design-tokens): add changeset
  .changeset/smooth-beans-draw.md
Labels: none

chore(design-tokens): update and add link colors (#1996)
  .changeset/smooth-beans-draw.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens, Type: Tests

fix(website): fix typo on illustrations page (#1995)
  packages/paste-website/src/pages/illustrations/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(button): center children for alignment
  .changeset/four-dolphins-argue.md
  packages/paste-core/components/button/src/index.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
  packages/paste-website/stories/feedback-popover.stories.tsx
Labels: Area: Components, Area: Doc Site

fix(button): center children for alignment (#2000)
  .changeset/four-dolphins-argue.md
  packages/paste-core/components/button/src/index.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
  packages/paste-website/stories/feedback-popover.stories.tsx
Labels: Area: Components, Area: Doc Site

chore(cypress): add roadmap page tests and rerog
  cypress/integration/e2e/roadmap-page.spec.ts
  cypress/integration/link-checker/index.spec.ts
  cypress/integration/opengraph/index.spec.ts
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/integration/token-list/index.spec.ts
Labels: Type: Tests

chore(cypress): some prettier code happened
  cypress/integration/token-list/index.spec.ts
Labels: Type: Tests

chore: streamline CI workflows
  .github/opened-pr-labeler.yml
  .github/workflows/cypress.yml
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_package_size.yml
  .github/workflows/on_release_publish.yml
  .github/workflows/opened-pr-labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/publish.yml
  .github/workflows/pull_request.yml
  .github/workflows/vrt_main.yml
  .github/workflows/vrt_pull_request.yml
  package.json
Labels: Area: Repo, Area: Infrastructure

chore: streamline CI workflows (#1999)
  .github/opened-pr-labeler.yml
  .github/workflows/cypress.yml
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_package_size.yml
  .github/workflows/on_release_publish.yml
  .github/workflows/opened-pr-labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/publish.yml
  .github/workflows/pull_request.yml
  .github/workflows/vrt_main.yml
  .github/workflows/vrt_pull_request.yml
  package.json
Labels: Area: Repo, Area: Infrastructure

fix(popover): remove popovercontainer Box wrapper
  .changeset/stale-guests-repeat.md
  packages/paste-core/components/popover/src/PopoverContainer.tsx
Labels: Area: Components

fix(website): broken hash slug on roadmap page
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
Labels: Area: Doc Site

feat: display the calling URL for broken links, remove ignore list
  cypress/integration/e2e/link-checker/index.spec.ts
Labels: Type: Tests

test(website): block google analytics requests in cypress test
  cypress.json
Labels: Area: Repo

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
