Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

feat: add i18n story
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
Labels: Area: Components

feat: add tests
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

chore: add changeset
  .changeset/selfish-lamps-thank.md
  .changeset/stale-vans-mix.md
Labels: none

feat: update website exampels
  packages/paste-website/src/component-examples/FormPillGroup.tsx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: swap example/text
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: take out testids in example
  packages/paste-website/src/component-examples/FormPillGroup.tsx
Labels: Area: Doc Site

fix: idk testing a thing
  .kodiak.toml
Labels: Area: Repo

fix: switch to use safest options
  .kodiak.toml
Labels: Area: Repo

feat(data-visualization): add package (#2200)
  .changeset/few-swans-peel.md
  .codesandbox/ci.json
  package.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/data-visualization-library.tsx
  packages/paste-libraries/data-visualization/__test__/__snapshots__/index.spec.tsx.snap
  packages/paste-libraries/data-visualization/__test__/index.spec.tsx
  packages/paste-libraries/data-visualization/build.js
  packages/paste-libraries/data-visualization/package.json
  packages/paste-libraries/data-visualization/src/index.tsx
  packages/paste-libraries/data-visualization/src/usePasteHighchartsTheme.tsx
  packages/paste-libraries/data-visualization/stories/data/elevationData.ts
  packages/paste-libraries/data-visualization/stories/data/usdEurData.ts
  packages/paste-libraries/data-visualization/stories/index.stories.tsx
  packages/paste-libraries/data-visualization/stories/options/basicAreaChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/columnChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/lineChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/lineChartWithAnnotationsOptions.ts
  packages/paste-libraries/data-visualization/stories/options/pieChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/timeSeriesOptions.ts
  packages/paste-libraries/data-visualization/tsconfig.json
  yarn.lock
Labels: Area: Repo, Area: Core bundle

fix: correct options
  .kodiak.toml
Labels: Area: Repo

fix: kodiak configuration (#2222)
  .kodiak.toml
Labels: Area: Repo

chore(website): fix GitHub URL in the "Design tokens package" page (#2219)
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: pills not selected in example
  packages/paste-website/src/component-examples/FormPillGroup.tsx
Labels: Area: Doc Site

fix: simplify i18n test component
  packages/paste-core/components/modal/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

feat(FormPillGroup): add i18nKeyboardControls prop (#2221)
  .changeset/selfish-lamps-thank.md
  .changeset/stale-vans-mix.md
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
  packages/paste-core/components/screen-reader-only/src/index.tsx
  packages/paste-website/src/component-examples/FormPillGroup.tsx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/screen-reader-only/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

feat(modal): add i18nDismissLabel prop (#2218)
  .changeset/slow-months-invite.md
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/modal/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ModalExamples.ts
  packages/paste-website/src/pages/components/modal/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

fix(netlify-ignore): update git diff check to fix netlify ignore command
  packages/paste-website/netlify.toml
Labels: Area: Doc Site

fix(netlify-ignore): streamline netlify ignore configs
  netlify.toml
  packages/paste-website/netlify.toml
Labels: Area: Repo, Area: Doc Site

fix: kodiac config to only use a single merge mothod
  .kodiak.toml
Labels: Area: Repo

chore: pin changeset version. set correct pr commitsha
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
Labels: Area: Infrastructure

chore: pin changeset version. set correct pr commitsha
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
Labels: Area: Infrastructure

removed space from quotation marks
  packages/paste-website/src/pages/foundations/content/product-style-guide/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add story
  packages/paste-core/components/popover/stories/index.stories.tsx
Labels: Area: Components

feat: add prop
  packages/paste-core/components/popover/src/Popover.tsx
Labels: Area: Components

feat: add website example
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: add blurb
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: add prop to API section
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add unit tests
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-website/src/component-examples/PopoverExamples.ts
Labels: Area: Components, Area: Doc Site, Type: Tests

chore: add changeset
  .changeset/nervous-clouds-suffer.md
Labels: none

fix: docs update
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(popover): add i18nDismissLabel prop (#2227)
  .changeset/nervous-clouds-suffer.md
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/popover/stories/index.stories.tsx
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

feat: add data viz foundations page
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: finish page, add library page
  packages/paste-website/package.json
  packages/paste-website/src/assets/images/foundations/data-visualization/figma-colors.png
  packages/paste-website/src/assets/images/foundations/data-visualization/line-chart.png
  packages/paste-website/src/assets/images/foundations/data-visualization/pie-chart.png
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/component-examples/DataVisualizationExamples.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/core/libraries/data-visualization/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(netlify-ignore): streamline netlify ignore configs
  netlify.toml
  packages/paste-website/netlify.toml
Labels: Area: Repo, Area: Doc Site

fix(netlify-config): final config
  netlify.toml
Labels: Area: Repo

fix(netlify-ignore): update git diff check to fix netlify ignore command
  packages/paste-website/netlify.toml
Labels: Area: Doc Site

Fix/netlify ignore (#2232)
  netlify.toml
  packages/paste-website/netlify.toml
Labels: Area: Repo, Area: Doc Site

fix: add inherit to backgroundColor type
  packages/paste-style-props/src/types/background.ts
Labels: none

fix: background color bug in FF
  packages/paste-core/components/select/src/Option.tsx
  packages/paste-core/components/select/src/OptionGroup.tsx
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components

chore: add changesets
  .changeset/late-rules-add.md
  .changeset/twenty-seals-tickle.md
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
