Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

chore(label docs): change headings to sentence case
  packages/paste-website/src/pages/components/label/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(radiogroup docs): change headings to sentence case
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(combobox): fix virtualization ref bug
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/ComboboxItems.tsx
  packages/paste-core/components/combobox/src/types.ts
Labels: Area: Components

chore(combobox): add tests
  .changeset/nasty-moose-drop.md
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/ComboboxItems.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxOption.tsx
  packages/paste-core/components/combobox/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix(combobox): add changeset
  .changeset/nasty-moose-drop.md
Labels: none

fix(combobox): update tests
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

chore(combobox): fix highlighted index bug
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/stories/index.stories.tsx
Labels: Area: Components

chore(combobox): resolve a11y issue with posinset attribute
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  packages/paste-core/components/combobox/src/ComboboxItems.tsx
Labels: Area: Components, Type: Tests

chore(select docs): fix casing on headings
  packages/paste-website/src/pages/components/select/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(textarea docs): fix casing on headings
  packages/paste-website/src/pages/components/textarea/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(timepicker docs): fix casing and copy on headings
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(combobox): fix virtualization ref bug (#1922)
  .changeset/nasty-moose-drop.md
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/__tests__/index.spec.tsx
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/ComboboxItems.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxOption.tsx
  packages/paste-core/components/combobox/src/types.ts
  packages/paste-core/components/combobox/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

docs: add back icons self service guide
  packages/paste-website/src/pages/icons/how-to-add-an-icon/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: pr fixes
  packages/paste-website/src/pages/icons/how-to-add-an-icon/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(alert-dialog): add element customization
  .changeset/fluffy-plums-occur.md
  packages/paste-core/components/alert-dialog/__tests__/customization.spec.tsx
  packages/paste-core/components/alert-dialog/src/AlertDialogBody.tsx
  packages/paste-core/components/alert-dialog/src/AlertDialogFooter.tsx
  packages/paste-core/components/alert-dialog/src/AlertDialogHeader.tsx
  packages/paste-core/components/alert-dialog/src/index.tsx
  packages/paste-core/components/alert-dialog/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(toast): add element customization
  .changeset/honest-ladybugs-switch.md
  packages/paste-core/components/toast/__tests__/customization.spec.tsx
  packages/paste-core/components/toast/src/ErrorToast.tsx
  packages/paste-core/components/toast/src/NeutralToast.tsx
  packages/paste-core/components/toast/src/SuccessToast.tsx
  packages/paste-core/components/toast/src/Toast.tsx
  packages/paste-core/components/toast/src/ToastContainer.tsx
  packages/paste-core/components/toast/src/WarningToast.tsx
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/stories/customization.stories.tsx
  packages/paste-core/components/toast/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix(website): update the theme-color meta tag for safari
  packages/paste-website/gatsby-config.js
Labels: Area: Doc Site

feat(alert-dialog): add element customization
  .changeset/fluffy-plums-occur.md
  packages/paste-core/components/alert-dialog/__tests__/customization.spec.tsx
  packages/paste-core/components/alert-dialog/src/AlertDialogBody.tsx
  packages/paste-core/components/alert-dialog/src/AlertDialogFooter.tsx
  packages/paste-core/components/alert-dialog/src/AlertDialogHeader.tsx
  packages/paste-core/components/alert-dialog/src/index.tsx
  packages/paste-core/components/alert-dialog/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(toast): add element customization
  .changeset/honest-ladybugs-switch.md
  packages/paste-core/components/toast/__tests__/customization.spec.tsx
  packages/paste-core/components/toast/src/ErrorToast.tsx
  packages/paste-core/components/toast/src/NeutralToast.tsx
  packages/paste-core/components/toast/src/SuccessToast.tsx
  packages/paste-core/components/toast/src/Toast.tsx
  packages/paste-core/components/toast/src/ToastContainer.tsx
  packages/paste-core/components/toast/src/WarningToast.tsx
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/stories/customization.stories.tsx
  packages/paste-core/components/toast/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(design-tokens): add dark theme shadow-focus-inset token (#1928)
  .changeset/clever-masks-drum.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
Labels: Area: Tokens, Type: Tests

chore(radio-group): add element customization
  .changeset/three-worms-relate.md
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/radio-group/src/Radio.tsx
  packages/paste-core/components/radio-group/src/RadioGroup.tsx
  packages/paste-core/components/radio-group/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

chore(checkbox): update element name and PropTypes
  .changeset/serious-oranges-tan.md
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/checkbox/src/CheckboxDisclaimer.tsx
  packages/paste-core/components/checkbox/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

chore(radio-group): add element customization
  .changeset/three-worms-relate.md
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/radio-group/src/Radio.tsx
  packages/paste-core/components/radio-group/src/RadioGroup.tsx
  packages/paste-core/components/radio-group/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

chore(checkbox): update element name and PropTypes
  .changeset/serious-oranges-tan.md
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/checkbox/src/CheckboxDisclaimer.tsx
  packages/paste-core/components/checkbox/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

feat: turn off displayname rule for website, theme-designer
  .eslintrc.js
  packages/paste-theme-designer/.eslintrc.json
  packages/paste-website/.eslintrc
Labels: Area: Repo, Area: Doc Site

feat: warning when no export
  .eslintrc.js
Labels: Area: Repo

chore(checkbox): add HiddenCheckbox displayName
  packages/paste-core/components/checkbox/src/Checkbox.tsx
Labels: Area: Components

feat: warning when no displayName
  .eslintrc.js
Labels: Area: Repo

chore(disclosure): add StyledDisclosureHeading displayName
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
Labels: Area: Components

chore(form-pill-group): add missing displayNames
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
Labels: Area: Components

chore(display-pill): add DisplayPill, DisplayPillGroup displayName
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
Labels: Area: Components

chore(combobox): add ComboboxInputSelect displayName
  packages/paste-core/components/combobox/src/styles/ComboboxInputSelect.tsx
Labels: Area: Components

chore(input): add InputElement displayName
  packages/paste-core/components/input/src/Input.tsx
Labels: Area: Components

chore(menu): add missing displayNames
  packages/paste-core/components/menu/src/Menu.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/MenuSeparator.tsx
Labels: Area: Components

chore(popover): add missing displayNames
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/popover/src/PopoverContainer.tsx
Labels: Area: Components

chore(radio-group): add missing displayNames
  packages/paste-core/components/radio-group/src/Radio.tsx
Labels: Area: Components

chore(spinner): add missing displayNames
  packages/paste-core/components/spinner/src/index.tsx
Labels: Area: Components

chore(tooltip): add missing displayNames
  packages/paste-core/components/tooltip/src/index.tsx
Labels: Area: Components

chore(select): add missing displayNames
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components

chore(menu, modal, spinner, theme): ignore displayName rule in tests
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-theme/__tests__/useThemeContrastCheck.spec.tsx
Labels: Area: Components, Area: Theme, Type: Tests
