Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

docs(website): fix layout of do/dont examples
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): docs copy changes
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(clipboardcopy): revise timeout story and changeset
  .changeset/early-countries-sleep.md
  packages/paste-libraries/clipboard-copy/stories/index.stories.tsx
Labels: none

chore(badge): update badge description in package to match docs
  packages/paste-core/components/badge/package.json
Labels: Area: Components

test: add dangerjs to ci flow
  .github/workflows/pull_request.yml
  CONTRIBUTING.md
  README.md
  STANDARD_OPERATING_PROCEDURES.md
  dangerfile.ts
  package.json
  yarn.lock
Labels: Area: Repo, Area: Infrastructure

chore: detect when a changeset does not tag core
  .danger/__fixtures__/changeset/heavy-peaches-repeat.md
  .danger/__fixtures__/changeset/pink-masks-walk.md
  .danger/__fixtures__/changeset/popular-cheetahs-punch.md
  .danger/__fixtures__/changeset/pretty-cameras-burn.md
  .danger/__tests__/changesets-that-need-core-check.spec.ts
  .danger/__tests__/missing-changesets-check.spec.ts
  .danger/__tests__/package-json-check.spec.ts
  .danger/__tests__/utils.spec.ts
  .danger/changesets-that-need-core-check.ts
  .danger/missing-changesets-check.ts
  .danger/package-json-check.ts
  .danger/types.ts
  .danger/utils.ts
  .eslintrc.js
  .github/workflows/pull_request.yml
  dangerfile.ts
  tsconfig.json
Labels: Area: Repo, Area: Infrastructure, Type: Tests

chore: detect when a changeset does not tag core
  .danger/__fixtures__/changeset/heavy-peaches-repeat.md
  .danger/__fixtures__/changeset/pink-masks-walk.md
  .danger/__fixtures__/changeset/popular-cheetahs-punch.md
  .danger/__fixtures__/changeset/pretty-cameras-burn.md
  .danger/__tests__/changesets-that-need-core-check.spec.ts
  .danger/__tests__/missing-changesets-check.spec.ts
  .danger/__tests__/package-json-check.spec.ts
  .danger/__tests__/utils.spec.ts
  .danger/changesets-that-need-core-check.ts
  .danger/missing-changesets-check.ts
  .danger/package-json-check.ts
  .danger/types.ts
  .danger/utils.ts
  .eslintrc.js
  .github/workflows/pull_request.yml
  dangerfile.ts
  tsconfig.json
Labels: Area: Repo, Area: Infrastructure, Type: Tests

test: add dangerjs to ci flow
  .github/workflows/pull_request.yml
  CONTRIBUTING.md
  README.md
  STANDARD_OPERATING_PROCEDURES.md
  dangerfile.ts
  package.json
  yarn.lock
Labels: Area: Repo, Area: Infrastructure

docs(website): add badge docs (#1783)
  .changeset/cyan-maps-taste.md
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-website/src/component-examples/BadgeExamples.ts
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

feat(combobox-primitive): expose multiselect hook and add first story
  packages/paste-core/primitives/combobox/src/index.tsx
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
Labels: Area: Primitives

feat(combobox-primitive): remoe duplicate const delcaration
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
Labels: Area: Primitives

feat(combobox-primitive): add multiselect docs
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): update combobox primitive with multiselect example
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Area: Primitives, Area: Doc Site, Type: Documentation

feat(combobox-primitive): move user event library to root
  package.json
  packages/paste-core/primitives/combobox/package.json
  yarn.lock
Labels: Area: Repo, Area: Primitives

feat(combobox-primitive): copy over tests for use multi select hook
  packages/paste-core/primitives/combobox/__tests__/useMultiSelectPrimitive.test.tsx
  packages/paste-core/primitives/combobox/package.json
  yarn.lock
Labels: Area: Repo, Area: Primitives, Type: Tests

feat(combobox-primitive): fix typesript errors
  packages/paste-core/primitives/combobox/__tests__/useMultiSelectPrimitive.test.tsx
Labels: Area: Primitives, Type: Tests

feat(combobox-primitive): add changeset
  .changeset/happy-moons-unite.md
Labels: none

feat(display-pill-group): add package
  .changeset/brave-clouds-press.md
  .codesandbox/ci.json
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/display-pill-group/build.js
  packages/paste-core/components/display-pill-group/package.json
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
  packages/paste-core/components/display-pill-group/src/index.tsx
  packages/paste-core/components/display-pill-group/stories/index.stories.tsx
  packages/paste-core/components/display-pill-group/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/display-pill-group.tsx
  packages/paste-core/core-bundle/src/index.tsx
Labels: Area: Components, Area: Core bundle, Type: Tests

feat(display-pill-group): add package (#1800)
  .changeset/brave-clouds-press.md
  .codesandbox/ci.json
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/display-pill-group/build.js
  packages/paste-core/components/display-pill-group/package.json
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
  packages/paste-core/components/display-pill-group/src/index.tsx
  packages/paste-core/components/display-pill-group/stories/index.stories.tsx
  packages/paste-core/components/display-pill-group/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/display-pill-group.tsx
  packages/paste-core/core-bundle/src/index.tsx
Labels: Area: Components, Area: Core bundle, Type: Tests

fix(clipboardcopy): revise versioning
  packages/paste-core/core-bundle/package.json
  packages/paste-libraries/clipboard-copy/package.json
  packages/paste-website/package.json
Labels: Area: Core bundle, Area: Doc Site

feat(combobox-primitive): expose multiple selection hook (#1790)
  .changeset/happy-moons-unite.md
  package.json
  packages/paste-core/primitives/combobox/__tests__/useMultiSelectPrimitive.test.tsx
  packages/paste-core/primitives/combobox/src/index.tsx
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  yarn.lock
Labels: Area: Repo, Area: Primitives, Area: Doc Site, Type: Documentation, Type: Tests

chore(button): adding tests
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
Labels: Area: Components, Type: Tests

chore(button): reset, link, and destructive link should not be centered
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
  packages/paste-core/components/button/src/PrimaryButton.tsx
  packages/paste-core/components/button/src/ResetButton.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/styles.ts
Labels: Area: Components

chore(button): add tests to cover styles
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/PrimaryButton.tsx
  packages/paste-core/components/button/src/styles.ts
Labels: Area: Components, Type: Tests

chore(button): add changeset
  .changeset/chilly-eggs-provide.md
Labels: none

chore(button): reset should not be left aligned
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/ResetButton.tsx
  packages/paste-core/components/button/src/index.tsx
Labels: Area: Components, Type: Tests

chore(button): check token names, lint fixes, snapshots
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
Labels: Area: Components, Type: Tests

chore(button): fix types
  packages/paste-core/components/button/__tests__/button.test.tsx
Labels: Area: Components, Type: Tests

chore(button): feedback
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
  packages/paste-core/components/button/src/index.tsx
Labels: Area: Components, Type: Tests

chore(button): pr feedback
  packages/paste-core/components/button/src/index.tsx
Labels: Area: Components

chore(button): update snapshots
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
Labels: Area: Components, Type: Tests

chore(button): update the changeset copy
  .changeset/chilly-eggs-provide.md
Labels: none

chore(button): link and destructive link should not be centered (#1801)
  .changeset/chilly-eggs-provide.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
Labels: Area: Components, Type: Tests

feat(form-pill-group): add package
  .changeset/orange-brooms-applaud.md
  .codesandbox/ci.json
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/build.js
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  packages/paste-core/components/form-pill-group/src/index.tsx
  packages/paste-core/components/form-pill-group/src/useFormPillState.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
  packages/paste-core/components/form-pill-group/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/form-pill-group.tsx
  packages/paste-core/core-bundle/src/index.tsx
Labels: Area: Components, Area: Core bundle, Type: Tests

feat(form-pill-group): add package (#1803)
  .changeset/orange-brooms-applaud.md
  .codesandbox/ci.json
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/build.js
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  packages/paste-core/components/form-pill-group/src/index.tsx
  packages/paste-core/components/form-pill-group/src/useFormPillState.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
  packages/paste-core/components/form-pill-group/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/form-pill-group.tsx
  packages/paste-core/core-bundle/src/index.tsx
Labels: Area: Components, Area: Core bundle, Type: Tests

feat(clipboard-copy-library): add clipboard copy library (#1799)
  .changeset/early-countries-sleep.md
  .codesandbox/ci.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/clipboard-copy-library.tsx
  packages/paste-libraries/clipboard-copy/build.js
  packages/paste-libraries/clipboard-copy/package.json
  packages/paste-libraries/clipboard-copy/src/index.tsx
  packages/paste-libraries/clipboard-copy/stories/index.stories.tsx
  packages/paste-libraries/clipboard-copy/tsconfig.json
  packages/paste-website/package.json
  packages/paste-website/src/components/icons-list/IconCard.tsx
  yarn.lock
Labels: Area: Repo, Area: Core bundle, Area: Doc Site

feat(input-box): add element customization
  .changeset/wild-needles-grab.md
  packages/paste-core/components/input-box/__tests__/input-box.test.tsx
  packages/paste-core/components/input-box/__tests__/input-chevron-wrapper.test.tsx
  packages/paste-core/components/input-box/__tests__/prefix.test.tsx
  packages/paste-core/components/input-box/__tests__/suffix.test.tsx
  packages/paste-core/components/input-box/src/FauxInput/DefaultFauxInput.tsx
  packages/paste-core/components/input-box/src/FauxInput/InverseFauxInput.tsx
  packages/paste-core/components/input-box/src/FauxInput/index.tsx
  packages/paste-core/components/input-box/src/InputBox.tsx
  packages/paste-core/components/input-box/src/InputChevronWrapper.tsx
  packages/paste-core/components/input-box/src/Prefix.tsx
  packages/paste-core/components/input-box/src/Suffix.tsx
  packages/paste-core/components/input-box/src/types.ts
  packages/paste-core/components/input-box/stories/inputbox.stories.tsx
Labels: Area: Components, Type: Tests

feat(input): add element customization
  .changeset/wild-files-attack.md
  packages/paste-core/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/input/src/Input.tsx
  packages/paste-core/components/input/stories/input.stories.tsx
Labels: Area: Components, Type: Tests

chore(box): add webkit and focus placeholder styles to box
  .changeset/quick-papayas-obey.md
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-core/primitives/box/src/types.ts
Labels: Area: Primitives

chore(combobox): add element prop to fix ts errors
  .changeset/five-cameras-hope.md
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxInputSelect.tsx
Labels: Area: Components
