Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

Feat/stack customization (#1722)
  .changeset/nice-ravens-remember.md
  packages/paste-core/layout/stack/__tests__/stack.test.tsx
  packages/paste-core/layout/stack/src/index.tsx
  packages/paste-core/layout/stack/stories/index.stories.tsx
Labels: Area: Layout, Type: Tests

docs(modal): fix first example by deleting unused code (#1713)
  packages/paste-website/src/component-examples/ModalExamples.ts
Labels: Area: Doc Site

feat(anchor): enable customization provider
  .changeset/bright-papayas-collect.md
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/anchor/src/DefaultAnchor.tsx
  packages/paste-core/components/anchor/src/InverseAnchor.tsx
  packages/paste-core/components/anchor/src/index.tsx
  packages/paste-core/components/anchor/src/proptypes.ts
  packages/paste-core/components/anchor/src/types.ts
  packages/paste-core/components/anchor/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix(grid): vertical grid should use gutter
  packages/paste-core/layout/grid/src/Column.tsx
  packages/paste-core/layout/grid/src/Grid.tsx
  packages/paste-core/layout/grid/src/types.ts
  packages/paste-core/layout/grid/src/utils.tsx
  packages/paste-core/layout/grid/stories/index.stories.tsx
Labels: Area: Layout

fix(grid): rename const in grid component for better clarity
  packages/paste-core/layout/grid/src/Grid.tsx
Labels: Area: Layout

fix(grid): cleaning up types
  packages/paste-core/layout/grid/src/Grid.tsx
  packages/paste-core/layout/grid/src/utils.tsx
  packages/paste-core/layout/grid/stories/index.stories.tsx
Labels: Area: Layout

fix(gutter): update unit tests and jest snapshots
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/layout/grid/src/Column.tsx
  packages/paste-core/layout/grid/src/types.ts
  packages/paste-core/layout/grid/src/utils.tsx
Labels: Area: Layout, Type: Tests

fix(grid): add changeset for fix
  .changeset/seven-baboons-report.md
  packages/paste-core/core-bundle/badge/package.json
Labels: Area: Core bundle

fix(grid): fix default margin values, remove extra props, etc.
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/layout/grid/src/Grid.tsx
  packages/paste-core/layout/grid/src/types.ts
  packages/paste-core/layout/grid/src/utils.tsx
Labels: Area: Layout, Type: Tests

fix(grid): remove rogue file
  packages/paste-core/core-bundle/badge/package.json
Labels: Area: Core bundle

fix(grid): vertical grid should use gutter (#1685)
  .changeset/seven-baboons-report.md
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/layout/grid/src/Column.tsx
  packages/paste-core/layout/grid/src/Grid.tsx
  packages/paste-core/layout/grid/src/types.ts
  packages/paste-core/layout/grid/src/utils.tsx
Labels: Area: Layout, Type: Tests

docs(label): add missing as attribute in props table
  packages/paste-website/src/pages/components/label/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(radio-group): add missing pre-selected example
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(combobox): let Downshift handle all props to fix out of sync events
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/types.ts
Labels: Area: Components

chore(combobox): comment about spreading and events
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

chore: changeset
  .changeset/tall-phones-rescue.md
Labels: none

fix(combobox): let Downshift handle all props to fix out of sync events (#1725)
  .changeset/tall-phones-rescue.md
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/types.ts
Labels: Area: Components

chore(box): add support for row-gap and column-gap
  packages/paste-core/primitives/box/src/types.ts
Labels: Area: Primitives

feat(badge): add badge component, tests, and stories
  .codesandbox/ci.json
  cypress/integration/e2e/link-checker/index.spec.ts
  package.json
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/build.js
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  packages/paste-core/components/badge/stories/index.stories.tsx
  packages/paste-core/components/badge/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/badge.tsx
  packages/paste-core/core-bundle/src/index.tsx
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Core bundle, Type: Tests

feat(badge): use column gap for children layout
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/types.ts
Labels: Area: Components

feat(badge): unit test additions
  package.json
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/utils.ts
Labels: Area: Repo, Area: Components, Type: Tests

feat(badge): fixes
  packages/paste-core/components/badge/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

feat(badge): fix types
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  yarn.lock
Labels: Area: Repo, Area: Components, Type: Tests

feat(badge): changeset added
  .changeset/olive-points-shave.md
Labels: none

feat(badge): bump first release of badge to v1.0.0
  packages/paste-core/components/badge/package.json
  packages/paste-core/core-bundle/package.json
Labels: Area: Components, Area: Core bundle

feat(badge): add align center to badge box and display flex
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/stories/index.stories.tsx
Labels: Area: Components

feat(badge): create separate changesets for badge, box, core
  .changeset/fuzzy-dragons-stare.md
  .changeset/olive-points-shave.md
  .changeset/rude-doors-pump.md
  packages/paste-core/components/badge/stories/index.stories.tsx
Labels: Area: Components

feat(badge): core version change should be minor
  .changeset/rude-doors-pump.md
Labels: none

feat(flex): enable flex to use custom styles
  packages/paste-core/layout/flex/src/index.tsx
  packages/paste-core/layout/flex/src/types.tsx
Labels: Area: Layout

chore(flex): add story for flex customization
  packages/paste-core/layout/flex/stories/index.stories.tsx
Labels: Area: Layout

test(flex): add tests to check element attribute and style inheritance
  packages/paste-core/layout/flex/__tests__/flex.test.tsx
Labels: Area: Layout, Type: Tests

test(flex): add test for style inheritence on custom element attributes
  packages/paste-core/layout/flex/__tests__/flex.test.tsx
Labels: Area: Layout, Type: Tests

chore(flex): fix lint errors
  packages/paste-core/layout/flex/stories/index.stories.tsx
Labels: Area: Layout

chore(flex): changeset minor bump for flex and core
  .changeset/small-bananas-shout.md
Labels: none

chore(flex): extend boxprops isntead of duplicating element type
  packages/paste-core/layout/flex/src/types.tsx
Labels: Area: Layout

feat(flex): enable flex to use custom styles (#1723)
  .changeset/small-bananas-shout.md
  packages/paste-core/layout/flex/__tests__/flex.test.tsx
  packages/paste-core/layout/flex/src/index.tsx
  packages/paste-core/layout/flex/src/types.tsx
  packages/paste-core/layout/flex/stories/index.stories.tsx
Labels: Area: Layout, Type: Tests

feat(badge): remove non breaking space from stories
  .changeset/fuzzy-dragons-stare.md
  .changeset/olive-points-shave.md
  .changeset/rude-doors-pump.md
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/stories/index.stories.tsx
  packages/paste-core/core-bundle/package.json
Labels: Area: Components, Area: Core bundle

feat(anchor): enable customization provider (#1733)
  .changeset/bright-papayas-collect.md
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/anchor/src/DefaultAnchor.tsx
  packages/paste-core/components/anchor/src/InverseAnchor.tsx
  packages/paste-core/components/anchor/src/index.tsx
  packages/paste-core/components/anchor/src/proptypes.ts
  packages/paste-core/components/anchor/src/types.ts
  packages/paste-core/components/anchor/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore(avatar): add tests for customization
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/avatar/src/types.ts
Labels: Area: Components, Type: Tests

feat(avatar): add element customization
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/avatar/src/types.ts
Labels: Area: Components
