Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

chore: loosen eng lead review requirement to only core
  .github/CODEOWNERS
Labels: Area: Infrastructure

chore: update changeset
  .changeset/shiny-lions-call.md
  .changeset/yellow-eggs-provide.md
Labels: none

fix(paste-website): hide gray110 from color gradient
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
Labels: Area: Doc Site

feat(design-tokens): update gray110 alias and dark theme box shadows
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/themes/dark/aliases/box-shadow.yml
Labels: Area: Tokens

test(design-tokens): update tests
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Tokens, Type: Tests

chore(deps): add renovate.json
  renovate.json
Labels: Area: Repo

chore: tweak renovate config to be less noisy
  renovate.json
Labels: Area: Repo

chore: select packages to ignore
  renovate.json
Labels: Area: Repo

chore: few more ignored deps
  renovate.json
Labels: Area: Repo

chore(website): upgrade to Docsearch v3
  .github/workflows/on_pull_request.yml
  @types/docsearch.js/index.d.ts
  cypress/integration/site-search/index.spec.ts
  packages/paste-website/gatsby-node.js
  packages/paste-website/package.json
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/site-header/HamburgerToggle.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobile.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobileSearch.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderSearch.tsx
  packages/paste-website/src/components/site-wrapper/site-header/index.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/styles/docSearch.ts
  packages/paste-website/types/index.d.ts
  yarn.lock
Labels: Area: Repo, Area: Doc Site, Area: Infrastructure, Type: Tests

feat: add icon
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ConnectivityNeutralIcon.tsx
  packages/paste-icons/svg/ConnectivityNeutral.svg
Labels: none

chore: add changeset
  .changeset/heavy-bags-wait.md
Labels: none

feat: add neutral status to docs site
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): upgrade to Docsearch v3
  .github/workflows/on_pull_request.yml
  @types/docsearch.js/index.d.ts
  cypress/integration/site-search/index.spec.ts
  packages/paste-website/gatsby-node.js
  packages/paste-website/package.json
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/site-header/HamburgerToggle.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobile.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobileSearch.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderSearch.tsx
  packages/paste-website/src/components/site-wrapper/site-header/index.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/styles/docSearch.ts
  packages/paste-website/types/index.d.ts
  yarn.lock
Labels: Area: Repo, Area: Doc Site, Area: Infrastructure, Type: Tests

chore: update design tokens changeset
  .changeset/metal-parents-crash.md
Labels: none

fix: icon color
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: neutral before offline
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: pr feedback
  .changeset/heavy-bags-wait.md
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: update radio changeset to be even better
  .changeset/yellow-eggs-provide.md
Labels: none

chore: loosen eng lead review requirement to only core (#2208)
  .github/CODEOWNERS
Labels: Area: Infrastructure

chore: fixes to design tokens changeset
  .changeset/metal-parents-crash.md
Labels: none

feat(design-tokens): update tokens and components for dark theme (#2184)
  .changeset/metal-parents-crash.md
  .changeset/shiny-lions-call.md
  .changeset/three-mangos-suffer.md
  .changeset/yellow-eggs-provide.md
  packages/paste-color-contrast-utils/__tests__/themeContrast.spec.ts
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/base-radio-checkbox/src/BaseRadioCheckbox.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveButton.tsx
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/InverseButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
  packages/paste-core/components/button/src/PrimaryButton.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/checkbox/stories/checkbox.stories.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/input-box/src/FauxInput/DefaultFauxInput.tsx
  packages/paste-core/components/input-box/src/FauxInput/InverseFauxInput.tsx
  packages/paste-core/components/modal/src/styles.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/radio-group/src/Radio.tsx
  packages/paste-core/components/skeleton-loader/src/index.tsx
  packages/paste-core/components/toast/src/NeutralToast.tsx
  packages/paste-core/components/tooltip/src/TooltipArrow.tsx
  packages/paste-core/components/tooltip/src/index.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/border-color.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/aliases/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
Labels: Area: Components, Area: Doc Site, Area: Tokens, Type: Tests

fix(link-button): updates default style for link buttons
  .changeset/lucky-lies-travel.md
  packages/paste-core/components/button/src/index.tsx
Labels: Area: Components

fix(link-button): defaults shuffling
  packages/paste-core/components/button/src/ResetButton.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/styles.ts
Labels: Area: Components

fix(link-button): update changeset description
  .changeset/lucky-lies-travel.md
Labels: none

fix(link-button): updates default style for link buttons (#2194)
  .changeset/lucky-lies-travel.md
  packages/paste-core/components/button/src/ResetButton.tsx
  packages/paste-core/components/button/src/styles.ts
Labels: Area: Components

feat: add i18nDismissLabel prop
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/modal/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat: add ConnectivityNeutralIcon (#2215)
  .changeset/heavy-bags-wait.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ConnectivityNeutralIcon.tsx
  packages/paste-icons/svg/ConnectivityNeutral.svg
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: add changeset
  .changeset/slow-months-invite.md
Labels: none

chore: enable kodiak merge queue
  .kodiak.toml
Labels: Area: Repo

chore: re-enable the do not merge label by default
  .github/opened-pr-labeler.yml
  .github/workflows/on_pull_request_open.yml
Labels: Area: Infrastructure

chore: enable kodiak merge queue
  .kodiak.toml
Labels: Area: Repo

chore: re-enable the do not merge label by default
  .github/opened-pr-labeler.yml
  .github/workflows/on_pull_request_open.yml
Labels: Area: Infrastructure

feat: add i18n example on docs site
  packages/paste-website/src/component-examples/ModalExamples.ts
  packages/paste-website/src/pages/components/modal/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: use spanish modal for story
  packages/paste-core/components/modal/stories/index.stories.tsx
Labels: Area: Components

fix: lint error
  packages/paste-core/components/modal/stories/index.stories.tsx
Labels: Area: Components

feat(data-visualization): add package
  .changeset/few-swans-peel.md
  .codesandbox/ci.json
  package.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/data-visualization-library.tsx
  packages/paste-libraries/data-visualization/__test__/__snapshots__/index.spec.tsx.snap
  packages/paste-libraries/data-visualization/__test__/index.spec.tsx
  packages/paste-libraries/data-visualization/build.js
  packages/paste-libraries/data-visualization/package.json
  packages/paste-libraries/data-visualization/src/index.tsx
  packages/paste-libraries/data-visualization/src/usePasteHighchartsTheme.tsx
  packages/paste-libraries/data-visualization/stories/data/elevationData.ts
  packages/paste-libraries/data-visualization/stories/data/usdEurData.ts
  packages/paste-libraries/data-visualization/stories/index.stories.tsx
  packages/paste-libraries/data-visualization/stories/options/basicAreaChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/columnChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/lineChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/lineChartWithAnnotationsOptions.ts
  packages/paste-libraries/data-visualization/stories/options/pieChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/timeSeriesOptions.ts
  packages/paste-libraries/data-visualization/tsconfig.json
  yarn.lock
Labels: Area: Repo, Area: Core bundle

chore(website): fix GitHub URL in the "Design tokens package" page
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add id prop to SRO
  packages/paste-core/components/screen-reader-only/src/index.tsx
  packages/paste-website/src/pages/components/screen-reader-only/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

feat: add i18nKeyboardControls prop
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
Labels: Area: Components

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
