Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

fix: sidebarbutton margins
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
Labels: Area: Doc Site

fix: remove border
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
Labels: Area: Doc Site

feat: export types
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureContent.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureContext.tsx
Labels: Area: Doc Site

feat: finalized cypress tests
  cypress/integration/sidebar-navigation/index.spec.ts
Labels: Type: Tests

feat: made NavigationDisclosure helper
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site

fix: consolidate padding
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
Labels: Area: Doc Site

fix: add more comments
  cypress/integration/sidebar-navigation/index.spec.ts
Labels: Type: Tests

fix: increase wait so can run tests on home page
  cypress/integration/sidebar-navigation/index.spec.ts
Labels: Type: Tests

chore(storybook): update Storybook deps and add RTL toggle
  .storybook/preview.js
  package.json
  yarn.lock
Labels: Area: Repo, Area: Storybook

chore(storybook): update yarn.lock
  yarn.lock
Labels: Area: Repo

chore(storybook): add react-router-dom dependency
  package.json
  yarn.lock
Labels: Area: Repo

chore(storybook): update Storybook deps and add RTL toggle (#2143)
  .storybook/preview.js
  package.json
  yarn.lock
Labels: Area: Repo, Area: Storybook

feat(logo-link): make entire logo clickable, add hover
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderLogo.tsx
Labels: Area: Doc Site

feat(logo-link): remove unused imports
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderLogo.tsx
Labels: Area: Doc Site

feat(logo-link): add transition, clean up interfaces
  packages/paste-website/src/components/icons/PasteIcon.tsx
  packages/paste-website/src/components/icons/PasteIconPride.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderLogo.tsx
Labels: Area: Doc Site

feat(logo-link): refactor link to use Gatsby Link component
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderLogo.tsx
Labels: Area: Doc Site

feat(logo-link): fix style props on interface
  packages/paste-website/src/components/icons/PasteIcon.tsx
Labels: Area: Doc Site

feat(logo-link): make entire logo clickable, add hover (#2127)
  packages/paste-website/src/components/icons/PasteIcon.tsx
  packages/paste-website/src/components/icons/PasteIconPride.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderLogo.tsx
Labels: Area: Doc Site

fix: home link on mobile styles
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site

feat(paste-icons): add Microvisor product icon (#2141)
  .changeset/hot-crabs-fold.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductMicrovisorIcon.tsx
  packages/paste-icons/svg/ProductMicrovisor.svg
Labels: none

Apply suggestions from code review
  packages/paste-design-tokens/tokens/global/background-color.yml
Labels: Area: Tokens

docs(token list): updating background color token descriptions
  packages/paste-design-tokens/tokens/global/background-color.yml
Labels: Area: Tokens

docs(token list): updating background color token descriptions
  packages/paste-design-tokens/tokens/global/background-color.yml
Labels: Area: Tokens

Apply suggestions from code review
  packages/paste-design-tokens/tokens/global/background-color.yml
Labels: Area: Tokens

chore(core-bundle): fix incorrect tsconfig extend path
  .changeset/little-bottles-scream.md
  packages/paste-core/core-bundle/tsconfig.json
Labels: Area: Core bundle

fix(cra-template): upgrade react-router-dom
  .changeset/old-beds-invent.md
  packages/paste-cra-template/README.md
  packages/paste-cra-template/template.json
  packages/paste-cra-template/template/src/index.tsx
Labels: none

chore: update danger changeset check to omit non-core packages
  .danger/changesets-that-need-core-check.ts
Labels: none

chore(cra-template): unpin template deps
  packages/paste-cra-template/template.json
Labels: none

fix(cra-template): upgrade react-router-dom (#2136)
  .changeset/old-beds-invent.md
  .danger/changesets-that-need-core-check.ts
  packages/paste-cra-template/README.md
  packages/paste-cra-template/template.json
  packages/paste-cra-template/template/src/index.tsx
Labels: none

chore: fix dangerjs changeset logic
  .danger/changesets-that-need-core-check.ts
Labels: none

chore(core-bundle): fix incorrect tsconfig extend path (#2150)
  .changeset/little-bottles-scream.md
  .danger/changesets-that-need-core-check.ts
  packages/paste-core/core-bundle/tsconfig.json
Labels: Area: Core bundle

fix: remove dupe netlify.toml
  netlify.toml
Labels: Area: Repo

fix: multiselect can't reselect when just added, removed item
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
Labels: Area: Primitives, Area: Doc Site

fix: rename handleSelectItemOnClick
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
Labels: Area: Primitives, Area: Doc Site

fix: wip
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
Labels: Area: Primitives

fix: updated refs
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
Labels: Area: Primitives, Area: Components

fix: merge refs with util
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

fix: multiselect bug
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
Labels: Area: Primitives

fix: put root netlify file back w/ redirects
  netlify.toml
Labels: Area: Repo

chore: add changeset
  .changeset/strong-buckets-smoke.md
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
