Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

chore(tokens): add an orange alias
  .changeset/funny-geckos-deny.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens, Type: Tests

docs(status-label): add status label pattern page
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(icons): add status svgs
  .changeset/shaggy-masks-drop.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProcessDisabledIcon.tsx
  packages/paste-icons/src/ProcessDraftIcon.tsx
  packages/paste-icons/src/ProcessErrorIcon.tsx
  packages/paste-icons/src/ProcessInProgressIcon.tsx
  packages/paste-icons/src/ProcessNeutralIcon.tsx
  packages/paste-icons/src/ProcessSuccessIcon.tsx
  packages/paste-icons/src/ProcessWarningIcon.tsx
  packages/paste-icons/svg/ProcessDisabled.svg
  packages/paste-icons/svg/ProcessDraft.svg
  packages/paste-icons/svg/ProcessError.svg
  packages/paste-icons/svg/ProcessInProgress.svg
  packages/paste-icons/svg/ProcessNeutral.svg
  packages/paste-icons/svg/ProcessSuccess.svg
  packages/paste-icons/svg/ProcessWarning.svg
Labels: none

feat(toast): allow onDismiss on toast push method
  .changeset/modern-shoes-check.md
  packages/paste-core/components/toast/__tests__/toaster.spec.tsx
  packages/paste-core/components/toast/src/Toaster.tsx
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/src/useToaster.ts
  packages/paste-core/components/toast/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(table): add element customization (#1817)
  .changeset/soft-weeks-worry.md
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/TBody.tsx
  packages/paste-core/components/table/src/TFoot.tsx
  packages/paste-core/components/table/src/THead.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/Td.tsx
  packages/paste-core/components/table/src/Th.tsx
  packages/paste-core/components/table/src/Tr.tsx
  packages/paste-core/components/table/src/index.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

feat(sibling-box): add element customization
  .changeset/brown-colts-dress.md
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/sibling-box/src/index.tsx
Labels: Area: Primitives, Type: Tests

feat(sibling-box): add element customization
  .changeset/brown-colts-dress.md
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/sibling-box/src/index.tsx
Labels: Area: Primitives, Type: Tests

chore: prevent animations from running in vrt
  .storybook/preview.js
Labels: Area: Storybook

feat(skeleton-loader): add ability to customize
  .changeset/smart-stingrays-sit.md
  packages/paste-core/components/skeleton-loader/__tests__/index.spec.tsx
  packages/paste-core/components/skeleton-loader/src/index.tsx
  packages/paste-core/components/skeleton-loader/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore: prevent animations from running in vrt
  .storybook/preview.js
Labels: Area: Storybook

feat(skeleton-loader): add ability to customize
  .changeset/smart-stingrays-sit.md
  packages/paste-core/components/skeleton-loader/__tests__/index.spec.tsx
  packages/paste-core/components/skeleton-loader/src/index.tsx
  packages/paste-core/components/skeleton-loader/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

chore(disclosure): add fixed z-index to heading to prevent flash (#1831)
  .changeset/heavy-bees-divide.md
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
Labels: Area: Components

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

chore(button): unset text alignment for reset button
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/button/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore(button): update snapshots and changeset
  .changeset/brown-parents-cross.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
Labels: Area: Components, Type: Tests

chore(button): pr feedback and add more detail to changeset
  .changeset/brown-parents-cross.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/InverseLinkButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
  packages/paste-core/components/button/src/styles.ts
Labels: Area: Components, Type: Tests

chore(button): use left text alignment for link button variants (#1826)
  .changeset/brown-parents-cross.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/InverseLinkButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
  packages/paste-core/components/button/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(icons): add icon changeset and svgs
  .changeset/gold-tips-kiss.md
  packages/paste-icons/svg/Attachment.svg
  packages/paste-icons/svg/Bold.svg
  packages/paste-icons/svg/File.svg
  packages/paste-icons/svg/History.svg
  packages/paste-icons/svg/Italic.svg
  packages/paste-icons/svg/OrderedList.svg
  packages/paste-icons/svg/Strikethrough.svg
  packages/paste-icons/svg/Underline.svg
  packages/paste-icons/svg/UnorderedList.svg
Labels: none

feat(icons): create icon components
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/AttachmentIcon.tsx
  packages/paste-icons/src/BoldIcon.tsx
  packages/paste-icons/src/FileIcon.tsx
  packages/paste-icons/src/HistoryIcon.tsx
  packages/paste-icons/src/ItalicIcon.tsx
  packages/paste-icons/src/OrderedListIcon.tsx
  packages/paste-icons/src/StrikethroughIcon.tsx
  packages/paste-icons/src/UnderlineIcon.tsx
  packages/paste-icons/src/UnorderedListIcon.tsx
Labels: none

feat(icons): adding toolbar related icons (#1837)
  .changeset/gold-tips-kiss.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/AttachmentIcon.tsx
  packages/paste-icons/src/BoldIcon.tsx
  packages/paste-icons/src/FileIcon.tsx
  packages/paste-icons/src/HistoryIcon.tsx
  packages/paste-icons/src/ItalicIcon.tsx
  packages/paste-icons/src/OrderedListIcon.tsx
  packages/paste-icons/src/StrikethroughIcon.tsx
  packages/paste-icons/src/UnderlineIcon.tsx
  packages/paste-icons/src/UnorderedListIcon.tsx
  packages/paste-icons/svg/Attachment.svg
  packages/paste-icons/svg/Bold.svg
  packages/paste-icons/svg/File.svg
  packages/paste-icons/svg/History.svg
  packages/paste-icons/svg/Italic.svg
  packages/paste-icons/svg/OrderedList.svg
  packages/paste-icons/svg/Strikethrough.svg
  packages/paste-icons/svg/Underline.svg
  packages/paste-icons/svg/UnorderedList.svg
Labels: none

feat(toast): allow onDismiss on toast push method (#1818)
  .changeset/modern-shoes-check.md
  packages/paste-core/components/toast/__tests__/toaster.spec.tsx
  packages/paste-core/components/toast/src/Toaster.tsx
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/src/useToaster.ts
  packages/paste-core/components/toast/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(box): export getCustomElementStyles util
  .changeset/tender-balloons-reply.md
  packages/paste-core/primitives/box/src/index.tsx
Labels: Area: Primitives

feat(date-picker): add ability to customize
  .changeset/brave-cougars-deliver.md
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/date-picker/src/DatePicker.tsx
  packages/paste-core/components/date-picker/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(time-picker): add ability to customize
  .changeset/lucky-pigs-bake.md
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/components/time-picker/src/TimePicker.tsx
  packages/paste-core/components/time-picker/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(textarea): add ability to customize
  .changeset/modern-foxes-shout.md
  packages/paste-core/components/textarea/__tests__/textarea.test.tsx
  packages/paste-core/components/textarea/src/TextArea.tsx
  packages/paste-core/components/textarea/src/utils.ts
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
Labels: Area: Components, Type: Tests

chore: alert snapshots
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
Labels: Area: Components, Type: Tests

fix: story
  packages/paste-icons/__test__/icons.spec.tsx
Labels: none

feat: textarea, date-picker and time-picker customization (#1816)
  .changeset/brave-cougars-deliver.md
  .changeset/lucky-pigs-bake.md
  .changeset/modern-foxes-shout.md
  .changeset/tender-balloons-reply.md
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/date-picker/src/DatePicker.tsx
  packages/paste-core/components/date-picker/stories/index.stories.tsx
  packages/paste-core/components/textarea/__tests__/textarea.test.tsx
  packages/paste-core/components/textarea/src/TextArea.tsx
  packages/paste-core/components/textarea/src/utils.ts
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/components/time-picker/src/TimePicker.tsx
  packages/paste-core/components/time-picker/stories/index.stories.tsx
  packages/paste-core/primitives/box/src/index.tsx
Labels: Area: Primitives, Area: Components, Type: Tests

chore(tokens): update text tokens
  .changeset/little-poets-pay.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
Labels: Area: Tokens, Type: Tests

chore(alert): update alert icon tokens
  .changeset/lazy-keys-sort.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/alert/src/index.tsx
Labels: Area: Components, Type: Tests

test(text): udpate color-text-success rgb value
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
Labels: Area: Primitives, Type: Tests

test(box): update color-text-success rgb value
  packages/paste-core/primitives/box/__tests__/box.test.tsx
Labels: Area: Primitives, Type: Tests

chore(toast): update toast icon tokens
  .changeset/eleven-ghosts-rhyme.md
  packages/paste-core/components/toast/src/Toast.tsx
Labels: Area: Components

test(box): update color-text-success rgb value
  packages/paste-core/primitives/box/__tests__/box.test.tsx
Labels: Area: Primitives, Type: Tests

chore(alert): update alert icon tokens
  .changeset/lazy-keys-sort.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/alert/src/index.tsx
Labels: Area: Components, Type: Tests

chore(toast): update toast icon tokens
  .changeset/eleven-ghosts-rhyme.md
  packages/paste-core/components/toast/src/Toast.tsx
Labels: Area: Components

chore(tokens): update text tokens
  .changeset/little-poets-pay.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
Labels: Area: Tokens, Type: Tests

test(text): udpate color-text-success rgb value
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
Labels: Area: Primitives, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
