Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

chore(website): pr feedback
  cypress/integration/sidebar-navigation/index.spec.ts
Labels: Type: Tests

chore(website): update to version 9 and fix for sidebar tests
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/integration/site-search/index.spec.ts
  package.json
  yarn.lock
Labels: Area: Repo, Type: Tests

chore(website): add in a KCD approved wait statement
  cypress/integration/sidebar-navigation/index.spec.ts
Labels: Type: Tests

chore(website): Update Cypress.io to version 9.2.1 (#2129)
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/integration/site-search/index.spec.ts
  package.json
  yarn.lock
Labels: Area: Repo, Type: Tests

feat(paste-icons): add Microvisor product icon
  .changeset/hot-crabs-fold.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductMicrovisorIcon.tsx
  packages/paste-icons/svg/ProductMicrovisor.svg
Labels: none

chore(website): add heading on icons page (#2104)
  packages/paste-website/src/pages/icons/usage-guidelines/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: starting update
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarSeparator.tsx
  packages/paste-website/src/constants.ts
Labels: Area: Doc Site

feat: wip
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarItem.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNestedList.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site

feat: create sidebarDisclosure components
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureContent.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureContext.tsx
Labels: Area: Doc Site

fix: include packageName, status in normalizedData
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site

fix: use nested instead of level
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarItem.tsx
Labels: Area: Doc Site

fix: functions expect normalize data
  packages/paste-website/src/utils/componentFilters.ts
  packages/paste-website/src/utils/types.ts
Labels: Area: Doc Site

feat: use disclosure button, rough draft new ia
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site

fix: move to new file
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarDisclosureButton.tsx
Labels: Area: Doc Site

feat: use sidebarItem
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
Labels: Area: Doc Site

feat: use sidebarItem to wrap
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
Labels: Area: Doc Site

fix: remove old files
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNestedItem.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNestedList.tsx
Labels: Area: Doc Site

feat: use graphql to generate patterns content
  packages/paste-website/src/context/NavigationContext.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
  packages/paste-website/src/utils/componentFilters.ts
  packages/paste-website/src/utils/types.ts
Labels: Area: Doc Site

feat: add redirects
  packages/paste-website/netlify.toml
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site

feat: updates urls in sidebar and sidebar route categories
  packages/paste-website/src/components/site-wrapper/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
Labels: Area: Doc Site

feat: add layouts to component overview page
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/layout/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: blog list
  packages/paste-website/src/pages/blog/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add new pages, remove old content
  packages/paste-website/netlify.toml
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/foundations/content/content-checklist/index.mdx
  packages/paste-website/src/pages/foundations/content/index.mdx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  packages/paste-website/src/pages/introduction/working-with-us/index.mdx
  packages/paste-website/src/pages/principles/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: disclosure is open if pathname contains categoryRoute
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
Labels: Area: Doc Site

fix: main nav height
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site

feat: use level prop, indentation correct
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarItem.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
  packages/paste-website/stories/SidebarNavigation.stories.tsx
Labels: Area: Doc Site

fix: update cypress sidebar test
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site

fix: layout redirect
  packages/paste-website/netlify.toml
Labels: Area: Doc Site

fix: remove layout e2e tests;
  cypress/integration/e2e/layout/grid.spec.ts
  cypress/integration/e2e/layout/overview-page.spec.ts
Labels: Type: Tests

fix: update layout links
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarItem.tsx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/grid/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/skeleton-loader/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: update rest of broken links
  packages/paste-website/src/components/homepage/GetStartedRunning.tsx
  packages/paste-website/src/components/homepage/GetStartedWhy.tsx
  packages/paste-website/src/components/icons-list/IconCard.tsx
  packages/paste-website/src/components/shortcodes/ArticleHeader.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterNav.tsx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/avatar/index.mdx
  packages/paste-website/src/pages/components/data-grid/index.mdx
  packages/paste-website/src/pages/components/icons/index.mdx
  packages/paste-website/src/pages/components/icons/usage-guidelines/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/separator/index.mdx
  packages/paste-website/src/pages/components/spinner/index.mdx
  packages/paste-website/src/pages/components/stack/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/components/truncate/index.mdx
  packages/paste-website/src/pages/core/changing-theme.mdx
  packages/paste-website/src/pages/core/index.mdx
  packages/paste-website/src/pages/core/libraries/index.mdx
  packages/paste-website/src/pages/customization/composing-custom-components-with-design-tokens.mdx
  packages/paste-website/src/pages/customization/creating-a-custom-theme.mdx
  packages/paste-website/src/pages/customization/customization-provider.mdx
  packages/paste-website/src/pages/foundations/content/index.mdx
  packages/paste-website/src/pages/getting-started/about-paste/index.mdx
  packages/paste-website/src/pages/introduction/contributing/icons/index.mdx
  packages/paste-website/src/pages/introduction/for-designers/design-guidelines/index.mdx
  packages/paste-website/src/pages/introduction/for-engineers/quickstart/index.mdx
  packages/paste-website/src/pages/introduction/working-with-us/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/data-export/index.mdx
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: delete old changelog page
  packages/paste-website/src/pages/changelog/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: resolve ts errors
  packages/paste-website/src/components/empty-state/Error404.tsx
  packages/paste-website/src/components/empty-state/InDevelopment.tsx
  packages/paste-website/src/components/empty-state/NotBuilt.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
  packages/paste-website/src/utils/RouteUtils.ts
Labels: Area: Doc Site

feat: add storybook examples for vrt, incl storybook-addon-gatsby
  .storybook/main.js
  package.json
  packages/paste-website/stories/SidebarNavigation.stories.tsx
  yarn.lock
Labels: Area: Repo, Area: Doc Site, Area: Storybook

feat: updated about paste content
  packages/paste-website/src/pages/getting-started/about-paste/index.mdx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add cypress test for all disclosures;
  cypress/integration/sidebar-navigation/index.spec.ts
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site, Type: Tests

fix: improve disclosure context types
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureContext.tsx
Labels: Area: Doc Site

fix: resolving comments
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureContent.tsx
Labels: Area: Doc Site

fix: always show component breadcrumb
  packages/paste-website/src/components/empty-state/InDevelopment.tsx
  packages/paste-website/src/components/empty-state/NotBuilt.tsx
Labels: Area: Doc Site

fix: styles
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
Labels: Area: Doc Site
