Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

chore(textarea): add element prop to fix ts errors
  .changeset/many-years-deliver.md
  packages/paste-core/components/textarea/src/TextArea.tsx
Labels: Area: Components

chore(select): add element prop to fix ts errors
  .changeset/tricky-apes-lie.md
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components

chore: fix design on dark stories
  packages/paste-core/components/input/stories/input.stories.tsx
Labels: Area: Components

chore(textarea): add element prop to fix ts errors
  .changeset/many-years-deliver.md
  packages/paste-core/components/textarea/src/TextArea.tsx
Labels: Area: Components

feat(input-box): add element customization
  .changeset/wild-needles-grab.md
  packages/paste-core/components/input-box/__tests__/input-box.test.tsx
  packages/paste-core/components/input-box/__tests__/input-chevron-wrapper.test.tsx
  packages/paste-core/components/input-box/__tests__/prefix.test.tsx
  packages/paste-core/components/input-box/__tests__/suffix.test.tsx
  packages/paste-core/components/input-box/src/FauxInput/DefaultFauxInput.tsx
  packages/paste-core/components/input-box/src/FauxInput/InverseFauxInput.tsx
  packages/paste-core/components/input-box/src/FauxInput/index.tsx
  packages/paste-core/components/input-box/src/InputBox.tsx
  packages/paste-core/components/input-box/src/InputChevronWrapper.tsx
  packages/paste-core/components/input-box/src/Prefix.tsx
  packages/paste-core/components/input-box/src/Suffix.tsx
  packages/paste-core/components/input-box/src/types.ts
  packages/paste-core/components/input-box/stories/inputbox.stories.tsx
Labels: Area: Components, Type: Tests

chore(combobox): add element prop to fix ts errors
  .changeset/five-cameras-hope.md
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxInputSelect.tsx
Labels: Area: Components

chore(box): add webkit and focus placeholder styles to box
  .changeset/quick-papayas-obey.md
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-core/primitives/box/src/types.ts
Labels: Area: Primitives

feat(input): add element customization
  .changeset/wild-files-attack.md
  packages/paste-core/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/input/src/Input.tsx
  packages/paste-core/components/input/stories/input.stories.tsx
Labels: Area: Components, Type: Tests

chore: fix design on dark stories
  packages/paste-core/components/input/stories/input.stories.tsx
Labels: Area: Components

chore(select): add element prop to fix ts errors
  .changeset/tricky-apes-lie.md
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components

Add X-Shenanigans header
  netlify.toml
Labels: Area: Repo

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

chore(release): version packages (#1804)
  .changeset/brave-clouds-press.md
  .changeset/chilly-eggs-provide.md
  .changeset/cyan-maps-taste.md
  .changeset/early-countries-sleep.md
  .changeset/five-cameras-hope.md
  .changeset/happy-moons-unite.md
  .changeset/many-years-deliver.md
  .changeset/orange-brooms-applaud.md
  .changeset/quick-papayas-obey.md
  .changeset/tricky-apes-lie.md
  .changeset/wild-files-attack.md
  .changeset/wild-needles-grab.md
  packages/paste-core/components/badge/CHANGELOG.md
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/button/CHANGELOG.md
  packages/paste-core/components/button/package.json
  packages/paste-core/components/combobox/CHANGELOG.md
  packages/paste-core/components/combobox/package.json
  packages/paste-core/components/display-pill-group/CHANGELOG.md
  packages/paste-core/components/display-pill-group/package.json
  packages/paste-core/components/form-pill-group/CHANGELOG.md
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/input-box/CHANGELOG.md
  packages/paste-core/components/input-box/package.json
  packages/paste-core/components/input/CHANGELOG.md
  packages/paste-core/components/input/package.json
  packages/paste-core/components/select/CHANGELOG.md
  packages/paste-core/components/select/package.json
  packages/paste-core/components/textarea/CHANGELOG.md
  packages/paste-core/components/textarea/package.json
  packages/paste-core/core-bundle/CHANGELOG.md
  packages/paste-core/core-bundle/package.json
  packages/paste-core/primitives/box/CHANGELOG.md
  packages/paste-core/primitives/box/package.json
  packages/paste-core/primitives/combobox/CHANGELOG.md
  packages/paste-core/primitives/combobox/package.json
  packages/paste-libraries/clipboard-copy/CHANGELOG.md
  packages/paste-libraries/clipboard-copy/package.json
  packages/paste-website/CHANGELOG.md
  packages/paste-website/package.json
Labels: Area: Primitives, Area: Components, Area: Core bundle, Area: Doc Site

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

fix(plopfile): typo in 'component-type' message
  plopfile.js
Labels: Area: Repo

feat(table): update types with element
  packages/paste-core/components/table/src/types.ts
Labels: Area: Components

feat(table): all table components should accept element prop
  packages/paste-core/components/table/src/TBody.tsx
  packages/paste-core/components/table/src/TFoot.tsx
  packages/paste-core/components/table/src/THead.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/Td.tsx
  packages/paste-core/components/table/src/Th.tsx
  packages/paste-core/components/table/src/Tr.tsx
Labels: Area: Components

feat(table): tests for customization
  packages/paste-core/components/table/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

feat(table): add story for vrt
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(table): add changeset
  .changeset/soft-weeks-worry.md
Labels: none

feat(table): move proptypes to separate folder
  packages/paste-core/components/table/src/TBody.tsx
  packages/paste-core/components/table/src/TFoot.tsx
  packages/paste-core/components/table/src/THead.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/Td.tsx
  packages/paste-core/components/table/src/Th.tsx
  packages/paste-core/components/table/src/Tr.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
Labels: Area: Components

feat(table): use theme hook in custom story example
  packages/paste-core/components/table/src/index.tsx
  packages/paste-core/components/table/stories/index.stories.tsx
Labels: Area: Components

fix(combobox): must have a default element name
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

fix(select): must have a default element name
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components

fix(textarea): must have a default element name
  packages/paste-core/components/textarea/src/TextArea.tsx
Labels: Area: Components

chore: combobox, select and textarea changeset
  .changeset/many-dryers-punch.md
Labels: none

fix(textarea): must have a default element name
  packages/paste-core/components/textarea/src/TextArea.tsx
Labels: Area: Components

fix(select): must have a default element name
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components

fix(combobox): must have a default element name
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

chore: combobox, select and textarea changeset
  .changeset/many-dryers-punch.md
Labels: none

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

fix: packages/paste-theme-designer/package.json to reduce vulnerabilities
  packages/paste-theme-designer/package.json
Labels: none

fix: packages/paste-nextjs-template/package.json to reduce vulnerabilities
  packages/paste-nextjs-template/package.json
Labels: none

chore(disclosure): add z-index to heading to fix flash
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
Labels: Area: Components

chore(disclosure): add changeset
  .changeset/heavy-bees-divide.md
Labels: none

chore(website): small revisions to descriptions
  packages/paste-core/components/anchor/package.json
  packages/paste-core/components/combobox/package.json
  packages/paste-core/components/heading/package.json
  packages/paste-core/components/list/package.json
  packages/paste-core/components/select/package.json
Labels: Area: Components

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

feat(icons): add status svgs
  .changeset/shaggy-masks-drop.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProcessDisabledIcon.tsx
  packages/paste-icons/src/ProcessDraftIcon.tsx
  packages/paste-icons/src/ProcessErrorIcon.tsx
  packages/paste-icons/src/ProcessInProgressIcon.tsx
  packages/paste-icons/src/ProcessNeutralIcon.tsx
  packages/paste-icons/src/ProcessSuccessIcon.tsx
  packages/paste-icons/src/ProcessWarningIcon.tsx
  packages/paste-icons/svg/ProcessDisabled.svg
  packages/paste-icons/svg/ProcessDraft.svg
  packages/paste-icons/svg/ProcessError.svg
  packages/paste-icons/svg/ProcessInProgress.svg
  packages/paste-icons/svg/ProcessNeutral.svg
  packages/paste-icons/svg/ProcessSuccess.svg
  packages/paste-icons/svg/ProcessWarning.svg
Labels: none

docs(status-label): add status label pattern page
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(tokens): add an orange alias
  .changeset/funny-geckos-deny.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
