Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

feat(website): track icon and design token searches (#1748)
  packages/paste-website/src/components/icons-list/IconsList.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: Area: Doc Site

chore(website): update design getting started page
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): bump use-clipboard-copy minor version
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Repo, Area: Doc Site

fix(clipboardcopy): add ClipboardAPI export
  packages/paste-libraries/use-clipboard/src/index.tsx
  packages/paste-libraries/use-clipboard/stories/index.stories.tsx
Labels: none

move fonts to top of page for diff
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

address PR comments
  packages/paste-libraries/clipboard-copy/build.js
  packages/paste-libraries/clipboard-copy/package.json
  packages/paste-libraries/clipboard-copy/src/index.tsx
  packages/paste-libraries/clipboard-copy/stories/index.stories.tsx
  packages/paste-libraries/clipboard-copy/tsconfig.json
  packages/paste-libraries/use-clipboard/stories/index.stories.tsx
  packages/paste-website/package.json
  packages/paste-website/src/components/icons-list/IconCard.tsx
  packages/paste-website/src/pages/patterns/copy-to-clipboard/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(box): add support for row-gap and column-gap
  packages/paste-core/primitives/box/__tests__/box.test.tsx
  packages/paste-core/primitives/box/src/StyleFunctions.ts
  packages/paste-core/primitives/box/src/types.ts
Labels: Area: Primitives, Type: Tests

feat(badge): add badge component - add unit tests - add changeset
  .changeset/fuzzy-dragons-stare.md
  .changeset/olive-points-shave.md
  .codesandbox/ci.json
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/build.js
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  packages/paste-core/components/badge/stories/index.stories.tsx
  packages/paste-core/components/badge/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/badge.tsx
  packages/paste-core/core-bundle/src/index.tsx
Labels: Area: Components, Area: Core bundle, Type: Tests

chore(style-props): add types for column gap and row gap
  .changeset/metal-pigs-guess.md
  packages/paste-style-props/src/proptypes/index.ts
  packages/paste-style-props/src/proptypes/space.ts
  packages/paste-style-props/src/space.ts
  packages/paste-style-props/src/types/space.ts
Labels: none

fix(website): add data export to link ignore list
  cypress/integration/e2e/link-checker/index.spec.ts
Labels: Type: Tests

perf: update font copy
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(badge): add badge component - add unit tests - add changeset
  .changeset/fuzzy-dragons-stare.md
  .changeset/olive-points-shave.md
  .codesandbox/ci.json
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/build.js
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  packages/paste-core/components/badge/stories/index.stories.tsx
  packages/paste-core/components/badge/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/badge.tsx
  packages/paste-core/core-bundle/src/index.tsx
Labels: Area: Components, Area: Core bundle, Type: Tests

fix(website): add data export to link ignore list
  cypress/integration/e2e/link-checker/index.spec.ts
Labels: Type: Tests

chore(style-props): add types for column gap and row gap
  .changeset/metal-pigs-guess.md
  packages/paste-style-props/src/proptypes/index.ts
  packages/paste-style-props/src/proptypes/space.ts
  packages/paste-style-props/src/space.ts
  packages/paste-style-props/src/types/space.ts
Labels: none

chore(box): add support for row-gap and column-gap
  packages/paste-core/primitives/box/__tests__/box.test.tsx
  packages/paste-core/primitives/box/src/StyleFunctions.ts
  packages/paste-core/primitives/box/src/types.ts
Labels: Area: Primitives, Type: Tests

chore(website): add column gap and row gap to box docs
  packages/paste-website/src/pages/primitives/box/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): add responsive layout and vertical examples
  packages/paste-website/src/pages/layout/grid/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): add changeset
  .changeset/tidy-poems-behave.md
Labels: none

chore(website): pr feedback
  packages/paste-website/src/pages/layout/grid/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): respond to pr feedback
  packages/paste-website/src/pages/layout/grid/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): remove changeset
  .changeset/tidy-poems-behave.md
Labels: none

chore(website): remove callout for stacking columns
  packages/paste-website/src/pages/layout/grid/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): add column gap and row gap to box docs (#1760)
  packages/paste-website/src/pages/primitives/box/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): fix patterns import statements
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): add data-export pattern docs
  packages/paste-website/src/assets/images/patterns/data-export-example-6a.png
  packages/paste-website/src/assets/images/patterns/data-export-example-6b.png
  packages/paste-website/src/assets/images/patterns/data-export-example-7.png
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/patterns/data-export/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): losslessly optimize website images
  packages/paste-website/src/assets/images/articles/insights-metrics-inform-paste-design-system/downloads.png
  packages/paste-website/src/assets/images/articles/insights-metrics-inform-paste-design-system/search.png
  packages/paste-website/src/assets/images/articles/insights-metrics-inform-paste-design-system/trend.png
  packages/paste-website/src/assets/images/articles/pastes-path-to-a-transparent-package-categorization-system/overview-1.png
  packages/paste-website/src/assets/images/articles/pastes-path-to-a-transparent-package-categorization-system/overview-2.png
  packages/paste-website/src/assets/images/design-guidelines/token-styles.png
  packages/paste-website/src/assets/images/home/codesandbox-mobile.png
  packages/paste-website/src/assets/images/patterns/button-anchor-like-buttons.png
  packages/paste-website/src/assets/images/patterns/create-anchor-as-button.png
  packages/paste-website/src/assets/images/patterns/create-anchor.png
  packages/paste-website/src/assets/images/patterns/create-card.png
  packages/paste-website/src/assets/images/patterns/create-multi-option.png
  packages/paste-website/src/assets/images/patterns/create-standard.png
  packages/paste-website/src/assets/images/patterns/create-sub-section.png
  packages/paste-website/src/assets/images/patterns/delete-high-severity.png
  packages/paste-website/src/assets/images/patterns/delete-medium-severity.png
  packages/paste-website/src/assets/images/patterns/notifications-alert@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-inline-messaging@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-inpage-messaging@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-modal@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-toast@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-standard-reordered@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-standard@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-tabbed@3x.png
Labels: Area: Doc Site

docs(website): fix missing link
  packages/paste-website/src/pages/patterns/data-export/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): better data-export examples
  packages/paste-website/src/assets/images/patterns/data-export-example-6a.png
  packages/paste-website/src/assets/images/patterns/data-export-example-6b.png
  packages/paste-website/src/assets/images/patterns/data-export-example-7.png
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/pages/patterns/data-export/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(Checkbox docs): broken link
  packages/paste-website/src/pages/components/checkbox/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): better delayed export examples
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/pages/patterns/data-export/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): add data-export pattern docs (#1755)
  packages/paste-website/src/assets/images/articles/insights-metrics-inform-paste-design-system/downloads.png
  packages/paste-website/src/assets/images/articles/insights-metrics-inform-paste-design-system/search.png
  packages/paste-website/src/assets/images/articles/insights-metrics-inform-paste-design-system/trend.png
  packages/paste-website/src/assets/images/articles/pastes-path-to-a-transparent-package-categorization-system/overview-1.png
  packages/paste-website/src/assets/images/articles/pastes-path-to-a-transparent-package-categorization-system/overview-2.png
  packages/paste-website/src/assets/images/design-guidelines/token-styles.png
  packages/paste-website/src/assets/images/home/codesandbox-mobile.png
  packages/paste-website/src/assets/images/patterns/button-anchor-like-buttons.png
  packages/paste-website/src/assets/images/patterns/create-anchor-as-button.png
  packages/paste-website/src/assets/images/patterns/create-anchor.png
  packages/paste-website/src/assets/images/patterns/create-card.png
  packages/paste-website/src/assets/images/patterns/create-multi-option.png
  packages/paste-website/src/assets/images/patterns/create-standard.png
  packages/paste-website/src/assets/images/patterns/create-sub-section.png
  packages/paste-website/src/assets/images/patterns/delete-high-severity.png
  packages/paste-website/src/assets/images/patterns/delete-medium-severity.png
  packages/paste-website/src/assets/images/patterns/notifications-alert@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-inline-messaging@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-inpage-messaging@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-modal@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-toast@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-standard-reordered@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-standard@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-tabbed@3x.png
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/data-export/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): add responsive layout and vertical examples (#1756)
  packages/paste-website/src/pages/layout/grid/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): Add Figma link to Empty State pattern
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): update progress on patterns overview
  packages/paste-website/src/pages/patterns/index.mdx
Labels: Area: Doc Site, Type: Documentation

remove theme-specific sentences in fonts section
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

match content to working with figma slides
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: packages/paste-nextjs-template/package.json to reduce vulnerabilities
  packages/paste-nextjs-template/package.json
Labels: none

fix: packages/paste-theme-designer/package.json to reduce vulnerabilities
  packages/paste-theme-designer/package.json
Labels: none

rename SF Pro to SF Pro Text
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

remove first line
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation
