Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

fix: addressed comments
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalize-pattern-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site

fix: move shouldShowSatus logic
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

fix: type errors
  packages/paste-website/src/components/badgePopover/BadgePopoverButton.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site

chore: add comment abt badge children
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

fix: improve types, remove useTheme
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

chore: add comment about badge children
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

fix: statusData not always defined
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

chore: update tests
  packages/paste-core/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Components, Area: Tokens, Type: Tests

fix(scroll-jump): declare relative position on checkbox to fix focus bug
  .changeset/four-cycles-collect.md
  packages/paste-core/components/checkbox/src/Checkbox.tsx
Labels: Area: Components

fix(double-scroll): prevent double scroll from body element
  packages/paste-website/src/html.tsx
Labels: Area: Doc Site

fix(scroll-jump): update changeset message
  .changeset/four-cycles-collect.md
Labels: none

fix: normalizer/packageStatusLegend issue
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site

fix: remove badge wrap
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

fix(checkbox): potential issue where page scrolls on checkbox click (#2057)
  .changeset/four-cycles-collect.md
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-website/src/html.tsx
Labels: Area: Components, Area: Doc Site

chore(icons): added new media icons and segment product icon
  .changeset/breezy-kiwis-relate.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/LowerHandIcon.tsx
  packages/paste-icons/src/MicrophoneOffIcon.tsx
  packages/paste-icons/src/MicrophoneOnIcon.tsx
  packages/paste-icons/src/ProductSegmentIcon.tsx
  packages/paste-icons/src/RaiseHandIcon.tsx
  packages/paste-icons/src/ScreenShareIcon.tsx
  packages/paste-icons/src/StopScreenShareIcon.tsx
  packages/paste-icons/src/ThemeIcon.tsx
  packages/paste-icons/src/VideoOffIcon.tsx
  packages/paste-icons/src/VideoOnIcon.tsx
  packages/paste-icons/svg/LowerHand.svg
  packages/paste-icons/svg/MicrophoneOff.svg
  packages/paste-icons/svg/MicrophoneOn.svg
  packages/paste-icons/svg/ProductSegment.svg
  packages/paste-icons/svg/RaiseHand.svg
  packages/paste-icons/svg/ScreenShare.svg
  packages/paste-icons/svg/StopScreenShare.svg
  packages/paste-icons/svg/VideoOff.svg
  packages/paste-icons/svg/VideoOn.svg
Labels: none

build(icons): try to fix empty icon build file
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ThemeIcon.tsx
Labels: none

fix: update props in story
  packages/paste-website/stories/ComponentHeader.stories.tsx
Labels: Area: Doc Site

fix: folder casing
  packages/paste-website/src/components/badge-popover/BadgePopover.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverButton.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContainer.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContext.tsx
  packages/paste-website/src/components/badge-popover/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

fix: component header bugs(#2058)
  packages/paste-website/src/components/badge-popover/BadgePopover.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverButton.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContainer.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContext.tsx
  packages/paste-website/src/components/badge-popover/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
  packages/paste-website/stories/ComponentHeader.stories.tsx
Labels: Area: Doc Site

chore(cypress): abort unneeded prefetches
  cypress/integration/e2e/components/tabs.spec.ts
  cypress/support/parent-commands.ts
Labels: Type: Tests

chore(cypress): turn on new cypress tests in ci
  cypress/integration/e2e/patterns/create.spec.ts
  cypress/integration/e2e/patterns/data-export.spec.ts
  cypress/integration/e2e/patterns/delete.spec.ts
  cypress/integration/e2e/patterns/empty-states.spec.ts
  cypress/integration/e2e/patterns/notifications-and-feedback.spec.ts
  cypress/integration/e2e/patterns/object-details.spec.ts
  cypress/integration/e2e/patterns/status.spec.ts
  cypress/integration/e2e/primitives/modal-dialog-primitive.spec.ts
  cypress/support/parent-commands.ts
  package.json
Labels: Area: Repo, Type: Tests

chore(cypress): revert unneeded changes
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/e2e/components/alert.spec.ts
  cypress/integration/e2e/components/anchor.spec.ts
  cypress/integration/e2e/components/avatar.spec.ts
  cypress/integration/e2e/components/badge.spec.ts
  cypress/integration/e2e/components/breadcrumb.spec.ts
  cypress/integration/e2e/components/button.spec.ts
  cypress/integration/e2e/components/card.spec.ts
  cypress/integration/e2e/components/checkbox.spec.ts
  cypress/integration/e2e/components/combobox.spec.ts
  cypress/integration/e2e/components/data-grid.spec.ts
  cypress/integration/e2e/components/date-picker.spec.ts
  cypress/integration/e2e/components/disclosure.spec.ts
  cypress/integration/e2e/components/display-pill-group.spec.ts
  cypress/integration/e2e/components/form-pill-group.spec.ts
  cypress/integration/e2e/components/heading.spec.ts
  cypress/integration/e2e/components/help-text.spec.ts
  cypress/integration/e2e/components/input.spec.ts
  cypress/integration/e2e/components/label.spec.ts
  cypress/integration/e2e/components/list.spec.ts
  cypress/integration/e2e/components/menu.spec.ts
  cypress/integration/e2e/components/modal.spec.ts
  cypress/integration/e2e/components/pagination.spec.ts
  cypress/integration/e2e/components/paragraph.spec.ts
  cypress/integration/e2e/components/popover.spec.ts
  cypress/integration/e2e/components/radio-group.spec.ts
  cypress/integration/e2e/components/screen-reader-only.spec.ts
  cypress/integration/e2e/components/select.spec.ts
  cypress/integration/e2e/components/separator.spec.ts
  cypress/integration/e2e/components/skeleton-loader.spec.ts
  cypress/integration/e2e/components/spinner.spec.ts
  cypress/integration/e2e/components/table.spec.ts
  cypress/integration/e2e/components/tabs.spec.ts
  cypress/integration/e2e/components/textarea.spec.ts
  cypress/integration/e2e/components/time-picker.spec.ts
  cypress/integration/e2e/components/toast.spec.ts
  cypress/integration/e2e/components/tooltip.spec.ts
  cypress/integration/e2e/components/truncate.spec.ts
Labels: Type: Tests

chore(cypress): add abort request logic
  cypress/integration/e2e/components/alert.spec.ts
  cypress/integration/e2e/components/anchor.spec.ts
  cypress/integration/e2e/components/avatar.spec.ts
  cypress/integration/e2e/components/badge.spec.ts
  cypress/integration/e2e/components/breadcrumb.spec.ts
  cypress/integration/e2e/components/button.spec.ts
  cypress/integration/e2e/components/card.spec.ts
  cypress/integration/e2e/components/checkbox.spec.ts
  cypress/integration/e2e/components/combobox.spec.ts
  cypress/integration/e2e/components/data-grid.spec.ts
  cypress/integration/e2e/components/date-picker.spec.ts
  cypress/integration/e2e/components/disclosure.spec.ts
  cypress/integration/e2e/components/display-pill-group.spec.ts
  cypress/integration/e2e/components/form-pill-group.spec.ts
  cypress/integration/e2e/components/heading.spec.ts
  cypress/integration/e2e/components/help-text.spec.ts
  cypress/integration/e2e/components/input.spec.ts
  cypress/integration/e2e/components/label.spec.ts
  cypress/integration/e2e/components/list.spec.ts
  cypress/integration/e2e/components/menu.spec.ts
  cypress/integration/e2e/components/modal.spec.ts
  cypress/integration/e2e/components/pagination.spec.ts
  cypress/integration/e2e/components/paragraph.spec.ts
  cypress/integration/e2e/components/popover.spec.ts
  cypress/integration/e2e/components/radio-group.spec.ts
  cypress/integration/e2e/components/screen-reader-only.spec.ts
  cypress/integration/e2e/components/select.spec.ts
  cypress/integration/e2e/components/separator.spec.ts
  cypress/integration/e2e/components/skeleton-loader.spec.ts
  cypress/integration/e2e/components/spinner.spec.ts
  cypress/integration/e2e/components/table.spec.ts
  cypress/integration/e2e/components/tabs.spec.ts
  cypress/integration/e2e/components/textarea.spec.ts
  cypress/integration/e2e/components/time-picker.spec.ts
  cypress/integration/e2e/components/toast.spec.ts
  cypress/integration/e2e/components/tooltip.spec.ts
  cypress/integration/e2e/components/truncate.spec.ts
  tools/utils/cypress-test-generators/createCypressTestSpec.js
Labels: Area: Infrastructure, Type: Tests

fix: wrong path for tsconfig extend in core-bundle package
  packages/paste-core/core-bundle/tsconfig.json
Labels: Area: Core bundle

fix(site-layout): add position relative on scrolling container
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/html.tsx
Labels: Area: Doc Site

fix(site-layout): add position relative on site scrolling container (#2065)
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/html.tsx
Labels: Area: Doc Site

fix(react17-testing): update testing library
  package.json
  yarn.lock
Labels: Area: Repo

fix(react17-testing): restructure tests for perf
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

fix(react17-testing): skip slow data grid tests (for now)
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

fix(react17-testing): add async and consolidate further
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

feat: add Changing the Theme docs
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/core/changing-theme.mdx
Labels: Area: Doc Site, Type: Documentation

chore: add comment abt position relative
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Labels: Area: Doc Site

Revert "fix(react17-testing): add async and consolidate further"
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

fix: typos
  packages/paste-website/src/pages/core/changing-theme.mdx
Labels: Area: Doc Site, Type: Documentation

chore(cypress): abort unneeded prefetches
  cypress/integration/e2e/components/tabs.spec.ts
  cypress/support/parent-commands.ts
Labels: Type: Tests

chore(cypress): turn on new cypress tests in ci
  cypress/integration/e2e/patterns/create.spec.ts
  cypress/integration/e2e/patterns/data-export.spec.ts
  cypress/integration/e2e/patterns/delete.spec.ts
  cypress/integration/e2e/patterns/empty-states.spec.ts
  cypress/integration/e2e/patterns/notifications-and-feedback.spec.ts
  cypress/integration/e2e/patterns/object-details.spec.ts
  cypress/integration/e2e/patterns/status.spec.ts
  cypress/integration/e2e/primitives/modal-dialog-primitive.spec.ts
  cypress/support/parent-commands.ts
  package.json
Labels: Area: Repo, Type: Tests

chore(cypress): revert unneeded changes
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/e2e/components/alert.spec.ts
  cypress/integration/e2e/components/anchor.spec.ts
  cypress/integration/e2e/components/avatar.spec.ts
  cypress/integration/e2e/components/badge.spec.ts
  cypress/integration/e2e/components/breadcrumb.spec.ts
  cypress/integration/e2e/components/button.spec.ts
  cypress/integration/e2e/components/card.spec.ts
  cypress/integration/e2e/components/checkbox.spec.ts
  cypress/integration/e2e/components/combobox.spec.ts
  cypress/integration/e2e/components/data-grid.spec.ts
  cypress/integration/e2e/components/date-picker.spec.ts
  cypress/integration/e2e/components/disclosure.spec.ts
  cypress/integration/e2e/components/display-pill-group.spec.ts
  cypress/integration/e2e/components/form-pill-group.spec.ts
  cypress/integration/e2e/components/heading.spec.ts
  cypress/integration/e2e/components/help-text.spec.ts
  cypress/integration/e2e/components/input.spec.ts
  cypress/integration/e2e/components/label.spec.ts
  cypress/integration/e2e/components/list.spec.ts
  cypress/integration/e2e/components/menu.spec.ts
  cypress/integration/e2e/components/modal.spec.ts
  cypress/integration/e2e/components/pagination.spec.ts
  cypress/integration/e2e/components/paragraph.spec.ts
  cypress/integration/e2e/components/popover.spec.ts
  cypress/integration/e2e/components/radio-group.spec.ts
  cypress/integration/e2e/components/screen-reader-only.spec.ts
  cypress/integration/e2e/components/select.spec.ts
  cypress/integration/e2e/components/separator.spec.ts
  cypress/integration/e2e/components/skeleton-loader.spec.ts
  cypress/integration/e2e/components/spinner.spec.ts
  cypress/integration/e2e/components/table.spec.ts
  cypress/integration/e2e/components/tabs.spec.ts
  cypress/integration/e2e/components/textarea.spec.ts
  cypress/integration/e2e/components/time-picker.spec.ts
  cypress/integration/e2e/components/toast.spec.ts
  cypress/integration/e2e/components/tooltip.spec.ts
  cypress/integration/e2e/components/truncate.spec.ts
Labels: Type: Tests

chore(cypress): add abort request logic
  cypress/integration/e2e/components/alert.spec.ts
  cypress/integration/e2e/components/anchor.spec.ts
  cypress/integration/e2e/components/avatar.spec.ts
  cypress/integration/e2e/components/badge.spec.ts
  cypress/integration/e2e/components/breadcrumb.spec.ts
  cypress/integration/e2e/components/button.spec.ts
  cypress/integration/e2e/components/card.spec.ts
  cypress/integration/e2e/components/checkbox.spec.ts
  cypress/integration/e2e/components/combobox.spec.ts
  cypress/integration/e2e/components/data-grid.spec.ts
  cypress/integration/e2e/components/date-picker.spec.ts
  cypress/integration/e2e/components/disclosure.spec.ts
  cypress/integration/e2e/components/display-pill-group.spec.ts
  cypress/integration/e2e/components/form-pill-group.spec.ts
  cypress/integration/e2e/components/heading.spec.ts
  cypress/integration/e2e/components/help-text.spec.ts
  cypress/integration/e2e/components/input.spec.ts
  cypress/integration/e2e/components/label.spec.ts
  cypress/integration/e2e/components/list.spec.ts
  cypress/integration/e2e/components/menu.spec.ts
  cypress/integration/e2e/components/modal.spec.ts
  cypress/integration/e2e/components/pagination.spec.ts
  cypress/integration/e2e/components/paragraph.spec.ts
  cypress/integration/e2e/components/popover.spec.ts
  cypress/integration/e2e/components/radio-group.spec.ts
  cypress/integration/e2e/components/screen-reader-only.spec.ts
  cypress/integration/e2e/components/select.spec.ts
  cypress/integration/e2e/components/separator.spec.ts
  cypress/integration/e2e/components/skeleton-loader.spec.ts
  cypress/integration/e2e/components/spinner.spec.ts
  cypress/integration/e2e/components/table.spec.ts
  cypress/integration/e2e/components/tabs.spec.ts
  cypress/integration/e2e/components/textarea.spec.ts
  cypress/integration/e2e/components/time-picker.spec.ts
  cypress/integration/e2e/components/toast.spec.ts
  cypress/integration/e2e/components/tooltip.spec.ts
  cypress/integration/e2e/components/truncate.spec.ts
  tools/utils/cypress-test-generators/createCypressTestSpec.js
Labels: Area: Infrastructure, Type: Tests

chore(cypress): update version to latest
  cypress/support/child-commands.ts
  cypress/support/parent-commands.ts
  package.json
  yarn.lock
Labels: Area: Repo, Type: Tests

chore(cypress): try parallel
  .github/workflows/on_pull_request.yml
  package.json
  packages/paste-core/components/combobox/package.json
  tools/build/esbuild.js
Labels: Area: Repo, Area: Components, Area: Infrastructure

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
