Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

feat(anchor): add i18n prop
  .changeset/neat-apples-boil.md
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/anchor/src/index.tsx
  packages/paste-core/components/anchor/src/proptypes.ts
  packages/paste-core/components/anchor/src/types.ts
  packages/paste-core/components/anchor/stories/index.stories.tsx
  packages/paste-website/src/pages/components/anchor/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

feat(anchor): resolve ts failure on possible null object
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
Labels: Area: Components, Type: Tests

feat(anchor): add i18n prop (#2306)
  .changeset/neat-apples-boil.md
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/anchor/src/index.tsx
  packages/paste-core/components/anchor/src/proptypes.ts
  packages/paste-core/components/anchor/src/types.ts
  packages/paste-core/components/anchor/stories/index.stories.tsx
  packages/paste-website/src/pages/components/anchor/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

feat(table): add responsive tables
  .changeset/giant-pillows-lick.md
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

feat(data-grid): inherit table layout options including responsive layout support
  .changeset/lovely-guests-think.md
  packages/paste-core/components/data-grid/src/DataGrid.tsx
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/stories/components/DataGridLayouts.tsx
  packages/paste-core/components/data-grid/stories/index.stories.tsx
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

fix(website): adopt responsive table layouts where tables break out moble experience
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: pr feedback and prop name change
  .changeset/giant-pillows-lick.md
  .changeset/lovely-guests-think.md
  packages/paste-core/components/data-grid/stories/components/DataGridLayouts.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/data-grid/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

fix: data grid layout backwards compat with older tables. Support responsive tables (#2307)
  .changeset/giant-pillows-lick.md
  .changeset/lovely-guests-think.md
  packages/paste-core/components/data-grid/src/DataGrid.tsx
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/stories/components/DataGridLayouts.tsx
  packages/paste-core/components/data-grid/stories/index.stories.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/data-grid/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

fix(spinner): match title props types to types
  packages/paste-core/components/spinner/src/index.tsx
Labels: Area: Components

chore: changeset
  .changeset/mean-starfishes-share.md
Labels: none

feat: live example start
  packages/paste-website/src/component-examples/FilterGroupExamples.tsx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: add links to codesandbox
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: finish live examples
  packages/paste-website/src/__tests__/filterGroup.test.tsx
  packages/paste-website/src/assets/images/patterns/filter-default-state.png
  packages/paste-website/src/assets/images/patterns/filter-empty-state.png
  packages/paste-website/src/component-examples/FilterGroupExamples.tsx
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/components/EmptyState.tsx
  packages/paste-website/src/component-examples/filter-group/components/NoResultsIllustration.tsx
  packages/paste-website/src/component-examples/filter-group/components/SampleDataGrid.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
  packages/paste-website/src/component-examples/filter-group/helpers.ts
  packages/paste-website/src/component-examples/filter-group/types.ts
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/stories/FilterGroup.stories.tsx
Labels: Area: Doc Site, Type: Documentation, Type: Tests

chore: add cypress tests
  cypress/integration/filter-group-examples/index.spec.ts
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/components/EmptyState.tsx
  packages/paste-website/src/component-examples/filter-group/components/SampleDataGrid.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
Labels: Area: Doc Site, Type: Tests

chore: update package.json plop template
  tools/plop-templates/package.hbs
Labels: Area: Infrastructure

fix(spinner): match title prop types to types (#2315)
  .changeset/mean-starfishes-share.md
  packages/paste-core/components/spinner/src/index.tsx
Labels: Area: Components

chore: update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Area: Infrastructure

feat(website): add default and empty state examples to filter group pattern (#2311)
  cypress/integration/filter-group-examples/index.spec.ts
  packages/paste-website/src/__tests__/filterGroup.test.tsx
  packages/paste-website/src/assets/images/patterns/filter-default-state.png
  packages/paste-website/src/assets/images/patterns/filter-empty-state.png
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/components/EmptyState.tsx
  packages/paste-website/src/component-examples/filter-group/components/NoResultsIllustration.tsx
  packages/paste-website/src/component-examples/filter-group/components/SampleDataGrid.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
  packages/paste-website/src/component-examples/filter-group/helpers.ts
  packages/paste-website/src/component-examples/filter-group/types.ts
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/stories/FilterGroup.stories.tsx
Labels: Area: Doc Site, Type: Documentation, Type: Tests

fix: add links to codesandboxes below examples
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add should forward props to box and text
  @types/@styled-system/index.d.ts
  @types/@styled-system/should-forward-prop/index.d.ts
  @types/@styled-system/theme-get/index.d.ts
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/primitives/box/src/CustomStyleProps.ts
  packages/paste-core/primitives/box/src/StyleFunctions.ts
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/src/CustomStyleProps.ts
  packages/paste-core/primitives/text/src/StyleFunctions.ts
  packages/paste-core/primitives/text/src/index.tsx
  packages/paste-libraries/styling/package.json
  packages/paste-libraries/styling/src/index.tsx
  yarn.lock
Labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Type: Tests

fix: types and changesets
  .changeset/spotty-lobsters-impress.md
  .changeset/wicked-vans-add.md
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/text/src/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
Labels: Area: Primitives, Area: Doc Site

fix: exclude size from being prevented
  packages/paste-core/primitives/box/src/index.tsx
Labels: Area: Primitives

fix: modal overlay to use styled component
  .changeset/shaggy-weeks-return.md
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/primitives/modal-dialog/package.json
  yarn.lock
Labels: Area: Repo, Area: Primitives, Area: Components, Type: Tests

chore: changeset
  .changeset/red-masks-obey.md
  .changeset/shaggy-weeks-return.md
Labels: none

chore: fix links
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: update package.json plop template (#2321)
  tools/plop-templates/package.hbs
Labels: Area: Infrastructure

feat: add should forward props to box and text (#2285)
  .changeset/red-masks-obey.md
  .changeset/shaggy-weeks-return.md
  .changeset/spotty-lobsters-impress.md
  .changeset/wicked-vans-add.md
  @types/@styled-system/index.d.ts
  @types/@styled-system/should-forward-prop/index.d.ts
  @types/@styled-system/theme-get/index.d.ts
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/primitives/box/src/CustomStyleProps.ts
  packages/paste-core/primitives/box/src/StyleFunctions.ts
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/modal-dialog/package.json
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/src/CustomStyleProps.ts
  packages/paste-core/primitives/text/src/StyleFunctions.ts
  packages/paste-core/primitives/text/src/index.tsx
  packages/paste-libraries/styling/package.json
  packages/paste-libraries/styling/src/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
  yarn.lock
Labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Doc Site, Type: Tests

chore: adjust styling library changeset to prevent sweeping major versions
  .changeset/spotty-lobsters-impress.md
Labels: none

fix: use static data for stories
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
  packages/paste-website/src/component-examples/filter-group/types.ts
  packages/paste-website/stories/FilterGroup.stories.tsx
Labels: Area: Doc Site

chore: update issue template (#2322)
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Area: Infrastructure

chore: bold links
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
Labels: Area: Doc Site

chore: adjust styling library changeset to prevent sweeping major versions (#2324)
  .changeset/spotty-lobsters-impress.md
Labels: none

fix: type error
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
Labels: Area: Doc Site

fix: add links to codesandboxes below examples (#2320)
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
  packages/paste-website/src/component-examples/filter-group/types.ts
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/stories/FilterGroup.stories.tsx
Labels: Area: Doc Site, Type: Documentation
