Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

feat(base-radio-checkbox): add element customization
  .changeset/olive-lamps-sort.md
  packages/paste-core/components/base-radio-checkbox/__tests__/base-radio-checkbox.test.tsx
  packages/paste-core/components/base-radio-checkbox/src/BaseRadioCheckbox.tsx
Labels: Area: Components, Type: Tests

fix(display-pill-group): improved visual design
  .changeset/fluffy-cars-count.md
  packages/paste-core/components/display-pill-group/package.json
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
  packages/paste-core/components/display-pill-group/stories/index.stories.tsx
Labels: Area: Components

feat(menu): add customization
  .changeset/tender-kids-brush.md
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/menu/src/Menu.tsx
  packages/paste-core/components/menu/src/MenuButton.tsx
  packages/paste-core/components/menu/src/MenuGroup.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/MenuSeparator.tsx
  packages/paste-core/components/menu/src/SubMenuButton.tsx
  packages/paste-core/components/menu/src/index.tsx
  packages/paste-core/components/menu/src/types.ts
  packages/paste-core/components/menu/src/useMenuState.ts
  packages/paste-core/components/menu/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

docs(pills): add form and display pill docs
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/FormPillGroup.tsx
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/pages/components/display-pill-group/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(skeleton-loader): minor perf improvement
  .changeset/flat-forks-end.md
  packages/paste-core/components/skeleton-loader/src/index.tsx
Labels: Area: Components

chore(types): adding typings for 2 lodash packages
  .changeset/thick-bobcats-ring.md
  packages/paste-types/package.json
  yarn.lock
Labels: Area: Repo

chore(spinner): add element customization (#1894)
  .changeset/nasty-olives-burn.md
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore(alert): update snapshots
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
Labels: Area: Components, Type: Tests

feat(breadcrumb): add element customization (#1895)
  .changeset/tame-dingos-exercise.md
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/breadcrumb/src/index.tsx
  packages/paste-core/components/breadcrumb/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(button): add element customization
  .changeset/stupid-icons-remember.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/__tests__/customization.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

chore(tooltip): add story
  packages/paste-core/components/tooltip/stories/index.stories.tsx
Labels: Area: Components

feat(modal): customization (#1903)
  .changeset/clean-planets-provide.md
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/src/ModalBody.tsx
  packages/paste-core/components/modal/src/ModalFooter.tsx
  packages/paste-core/components/modal/src/ModalFooterActions.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/modal/src/ModalHeading.tsx
  packages/paste-core/components/modal/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

chore(combobox): remove duplicated suffix in element string
  .changeset/empty-spiders-rest.md
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

feat(icons): adding UnsortedIcon
  .changeset/stupid-moles-eat.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/UnsortedIcon.tsx
  packages/paste-icons/svg/Unsorted.svg
Labels: none

feat(combobox): add element customization (#1897)
  .changeset/angry-lemons-fetch.md
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/ComboboxItems.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListbox.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxGroup.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxOption.tsx
  packages/paste-core/components/combobox/src/types.ts
  packages/paste-core/components/combobox/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

test(tooltip): improve tests
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/components/tooltip/src/index.tsx
Labels: Area: Components

feat(tooltip): allow customization
  .changeset/clean-lemons-joke.md
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/components/tooltip/src/TooltipArrow.tsx
  packages/paste-core/components/tooltip/src/index.tsx
  packages/paste-core/components/tooltip/stories/index.stories.tsx
Labels: Area: Components

chore(inline-control-group): fix responsive fieldset browser bug
  .changeset/thick-seahorses-try.md
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
Labels: Area: Components

test(tooltip): added back ts-expect-error
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
Labels: Area: Components

feat(utils): add @twilio-paste/utils package
  .changeset/warm-clouds-yawn.md
  packages/paste-utils/build.js
  packages/paste-utils/package.json
  packages/paste-utils/src/hooks/useMergeRefs.ts
  packages/paste-utils/src/hooks/useMutationObservable.ts
  packages/paste-utils/src/index.ts
  packages/paste-utils/tsconfig.json
  yarn.lock
Labels: Area: Repo

fix(plopfile): typo in 'component-type' message
  plopfile.js
Labels: Area: Repo

feat(popover): add customization (#1915)
  .changeset/warm-readers-decide.md
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/popover/src/PopoverButton.tsx
  packages/paste-core/components/popover/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(inline-control-group): add element customization
  .changeset/fifty-onions-raise.md
  packages/paste-core/components/inline-control-group/__tests__/inlineControlGroup.test.tsx
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
  packages/paste-core/components/inline-control-group/stories/inline-control-group.stories.tsx
Labels: Area: Components, Type: Tests

feat(checkbox): add element customization
  .changeset/wild-tables-occur.md
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/checkbox/src/CheckboxDisclaimer.tsx
  packages/paste-core/components/checkbox/src/CheckboxGroup.tsx
  packages/paste-core/components/checkbox/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

feat(checkbox): add element customization
  .changeset/wild-tables-occur.md
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/checkbox/src/CheckboxDisclaimer.tsx
  packages/paste-core/components/checkbox/src/CheckboxGroup.tsx
  packages/paste-core/components/checkbox/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

feat(inline-control-group): add element customization
  .changeset/fifty-onions-raise.md
  packages/paste-core/components/inline-control-group/__tests__/inlineControlGroup.test.tsx
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
  packages/paste-core/components/inline-control-group/stories/inline-control-group.stories.tsx
Labels: Area: Components, Type: Tests

feat(token): add dark theme shadow-focus-inset token
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
Labels: Area: Tokens

test(tokens): update snapshot of tests
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Tokens, Type: Tests

feat: init @twilio-paste/eslint-config
  packages/paste-libraries/eslint/index.js
  packages/paste-libraries/eslint/package.json
Labels: none

chore(changeset): add changeset
  .changeset/clever-masks-drum.md
Labels: none

chore(changeset): add core to changeset
  .changeset/clever-masks-drum.md
Labels: none

chore: add icon package in single size check
  .github/workflows/package-size.yml
Labels: Area: Infrastructure

feat(icons): add twilio live product icon
  .changeset/rude-turkeys-join.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductLiveIcon.tsx
  packages/paste-icons/svg/ProductLive.svg
Labels: none

chore: add icon package in single size check
  .github/workflows/package-size.yml
Labels: Area: Infrastructure

feat(icons): add twilio live product icon
  .changeset/rude-turkeys-join.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductLiveIcon.tsx
  packages/paste-icons/svg/ProductLive.svg
Labels: none

chore(checkbox docs): change headings to sentence case
  packages/paste-website/src/pages/components/checkbox/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(combobox docs): change headings to sentence case
  packages/paste-website/src/pages/components/combobox/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(datepicker docs): change headings to sentence case
  packages/paste-website/src/pages/components/date-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(helptext docs): fix heading capitalization and props table copy
  packages/paste-website/src/pages/components/help-text/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(input docs): change headings to sentence case
  packages/paste-website/src/pages/components/input/index.mdx
Labels: Area: Doc Site, Type: Documentation

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
