Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

fix: fix button type
  packages/paste-core/components/popover/src/types.ts
Labels: Area: Components

fix: remove maxwidth on badge
  packages/paste-core/components/badge/src/index.tsx
Labels: Area: Components

feat: add unit tests
  packages/paste-core/components/popover/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

docs: add example to popover page
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: maxwidth = maxcontent
  .changeset/orange-lizards-sin.md
  packages/paste-core/components/badge/src/index.tsx
Labels: Area: Components

chore: add long text badge story
  packages/paste-core/components/badge/stories/index.stories.tsx
Labels: Area: Components

docs: add modifying popoverbutton section
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: badge changeset
  .changeset/orange-lizards-sin.md
Labels: none

fix: typo
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: popoverBadgeButton added to codemodes cache
  packages/paste-codemods/tools/.cache/mappings.json
Labels: none

feat: getElementName function and tests
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/src/PopoverButton.tsx
Labels: Area: Components, Type: Tests

feat: make popoverBadgeButton instead of as
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/src/PopoverBadgeButton.tsx
  packages/paste-core/components/popover/src/PopoverButton.tsx
  packages/paste-core/components/popover/src/index.tsx
  packages/paste-core/components/popover/src/types.ts
  packages/paste-core/components/popover/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

docs: update component page
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: use popoverbadgebutton in website
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

fix: docs api correction
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: update changeset
  .changeset/many-maps-refuse.md
Labels: none

chore(website): include new tests
  cypress/support/child-commands.ts
  package.json
  tools/utils/cypress-test-generators/TEMPLATE.js
  tools/utils/cypress-test-generators/createCypressTestSpec.js
Labels: Area: Repo, Area: Infrastructure, Type: Tests

feat(popover): add PopoverBadgeButton component (#2089)
  .changeset/many-maps-refuse.md
  .changeset/orange-lizards-sin.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/stories/index.stories.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/package.json
  packages/paste-core/components/popover/src/PopoverBadgeButton.tsx
  packages/paste-core/components/popover/src/PopoverButton.tsx
  packages/paste-core/components/popover/src/index.tsx
  packages/paste-core/components/popover/src/types.ts
  packages/paste-core/components/popover/stories/index.stories.tsx
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/components/badge-popover/BadgePopover.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverButton.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContainer.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContext.tsx
  packages/paste-website/src/components/badge-popover/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/pages/components/popover/index.mdx
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

chore: remove console theme from tests
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/layout/flex/__tests__/flex.test.tsx
  packages/paste-core/primitives/box/__tests__/box.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
  packages/paste-theme/__tests__/themeConsumer.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-theme/__tests__/useTheme.spec.tsx
  packages/paste-theme/__tests__/withTheme.spec.tsx
Labels: Area: Primitives, Area: Layout, Area: Components, Area: Theme, Type: Tests

chore: update snapshots
  packages/paste-core/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
Labels: Area: Primitives, Area: Components, Type: Tests

chore: remove console specific test
  packages/paste-theme/__tests__/themeProvider.spec.tsx
Labels: Area: Theme, Type: Tests

chore: update test to expect default colorText rgb value
  packages/paste-theme/__tests__/themeConsumer.spec.tsx
  packages/paste-theme/__tests__/useTheme.spec.tsx
  packages/paste-theme/__tests__/withTheme.spec.tsx
Labels: Area: Theme, Type: Tests

chore: update last tests to use default theme
  packages/paste-core/components/card/__test__/card.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
Labels: Area: Components

chore: update to default theme values
  packages/paste-core/primitives/box/__tests__/box.test.tsx
Labels: Area: Primitives, Type: Tests

chore: remove references to console theme on the site
  .storybook/preview.js
  packages/paste-theme/README.md
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
  packages/paste-website/src/pages/getting-started/faqs/index.mdx
  packages/paste-website/src/pages/getting-started/manual-installation/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
  packages/paste-website/src/pages/tokens/theme-package/index.mdx
Labels: Area: Doc Site, Area: Theme, Area: Storybook, Type: Documentation

chore: create changeset
  .changeset/many-pants-rule.md
Labels: none

chore: remove unnecessary changeset
  .changeset/many-pants-rule.md
Labels: none

chore: remove out of date info
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: docs update
  packages/paste-website/src/pages/getting-started/manual-installation/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: docs fix
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Labels: Area: Doc Site

chore: remove input snapshot tests
  packages/paste-core/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/paste-core/components/input/__tests__/input.test.tsx
Labels: Area: Components, Type: Tests

chore: use customizationprovider
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/card/__test__/card.test.tsx
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/layout/flex/__tests__/flex.test.tsx
Labels: Area: Layout, Area: Components, Type: Tests

chore: use customizationprovider in box
  packages/paste-core/primitives/box/__tests__/box.test.tsx
Labels: Area: Primitives, Type: Tests

chore: use testTheme
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/card/__test__/card.test.tsx
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/layout/flex/__tests__/flex.test.tsx
Labels: Area: Layout, Area: Components, Type: Tests

chore: use customizationprovider in text, siblingbox
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
Labels: Area: Primitives, Type: Tests

chore(website):add heading on icons page
  packages/paste-website/src/pages/icons/usage-guidelines/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: add TestTheme and emotion style matchers as globals
  @types/globals/index.d.ts
  @types/index.d.ts
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/badge/__tests__/customization.spec.tsx
  packages/paste-core/components/base-radio-checkbox/__tests__/base-radio-checkbox.test.tsx
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/button/__tests__/customization.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  packages/paste-core/components/data-grid/__tests__/customization.spec.tsx
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/inline-control-group/__tests__/inlineControlGroup.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
  packages/paste-core/components/pagination/__tests__/customization.spec.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/select/__tests__/optiongroup.test.tsx
  packages/paste-core/components/select/__tests__/select.test.tsx
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/skeleton-loader/__tests__/index.spec.tsx
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/components/toast/__tests__/customization.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-icons/__test__/icons.spec.tsx
Labels: Area: Primitives, Area: Layout, Area: Components, Type: Tests

fix: try the slightly less nice way
  .jest/@types/index.d.ts
  tsconfig.json
Labels: Area: Repo, Area: Infrastructure

fix: default imports for JSON for webpack 5 compatibility
  .changeset/fluffy-beers-help.md
  packages/paste-color-contrast-utils/src/utils.ts
  packages/paste-color-contrast-utils/tsconfig.json
Labels: none

chore: add core to changeset
  .changeset/fluffy-beers-help.md
Labels: none

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
