Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

chore(avatar): add customization story
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/avatar/src/types.ts
  packages/paste-core/components/avatar/stories/index.stories.tsx
Labels: Area: Components

chore(avatar): add changeset
  .changeset/angry-lizards-pump.md
Labels: none

chore(avatar): add another test
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
Labels: Area: Components, Type: Tests

chore(avatar): fix lint error
  packages/paste-core/components/avatar/stories/index.stories.tsx
Labels: Area: Components

fix(avatar): adjust text color inheritence
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/avatar/stories/index.stories.tsx
Labels: Area: Components

chore(avatar): use BoxProps, add stories spacing
  packages/paste-core/components/avatar/src/types.ts
  packages/paste-core/components/avatar/stories/index.stories.tsx
Labels: Area: Components

chore(avatar): modify tests and stories
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/avatar/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore(avatar): update snapshots
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
Labels: Area: Components, Type: Tests

feat(avatar): add element customization (#1742)
  .changeset/angry-lizards-pump.md
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/avatar/src/types.ts
  packages/paste-core/components/avatar/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix(website): Remove unnecessary "please" from examples
  packages/paste-website/src/pages/components/checkbox/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(Checkbox docs): fix non-applicable error text guidance
  packages/paste-website/src/pages/components/checkbox/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(Radio Group): remove repetitive info, clarify pre-selected value
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(Radio Group example): remove "please"
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
Labels: Area: Doc Site

fix(Combobox docs): remove "please"
  packages/paste-website/src/pages/components/combobox/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(Date Picker): remove "please" from Usage
  packages/paste-website/src/pages/components/date-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(Help Text docs): remove "please" and clarify error copy
  packages/paste-website/src/pages/components/help-text/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(Input docs): Remove "please" and clarify error copy
  packages/paste-website/src/pages/components/input/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(Label docs): remove "please"
  packages/paste-website/src/pages/components/label/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(Select docs): remove "please" and clarify error copy
  packages/paste-website/src/pages/components/select/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(Textarea docs): remove "please" and clarify error copy
  packages/paste-website/src/pages/components/textarea/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(TimePicker docs): remove "please" and clarify error copy
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(Label docs): make "Props" a heading
  packages/paste-website/src/pages/components/label/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(label): add missing as attribute in props table (#1740)
  packages/paste-website/src/pages/components/label/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

feat(website): track icon and design token searches
  packages/paste-website/src/components/icons-list/IconsList.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: Area: Doc Site

fix: unnecessary change to event handler
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: Area: Doc Site

feat(grid): add element customization
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/layout/grid/src/Column.tsx
  packages/paste-core/layout/grid/src/Grid.tsx
  packages/paste-core/layout/grid/src/types.ts
  packages/paste-core/layout/grid/stories/index.stories.tsx
Labels: Area: Layout, Type: Tests

chore(grid): refactor Column to use Box
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/layout/grid/src/Column.tsx
  packages/paste-core/layout/grid/src/types.ts
Labels: Area: Layout, Type: Tests

chore(grid): add changeset
  .changeset/gorgeous-rivers-relate.md
Labels: none

chore(grid): adjust story, fix merge error
  packages/paste-core/layout/grid/src/Column.tsx
  packages/paste-core/layout/grid/stories/index.stories.tsx
Labels: Area: Layout

feat(grid): add element customization (#1734)
  .changeset/gorgeous-rivers-relate.md
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/layout/grid/src/Column.tsx
  packages/paste-core/layout/grid/src/Grid.tsx
  packages/paste-core/layout/grid/src/types.ts
  packages/paste-core/layout/grid/stories/index.stories.tsx
Labels: Area: Layout, Type: Tests

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

test(card): refactor and add element customization test
  packages/paste-core/components/card/__test__/card.test.tsx
Labels: Area: Components

feat(card): add element customization
  .changeset/rotten-cups-kiss.md
  packages/paste-core/components/card/__test__/__snapshots__/card.test.tsx.snap
  packages/paste-core/components/card/__test__/card.test.tsx
  packages/paste-core/components/card/src/index.tsx
  packages/paste-core/components/card/stories/index.stories.tsx
Labels: Area: Components

chore(card): adjust story naming and move comment
  packages/paste-core/components/card/src/index.tsx
  packages/paste-core/components/card/stories/index.stories.tsx
Labels: Area: Components

chore(card): story adjustment
  packages/paste-core/components/card/stories/index.stories.tsx
Labels: Area: Components

chore(card): update default story with default padding
  packages/paste-core/components/card/stories/index.stories.tsx
Labels: Area: Components

feat(card): add element customization (#1726)
  .changeset/rotten-cups-kiss.md
  packages/paste-core/components/card/__test__/__snapshots__/card.test.tsx.snap
  packages/paste-core/components/card/__test__/card.test.tsx
  packages/paste-core/components/card/src/index.tsx
  packages/paste-core/components/card/stories/index.stories.tsx
Labels: Area: Components

feat(useclipboardcopy): add use-clipboard-copy library
  packages/paste-libraries/use-clipboard/build.js
  packages/paste-libraries/use-clipboard/package.json
  packages/paste-libraries/use-clipboard/src/index.tsx
  packages/paste-libraries/use-clipboard/stories/index.stories.tsx
  packages/paste-libraries/use-clipboard/tsconfig.json
  packages/paste-website/src/pages/patterns/copy-to-clipboard/index.mdx
  yarn.lock
Labels: Area: Repo, Area: Doc Site, Type: Documentation

docs(radio-group): add missing pre-selected example (#1741)
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
