Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

chore(website): cleanup code
  cypress.json
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/token-list/original.spec.ts
  cypress/tsconfig.json
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Repo, Area: Doc Site, Type: Documentation, Type: Tests

chore(website): fix typeo in node modules
  cypress/tsconfig.json
Labels: Type: Tests

chore(website): add VRT check with applitools eyes for the tokens list page (#2169)
  .github/workflows/on_pull_request.yml
  .gitignore
  @types/index.d.ts
  applitools.config.js
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/token-list/index.spec.ts
  cypress/plugins/index.js
  cypress/support/commands/@types/index.d.ts
  cypress/support/commands/child-commands.ts
  cypress/support/commands/dual-commands.ts
  cypress/support/commands/index.ts
  cypress/support/commands/override-commands.ts
  cypress/support/commands/parent-commands.ts
  cypress/support/utils/applitools.ts
  cypress/tsconfig.json
  package.json
  packages/paste-website/src/components/tokens-list/index.tsx
  yarn.lock
Labels: Area: Repo, Area: Doc Site, Area: Infrastructure, Type: Tests

feat: add component contribution page
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/introduction/contributing/components/index.mdx
  packages/paste-website/src/pages/introduction/contributing/patterns/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: fix controlled/uncontrolled checkboxes
  .changeset/fifty-shirts-know.md
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/checkbox/stories/checkbox.stories.tsx
  packages/paste-website/src/component-examples/CheckboxExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

fix: onChange test
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
Labels: Area: Components, Type: Tests

fix: add specific controlled/uncontrolled tests
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
Labels: Area: Components, Type: Tests

fix: aria-checked attr
  packages/paste-core/components/checkbox/src/Checkbox.tsx
Labels: Area: Components

fix: correct changeset
  .changeset/brown-dolls-change.md
  .changeset/cold-scissors-hunt.md
  .changeset/khaki-oranges-sort.md
Labels: none

fix: point ConsoleThemeShape, ConsoleTheme to default
  packages/paste-theme/src/index.tsx
  packages/paste-theme/src/themes/index.ts
  packages/paste-theme/src/types/themes.ts
Labels: Area: Theme

feat: add component contribution page
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/introduction/contributing/components/index.mdx
  packages/paste-website/src/pages/introduction/contributing/patterns/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add privacy pattern page
  packages/paste-website/src/component-examples/PrivacyPatternExamples.tsx
  packages/paste-website/src/pages/patterns/privacy/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: revert props on hidden checkbox
  packages/paste-core/components/checkbox/src/Checkbox.tsx
Labels: Area: Components

fix: pass defaultChecked to hidden checkbox
  packages/paste-core/components/checkbox/src/Checkbox.tsx
Labels: Area: Components

feat: add privacy pattern page
  packages/paste-website/src/component-examples/PrivacyPatternExamples.tsx
  packages/paste-website/src/pages/patterns/privacy/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(popover): adjust maxWidth, add story
  .changeset/sour-bugs-behave.md
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/popover/stories/index.stories.tsx
Labels: Area: Components

docs(website): add size info for Popover
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: test selectors
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
Labels: Area: Components, Type: Tests

docs(website): add size info for Popover
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(popover): adjust maxWidth, add story
  .changeset/sour-bugs-behave.md
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/popover/stories/index.stories.tsx
Labels: Area: Components

feat: init colors page
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add live examples
  packages/paste-website/src/component-examples/ColorsFoundationExamples.ts
  packages/paste-website/src/pages/foundations/colors/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add color swatches
  packages/paste-website/src/component-examples/ColorsFoundationExamples.ts
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/components/color-swatch/ColorSwatch.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: move SwatchText
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/components/color-swatch/ColorSwatch.tsx
Labels: Area: Doc Site

feat(paste-icons): add Send action icon
  .changeset/forty-tables-allow.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/SendIcon.tsx
  packages/paste-icons/svg/Send.svg
Labels: none

fix(checkbox): hide icon when not checked (#2167)
  .changeset/fifty-shirts-know.md
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-website/src/component-examples/CheckboxExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

fix: token types
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
Labels: Area: Doc Site

fix(website): remove link from dodont
  packages/paste-website/src/component-examples/PrivacyPatternExamples.tsx
  packages/paste-website/src/pages/patterns/privacy/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(design-tokens): update global/dark design tokens
  .changeset/metal-parents-crash.md
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/border-color.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens

fix(website): remove link from dodont
  packages/paste-website/src/component-examples/PrivacyPatternExamples.tsx
  packages/paste-website/src/pages/patterns/privacy/index.mdx
Labels: Area: Doc Site, Type: Documentation

test(color-contrast-utils): enable dark theme contrast tests
  .changeset/three-mangos-suffer.md
  packages/paste-color-contrast-utils/__tests__/themeContrast.spec.ts
Labels: Type: Tests

feat(radio): use svg for radio dot
  .changeset/yellow-eggs-provide.md
  packages/paste-core/components/radio-group/src/Radio.tsx
Labels: Area: Components

feat(paste-core): update tokens in components for accessibility
  .changeset/shiny-lions-call.md
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/base-radio-checkbox/src/BaseRadioCheckbox.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveButton.tsx
  packages/paste-core/components/button/src/InverseButton.tsx
  packages/paste-core/components/button/src/PrimaryButton.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/input-box/src/FauxInput/DefaultFauxInput.tsx
  packages/paste-core/components/input-box/src/FauxInput/InverseFauxInput.tsx
  packages/paste-core/components/modal/src/styles.tsx
  packages/paste-core/components/skeleton-loader/src/index.tsx
  packages/paste-core/components/toast/src/NeutralToast.tsx
  packages/paste-core/components/tooltip/src/TooltipArrow.tsx
  packages/paste-core/components/tooltip/src/index.tsx
Labels: Area: Components, Type: Tests

test(design-tokens): update tests
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Tokens, Type: Tests

docs(website): update the New banner
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site

fix(design-tokens): swap brand token aliases
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
Labels: Area: Tokens

feat: add rainbow gradient
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: export all color aliases
  packages/paste-design-tokens/tokens/global/palette-color.yml
Labels: Area: Tokens

chore: add changelog
  .changeset/red-vans-care.md
Labels: none

fix: use grid in swatches
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
Labels: Area: Doc Site
