Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

chore(cypress): revert workflow change
  .github/workflows/on_pull_request.yml
Labels: Area: Infrastructure

chore(tests): try using outdir instead of outfile
  tools/build/esbuild.js
Labels: Area: Infrastructure

feat: remove props from html element attributtes using shouldForwardProp
  .changeset/cold-countries-leave.md
  package.json
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/src/index.tsx
  packages/paste-libraries/styling/src/index.tsx
  yarn.lock
Labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Type: Tests

chore(cypress): pin cypress at 8.4.0
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/support/child-commands.ts
  package.json
  packages/paste-core/components/combobox/package.json
  tools/build/esbuild.js
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Infrastructure, Type: Tests

chore(cypress): update navigationt test flakiness
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/support/child-commands.ts
  cypress/support/parent-commands.ts
Labels: Type: Tests

chore(cypress): update workflow to use parallel
  .github/workflows/on_pull_request.yml
Labels: Area: Infrastructure

chore(cypress): rename containers to machines
  .github/workflows/on_pull_request.yml
  package.json
Labels: Area: Repo, Area: Infrastructure

test(actions): testing workflow mods
  .github/workflows/on_pull_request.yml
  cypress.json
Labels: Area: Repo, Area: Infrastructure

fix: roadmap table of contents bugs
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
Labels: Area: Doc Site

fix: release heading
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
Labels: Area: Doc Site

fix: reword description
  packages/paste-website/src/pages/core/changing-theme.mdx
Labels: Area: Doc Site, Type: Documentation

fix: restore heading icon
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
Labels: Area: Doc Site

fix: temp
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
Labels: Area: Doc Site

fix(react17-testing): update testing library (#2044)
  package.json
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  yarn.lock
Labels: Area: Repo, Area: Components, Type: Tests

fix: refactor toc styles
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
Labels: Area: Doc Site

fix: continue styles refactor
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsAnchor.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
Labels: Area: Doc Site

test(workflows): trying moving build to separate step
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_package_size.yml
  package.json
Labels: Area: Repo, Area: Infrastructure

chore(workflow): upate build website
  .github/workflows/on_pull_request.yml
Labels: Area: Infrastructure

chore(icons): added new media icons and segment product icon (#2059)
  .changeset/breezy-kiwis-relate.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/LowerHandIcon.tsx
  packages/paste-icons/src/MicrophoneOffIcon.tsx
  packages/paste-icons/src/MicrophoneOnIcon.tsx
  packages/paste-icons/src/ProductSegmentIcon.tsx
  packages/paste-icons/src/RaiseHandIcon.tsx
  packages/paste-icons/src/ScreenShareIcon.tsx
  packages/paste-icons/src/StopScreenShareIcon.tsx
  packages/paste-icons/src/VideoOffIcon.tsx
  packages/paste-icons/src/VideoOnIcon.tsx
  packages/paste-icons/svg/LowerHand.svg
  packages/paste-icons/svg/MicrophoneOff.svg
  packages/paste-icons/svg/MicrophoneOn.svg
  packages/paste-icons/svg/ProductSegment.svg
  packages/paste-icons/svg/RaiseHand.svg
  packages/paste-icons/svg/ScreenShare.svg
  packages/paste-icons/svg/StopScreenShare.svg
  packages/paste-icons/svg/VideoOff.svg
  packages/paste-icons/svg/VideoOn.svg
Labels: none

chore(cypress): turn on new cypress tests in ci
  cypress/integration/e2e/patterns/create.spec.ts
  cypress/integration/e2e/patterns/data-export.spec.ts
  cypress/integration/e2e/patterns/delete.spec.ts
  cypress/integration/e2e/patterns/empty-states.spec.ts
  cypress/integration/e2e/patterns/notifications-and-feedback.spec.ts
  cypress/integration/e2e/patterns/object-details.spec.ts
  cypress/integration/e2e/patterns/status.spec.ts
  cypress/integration/e2e/primitives/modal-dialog-primitive.spec.ts
  cypress/support/parent-commands.ts
  package.json
Labels: Area: Repo, Type: Tests

chore(cypress): update version to latest
  cypress/support/child-commands.ts
  cypress/support/parent-commands.ts
  package.json
  packages/paste-core/components/combobox/package.json
  tools/build/esbuild.js
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Infrastructure, Type: Tests

chore(cypress): abort unneeded prefetches
  cypress/integration/e2e/components/alert.spec.ts
  cypress/integration/e2e/components/anchor.spec.ts
  cypress/integration/e2e/components/avatar.spec.ts
  cypress/integration/e2e/components/badge.spec.ts
  cypress/integration/e2e/components/breadcrumb.spec.ts
  cypress/integration/e2e/components/button.spec.ts
  cypress/integration/e2e/components/card.spec.ts
  cypress/integration/e2e/components/checkbox.spec.ts
  cypress/integration/e2e/components/combobox.spec.ts
  cypress/integration/e2e/components/data-grid.spec.ts
  cypress/integration/e2e/components/date-picker.spec.ts
  cypress/integration/e2e/components/disclosure.spec.ts
  cypress/integration/e2e/components/display-pill-group.spec.ts
  cypress/integration/e2e/components/form-pill-group.spec.ts
  cypress/integration/e2e/components/heading.spec.ts
  cypress/integration/e2e/components/help-text.spec.ts
  cypress/integration/e2e/components/input.spec.ts
  cypress/integration/e2e/components/label.spec.ts
  cypress/integration/e2e/components/list.spec.ts
  cypress/integration/e2e/components/menu.spec.ts
  cypress/integration/e2e/components/modal.spec.ts
  cypress/integration/e2e/components/pagination.spec.ts
  cypress/integration/e2e/components/paragraph.spec.ts
  cypress/integration/e2e/components/popover.spec.ts
  cypress/integration/e2e/components/radio-group.spec.ts
  cypress/integration/e2e/components/screen-reader-only.spec.ts
  cypress/integration/e2e/components/select.spec.ts
  cypress/integration/e2e/components/separator.spec.ts
  cypress/integration/e2e/components/skeleton-loader.spec.ts
  cypress/integration/e2e/components/spinner.spec.ts
  cypress/integration/e2e/components/table.spec.ts
  cypress/integration/e2e/components/tabs.spec.ts
  cypress/integration/e2e/components/textarea.spec.ts
  cypress/integration/e2e/components/time-picker.spec.ts
  cypress/integration/e2e/components/toast.spec.ts
  cypress/integration/e2e/components/tooltip.spec.ts
  cypress/integration/e2e/components/truncate.spec.ts
  cypress/support/parent-commands.ts
  tools/utils/cypress-test-generators/TEMPLATE.js
Labels: Area: Infrastructure, Type: Tests

chore(cypress): pin cypress at 8.4.0
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/support/child-commands.ts
  package.json
  packages/paste-core/components/combobox/package.json
  tools/build/esbuild.js
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Infrastructure, Type: Tests

chore(cypress): update workflow to use parallel
  .github/workflows/on_pull_request.yml
  package.json
Labels: Area: Repo, Area: Infrastructure

chore(cypress): update navigationt test flakiness
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/support/child-commands.ts
  cypress/support/parent-commands.ts
Labels: Type: Tests

chore(cypress): add wait for required fetch for sidebar
  cypress/integration/sidebar-navigation/index.spec.ts
Labels: Type: Tests

chore(cypress): fix scroll to top for changelog
  .github/workflows/on_pull_request.yml
  cypress/support/parent-commands.ts
  package.json
Labels: Area: Repo, Area: Infrastructure, Type: Tests

fix(package.json): tsc echo message should be wrapped in quotes
  package.json
Labels: Area: Repo

chore(cypress): add job to pre-build website and set node v
  .github/workflows/on_pull_request.yml
  cypress.json
Labels: Area: Repo, Area: Infrastructure

fix(package.json): tsc echo message should be wrapped in quotes (#2071)
  package.json
Labels: Area: Repo

fix: typo in runCmd command description
  tools/utils/runCmd.js
Labels: Area: Infrastructure

fix: typo in runCmd command description (#2072)
  tools/utils/runCmd.js
Labels: Area: Infrastructure

chore: log build errors to help debug intermittant issue
  tools/build/esbuild.js
Labels: Area: Infrastructure

chore: log build errors to help debug intermittant issue (#2035)
  tools/build/esbuild.js
Labels: Area: Infrastructure

fix(website): roadmap ToC improvements (#2069)
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsAnchor.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
Labels: Area: Doc Site

fix: page description
  packages/paste-website/src/pages/core/changing-theme.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): add changing the theme page (#2064)
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/core/changing-theme.mdx
Labels: Area: Doc Site, Type: Documentation

fix: move should-forward-prop dependency to styling package
  package.json
  packages/paste-libraries/styling/package.json
  yarn.lock
Labels: Area: Repo

feat(callout-update): add storybook stories / vrt support for callout
  packages/paste-website/stories/callout.stories.tsx
Labels: Area: Doc Site

feat(callout-update): update callout component UI
  packages/paste-website/src/components/callout/index.tsx
  packages/paste-website/src/pages/libraries/uid-library/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
Labels: Area: Doc Site, Type: Documentation
