Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

chore(applitools): revert on batch naming strategy
  .github/workflows/on_pull_request.yml
  cypress/support/utils/applitools.ts
  cypress/tsconfig.json
Labels: Area: Infrastructure, Type: Tests

chore(applitools): revise batch naming
  .github/workflows/on_pull_request.yml
  cypress/support/utils/applitools.ts
Labels: Area: Infrastructure, Type: Tests

chore(applitools): fix to Cypress env var reading
  cypress/support/utils/applitools.ts
Labels: Type: Tests

Chore/applitools (#2243)
  applitools.config.js
  cypress/integration/token-list/index.spec.ts
  cypress/support/utils/applitools.ts
Labels: Area: Repo, Type: Tests

chore(chromatic): add chromatic delay to data-viz to allow load
  packages/paste-libraries/data-visualization/stories/index.stories.tsx
Labels: none

chore(website): fix combobox example typo
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: type errors
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/toast/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

fix(alert): use title for i18n status labels
  .changeset/hungry-clocks-count.md
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/alert/src/index.tsx
Labels: Area: Components, Type: Tests

fix(toast): use title for i18n status labels
  .changeset/chilly-insects-smell.md
  packages/paste-core/components/toast/__tests__/index.spec.tsx
  packages/paste-core/components/toast/src/Toast.tsx
Labels: Area: Components, Type: Tests

chore: remove ts-ignore
  packages/paste-core/components/data-grid/src/DataGridHeaderSort.tsx
Labels: Area: Components

feat(datagrid): add i18n props to support i18n
  .changeset/itchy-lions-switch.md
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/src/DataGridHeaderSort.tsx
  packages/paste-core/components/data-grid/stories/components/I18nDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/constants.ts
  packages/paste-core/components/data-grid/stories/index.stories.tsx
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

chore(chromatic): bump delay to 1s to ensure 500ms animation is complete
  packages/paste-libraries/data-visualization/stories/index.stories.tsx
Labels: none

feat(Data Grid): add i18n props (#2263)
  .changeset/chilly-insects-smell.md
  .changeset/hungry-clocks-count.md
  .changeset/itchy-lions-switch.md
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/src/DataGridHeaderSort.tsx
  packages/paste-core/components/data-grid/stories/components/I18nDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/constants.ts
  packages/paste-core/components/data-grid/stories/index.stories.tsx
  packages/paste-core/components/toast/__tests__/index.spec.tsx
  packages/paste-core/components/toast/src/Toast.tsx
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

chore(chromatic): add chromatic delay to data-viz to allow load (#2265)
  packages/paste-libraries/data-visualization/stories/index.stories.tsx
Labels: none

fix: custom plugin to fix esbuild esm imports
  .changeset/two-teachers-count.md
  package.json
  tools/build/__fixtures__/random_package/src/index.tsx
  tools/build/__tests__/__snapshots__/compiledImports.test.ts.snap
  tools/build/__tests__/compiledImports.test.ts
  tools/build/build-plugins/EsmExternals.js
  tools/build/build-plugins/PasteCJSResolver.js
  tools/build/esbuild.js
  tools/build/pre-build.js
  tools/build/token-usage-detector.ts
  tools/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: Area: Repo, Area: Infrastructure, Type: Tests

fix: do you work now?
  tools/build/build-plugins/EsmExternals.js
  tools/build/build-plugins/PasteCJSResolver.js
  tools/build/esbuild.js
Labels: Area: Infrastructure

fix: snapshots
  tools/build/__tests__/__snapshots__/compiledImports.test.ts.snap
Labels: Area: Infrastructure, Type: Tests

fix(dark-mode-scroll): set background color on scrolling element
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Labels: Area: Doc Site

fix(dark-mode-scroll): update zIndicies for proper layering w/ new bg
  packages/paste-website/src/components/SlantedBackgroundGradient.tsx
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/homepage/Popular.tsx
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Labels: Area: Doc Site

feat: finish pattern
  packages/paste-website/src/assets/images/patterns/filter-custom-date.png
  packages/paste-website/src/assets/images/patterns/filter-default-state.png
  packages/paste-website/src/assets/images/patterns/filter-empty-state.png
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site, Type: Documentation

fix: copy fixes
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add filter group pattern page
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: try organisig again
  tools/build/esbuild.js
  tools/build/plugins/EsmExternals.js
  tools/build/plugins/PasteCJSResolver.js
Labels: Area: Infrastructure

fix: custom plugin to fix esbuild esm imports (#2269)
  .changeset/two-teachers-count.md
  package.json
  tools/build/__fixtures__/random_package/src/index.tsx
  tools/build/__tests__/__snapshots__/compiledImports.test.ts.snap
  tools/build/__tests__/compiledImports.test.ts
  tools/build/esbuild.js
  tools/build/plugins/EsmExternals.js
  tools/build/plugins/PasteCJSResolver.js
  tools/build/pre-build.js
  tools/build/token-usage-detector.ts
  tools/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: Area: Repo, Area: Infrastructure, Type: Tests

feat: remove hardcoded string
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
Labels: Area: Components, Type: Tests

chore: add changeset
  .changeset/cuddly-students-agree.md
Labels: none

fix(dark-mode-scroll): set background color on scrolling element (#2273)
  packages/paste-website/src/components/SlantedBackgroundGradient.tsx
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/homepage/Popular.tsx
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Labels: Area: Doc Site

feat(label): add i18nRequiredLabel prop
  .changeset/cuddly-students-agree.md
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
  packages/paste-website/src/pages/components/label/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

feat(inline-control-group): pass i18nRequiredLabel to the legend
  packages/paste-core/components/inline-control-group/__tests__/inlineControlGroup.test.tsx
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
Labels: Area: Components, Type: Tests

feat(checkbox): add i18nRequiredLabel prop to CheckboxGroup
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/checkbox/src/CheckboxGroup.tsx
  packages/paste-website/src/pages/components/checkbox/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

feat(radio): add i18nRequiredLabel prop to RadioGroup
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/radio-group/src/RadioGroup.tsx
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

chore: add changeset
  .changeset/great-fans-decide.md
Labels: none

chore: add padding to last img
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add i18n examples to site
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

chore(applitools-landing): add vrt to landing page; update config
  applitools.config.js
  cypress/integration/landing-page/index.spec.ts
Labels: Area: Repo, Type: Tests

chore(commitlint): update commitlint
  package.json
  yarn.lock
Labels: Area: Repo

chore(website): fix combobox example typo (#2268)
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(radio group page): conflicting id between heading and examples (#2205)
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
Labels: Area: Doc Site

fix: correct date img
  packages/paste-website/src/assets/images/patterns/filter-custom-date.png
Labels: Area: Doc Site

fix: link on create pattern page
  packages/paste-website/src/pages/patterns/create/index.mdx
Labels: Area: Doc Site, Type: Documentation
