Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

chore(paste-design-tokens): add console theme tokens
  packages/paste-design-tokens/tokens/themes/console/global/text-color.yml
Labels: Area: Tokens

chore(paste-design-tokens): add changeset
  .changeset/three-teachers-give.md
Labels: none

feat(icons): add connectivity icons
  packages/paste-icons/src/ConnectivityAvailableIcon.tsx
  packages/paste-icons/src/ConnectivityBusyIcon.tsx
  packages/paste-icons/src/ConnectivityOfflineIcon.tsx
  packages/paste-icons/src/ConnectivityUnavailableIcon.tsx
  packages/paste-icons/svg/ConnectivityAvailable.svg
  packages/paste-icons/svg/ConnectivityBusy.svg
  packages/paste-icons/svg/ConnectivityOffline.svg
  packages/paste-icons/svg/ConnectivityUnavailable.svg
Labels: none

chore(tokens): update changeset
  .changeset/three-teachers-give.md
Labels: none

feat(icons): add changeset for new icons
  .changeset/serious-timers-run.md
Labels: none

feat(paste-icons): update build list
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
Labels: none

feat(website): add to website
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(website): remove unneeded icons
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
Labels: Area: Doc Site

docs(website): add data-grid docs
  packages/paste-website/src/component-examples/DataGridExamples.ts
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(snapshots): udpate snapshots
  .changeset/serious-timers-run.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Tokens, Type: Tests

feat(tokens, icons): add content for connectivity status pattern (#1911)
  .changeset/serious-timers-run.md
  .changeset/three-teachers-give.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ConnectivityAvailableIcon.tsx
  packages/paste-icons/src/ConnectivityBusyIcon.tsx
  packages/paste-icons/src/ConnectivityOfflineIcon.tsx
  packages/paste-icons/src/ConnectivityUnavailableIcon.tsx
  packages/paste-icons/svg/ConnectivityAvailable.svg
  packages/paste-icons/svg/ConnectivityBusy.svg
  packages/paste-icons/svg/ConnectivityOffline.svg
  packages/paste-icons/svg/ConnectivityUnavailable.svg
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Area: Tokens, Type: Documentation, Type: Tests

docs(website): add data-grid docs (#1914)
  packages/paste-website/src/component-examples/DataGridExamples.ts
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(select): remove label, helptext prop tables
  packages/paste-website/src/pages/components/select/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(select): link label/helptext components
  packages/paste-website/src/pages/components/select/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: link to label, helptext components
  packages/paste-website/src/pages/components/input/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: remove label/helptext prop tables
  packages/paste-website/src/pages/components/input/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(datepicker): remove extra prop tables
  packages/paste-website/src/pages/components/date-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(textarea): remove extra prop tables
  packages/paste-website/src/pages/components/textarea/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(datepicker): fixed wording
  packages/paste-website/src/pages/components/date-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(timepicker): remove extra prop tables
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: switched to md links
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: fix links
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: create changeset
  .changeset/dirty-bulldogs-eat.md
Labels: none

chore: removed changeset
  .changeset/dirty-bulldogs-eat.md
Labels: none

docs(customization): add package docs and theme creation guide
  netlify.toml
  packages/paste-customization/package.json
  packages/paste-website/src/components/page-components/customization/customization-provider/AccessibilityCallout.tsx
  packages/paste-website/src/components/page-components/customization/customization-provider/CustomThemeKeyList.tsx
  packages/paste-website/src/components/page-components/customization/customization-provider/FontCallout.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/customization/composing-custom-components-with-design-tokens.mdx
  packages/paste-website/src/pages/customization/creating-a-custom-theme.mdx
  packages/paste-website/src/pages/customization/customization-provider.mdx
  packages/paste-website/src/pages/customization/customizing-component-elements.mdx
  packages/paste-website/src/pages/customization/paste-for-programmable-apps.mdx
Labels: Area: Repo, Area: Doc Site, Type: Documentation

docs: remove duplicate Label, Help Text prop tables (#1912)
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(alert): fix type
  packages/paste-core/components/alert/src/index.tsx
Labels: Area: Components

feat(alert): add customization
  .changeset/neat-countries-live.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/alert/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(alert): refactor test
  packages/paste-core/components/alert/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

feat(alert): refactor tests
  packages/paste-core/components/alert/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

fix(theme-designer): color picker icon and title swap
  packages/paste-theme-designer/components/token-option/ColorTokenInput.tsx
Labels: none

feat(alert): add customization (#1907)
  .changeset/neat-countries-live.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/alert/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix(theme-designer): color picker icon and title swap
  packages/paste-theme-designer/components/token-option/ColorTokenInput.tsx
Labels: none

fix(theme-designer): color picker icon and title swap
  packages/paste-theme-designer/components/token-option/ColorTokenInput.tsx
Labels: none

feat: Improved roadmap view and fixed TOC scroll tracking (#1876)
  packages/paste-website/gatsby-config.js
  packages/paste-website/gatsby-node.js
  packages/paste-website/src/components/Roadmap.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/Roadmap/constants.ts
  packages/paste-website/src/components/Roadmap/index.ts
  packages/paste-website/src/components/Roadmap/types.ts
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/styles.ts
  packages/paste-website/src/pages/roadmap/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: add keyboard interaction notes
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/tooltip/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): add keyboard interaction notes (#1924)
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/tooltip/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(popover): add customization and tests
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/popover/src/PopoverButton.tsx
  packages/paste-core/components/popover/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(popover): fix tests
  packages/paste-core/components/popover/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

feat(popover): changeset for customization
  .changeset/warm-readers-decide.md
Labels: none
