Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

feat(menu): customization
  packages/paste-core/components/menu/src/MenuItem.tsx
Labels: Area: Components

feat(menu): customization
  packages/paste-core/components/menu/src/Menu.tsx
  packages/paste-core/components/menu/src/MenuButton.tsx
  packages/paste-core/components/menu/src/MenuGroup.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/MenuSeparator.tsx
  packages/paste-core/components/menu/src/SubMenuButton.tsx
  packages/paste-core/components/menu/src/constants.ts
  packages/paste-core/components/menu/src/types.ts
Labels: Area: Components

feat(menu): add stories
  packages/paste-core/components/menu/src/SubMenuButton.tsx
  packages/paste-core/components/menu/stories/customization.stories.tsx
Labels: Area: Components

feat(menu): cleanup
  packages/paste-core/components/menu/src/MenuGroup.tsx
Labels: Area: Components

feat(menu): tests
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/menu/__tests__/mocks.ts
  packages/paste-core/components/menu/src/Menu.tsx
  packages/paste-core/components/menu/src/MenuGroup.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/MenuSeparator.tsx
  packages/paste-core/components/menu/src/SubMenuButton.tsx
  packages/paste-core/components/menu/src/constants.ts
  packages/paste-core/components/menu/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

feat(menu): add changeset
  .changeset/tender-kids-brush.md
Labels: none

feat(menu): fix mocks in menu tests
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/menu/__tests__/mocks.ts
  packages/paste-core/components/menu/src/index.tsx
  packages/paste-core/components/menu/src/useMenuState.ts
Labels: Area: Components, Type: Tests

feat(menu): fix tests
  package.json
  packages/paste-core/components/menu/src/SubMenuButton.tsx
  packages/paste-core/components/menu/stories/customization.stories.tsx
Labels: Area: Repo, Area: Components

feat(modal): customizaiton
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/src/ModalBody.tsx
  packages/paste-core/components/modal/src/ModalFooter.tsx
  packages/paste-core/components/modal/src/ModalFooterActions.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/modal/src/ModalHeading.tsx
Labels: Area: Components

feat(modal): iterate on element names
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/src/ModalBody.tsx
  packages/paste-core/components/modal/src/ModalFooter.tsx
  packages/paste-core/components/modal/src/ModalFooterActions.tsx
Labels: Area: Components

feat(modal): add base story
  packages/paste-core/components/modal/stories/customization.stories.tsx
Labels: Area: Components

feat(modal): small cleanup
  packages/paste-core/components/modal/src/Modal.tsx
Labels: Area: Components

feat(modal): finish stories
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/stories/customization.stories.tsx
Labels: Area: Components

feat(modal): remove conditional for prop types
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/src/ModalBody.tsx
  packages/paste-core/components/modal/src/ModalFooter.tsx
  packages/paste-core/components/modal/src/ModalFooterActions.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/modal/src/ModalHeading.tsx
Labels: Area: Components

feat(modal): add changeset
  .changeset/clean-planets-provide.md
Labels: none

feat(modal): add unit tests for customization
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

feat(modal): add missing proptype for element
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/src/ModalBody.tsx
  packages/paste-core/components/modal/src/ModalFooter.tsx
  packages/paste-core/components/modal/src/ModalFooterActions.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/modal/src/ModalHeading.tsx
Labels: Area: Components

feat(modal): customization story cleanup
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

feat(modal): oops forgot matchers
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
Labels: Area: Components, Type: Tests

feat(menu): remove test script
  package.json
Labels: Area: Repo

feat(modal): add comment about jest mock
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
Labels: Area: Components, Type: Tests

feat(modal): customization (#1903)
  .changeset/clean-planets-provide.md
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/src/ModalBody.tsx
  packages/paste-core/components/modal/src/ModalFooter.tsx
  packages/paste-core/components/modal/src/ModalFooterActions.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/modal/src/ModalHeading.tsx
  packages/paste-core/components/modal/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

feat(utils): add @twilio-paste/utils package
  .changeset/warm-clouds-yawn.md
  packages/paste-utils/build.js
  packages/paste-utils/package.json
  packages/paste-utils/src/hooks/useMergeRefs.ts
  packages/paste-utils/src/hooks/useMutationObservable.ts
  packages/paste-utils/src/index.ts
  packages/paste-utils/tsconfig.json
  yarn.lock
Labels: Area: Repo

chore(types): adding typings for 2 lodash packages
  .changeset/thick-bobcats-ring.md
  packages/paste-types/package.json
  yarn.lock
Labels: Area: Repo

chore(table): improve typing on Th
  .changeset/many-boxes-flow.md
  packages/paste-core/components/table/src/Th.tsx
Labels: Area: Components

feat(design-tokens): added shadow-focus-inset token
  .changeset/cool-yaks-rule.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/box-shadow.yml
Labels: Area: Tokens, Type: Tests

feat(icons): adding UnsortedIcon
  .changeset/stupid-moles-eat.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/UnsortedIcon.tsx
  packages/paste-icons/svg/Unsorted.svg
Labels: none

chore(inline-control-group): fix responsive fieldset browser bug
  .changeset/thick-seahorses-try.md
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
Labels: Area: Components

chore(skeleton-loader): minor perf improvement
  .changeset/flat-forks-end.md
  packages/paste-core/components/skeleton-loader/src/index.tsx
Labels: Area: Components

chore(inline-control-group): fix responsive fieldset browser bug
  .changeset/thick-seahorses-try.md
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
Labels: Area: Components

feat(icons): adding UnsortedIcon
  .changeset/stupid-moles-eat.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/UnsortedIcon.tsx
  packages/paste-icons/svg/Unsorted.svg
Labels: none

feat(utils): add @twilio-paste/utils package
  .changeset/warm-clouds-yawn.md
  packages/paste-utils/build.js
  packages/paste-utils/package.json
  packages/paste-utils/src/hooks/useMergeRefs.ts
  packages/paste-utils/src/hooks/useMutationObservable.ts
  packages/paste-utils/src/index.ts
  packages/paste-utils/tsconfig.json
  yarn.lock
Labels: Area: Repo

chore(skeleton-loader): minor perf improvement
  .changeset/flat-forks-end.md
  packages/paste-core/components/skeleton-loader/src/index.tsx
Labels: Area: Components

feat(design-tokens): added shadow-focus-inset token
  .changeset/cool-yaks-rule.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/box-shadow.yml
Labels: Area: Tokens, Type: Tests

chore(table): improve typing on Th
  .changeset/many-boxes-flow.md
  packages/paste-core/components/table/src/Th.tsx
Labels: Area: Components

chore(types): adding typings for 2 lodash packages
  .changeset/thick-bobcats-ring.md
  packages/paste-types/package.json
  yarn.lock
Labels: Area: Repo

feat(menu): add customization
  .changeset/tender-kids-brush.md
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/menu/src/Menu.tsx
  packages/paste-core/components/menu/src/MenuButton.tsx
  packages/paste-core/components/menu/src/MenuGroup.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/MenuSeparator.tsx
  packages/paste-core/components/menu/src/SubMenuButton.tsx
  packages/paste-core/components/menu/src/index.tsx
  packages/paste-core/components/menu/src/types.ts
  packages/paste-core/components/menu/src/useMenuState.ts
  packages/paste-core/components/menu/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

chore(paste-design-tokens): add icon text color available
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens

chore(paste-design-tokens): add tokens for dark theme
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens

feat(paste-design-tokens): add default tokens for statuses
  packages/paste-design-tokens/tokens/global/text-color.yml
Labels: Area: Tokens
