Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

test(tooltip): put ts-errorexpect in original spot
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
Labels: Area: Components

test(tooltip): improve tests
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/components/tooltip/src/index.tsx
Labels: Area: Components

chore(tooltip): add story
  packages/paste-core/components/tooltip/stories/index.stories.tsx
Labels: Area: Components

feat(tooltip): allow customization
  .changeset/clean-lemons-joke.md
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/components/tooltip/src/TooltipArrow.tsx
  packages/paste-core/components/tooltip/src/index.tsx
  packages/paste-core/components/tooltip/stories/index.stories.tsx
Labels: Area: Components

chore(tooltip): adjust element type
  packages/paste-core/components/tooltip/src/index.tsx
Labels: Area: Components

test(tooltip): improve tests
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/components/tooltip/src/index.tsx
Labels: Area: Components

test(tooltip): put ts-errorexpect in original spot
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
Labels: Area: Components

test(tooltip): added back ts-expect-error
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
Labels: Area: Components

feat(button): add element customization
  .changeset/stupid-icons-remember.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/__tests__/customization.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

chore(alert): update snapshots
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
Labels: Area: Components, Type: Tests

feat(base-radio-checkbox): add element customization
  .changeset/olive-lamps-sort.md
  packages/paste-core/components/base-radio-checkbox/__tests__/base-radio-checkbox.test.tsx
  packages/paste-core/components/base-radio-checkbox/src/BaseRadioCheckbox.tsx
Labels: Area: Components, Type: Tests

chore(alert): update snapshots
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
Labels: Area: Components, Type: Tests

feat(button): add element customization
  .changeset/stupid-icons-remember.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/__tests__/customization.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

feat(base-radio-checkbox): add element customization
  .changeset/olive-lamps-sort.md
  packages/paste-core/components/base-radio-checkbox/__tests__/base-radio-checkbox.test.tsx
  packages/paste-core/components/base-radio-checkbox/src/BaseRadioCheckbox.tsx
Labels: Area: Components, Type: Tests

chore(input-box): remove duplicated suffix in element string
  .changeset/empty-spiders-rest.md
  packages/paste-core/components/input-box/__tests__/input-chevron-wrapper.test.tsx
  packages/paste-core/components/input-box/src/InputChevronWrapper.tsx
Labels: Area: Components, Type: Tests

chore(combobox): remove duplicated suffix in element string
  .changeset/empty-spiders-rest.md
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

chore(input-box): remove duplicated suffix in element string
  .changeset/empty-spiders-rest.md
  packages/paste-core/components/input-box/__tests__/input-chevron-wrapper.test.tsx
  packages/paste-core/components/input-box/src/InputChevronWrapper.tsx
Labels: Area: Components, Type: Tests

chore(combobox): remove duplicated suffix in element string
  .changeset/empty-spiders-rest.md
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

feat(spinner): add element for customization
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components

feat(spinner): pr feedback
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components

feat(spinner): add changeset
  .changeset/nasty-olives-burn.md
Labels: none

feat(spinner): add node development env proptypes conditional
  packages/paste-core/components/spinner/src/index.tsx
Labels: Area: Components

feat(spinner): add unit tests
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat: customization landing page content checkpoint
  packages/paste-website/src/assets/illustrations/customization_interactive_slider.svg
  packages/paste-website/src/assets/illustrations/customization_interactive_slider_small.svg
  packages/paste-website/src/assets/illustrations/customization_why_paste.svg
  packages/paste-website/src/assets/illustrations/customization_why_paste_small.svg
  packages/paste-website/src/components/customization-landing-page/FlexCard.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageHero.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageLayoutUtils.tsx
  packages/paste-website/src/components/customization-landing-page/LikeTwilio.tsx
  packages/paste-website/src/components/customization-landing-page/ProgrammableVideoCard.tsx
  packages/paste-website/src/components/customization-landing-page/ProjectCard.tsx
  packages/paste-website/src/components/customization-landing-page/ReactCard.tsx
  packages/paste-website/src/components/customization-landing-page/ReadyToGetStarted.tsx
  packages/paste-website/src/components/customization-landing-page/ReasonBlock.tsx
  packages/paste-website/src/components/customization-landing-page/WhyPaste.tsx
  packages/paste-website/src/components/customization-landing-page/WorksGreatWith.tsx
  packages/paste-website/src/components/icons/A11yIcon.tsx
  packages/paste-website/src/components/icons/CustomizableIcon.tsx
  packages/paste-website/src/components/icons/ThemableIcon.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/customization/index.tsx
  packages/paste-website/src/pages/customization/paste-for-programmable-apps.mdx
Labels: Area: Doc Site, Type: Documentation

feat(spinner): pr feedback
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-core/components/spinner/src/index.tsx
Labels: Area: Components, Type: Tests

chore(spinner): add element customization (#1894)
  .changeset/nasty-olives-burn.md
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(breadcrumbs): add unit tests and stories for customization
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/breadcrumb/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(breadcrumbs): add element to breadcrumb commponents
  packages/paste-core/components/breadcrumb/src/index.tsx
Labels: Area: Components

feat(breadcrumb): update stories
  .changeset/tame-dingos-exercise.md
  packages/paste-core/components/breadcrumb/src/index.tsx
  packages/paste-core/components/breadcrumb/stories/index.stories.tsx
Labels: Area: Components

feat(breadcrumb): update naming conventions
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/breadcrumb/src/index.tsx
  packages/paste-core/components/breadcrumb/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(breadcrumb): some PR feedback
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
Labels: Area: Components, Type: Tests

feat(breadcrumb): pr feedback
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/breadcrumb/src/index.tsx
Labels: Area: Components, Type: Tests

feat(breadcrumb): fix changeset typo
  .changeset/tame-dingos-exercise.md
Labels: none

feat(breadcrumb): add element customization (#1895)
  .changeset/tame-dingos-exercise.md
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/breadcrumb/src/index.tsx
  packages/paste-core/components/breadcrumb/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore(minification): test preserving function names
  packages/paste-core/core-bundle/tools/minify.js
Labels: Area: Core bundle

chore(minification): add back lost commit
  packages/paste-core/core-bundle/tools/minify.js
  tools/build/esbuild.js
Labels: Area: Core bundle, Area: Infrastructure

feat(website): mini theme designer
  packages/paste-website/package.json
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/ColorTokenInput.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerContext.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerControls.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerPreview.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/TextToken.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/UnitTokenInput.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/index.tsx
  packages/paste-website/stories/CustomizationLandingPage.stories.tsx
  packages/paste-website/tsconfig.json
Labels: Area: Doc Site

fix(theme-designer): color picker icon and title swap
  packages/paste-theme-designer/components/token-option/ColorTokenInput.tsx
Labels: none

feat(combobox): add element customization
  .changeset/angry-lemons-fetch.md
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/ComboboxItems.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListbox.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxGroup.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxOption.tsx
  packages/paste-core/components/combobox/src/types.ts
  packages/paste-core/components/combobox/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

feat(combobox): add element customization (#1897)
  .changeset/angry-lemons-fetch.md
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/ComboboxItems.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListbox.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxGroup.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxOption.tsx
  packages/paste-core/components/combobox/src/types.ts
  packages/paste-core/components/combobox/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
