Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

chore: add changeset
  .changeset/olive-wolves-invite.md
Labels: none

chore(menu, primitives): add missing displayNames
  packages/paste-core/components/menu/stories/index.stories.tsx
  packages/paste-core/primitives/menu/stories/index.stories.tsx
Labels: Area: Primitives, Area: Components

chore(modal): ignore displayNames rule in test
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
Labels: Area: Components, Type: Tests

chore(badge): ignore displayNames rule in hooks
  packages/paste-core/components/badge/src/hooks.tsx
Labels: Area: Components

chore(spinner): ignore displayNames rule in test
  packages/paste-core/components/spinner/__tests__/index.test.tsx
Labels: Area: Components, Type: Tests

chore: ignore display-name in test
  packages/paste-core/components/alert-dialog/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
Labels: Area: Components, Type: Tests

feat: add react/display-name ESLint rule (#1925)
  .changeset/olive-wolves-invite.md
  .eslintrc.js
  packages/paste-core/components/alert-dialog/__tests__/customization.spec.tsx
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxInputSelect.tsx
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/input/src/Input.tsx
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/menu/src/Menu.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/MenuSeparator.tsx
  packages/paste-core/components/menu/stories/index.stories.tsx
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/popover/src/PopoverContainer.tsx
  packages/paste-core/components/radio-group/src/Radio.tsx
  packages/paste-core/components/select/src/Select.tsx
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/tooltip/src/index.tsx
  packages/paste-core/primitives/menu/stories/index.stories.tsx
  packages/paste-theme-designer/.eslintrc.json
  packages/paste-theme/__tests__/useThemeContrastCheck.spec.tsx
  packages/paste-website/.eslintrc
Labels: Area: Repo, Area: Primitives, Area: Components, Area: Doc Site, Area: Theme, Type: Tests

chore: add babel parser dep
  .jest/transform-esm.js
  .jest/transform-typescript.js
  babel.config.js
  package.json
  yarn.lock
Labels: Area: Repo, Area: Infrastructure

feat(badge): add ability to customize element
  .changeset/shy-zebras-rest.md
  packages/paste-core/components/badge/__tests__/customization.spec.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

chore(website): restore pagination changelog
  packages/paste-website/src/pages/components/pagination/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(icons): add alarms, text format, event streams and unsorted icons
  .changeset/tender-teachers-visit.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductAlarmsIcon.tsx
  packages/paste-icons/src/ProductEventStreamsIcon.tsx
  packages/paste-icons/src/TextFormatIcon.tsx
  packages/paste-icons/src/UnsortedIcon.tsx
  packages/paste-icons/svg/ProductAlarms.svg
  packages/paste-icons/svg/ProductEventStreams.svg
  packages/paste-icons/svg/TextFormat.svg
  packages/paste-icons/svg/Unsorted.svg
Labels: none

fix(website): update design tips and tricks link
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(badge): add ability to customize element
  .changeset/shy-zebras-rest.md
  packages/paste-core/components/badge/__tests__/customization.spec.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

chore(website): restore pagination changelog
  packages/paste-website/src/pages/components/pagination/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: add babel parser dep
  .jest/transform-esm.js
  .jest/transform-typescript.js
  babel.config.js
  package.json
  yarn.lock
Labels: Area: Repo, Area: Infrastructure

fix: add last PR suggestions
  packages/paste-website/src/pages/icons/how-to-add-an-icon/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: pr feedback for sticker sheet addition
  packages/paste-website/src/pages/icons/how-to-add-an-icon/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: add back icons self service guide
  packages/paste-website/src/pages/icons/how-to-add-an-icon/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(website): update the theme-color meta tag for safari (#1949)
  packages/paste-website/gatsby-config.js
Labels: Area: Doc Site

fix: update css to remove ScrollAnchorIntoView
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
Labels: Area: Doc Site

fix: delete ScrollAnchorIntoView
  packages/paste-website/src/components/site-wrapper/ScrollAnchorIntoView.tsx
Labels: Area: Doc Site

chore: remove comment;
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Labels: Area: Doc Site

fix: correct scrollspy rootEl
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Labels: Area: Doc Site

chore: updated comments
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Labels: Area: Doc Site

fix: fix header height on safari
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
Labels: Area: Doc Site

fix: cypress force clicks
  cypress/integration/e2e/sidebar-navigation/index.spec.ts
Labels: Type: Tests

fix: made styled component a box
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Labels: Area: Doc Site

fix(website): remove ScrollAnchorIntoView (#1956)
  cypress/integration/e2e/sidebar-navigation/index.spec.ts
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/site-wrapper/ScrollAnchorIntoView.tsx
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
Labels: Area: Doc Site, Type: Tests

docs: switch programmable video card and layout updates
  packages/paste-website/src/assets/illustrations/DoodleBurst.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopArrow.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopArrowLarge.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopMedium.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopTiny.tsx
  packages/paste-website/src/components/customization-landing-page/ComingSoonCard.tsx
  packages/paste-website/src/components/customization-landing-page/FlexCard.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerControls.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/index.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageHero.tsx
  packages/paste-website/src/components/customization-landing-page/LikeTwilio.tsx
  packages/paste-website/src/components/customization-landing-page/ProjectCard.tsx
  packages/paste-website/src/components/customization-landing-page/ReactCard.tsx
  packages/paste-website/src/components/customization-landing-page/ReadyToGetStarted.tsx
  packages/paste-website/src/components/customization-landing-page/WhyPaste.tsx
  packages/paste-website/src/components/customization-landing-page/WorksGreatWith.tsx
Labels: Area: Doc Site

docs: switch programmable video card and layout updates
  packages/paste-website/src/assets/illustrations/DoodleBurst.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopArrow.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopArrowLarge.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopMedium.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopTiny.tsx
  packages/paste-website/src/components/customization-landing-page/ComingSoonCard.tsx
  packages/paste-website/src/components/customization-landing-page/FlexCard.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerControls.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/index.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageHero.tsx
  packages/paste-website/src/components/customization-landing-page/LikeTwilio.tsx
  packages/paste-website/src/components/customization-landing-page/ProjectCard.tsx
  packages/paste-website/src/components/customization-landing-page/ReactCard.tsx
  packages/paste-website/src/components/customization-landing-page/ReadyToGetStarted.tsx
  packages/paste-website/src/components/customization-landing-page/WhyPaste.tsx
  packages/paste-website/src/components/customization-landing-page/WorksGreatWith.tsx
Labels: Area: Doc Site

feat(icons): add alarms, text format, event streams and unsorted icons (#1957)
  .changeset/tender-teachers-visit.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductAlarmsIcon.tsx
  packages/paste-icons/src/ProductEventStreamsIcon.tsx
  packages/paste-icons/src/TextFormatIcon.tsx
  packages/paste-icons/src/UnsortedIcon.tsx
  packages/paste-icons/svg/ProductAlarms.svg
  packages/paste-icons/svg/ProductEventStreams.svg
  packages/paste-icons/svg/TextFormat.svg
  packages/paste-icons/svg/Unsorted.svg
Labels: none

fix(website): update design tips and tricks link (#1958)
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(yarn3): lock eslint related deps, add eslintignore rules
  .eslintignore
  package.json
  yarn.lock
Labels: Area: Repo

chore(yarn3): run yarn migration
  .yarn/releases/yarn-3.0.2.cjs
  .yarnrc
  .yarnrc.yml
  package.json
Labels: Area: Repo

chore(yarn3): yarn3 update, gitignore update
  .gitignore
  packages/paste-codemods/package.json
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Repo, Area: Doc Site

chore(yarn3): update scripts to account for lack of prescript hooks
  package.json
  packages/paste-icons/package.json
Labels: Area: Repo

chore(yarn3): remove glob in lint script so lint gets the right files
  package.json
Labels: Area: Repo

chore(yarn3): update deprecated yarn flag
  .github/workflows/cypress.yml
  .github/workflows/publish.yml
  .github/workflows/pull_request.yml
  .github/workflows/vrt_main.yml
  .github/workflows/vrt_pull_request.yml
  now-build.sh
Labels: Area: Repo, Area: Infrastructure

chore(yarn3): update netlify-cli and add to projects, remove old script
  package.json
  packages/paste-theme-designer/package.json
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Repo, Area: Doc Site

chore: netlify build from config, get cypress running
  package.json
  packages/paste-theme-designer/netlify.toml
  packages/paste-website/netlify.toml
Labels: Area: Repo, Area: Doc Site
