Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

test(jest): update missing rule in data-grid tests
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

docs(website): add icon variant info to button page
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(button): add icon specific variants
  .changeset/little-meals-thank.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveIconButton.tsx
  packages/paste-core/components/button/src/PrimaryIconButton.tsx
  packages/paste-core/components/button/src/SecondaryIconButton.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat: update toc styles
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/styles.ts
  packages/paste-website/src/constants.ts
  packages/paste-website/stories/table-of-contents.stories.tsx
Labels: Area: Doc Site

feat: renamed files, new TableOfContentsAnchor component
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsAnchor.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsList.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/types.ts
Labels: Area: Doc Site

feat: add default story
  packages/paste-website/src/components/shortcodes/table-of-contents/types.ts
  packages/paste-website/stories/table-of-contents.stories.tsx
Labels: Area: Doc Site

fix: anchor width
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsAnchor.tsx
Labels: Area: Doc Site

test(jest): add more details later
  .eslintrc.js
  package.json
  packages/paste-core/components/alert-dialog/__tests__/index.spec.tsx
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/combobox/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/textarea/__tests__/textarea.test.tsx
  packages/paste-core/components/toast/__tests__/index.spec.tsx
  packages/paste-core/components/toast/__tests__/toaster.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/__tests__/index.test.tsx
  tsconfig.eslint.json
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Tokens, Type: Tests

chore(tests): remove addition that is not needed
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

fix: point color-text-warning token to orange-70
  packages/paste-design-tokens/tokens/global/text-color.yml
Labels: Area: Tokens

chore: add changeset
  .changeset/gentle-seas-promise.md
Labels: none

fix: improve types, remove useTheme
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

feat(button): add icon-specific variants (#2013)
  .changeset/little-meals-thank.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveIconButton.tsx
  packages/paste-core/components/button/src/PrimaryIconButton.tsx
  packages/paste-core/components/button/src/SecondaryIconButton.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

chore: upgrade esbuild
  package.json
  tools/build/esbuild.js
  yarn.lock
Labels: Area: Repo, Area: Infrastructure

feat(website): update TableOfContents styles (#2042)
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsAnchor.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsList.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/styles.ts
  packages/paste-website/src/components/shortcodes/table-of-contents/types.ts
  packages/paste-website/src/constants.ts
  packages/paste-website/stories/table-of-contents.stories.tsx
Labels: Area: Doc Site

chore: fix changeset to minor
  .changeset/gentle-seas-promise.md
Labels: none

chore(website): generalize template and add layout tests
  cypress/integration/e2e/layout/aspect-ratio.spec.ts
  cypress/integration/e2e/layout/flex.spec.ts
  cypress/integration/e2e/layout/grid.spec.ts
  cypress/integration/e2e/layout/media-object.spec.ts
  cypress/integration/e2e/layout/stack.spec.ts
  tools/utils/cypress-test-generators/TEMPLATE.js
  tools/utils/cypress-test-generators/createCypressTestSpec.js
Labels: Area: Infrastructure, Type: Tests

chore(website): add primitive tests
  cypress/integration/e2e/primitives/box.spec.ts
  cypress/integration/e2e/primitives/combobox-primitive.spec.ts
  cypress/integration/e2e/primitives/disclosure-primitive.spec.ts
  cypress/integration/e2e/primitives/menu-primitive.spec.ts
  cypress/integration/e2e/primitives/modal-dialog-primitive.spec.ts
  cypress/integration/e2e/primitives/non-modal-dialog-primitive.spec.ts
  cypress/integration/e2e/primitives/tabs-primitive.spec.ts
  cypress/integration/e2e/primitives/text.spec.ts
  cypress/integration/e2e/primitives/tooltip-primitive.spec.ts
Labels: Type: Tests

chore(website): add baseline tests for patterns
  cypress/integration/e2e/patterns/button-vs-anchor.spec.ts
  cypress/integration/e2e/patterns/contribute.spec.ts
  cypress/integration/e2e/patterns/create.spec.ts
  cypress/integration/e2e/patterns/data-export.spec.ts
  cypress/integration/e2e/patterns/delete.spec.ts
  cypress/integration/e2e/patterns/empty-states.spec.ts
  cypress/integration/e2e/patterns/notifications-and-feedback.spec.ts
  cypress/integration/e2e/patterns/object-details.spec.ts
  cypress/integration/e2e/patterns/status.spec.ts
Labels: Type: Tests

chore(website): use template to add baseline tests for patterns, layout components, and primitives (#2053)
  cypress/integration/e2e/layout/aspect-ratio.spec.ts
  cypress/integration/e2e/layout/flex.spec.ts
  cypress/integration/e2e/layout/grid.spec.ts
  cypress/integration/e2e/layout/media-object.spec.ts
  cypress/integration/e2e/layout/stack.spec.ts
  cypress/integration/e2e/patterns/button-vs-anchor.spec.ts
  cypress/integration/e2e/patterns/contribute.spec.ts
  cypress/integration/e2e/patterns/create.spec.ts
  cypress/integration/e2e/patterns/data-export.spec.ts
  cypress/integration/e2e/patterns/delete.spec.ts
  cypress/integration/e2e/patterns/empty-states.spec.ts
  cypress/integration/e2e/patterns/notifications-and-feedback.spec.ts
  cypress/integration/e2e/patterns/object-details.spec.ts
  cypress/integration/e2e/patterns/status.spec.ts
  cypress/integration/e2e/primitives/box.spec.ts
  cypress/integration/e2e/primitives/combobox-primitive.spec.ts
  cypress/integration/e2e/primitives/disclosure-primitive.spec.ts
  cypress/integration/e2e/primitives/menu-primitive.spec.ts
  cypress/integration/e2e/primitives/modal-dialog-primitive.spec.ts
  cypress/integration/e2e/primitives/non-modal-dialog-primitive.spec.ts
  cypress/integration/e2e/primitives/tabs-primitive.spec.ts
  cypress/integration/e2e/primitives/text.spec.ts
  cypress/integration/e2e/primitives/tooltip-primitive.spec.ts
  tools/utils/cypress-test-generators/TEMPLATE.js
  tools/utils/cypress-test-generators/createCypressTestSpec.js
Labels: Area: Infrastructure, Type: Tests

feat: first draft new header
  packages/paste-website/src/components/component-status/PeerReviewStatus.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/components/shortcodes/pattern-header/index.tsx
Labels: Area: Doc Site

chore: update component pages to new props
  packages/paste-website/src/pages/components/alert-dialog/index.mdx
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/avatar/index.mdx
  packages/paste-website/src/pages/components/badge/index.mdx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/data-grid/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/disclosure/index.mdx
  packages/paste-website/src/pages/components/display-pill-group/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/paragraph/index.mdx
  packages/paste-website/src/pages/components/popover/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/screen-reader-only/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/separator/index.mdx
  packages/paste-website/src/pages/components/skeleton-loader/index.mdx
  packages/paste-website/src/pages/components/spinner/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/components/tooltip/index.mdx
  packages/paste-website/src/pages/components/truncate/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: update rest of pages to new props
  packages/paste-website/src/pages/core/index.mdx
  packages/paste-website/src/pages/customization/customization-provider.mdx
  packages/paste-website/src/pages/layout/aspect-ratio/index.mdx
  packages/paste-website/src/pages/layout/flex/index.mdx
  packages/paste-website/src/pages/layout/grid/index.mdx
  packages/paste-website/src/pages/layout/media-object/index.mdx
  packages/paste-website/src/pages/layout/stack/index.mdx
  packages/paste-website/src/pages/libraries/codemods/index.mdx
  packages/paste-website/src/pages/libraries/uid-library/index.mdx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/disclosure-primitive/index.mdx
  packages/paste-website/src/pages/primitives/menu-primitive/index.mdx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/non-modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/tabs-primitive/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
  packages/paste-website/src/pages/primitives/tooltip-primitive/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
  packages/paste-website/src/pages/tokens/theme-package/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: fix find/replace errors
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/pages/layout/aspect-ratio/index.mdx
  packages/paste-website/src/pages/layout/flex/index.mdx
  packages/paste-website/src/pages/layout/grid/index.mdx
  packages/paste-website/src/pages/layout/media-object/index.mdx
  packages/paste-website/src/pages/layout/stack/index.mdx
  packages/paste-website/src/pages/libraries/codemods/index.mdx
  packages/paste-website/src/pages/libraries/uid-library/index.mdx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/disclosure-primitive/index.mdx
  packages/paste-website/src/pages/primitives/menu-primitive/index.mdx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/non-modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/tabs-primitive/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
  packages/paste-website/src/pages/primitives/tooltip-primitive/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
  packages/paste-website/src/pages/tokens/theme-package/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: remove old code
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

chore: rename story
  packages/paste-website/stories/ComponentHeader.stories.tsx
Labels: Area: Doc Site

feat: add github, storybook icons
  packages/paste-website/src/components/icons/StorybookIcon.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

feat: add componentheader stories
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/stories/ComponentHeader.stories.tsx
Labels: Area: Doc Site

feat: popover on status, fix badge styles
  packages/paste-website/src/components/component-status/PeerReviewStatus.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

feat: update patterns header
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/pattern-header/index.tsx
  packages/paste-website/src/pages/patterns/button-vs-anchor/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/data-export/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: codemods fix
  packages/paste-website/src/pages/libraries/codemods/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: heading padding
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

fix: link styles, margin
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

feat: add badgepopover component
  packages/paste-website/src/components/badgePopover/BadgePopover.tsx
  packages/paste-website/src/components/badgePopover/BadgePopoverButton.tsx
  packages/paste-website/src/components/badgePopover/BadgePopoverContainer.tsx
  packages/paste-website/src/components/badgePopover/BadgePopoverContext.tsx
  packages/paste-website/src/components/badgePopover/index.tsx
Labels: Area: Doc Site

feat: use badgepopover, add status description constants
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/constants.ts
Labels: Area: Doc Site

feat: fix pattern headers, paths
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalize-pattern-header/index.tsx
  packages/paste-website/src/pages/patterns/button-vs-anchor/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/data-export/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site, Type: Documentation

fix: design review fixes
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalize-component-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalize-pattern-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site

fix: description fontsize
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

fix: add maxwidth to description
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

chore: rename status -> packageStatus
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalize-component-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site
