Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

chore(website): update breadcrumb for routing
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): update breadcrumb for routing
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(breadcrumb): spread props to Anchor or Text
  .changeset/afraid-dancers-confess.md
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/breadcrumb/src/index.tsx
Labels: Area: Components, Type: Tests

feat(design-tokens): add data visualization color tokens
  .changeset/pink-monkeys-agree.md
  packages/paste-design-tokens/tokens/global/palette-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/palette-color.yml
Labels: Area: Tokens

feat(theme): expose dataVisualization tokens category on theme object
  .changeset/old-books-worry.md
  packages/paste-theme/src/generateThemeFromTokens.ts
  packages/paste-theme/src/themes/console/index.ts
  packages/paste-theme/src/themes/dark/index.ts
  packages/paste-theme/src/themes/default/index.ts
  packages/paste-theme/src/themes/sendgrid/index.ts
  packages/paste-theme/src/types/GenericThemeShape.ts
  packages/paste-theme/src/useTheme.tsx
Labels: Area: Theme

chore(style-props): change import to import type
  .changeset/strange-mangos-tie.md
  packages/paste-style-props/src/types/background.ts
  packages/paste-style-props/src/types/flexbox.ts
  packages/paste-style-props/src/types/layout.ts
  packages/paste-style-props/src/types/position.ts
  packages/paste-style-props/src/types/shadow.ts
  packages/paste-style-props/src/types/space.ts
Labels: none

feat(color-contrast-utils): add data visualization checker and tests
  .changeset/fast-trees-call.md
  packages/paste-color-contrast-utils/__fixtures__/tokensWithExtraPairings.raw.json
  packages/paste-color-contrast-utils/__tests__/colorContrastPairingUtils.spec.ts
  packages/paste-color-contrast-utils/__tests__/themeContrast.spec.ts
  packages/paste-color-contrast-utils/src/utils.ts
Labels: Type: Tests

chore: checkpoint code to test color contrast
  packages/paste-color-contrast-utils/src/utils.ts
  packages/paste-design-tokens/types/index.ts
Labels: Area: Tokens

fix(design-tokens): check data-visualization tokens w/ backgroundBody
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/palette-color.yml
  packages/paste-theme/__tests__/__snapshots__/generateThemeFromTokens.spec.ts.snap
  packages/paste-theme/__tests__/__snapshots__/themes.spec.ts.snap
  packages/paste-theme/__tests__/generateThemeFromTokens.spec.ts
  packages/paste-theme/src/generateTokensFromTheme.ts
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerContext.tsx
Labels: Area: Doc Site, Area: Theme, Area: Tokens, Type: Tests

chore(website): determine threshold for layout and tweak config
  cypress.json
  cypress/integration/token-list/index.spec.ts
  cypress/support/utils/applitools.ts
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Repo, Area: Doc Site, Type: Documentation, Type: Tests

chore: update esbuild and bump target browsers to 2019 versions
  package.json
  tools/build/esbuild.js
  yarn.lock
Labels: Area: Repo, Area: Infrastructure

feat(theme): add dataVisualization tokens to theme object (#2093)
  .changeset/fast-trees-call.md
  .changeset/old-books-worry.md
  .changeset/pink-monkeys-agree.md
  .changeset/strange-mangos-tie.md
  packages/paste-color-contrast-utils/__fixtures__/tokensWithExtraPairings.raw.json
  packages/paste-color-contrast-utils/__tests__/colorContrastPairingUtils.spec.ts
  packages/paste-color-contrast-utils/__tests__/themeContrast.spec.ts
  packages/paste-color-contrast-utils/src/utils.ts
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/palette-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/palette-color.yml
  packages/paste-design-tokens/types/index.ts
  packages/paste-style-props/src/types/background.ts
  packages/paste-style-props/src/types/flexbox.ts
  packages/paste-style-props/src/types/layout.ts
  packages/paste-style-props/src/types/position.ts
  packages/paste-style-props/src/types/shadow.ts
  packages/paste-style-props/src/types/space.ts
  packages/paste-theme/__tests__/__snapshots__/generateThemeFromTokens.spec.ts.snap
  packages/paste-theme/__tests__/__snapshots__/themes.spec.ts.snap
  packages/paste-theme/__tests__/generateThemeFromTokens.spec.ts
  packages/paste-theme/src/generateThemeFromTokens.ts
  packages/paste-theme/src/generateTokensFromTheme.ts
  packages/paste-theme/src/themes/console/index.ts
  packages/paste-theme/src/themes/dark/index.ts
  packages/paste-theme/src/themes/default/index.ts
  packages/paste-theme/src/themes/sendgrid/index.ts
  packages/paste-theme/src/types/GenericThemeShape.ts
  packages/paste-theme/src/useTheme.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerContext.tsx
Labels: Area: Doc Site, Area: Theme, Area: Tokens, Type: Tests

fix(badge): simplify children type (#2156)
  .changeset/tidy-feet-wash.md
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/types.ts
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

chore: replace a derecated recommended vs code extension
  .vscode/extensions.json
Labels: Area: Infrastructure

chore: replace a derecated recommended vs code extension
  .vscode/extensions.json
Labels: Area: Infrastructure

feat: starting to remove console theme
  packages/paste-design-tokens/tokens/themes/console/aliases/border-radius.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/border-width.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/color.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/font-family.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/font-size.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/font-weight.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/offset.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/sizing.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/spacing.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/z-index.yml
  packages/paste-design-tokens/tokens/themes/console/global/background-color-deprecated.yml
  packages/paste-design-tokens/tokens/themes/console/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/border-color-deprecated.yml
  packages/paste-design-tokens/tokens/themes/console/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/border-radius.yml
  packages/paste-design-tokens/tokens/themes/console/global/border-width.yml
  packages/paste-design-tokens/tokens/themes/console/global/box-shadow-deprecated.yml
  packages/paste-design-tokens/tokens/themes/console/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/console/global/font-family.yml
  packages/paste-design-tokens/tokens/themes/console/global/font-size.yml
  packages/paste-design-tokens/tokens/themes/console/global/font-weight.yml
  packages/paste-design-tokens/tokens/themes/console/global/index.yml
  packages/paste-design-tokens/tokens/themes/console/global/line-height.yml
  packages/paste-design-tokens/tokens/themes/console/global/palette-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/sizing.yml
  packages/paste-design-tokens/tokens/themes/console/global/spacing.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color-deprecated.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/z-index.yml
  packages/paste-design-tokens/tokens/themes/console/sketch.yml
  packages/paste-design-tokens/tokens/themes/console/tokens.yml
  packages/paste-theme/src/constants.ts
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/src/themes/console/index.ts
  packages/paste-theme/src/utils/isDeprecatedTheme.ts
Labels: Area: Theme, Area: Tokens

fix: made all storybook examples controlled
  packages/paste-core/components/checkbox/stories/checkbox.stories.tsx
Labels: Area: Components

chore: add changeset
  .changeset/fifty-shirts-know.md
Labels: none

fix: hide icon when not checked
  packages/paste-core/components/checkbox/src/Checkbox.tsx
Labels: Area: Components

fix: all disabled stories controlled
  packages/paste-core/components/checkbox/stories/checkbox.stories.tsx
Labels: Area: Components

fix: add icon style test
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
Labels: Area: Components, Type: Tests

fix: remove hidden prop from icon
  packages/paste-core/components/checkbox/src/Checkbox.tsx
Labels: Area: Components

test(website): cleanup and update config
  cypress.json
  cypress/integration/token-list/index.spec.ts
  cypress/support/utils/applitools.ts
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Repo, Area: Doc Site, Type: Documentation, Type: Tests

chore(website): add back most actions to workflow
  .github/workflows/on_pull_request.yml
Labels: Area: Infrastructure

chore(website): pull in upstream changes
  .github/workflows/on_pull_request.yml
Labels: Area: Infrastructure

fix: update tests
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/__tests__/index.test.tsx
  packages/paste-theme/__tests__/__snapshots__/themes.spec.ts.snap
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-theme/__tests__/themes.spec.ts
Labels: Area: Theme, Area: Tokens, Type: Tests

fix: remove console exports
  packages/paste-theme/src/constants.ts
  packages/paste-theme/src/index.tsx
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/src/themes/index.ts
  packages/paste-theme/src/types/themes.ts
  packages/paste-theme/src/utils/isDeprecatedTheme.ts
Labels: Area: Theme

chore: add changeset
  .changeset/cold-scissors-hunt.md
  packages/paste-theme/src/themeProvider.tsx
Labels: Area: Theme

chore: better changelog
  .changeset/cold-scissors-hunt.md
Labels: none

chore: only query patterns with docs
  packages/paste-website/src/components/site-wrapper/index.tsx
Labels: Area: Doc Site

chore: only query patterns with docs
  packages/paste-website/src/components/site-wrapper/index.tsx
Labels: Area: Doc Site

chore(website): start to set up applitools eyes
  @types/index.d.ts
  cypress/integration/e2e/components/overview-page.spec.ts
  cypress/support/index.js
  cypress/support/parent-commands.ts
  cypress/support/utils/index.ts
  cypress/support/utils/openTwilioEyes.ts
  cypress/tsconfig.json
  package.json
  tsconfig.json
  yarn.lock
Labels: Area: Repo, Type: Tests

chore(website): add comment about context
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/e2e/components/overview-page.spec.ts
  cypress/integration/token-list/index.spec.ts
  cypress/plugins/index.js
  cypress/support/commands/@types/index.d.ts
  cypress/support/commands/parent-commands.ts
  cypress/support/utils/applitools.ts
  package.json
  yarn.lock
Labels: Area: Repo, Type: Tests

chore(website): commands for applitools added to tokens page
  .github/workflows/on_pull_request.yml
  .gitignore
  applitools.config.js
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/e2e/components/overview-page.spec.ts
  cypress/integration/token-list/index.spec.ts
  cypress/plugins/index.js
  cypress/support/commands/@types/index.d.ts
  cypress/support/commands/child-commands.ts
  cypress/support/commands/dual-commands.ts
  cypress/support/commands/index.ts
  cypress/support/commands/override-commands.ts
  cypress/support/commands/parent-commands.ts
  cypress/support/index.js
  cypress/support/utils/applitools.ts
  cypress/support/utils/index.ts
  cypress/support/utils/openTwilioEyes.ts
  cypress/tsconfig.json
  package.json
  tsconfig.json
Labels: Area: Repo, Area: Infrastructure, Type: Tests

chore(website): determine threshold for layout and tweak config
  cypress/integration/token-list/index.spec.ts
  cypress/support/utils/applitools.ts
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Doc Site, Type: Documentation, Type: Tests

chore(website): update gh action for applitools
  .github/workflows/on_pull_request.yml
  applitools.config.js
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/token-list/index.spec.ts
  cypress/plugins/index.js
  cypress/support/utils/applitools.ts
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Repo, Area: Doc Site, Area: Infrastructure, Type: Documentation, Type: Tests

chore(website): test diff
  cypress.json
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Repo, Area: Doc Site, Type: Documentation

chore(website): test style change
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): update branch
  .github/workflows/on_pull_request.yml
  cypress/integration/token-list/index.spec.ts
  cypress/support/utils/applitools.ts
Labels: Area: Infrastructure, Type: Tests

chore(website): test content change
  cypress/integration/token-list/index.spec.ts
  cypress/integration/token-list/original.spec.ts
  cypress/support/utils/applitools.ts
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/tokens/index.mdx
Labels: Area: Doc Site, Type: Documentation, Type: Tests
