Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

test(website): block google analytics requests in cypress test (#2014)
  cypress.json
Labels: Area: Repo

fix(popover): remove popovercontainer Box wrapper (#2011)
  .changeset/stale-guests-repeat.md
  packages/paste-core/components/popover/src/PopoverContainer.tsx
Labels: Area: Components

fix(website): broken roadmap link (#2012)
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
Labels: Area: Doc Site, Type: Tests

fix: typo in prerelease script in ci
  .github/workflows/on_merge_to_main.yml
Labels: Area: Infrastructure

fix: typo in prerelease script in ci (#2016)
  .github/workflows/on_merge_to_main.yml
Labels: Area: Infrastructure

feat: show customization on docsite nav
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/homepage/NewComponentBanner.tsx
  packages/paste-website/src/components/homepage/NewComponentBannerBadge.tsx
  packages/paste-website/src/components/homepage/NewComponentBannerLink.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site

feat: show customization on docsite nav
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/homepage/NewComponentBanner.tsx
  packages/paste-website/src/components/homepage/NewComponentBannerBadge.tsx
  packages/paste-website/src/components/homepage/NewComponentBannerLink.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site

fix(pill-group): fix how pill groups wrap
  .changeset/hungry-cows-attack.md
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
  packages/paste-core/components/display-pill-group/stories/index.stories.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
Labels: Area: Components

fix(theme): correctly disable animations on mount
  .changeset/stupid-buttons-teach.md
  packages/paste-customization/src/CustomizationProvider.tsx
  packages/paste-theme/src/themeProvider.tsx
Labels: Area: Theme

fix(theme): correctly disable animations on mount (#2021)
  .changeset/stupid-buttons-teach.md
  packages/paste-customization/src/CustomizationProvider.tsx
  packages/paste-theme/src/themeProvider.tsx
Labels: Area: Theme

fix(pill-group): fix how pill groups wrap (#2020)
  .changeset/hungry-cows-attack.md
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
  packages/paste-core/components/display-pill-group/stories/index.stories.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
Labels: Area: Components

chore(website): add spec for components overview page
  cypress/integration/e2e/components/overview-page.spec.ts
  cypress/integration/e2e/layout/overview-page.spec.ts
  cypress/integration/e2e/patterns/overview-page.spec.ts
  cypress/integration/e2e/primitives/overview-page.spec.ts
  cypress/integration/link-checker/index.spec.ts
  cypress/integration/opengraph/index.spec.ts
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/integration/token-list/index.spec.ts
  cypress/integration/types.ts
  cypress/support/commands.js
  cypress/support/commands.ts
Labels: Type: Tests

chore(cypress): pull in roadmap branch
  cypress/integration/e2e/components/overview-page.spec.ts
  cypress/integration/e2e/layout/overview-page.spec.ts
  cypress/integration/e2e/patterns/overview-page.spec.ts
  cypress/integration/e2e/primitives/overview-page.spec.ts
  cypress/integration/e2e/roadmap-page.spec.ts
  cypress/integration/types.ts
  cypress/support/commands.ts
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
Labels: Area: Components, Area: Doc Site, Type: Tests

chore(packages): use test render from testing-library
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/select/__tests__/optiongroup.test.tsx
  packages/paste-core/components/select/__tests__/select.test.tsx
Labels: Area: Components, Type: Tests

chore(cypress): add tests for overview pages (#2008)
  cypress/integration/e2e/components/overview-page.spec.ts
  cypress/integration/e2e/layout/overview-page.spec.ts
  cypress/integration/e2e/patterns/overview-page.spec.ts
  cypress/integration/e2e/primitives/overview-page.spec.ts
  cypress/integration/e2e/roadmap-page.spec.ts
  cypress/integration/link-checker/index.spec.ts
  cypress/integration/opengraph/index.spec.ts
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/integration/token-list/index.spec.ts
  cypress/support/commands.js
  cypress/support/commands.ts
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/select/__tests__/optiongroup.test.tsx
  packages/paste-core/components/select/__tests__/select.test.tsx
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
Labels: Area: Components, Area: Doc Site, Type: Tests

fix(slider-select): add userSelect none
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
Labels: Area: Doc Site

fix(slider-select): add userSelect none
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
Labels: Area: Doc Site

fix: only prevent chromatic running on version PRs
  .github/workflows/on_merge_to_main.yml
Labels: Area: Infrastructure

feat(data-grid): add textAlign prop to DataGridCell
  .changeset/eight-cars-breathe.md
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/stories/components/PlainDataGrid.tsx
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

feat(data-grid): add textAlign prop to DataGridCell
  .changeset/eight-cars-breathe.md
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/stories/components/PlainDataGrid.tsx
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation

fix: only prevent chromatic running on version PRs
  .github/workflows/on_merge_to_main.yml
Labels: Area: Infrastructure

fix(package.json): tsc echo message should be wrapped in quotes
  package.json
Labels: Area: Repo

fix: typo in runCmd command description
  tools/utils/runCmd.js
Labels: Area: Infrastructure

Merge pull request #2026 from twilio-labs/changeset-release/main
  .changeset/eight-cars-breathe.md
  .changeset/hungry-cows-attack.md
  .changeset/stupid-buttons-teach.md
  packages/paste-core/components/data-grid/CHANGELOG.md
  packages/paste-core/components/data-grid/package.json
  packages/paste-core/components/display-pill-group/CHANGELOG.md
  packages/paste-core/components/display-pill-group/package.json
  packages/paste-core/components/form-pill-group/CHANGELOG.md
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/core-bundle/CHANGELOG.md
  packages/paste-core/core-bundle/package.json
  packages/paste-customization/CHANGELOG.md
  packages/paste-customization/package.json
  packages/paste-theme/CHANGELOG.md
  packages/paste-theme/package.json
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Core bundle, Area: Theme

debugging
  tools/build/pre-test.js
  tools/utils/updatePackageCache.js
Labels: Area: Infrastructure

chore(testing): jest stuff
  .jest/setupFilesAfterEnv.js
  jest.config.js
  package.json
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/data-grid/__tests__/cell-management.spec.ts
  packages/paste-core/components/data-grid/__tests__/customization.spec.tsx
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/__tests__/reakit-hasFocus.spec.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/combobox/__tests__/useMultiSelectPrimitive.test.tsx
  tools/build/pre-test.js
  tools/jest.config.js
  tools/utils/updatePackageCache.js
  yarn.lock
Labels: Area: Repo, Area: Primitives, Area: Components, Area: Infrastructure, Type: Tests

test(jest): trying with data-grid tests commented out
  packages/paste-core/components/data-grid/__tests__/cell-management.spec.ts
  packages/paste-core/components/data-grid/__tests__/customization.spec.tsx
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/__tests__/reakit-hasFocus.spec.tsx
Labels: Area: Components, Type: Tests

fix(website): component import codeblock missing quotes
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

test(jest): testing changes
  .github/workflows/on_pull_request.yml
  package.json
Labels: Area: Repo, Area: Infrastructure

fix(website): component import codeblock missing quotes (#2046)
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

test(jest): revert workflow, change script
  .github/workflows/on_pull_request.yml
  package.json
Labels: Area: Repo, Area: Infrastructure

fix: pass ref correctly when focusable
  packages/paste-core/components/badge/src/index.tsx
Labels: Area: Components

fix: reference to ref
  packages/paste-core/components/badge/src/hooks.tsx
Labels: Area: Components

fix: pass ref in wrapper
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
Labels: Area: Components

chore: add changeset
  .changeset/perfect-countries-speak.md
Labels: none

fix(badge): correctly pass refs to button and anchor elements
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/src/BadgeWrapper.tsx
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/styles.ts
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  packages/paste-core/components/badge/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore: remove console logs
  packages/paste-core/components/badge/stories/index.stories.tsx
Labels: Area: Components

chore: add core to changeset
  .changeset/perfect-countries-speak.md
Labels: none

test(badge): ref tests
  packages/paste-core/components/badge/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

fix: isFocusableElement
  packages/paste-core/components/badge/src/utils.ts
Labels: Area: Components

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
