Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

docs: update footer link
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterNav.tsx
Labels: Area: Doc Site

docs: init manual installation page
  packages/paste-website/src/components/homepage/GetStartedRunning.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterNav.tsx
  packages/paste-website/src/pages/getting-started/manual-installation/index.mdx
  packages/paste-website/src/pages/getting-started/quickstart/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs: add more quick start info
  packages/paste-website/src/pages/getting-started/quickstart/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: add redirect to netlify
  packages/paste-website/netlify.toml
Labels: Area: Doc Site

fix: last broken link
  packages/paste-website/src/pages/icons/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: fix typo
  packages/paste-website/src/pages/getting-started/quickstart/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: broken links
  netlify.toml
  packages/paste-website/src/pages/getting-started/manual-installation/index.mdx
Labels: Area: Repo, Area: Doc Site, Type: Documentation

fix: netlify redirect
  netlify.toml
  packages/paste-website/netlify.toml
Labels: Area: Repo, Area: Doc Site

docs(website): create quick start, manual installation pages (#1976)
  netlify.toml
  packages/paste-website/netlify.toml
  packages/paste-website/src/components/homepage/GetStartedRunning.tsx
  packages/paste-website/src/components/icons-list/IconCard.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterNav.tsx
  packages/paste-website/src/pages/getting-started/engineering/index.mdx
  packages/paste-website/src/pages/getting-started/manual-installation/index.mdx
  packages/paste-website/src/pages/getting-started/quickstart/index.mdx
  packages/paste-website/src/pages/icons/index.mdx
Labels: Area: Repo, Area: Doc Site, Type: Documentation

fix(website): remove duplicative github link (#1984)
  packages/paste-website/src/components/icons/GithubIcon.tsx
  packages/paste-website/src/components/site-wrapper/site-header/GithubLink.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
Labels: Area: Doc Site

fix(website): Remove unnecessary "please" from examples, clarify error text copy guidance (#1744)
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/getting-started/working-guide/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(codemods): update mappings for new Paste components
  .changeset/silly-maps-dream.md
  .gitignore
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-codemods/tools/create-package-mappings.js
  packages/paste-codemods/transforms/barreled-to-unbarreled.js
Labels: Area: Repo, Type: Tests

chore: ship an unminified dist file for debugging
  .changeset/hip-roses-pull.md
  .github/workflows/package-size.yml
  tools/build/esbuild.js
Labels: Area: Infrastructure

chore(website): add image slider base
  packages/paste-website/src/assets/images/customization/hero-back.png
  packages/paste-website/src/assets/images/customization/hero-front.png
  packages/paste-website/src/components/customization-landing-page/LandingPageHero.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/SVGThumb.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/constants.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/index.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/partials/ImageBox.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/partials/index.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/utils.ts
Labels: Area: Doc Site

chore(website): flip order of slider images
  packages/paste-website/src/components/customization-landing-page/LandingPageHero.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageBox.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/constants.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/partials/ImageBox.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/partials/index.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/utils.ts
Labels: Area: Doc Site

chore(website): improve defaults for maths
  packages/paste-website/src/components/customization-landing-page/LandingPageHero.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/SVGThumb.tsx
Labels: Area: Doc Site

chore(website): control visible image amount by transforming clip
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageBox.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/SVGThumb.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/utils.ts
Labels: Area: Doc Site

chore(website): remove svg ref in favor of abstract measurement
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/SVGThumb.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/constants.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/useSvgResize.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/utils.ts
Labels: Area: Doc Site

chore(website): use larger image for better resolution
  packages/paste-website/src/assets/images/customization/hero-back.png
  packages/paste-website/src/assets/images/customization/hero-front.png
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageBox.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/SVGThumb.tsx
Labels: Area: Doc Site

chore(website): pr feedback
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageBox.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/SVGThumb.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/utils.ts
Labels: Area: Doc Site

chore(website): fix transformation of the svg
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/SVGThumb.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/useSvgResize.ts
Labels: Area: Doc Site

chore: fixes
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/useSvgResize.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/utils.ts
Labels: Area: Doc Site

chore(website): use event listner for mouse up
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
Labels: Area: Doc Site

test: install modes with dirty local versions
  .github/workflows/cypress.yml
  .github/workflows/package-size.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/publish.yml
  .github/workflows/pull_request.yml
  .github/workflows/slack-notification.yml
  .github/workflows/vrt_main.yml
  .github/workflows/vrt_pull_request.yml
  packages/paste-color-contrast-utils/package.json
  packages/paste-customization/package.json
  packages/paste-icons/package.json
  packages/paste-style-props/package.json
  packages/paste-theme/package.json
  packages/paste-utils/package.json
Labels: Area: Theme, Area: Infrastructure

test: just try installing
  .github/workflows/pull_request.yml
Labels: Area: Infrastructure

test: set immutable to false?
  .github/workflows/pull_request.yml
Labels: Area: Infrastructure

chore(website): cleanup
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
Labels: Area: Doc Site

fix: package versioning script updating lockfiles
  .github/workflows/publish.yml
Labels: Area: Infrastructure

chore(website): update for codesandbox fail
  packages/paste-website/src/components/customization-landing-page/image-slider/SVGThumb.tsx
Labels: Area: Doc Site

chore(website): add customization interactive image slider (#1970)
  packages/paste-website/src/assets/images/customization/hero-back.png
  packages/paste-website/src/assets/images/customization/hero-front.png
  packages/paste-website/src/components/customization-landing-page/LandingPageHero.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageBox.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/SVGThumb.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/constants.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/index.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/useSvgResize.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/utils.ts
Labels: Area: Doc Site

fix: package versioning script updating lockfiles (#1992)
  .github/workflows/publish.yml
Labels: Area: Infrastructure

chore: revert website to 16
  package.json
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Repo, Area: Doc Site

feat: add test:react-16 script
  .gitignore
  jest.config.js
  package.json
  packages/paste-core/primitives/modal-dialog/package.json
  packages/paste-types/package.json
  yarn.lock
Labels: Area: Repo, Area: Primitives

fix: idk the yarnlock changed
  yarn.lock
Labels: Area: Repo

fix: updated paste-types peer dep
  packages/paste-types/package.json
Labels: none

chore: fixed yarnlock again
  yarn.lock
Labels: Area: Repo

fix: update test:tools-16 script
  package.json
Labels: Area: Repo

feat: test react-16 in github action
  .github/workflows/pull_request.yml
Labels: Area: Infrastructure

fix: add hot-reloader resolution
  package.json
Labels: Area: Repo

test: update snapshots, remove enzyme from button tests
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
Labels: Area: Components, Type: Tests
