Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

feat(website): update dark theme badge and faq
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadgeButton.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Labels: Area: Doc Site

fix(website): swap back to custom dark mode badge
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadgeButton.tsx
Labels: Area: Doc Site

fix(website): fix error in dark mode modal
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Labels: Area: Doc Site

fix(website): try Badge component again
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadgeButton.tsx
Labels: Area: Doc Site

fix(website): add spaces before Anchors and change heading size
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Labels: Area: Doc Site

fix(website): update icon in badge to be before text
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
Labels: Area: Doc Site

chore: linting and formatting
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Labels: Area: Doc Site

fix: make the button icon decorative
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
Labels: Area: Doc Site

chore(commitlint): update commitlint (#2276)
  package.json
  yarn.lock
Labels: Area: Repo

feat(label): remove hardcoded strings for i18n (#2274)
  .changeset/cuddly-students-agree.md
  .changeset/great-fans-decide.md
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/checkbox/src/CheckboxGroup.tsx
  packages/paste-core/components/inline-control-group/__tests__/inlineControlGroup.test.tsx
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/radio-group/src/RadioGroup.tsx
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Area: Components, Area: Doc Site, Type: Documentation, Type: Tests

fix: typos
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat(website): add filter group pattern page (#2270)
  packages/paste-website/src/assets/images/patterns/filter-custom-date.png
  packages/paste-website/src/assets/images/patterns/filter-default-state.png
  packages/paste-website/src/assets/images/patterns/filter-empty-state.png
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site, Type: Documentation

feat(website): update dark theme badge and faq (#2271)
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadgeButton.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Labels: Area: Doc Site

chore(applitools-landing): add vrt to landing page; update config (#2275)
  applitools.config.js
  cypress/integration/landing-page/index.spec.ts
Labels: Area: Repo, Type: Tests

chore(website): update table docs with data grid info
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(website): fix typos and add process icons to live preview
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(website): fix typo in data grid link
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add paste-theme-provider class
  packages/paste-theme/src/themeProvider.tsx
Labels: Area: Theme

feat: add i18n fontFamily aliases and tokens
  packages/paste-design-tokens/tokens/aliases/font-family.yml
  packages/paste-design-tokens/tokens/global/font-family.yml
Labels: Area: Tokens

feat: add font families based on html lang
  packages/paste-theme/src/styles/global.ts
Labels: Area: Theme

fix: set font to inherit
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowButton.tsx
  packages/paste-core/components/pagination/src/PaginationNumber.tsx
  packages/paste-core/components/select/src/Option.tsx
  packages/paste-core/components/select/src/OptionGroup.tsx
Labels: Area: Components

feat: add font family stories for VRT
  packages/paste-theme/stories/themeProvider.stories.tsx
Labels: Area: Theme

feat: add react-helmet to change lang
  package.json
  packages/paste-theme/package.json
  yarn.lock
Labels: Area: Repo, Area: Theme

chore(website): remove emoji from callout on Table docs page
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: update yarnlock
  yarn.lock
Labels: Area: Repo

fix: remove all english
  packages/paste-theme/stories/themeProvider.stories.tsx
Labels: Area: Theme

chore: add changeset
  .changeset/calm-badgers-double.md
  .changeset/clean-birds-carry.md
  .changeset/modern-turtles-unite.md
Labels: none

chore: update react-helmet
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Repo, Area: Doc Site

fix: remove extra selectors
  packages/paste-theme/src/styles/global.ts
Labels: Area: Theme

fix: rename aliases/tokens
  packages/paste-design-tokens/tokens/aliases/font-family.yml
  packages/paste-design-tokens/tokens/global/font-family.yml
Labels: Area: Tokens

chore: update snapshots
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Tokens, Type: Tests

chore(website): update table docs with data grid info (#2295)
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: remove transforms we do not need anymore
  .jest/transform-esm.js
  .jest/transform-typescript.js
Labels: Area: Infrastructure

chore: fix jest errors
  jest.config.js
  package.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/toast/__tests__/useToaster.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  tools/jest.config.js
  yarn.lock
Labels: Area: Repo, Area: Components, Area: Theme, Area: Infrastructure, Type: Tests

chore: try node 16 and not running jest in parallel
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_jest.yml
Labels: Area: Infrastructure

chore: job name
  .github/workflows/on_pull_request_jest.yml
Labels: Area: Infrastructure

chore: update testing lib and disclosure and tooltip tests
  package.json
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  yarn.lock
Labels: Area: Repo, Area: Components, Type: Tests

chore: try some better async test
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/menu/__tests__/index.spec.tsx
Labels: Area: Primitives, Area: Components, Type: Tests

chore: more test refactoring and trying maxworkers
  jest.config.js
  package.json
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/toast/__tests__/useToaster.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/menu/__tests__/index.spec.tsx
  packages/paste-website/src/utils/color-combos/__test__/index.spec.ts
  tools/utils/__tests__/runCmd.spec.js
Labels: Area: Repo, Area: Primitives, Area: Components, Area: Doc Site, Area: Infrastructure, Type: Tests

chore: remove enzyme and react-test-renderer
  .jest/resolver.js
  .jest/setupFilesAfterEnv.js
  .vscode/launch.json
  .vscode/settings.json
  jest.config.js
  package.json
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  yarn.lock
Labels: Area: Repo, Area: Primitives, Area: Components, Area: Doc Site, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
