Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*

fix: default imports for JSON for webpack 5 compatibility (#2107)
  .changeset/fluffy-beers-help.md
  packages/paste-color-contrast-utils/src/utils.ts
  packages/paste-color-contrast-utils/tsconfig.json
Labels: none

chore(cypress): site search beginnings
  cypress/helpers/interceptSearchRequests.ts
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/support/parent-commands.ts
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderSearch.tsx
Labels: Area: Doc Site, Type: Tests

chore(cypress): add spec for site search under integration
  cypress/integration/e2e/components/alert-dialog.spec.ts
  cypress/integration/site-search/index.spec.ts
  cypress/support/parent-commands.ts
Labels: Type: Tests

chore(website): clean up site search tests
  cypress.json
  cypress/fixtures/search.json
  cypress/helpers/interceptSearchRequests.ts
  cypress/integration/site-search/index.spec.ts
  cypress/support/index.js
  cypress/support/parent-commands.ts
  package.json
Labels: Area: Repo, Type: Tests

chore(website): cleanup and add jsdocs
  cypress/support/parent-commands.ts
Labels: Type: Tests

chore(website): simplify search tests until upgrade
  cypress/fixtures/search.json
  cypress/integration/site-search/index.spec.ts
Labels: Type: Tests

chore(website): work on flakey test
  cypress/integration/site-search/index.spec.ts
  cypress/support/parent-commands.ts
Labels: Type: Tests

chore(website): update url match for search to be more general
  cypress/integration/site-search/index.spec.ts
Labels: Type: Tests

chore(website): remove log spam
  cypress/integration/site-search/index.spec.ts
Labels: Type: Tests

chore(website): wait for hydration
  cypress/integration/site-search/index.spec.ts
  cypress/support/index.js
  packages/paste-website/gatsby-browser.js
Labels: Area: Doc Site, Type: Tests

chore(website): add some conditional retry cleanup
  cypress.json
  cypress/integration/site-search/index.spec.ts
Labels: Area: Repo, Type: Tests

chore(website): testing without route waits for json
  cypress/integration/site-search/index.spec.ts
Labels: Type: Tests

chore(website): remove custom command we dont need
  cypress/support/parent-commands.ts
Labels: Type: Tests

chore(website): remove experimental route
  cypress.json
Labels: Area: Repo

chore(website): remove unnecessary import
  cypress/support/index.js
Labels: Type: Tests

chore(website): add a random wait bc KCD did it
  cypress/integration/site-search/index.spec.ts
  cypress/support/index.js
  packages/paste-website/gatsby-browser.js
Labels: Area: Doc Site, Type: Tests

chore(website): trigger new run of chromatic
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderSearch.tsx
Labels: Area: Doc Site

chore(cypress): add spec for docs site search (#2060)
  cypress.json
  cypress/integration/site-search/index.spec.ts
  cypress/support/index.js
  package.json
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderSearch.tsx
Labels: Area: Repo, Area: Doc Site, Type: Tests

feat(heading): add display prop
  .changeset/serious-bulldogs-cheer.md
  packages/paste-core/components/heading/src/PropTypes.ts
  packages/paste-core/components/heading/src/index.tsx
  packages/paste-core/components/heading/src/types.ts
Labels: Area: Components

chore(website): change page section header link to icon
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/stories/AnchoredHeading.stories.tsx
Labels: Area: Doc Site, Type: Documentation

feat(heading): add display prop
  .changeset/serious-bulldogs-cheer.md
  packages/paste-core/components/heading/src/PropTypes.ts
  packages/paste-core/components/heading/src/index.tsx
  packages/paste-core/components/heading/src/types.ts
Labels: Area: Components

chore(website): change page section header link to icon
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/stories/AnchoredHeading.stories.tsx
Labels: Area: Doc Site, Type: Documentation

chore: add TestTheme and emotion style matchers as globals (#2105)
  .jest/@types/index.d.ts
  @types/index.d.ts
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/badge/__tests__/customization.spec.tsx
  packages/paste-core/components/base-radio-checkbox/__tests__/base-radio-checkbox.test.tsx
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/button/__tests__/customization.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  packages/paste-core/components/data-grid/__tests__/customization.spec.tsx
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/inline-control-group/__tests__/inlineControlGroup.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
  packages/paste-core/components/pagination/__tests__/customization.spec.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/select/__tests__/optiongroup.test.tsx
  packages/paste-core/components/select/__tests__/select.test.tsx
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/skeleton-loader/__tests__/index.spec.tsx
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/components/toast/__tests__/customization.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-icons/__test__/icons.spec.tsx
  tsconfig.json
Labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Infrastructure, Type: Tests

chore: remove references to console theme (#2095)
  .storybook/preview.js
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/card/__test__/card.test.tsx
  packages/paste-core/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/layout/flex/__tests__/flex.test.tsx
  packages/paste-core/primitives/box/__tests__/box.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
  packages/paste-theme/README.md
  packages/paste-theme/__tests__/themeConsumer.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-theme/__tests__/useTheme.spec.tsx
  packages/paste-theme/__tests__/withTheme.spec.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
  packages/paste-website/src/pages/getting-started/faqs/index.mdx
  packages/paste-website/src/pages/getting-started/manual-installation/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
  packages/paste-website/src/pages/tokens/theme-package/index.mdx
Labels: Area: Primitives, Area: Layout, Area: Components, Area: Doc Site, Area: Theme, Area: Storybook, Type: Documentation, Type: Tests

fix(airtable-update): update gastby ref to match updated airtable base
  packages/paste-website/gatsby-config.js
Labels: Area: Doc Site

fix(airtable-update): update graphql query to match updated airtable
  packages/paste-website/src/pages/roadmap/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(airtable-update): update gastby refs to match updated airtable (#2120)
  packages/paste-website/gatsby-config.js
  packages/paste-website/src/pages/roadmap/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(style-props-default-import): update root tsconfig for interop
  tsconfig.json
Labels: Area: Repo

fix(style-props-default-import): fix default import for webpack 5 compat
  packages/paste-style-props/src/constants.ts
  packages/paste-style-props/tsconfig.json
Labels: none

fix(style-props-default-import): minor version bump
  .changeset/pretty-turkeys-decide.md
Labels: none

Fix: update style props package default import for Webpack 5 (#2118)
  .changeset/pretty-turkeys-decide.md
  packages/paste-style-props/src/constants.ts
  packages/paste-style-props/tsconfig.json
  tsconfig.json
Labels: Area: Repo

chore: update roadmap table to use status pattern
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
Labels: Area: Doc Site

fix compile bug caused by react-router-dom update version of react-router-dom update index.tsx
  packages/paste-cra-template/template.json
  packages/paste-cra-template/template/src/index.tsx
Labels: none

test(combobox): help debugging
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
Labels: Area: Primitives, Area: Components

chore(website): update Patterns overview table
  packages/paste-website/src/pages/patterns/index.mdx
Labels: Area: Doc Site, Type: Documentation

style: remove contentwrapper and content tags
  packages/paste-website/src/pages/patterns/index.mdx
Labels: Area: Doc Site, Type: Documentation

style(components-overview-table): center Peer review column
  packages/paste-website/src/components/component-overview-table/index.tsx
Labels: Area: Doc Site

chore: add dateTimeRange examples to date/time picker pages
  packages/paste-website/src/component-examples/DatePickerExamples.ts
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: add dateTimeRange examples to date/time picker pages
  packages/paste-website/src/component-examples/DatePickerExamples.ts
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore: update roadmap table to use status pattern
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
Labels: Area: Doc Site
