Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

fix: pr feedback
  packages/paste-theme-designer/components/topbar/BetaModal.tsx
  packages/paste-theme-designer/pages/index.tsx
  packages/paste-theme-designer/public/og-card.png
  packages/paste-theme-designer/utils/SimpleStorage.ts
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site

feat(spinner): add new animated spinner
  .changeset/light-beans-speak.md
  .changeset/yellow-donuts-own.md
  packages/paste-core/components/spinner/src/v2/index.tsx
  packages/paste-core/components/spinner/src/v2/keyframes.tsx
  packages/paste-core/components/spinner/src/v2/styled.tsx
  packages/paste-core/components/spinner/stories/NewSpinner.stories.tsx
  packages/paste-libraries/styling/src/css-function/css.ts
Labels: Area: Components

feat(spinner): clean up types and iterate
  .changeset/yellow-donuts-own.md
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/src/v2/index.tsx
  packages/paste-core/components/spinner/src/v2/keyframes.tsx
  packages/paste-core/components/spinner/src/v2/styled.tsx
  packages/paste-core/components/spinner/src/v2/types.ts
  packages/paste-core/components/spinner/stories/NewSpinner.stories.tsx
  packages/paste-libraries/styling/src/css-function/css.ts
Labels: Area: Components

feat(spinner): stories for new spinner
  .changeset/yellow-donuts-own.md
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/src/v2/index.tsx
  packages/paste-core/components/spinner/src/v2/keyframes.tsx
  packages/paste-core/components/spinner/src/v2/styled.tsx
  packages/paste-core/components/spinner/stories/NewSpinner.stories.tsx
  packages/paste-libraries/styling/src/css-function/css.ts
Labels: Area: Components

feat(spinner): style spinner with currentColor and Box
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/src/keyframes.tsx
  packages/paste-core/components/spinner/src/styled.tsx
  packages/paste-core/components/spinner/src/v2/index.tsx
  packages/paste-core/components/spinner/src/v2/keyframes.tsx
  packages/paste-core/components/spinner/src/v2/styled.tsx
  packages/paste-core/components/spinner/src/v2/types.ts
  packages/paste-core/components/spinner/stories/NewSpinner.stories.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components

feat(spinner): final design pass
  packages/paste-core/components/spinner/src/constants.ts
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/src/keyframes.tsx
  packages/paste-core/components/spinner/src/styled.tsx
Labels: Area: Components

feat(spinner): tweak keyframes
  .changeset/light-beans-speak.md
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/src/keyframes.tsx
  packages/paste-core/components/spinner/src/styled.tsx
Labels: Area: Components

feat(spinner): ui feedback
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components

feat(spinner): update changeset description
  .changeset/light-beans-speak.md
Labels: none

feat(spinner): feedback on alignment
  packages/paste-core/components/spinner/src/constants.ts
  packages/paste-core/components/spinner/src/keyframes.tsx
  packages/paste-core/components/spinner/src/styled.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components

feat(spinner): add some comments about maths
  packages/paste-core/components/spinner/src/constants.ts
  packages/paste-core/components/spinner/src/keyframes.tsx
  packages/paste-core/components/spinner/src/styled.tsx
Labels: Area: Components

feat(spinner): add feedback
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/src/styled.tsx
Labels: Area: Components

feat(button): fix test
  .changeset/wet-actors-cross.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
Labels: Area: Components, Type: Tests

feat(spinner): moar feedback
  .changeset/wet-actors-cross.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
Labels: Area: Components, Type: Tests

feat(spinner): overlay for inital load
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components

feat(spinner): nit feedback
  packages/paste-core/components/spinner/src/constants.ts
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/src/styled.tsx
Labels: Area: Components

feat(spinner): add new animated spinner (#1858)
  .changeset/light-beans-speak.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/spinner/src/constants.ts
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/src/keyframes.tsx
  packages/paste-core/components/spinner/src/styled.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(label): add element customization
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/package.json
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
Labels: Area: Components, Type: Tests

chore(label): refactor required dot to work on its own
  packages/paste-core/components/label/src/Label.tsx
Labels: Area: Components

chore(label): changeset
  .changeset/short-eagles-beg.md
Labels: none

chore: light fixes
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
  packages/paste-core/components/label/src/index.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
Labels: Area: Components, Type: Tests

test(label): test required dot and required dot wrapper
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
Labels: Area: Components, Type: Tests

feat(label): add element customization (#1878)
  .changeset/short-eagles-beg.md
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/package.json
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
  packages/paste-core/components/label/src/index.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
Labels: Area: Components, Type: Tests

feat(pagination): add element customization (#1880)
  .changeset/four-suns-fail.md
  packages/paste-core/components/pagination/__tests__/customization.spec.tsx
  packages/paste-core/components/pagination/src/Pagination.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowButton.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowIconWrapper.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationBackArrow.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationForwardArrow.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/index.tsx
  packages/paste-core/components/pagination/src/PaginationEllipsis.tsx
  packages/paste-core/components/pagination/src/PaginationItems.tsx
  packages/paste-core/components/pagination/src/PaginationLabel.tsx
  packages/paste-core/components/pagination/src/PaginationNumber.tsx
  packages/paste-core/components/pagination/src/PaginationNumbers.tsx
  packages/paste-core/components/pagination/src/proptypes.ts
  packages/paste-core/components/pagination/src/types.ts
  packages/paste-core/components/pagination/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests

fix: added three pseudo selectors to box and text
  .changeset/tough-spies-live.md
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-core/primitives/text/src/PseudoPropStyles.ts
Labels: Area: Primitives

feat: Improved roadmap view and fixed TOC scroll tracking
  packages/paste-website/gatsby-config.js
  packages/paste-website/gatsby-node.js
  packages/paste-website/src/components/Roadmap.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/Roadmap/constants.ts
  packages/paste-website/src/components/Roadmap/index.ts
  packages/paste-website/src/components/Roadmap/types.ts
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/styles.ts
  packages/paste-website/src/pages/roadmap/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(display-pill-group): improved visual design
  .changeset/fluffy-cars-count.md
  packages/paste-core/components/display-pill-group/package.json
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
  packages/paste-core/components/display-pill-group/stories/index.stories.tsx
Labels: Area: Components

fix(form-pill-group): improved visual design
  .changeset/itchy-houses-allow.md
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  packages/paste-core/components/form-pill-group/src/useFormPillState.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore(combobox): update multiselect examples to use pills
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Area: Primitives, Area: Doc Site, Type: Documentation

docs(pills): add form and display pill docs
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/FormPillGroup.tsx
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/pages/components/display-pill-group/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(form-pill-group): improved visual design
  .changeset/itchy-houses-allow.md
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  packages/paste-core/components/form-pill-group/src/useFormPillState.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

fix(display-pill-group): improved visual design
  .changeset/fluffy-cars-count.md
  packages/paste-core/components/display-pill-group/package.json
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
  packages/paste-core/components/display-pill-group/stories/index.stories.tsx
Labels: Area: Components

fix: added three pseudo selectors to box and text
  .changeset/tough-spies-live.md
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-core/primitives/text/src/PseudoPropStyles.ts
Labels: Area: Primitives

chore(combobox): update multiselect examples to use pills
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Area: Primitives, Area: Doc Site, Type: Documentation

docs(pills): add form and display pill docs
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/FormPillGroup.tsx
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/pages/components/display-pill-group/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(customization): add package docs and theme creation guide
  netlify.toml
  packages/paste-customization/package.json
  packages/paste-website/src/components/page-components/customization/customization-provider/AccessibilityCallout.tsx
  packages/paste-website/src/components/page-components/customization/customization-provider/CustomThemeKeyList.tsx
  packages/paste-website/src/components/page-components/customization/customization-provider/FontCallout.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/customization/composing-custom-components-with-design-tokens.mdx
  packages/paste-website/src/pages/customization/creating-a-custom-theme.mdx
  packages/paste-website/src/pages/customization/customization-provider.mdx
  packages/paste-website/src/pages/customization/customizing-component-elements.mdx
  packages/paste-website/src/pages/customization/paste-for-programmable-apps.mdx
Labels: Area: Repo, Area: Doc Site, Type: Documentation

feat(tooltip): allow customization
  .changeset/clean-lemons-joke.md
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/components/tooltip/src/TooltipArrow.tsx
  packages/paste-core/components/tooltip/src/index.tsx
  packages/paste-core/components/tooltip/stories/index.stories.tsx
Labels: Area: Components

test(tooltip): added back ts-expect-error
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
Labels: Area: Components

chore(tooltip): adjust element type
  packages/paste-core/components/tooltip/src/index.tsx
Labels: Area: Components

chore(tooltip): add story
  packages/paste-core/components/tooltip/stories/index.stories.tsx
Labels: Area: Components

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
