Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

feat(separator): add element customization
  .changeset/popular-cheetahs-punch.md
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/separator/src/index.tsx
  packages/paste-core/components/separator/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore(box): fix word break in box primitive
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
Labels: Area: Primitives, Area: Layout, Area: Components, Type: Tests

chore: fix link formatting on working with us guide
  packages/paste-website/src/pages/getting-started/working-guide/index.mdx
Labels: Area: Doc Site, Type: Documentation

test(separator): fix test description
  packages/paste-core/components/separator/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

chore(separator): add cards to custom story
  packages/paste-core/components/separator/stories/index.stories.tsx
Labels: Area: Components

chore(separator): fix card margins
  packages/paste-core/components/separator/stories/index.stories.tsx
Labels: Area: Components

chore(separator): add dashed style
  packages/paste-core/components/separator/stories/index.stories.tsx
Labels: Area: Components

fix: packages/paste-nextjs-template/package.json to reduce vulnerabilities
  packages/paste-nextjs-template/package.json
Labels: none

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

test(separator): adjust test wording
  packages/paste-core/components/separator/__tests__/index.spec.tsx
Labels: Area: Components, Type: Tests

feat(separator): add element customization (#1781)
  .changeset/popular-cheetahs-punch.md
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/separator/src/index.tsx
  packages/paste-core/components/separator/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(heading): add element customization
  .changeset/pink-masks-walk.md
  packages/paste-core/components/heading/__tests__/__snapshots__/heading.test.tsx.snap
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/heading/src/PropTypes.ts
  packages/paste-core/components/heading/src/index.tsx
  packages/paste-core/components/heading/src/types.ts
  packages/paste-core/components/heading/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(paragraph): add element customization
  .changeset/khaki-ads-speak.md
  packages/paste-core/components/paragraph/__tests__/paragraph.test.tsx
  packages/paste-core/components/paragraph/src/index.tsx
  packages/paste-core/components/paragraph/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(list): add element customization
  .changeset/poor-carpets-explain.md
  packages/paste-core/components/list/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/list/src/List.tsx
  packages/paste-core/components/list/src/ListItem.tsx
  packages/paste-core/components/list/src/OrderedList.tsx
  packages/paste-core/components/list/src/UnorderedList.tsx
  packages/paste-core/components/list/src/index.tsx
  packages/paste-core/components/list/src/types.ts
  packages/paste-core/components/list/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(heading): add element customization
  .changeset/pink-masks-walk.md
  packages/paste-core/components/heading/__tests__/__snapshots__/heading.test.tsx.snap
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/heading/src/PropTypes.ts
  packages/paste-core/components/heading/src/index.tsx
  packages/paste-core/components/heading/src/types.ts
  packages/paste-core/components/heading/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(paragraph): add element customization
  .changeset/khaki-ads-speak.md
  packages/paste-core/components/paragraph/__tests__/paragraph.test.tsx
  packages/paste-core/components/paragraph/src/index.tsx
  packages/paste-core/components/paragraph/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

feat(list): add element customization
  .changeset/poor-carpets-explain.md
  packages/paste-core/components/list/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/list/src/List.tsx
  packages/paste-core/components/list/src/ListItem.tsx
  packages/paste-core/components/list/src/OrderedList.tsx
  packages/paste-core/components/list/src/UnorderedList.tsx
  packages/paste-core/components/list/src/index.tsx
  packages/paste-core/components/list/src/types.ts
  packages/paste-core/components/list/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

remove whitespace
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(text): correctly handle variants that are not on the element object
  .changeset/nervous-dingos-unite.md
  packages/paste-core/primitives/text/__tests__/StyleFunctions.spec.tsx
  packages/paste-core/primitives/text/src/StyleFunctions.ts
Labels: Area: Primitives, Type: Tests

fix(box): correctly handle variants that are not on the element object
  .changeset/lazy-pumas-reflect.md
  packages/paste-core/primitives/box/__tests__/StyleFunctions.test.tsx
  packages/paste-core/primitives/box/src/StyleFunctions.ts
Labels: Area: Primitives, Type: Tests

fix(text): correctly handle variants that are not on the element object
  .changeset/nervous-dingos-unite.md
  packages/paste-core/primitives/text/__tests__/StyleFunctions.spec.tsx
  packages/paste-core/primitives/text/src/StyleFunctions.ts
Labels: Area: Primitives, Type: Tests

fix(box): correctly handle variants that are not on the element object
  .changeset/lazy-pumas-reflect.md
  packages/paste-core/primitives/box/__tests__/StyleFunctions.test.tsx
  packages/paste-core/primitives/box/src/StyleFunctions.ts
Labels: Area: Primitives, Type: Tests

fix: changesets for box and text to include core
  .changeset/lazy-pumas-reflect.md
  .changeset/nervous-dingos-unite.md
Labels: none

change some copy
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): Add Figma link to Empty State pattern (#1765)
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: changesets for box and text to include core (#1792)
  .changeset/lazy-pumas-reflect.md
  .changeset/nervous-dingos-unite.md
Labels: none

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

fix: packages/paste-website/package.json to reduce vulnerabilities
  packages/paste-website/package.json
Labels: Area: Doc Site

feat(useclipboardcopy): add use-clipboard-copy library
  packages/paste-libraries/clipboard-copy/build.js
  packages/paste-libraries/clipboard-copy/package.json
  packages/paste-libraries/clipboard-copy/src/index.tsx
  packages/paste-libraries/clipboard-copy/stories/index.stories.tsx
  packages/paste-libraries/clipboard-copy/tsconfig.json
  packages/paste-website/package.json
  packages/paste-website/src/components/icons-list/IconCard.tsx
  yarn.lock
Labels: Area: Repo, Area: Doc Site

Update packages/paste-website/src/pages/getting-started/design/index.mdx
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

copy changes
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(changeset): update with `yarn changeset`
  .changeset/early-countries-sleep.md
  .codesandbox/ci.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/clipboard-copy-library.tsx
Labels: Area: Core bundle

docs(website): add badge docs
  packages/paste-website/src/components/CodeHighlight.tsx
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): add more examples for badge
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Doc Site, Type: Documentation

chore(website): update design getting started page (#1751)
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(badge): fix some styling and improve resize
  packages/paste-core/components/badge/src/index.tsx
Labels: Area: Components

docs(website): add more examples
  packages/paste-website/src/component-examples/BadgeExamples.ts
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Doc Site, Type: Documentation

docs(website): badge docs feedback
  packages/paste-website/src/component-examples/BadgeExamples.ts
  packages/paste-website/src/components/CodeHighlight.tsx
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix(badge): add changeset
  .changeset/cyan-maps-taste.md
Labels: none

docs(website): pr feedback
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Area: Doc Site, Type: Documentation

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
