Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

chore(tokens): add changeset
  .changeset/nine-pugs-work.md
Labels: none

chore(tokens): change color-text-icon in Dark mode
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens

test(tokens): update snapshot tests
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
Labels: Area: Tokens, Type: Tests

test(jest): isolate reakit library dep tests
  jest.config.reakit.js
  package.json
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
Labels: Area: Repo, Area: Components, Type: Tests

chore(tokens): change color-text-icon in Dark mode (#2028)
  .changeset/nine-pugs-work.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Area: Tokens, Type: Tests

fix: pass badge ref to focusable wrapper (#2029)
  .changeset/perfect-countries-speak.md
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/src/BadgeWrapper.tsx
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/styles.ts
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  packages/paste-core/components/badge/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

chore: update component pages to new props
  packages/paste-website/src/pages/components/alert-dialog/index.mdx
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/avatar/index.mdx
  packages/paste-website/src/pages/components/badge/index.mdx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/data-grid/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/disclosure/index.mdx
  packages/paste-website/src/pages/components/display-pill-group/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/paragraph/index.mdx
  packages/paste-website/src/pages/components/popover/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/screen-reader-only/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/separator/index.mdx
  packages/paste-website/src/pages/components/skeleton-loader/index.mdx
  packages/paste-website/src/pages/components/spinner/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/components/tooltip/index.mdx
  packages/paste-website/src/pages/components/truncate/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: first draft new header
  packages/paste-website/src/components/component-status/PeerReviewStatus.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/components/shortcodes/pattern-header/index.tsx
Labels: Area: Doc Site

chore: update rest of pages to new props
  packages/paste-website/src/pages/core/index.mdx
  packages/paste-website/src/pages/customization/customization-provider.mdx
  packages/paste-website/src/pages/layout/aspect-ratio/index.mdx
  packages/paste-website/src/pages/layout/flex/index.mdx
  packages/paste-website/src/pages/layout/grid/index.mdx
  packages/paste-website/src/pages/layout/media-object/index.mdx
  packages/paste-website/src/pages/layout/stack/index.mdx
  packages/paste-website/src/pages/libraries/codemods/index.mdx
  packages/paste-website/src/pages/libraries/uid-library/index.mdx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/disclosure-primitive/index.mdx
  packages/paste-website/src/pages/primitives/menu-primitive/index.mdx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/non-modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/tabs-primitive/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
  packages/paste-website/src/pages/primitives/tooltip-primitive/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
  packages/paste-website/src/pages/tokens/theme-package/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: remove old code
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

chore: fix find/replace errors
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/pages/layout/aspect-ratio/index.mdx
  packages/paste-website/src/pages/layout/flex/index.mdx
  packages/paste-website/src/pages/layout/grid/index.mdx
  packages/paste-website/src/pages/layout/media-object/index.mdx
  packages/paste-website/src/pages/layout/stack/index.mdx
  packages/paste-website/src/pages/libraries/codemods/index.mdx
  packages/paste-website/src/pages/libraries/uid-library/index.mdx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/disclosure-primitive/index.mdx
  packages/paste-website/src/pages/primitives/menu-primitive/index.mdx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/non-modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/tabs-primitive/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
  packages/paste-website/src/pages/primitives/tooltip-primitive/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
  packages/paste-website/src/pages/tokens/theme-package/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: add componentheader stories
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/stories/ComponentHeader.stories.tsx
Labels: Area: Doc Site

chore: rename story
  packages/paste-website/stories/ComponentHeader.stories.tsx
Labels: Area: Doc Site

feat: add github, storybook icons
  packages/paste-website/src/components/icons/StorybookIcon.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

feat: update patterns header
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/pattern-header/index.tsx
  packages/paste-website/src/pages/patterns/button-vs-anchor/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/data-export/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Type: Documentation

feat: popover on status, fix badge styles
  packages/paste-website/src/components/component-status/PeerReviewStatus.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

fix: link styles, margin
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

fix: codemods fix
  packages/paste-website/src/pages/libraries/codemods/index.mdx
Labels: Area: Doc Site, Type: Documentation

fix: heading padding
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

feat: use badgepopover, add status description constants
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/constants.ts
Labels: Area: Doc Site

feat: add badgepopover component
  packages/paste-website/src/components/badgePopover/BadgePopover.tsx
  packages/paste-website/src/components/badgePopover/BadgePopoverButton.tsx
  packages/paste-website/src/components/badgePopover/BadgePopoverContainer.tsx
  packages/paste-website/src/components/badgePopover/BadgePopoverContext.tsx
  packages/paste-website/src/components/badgePopover/index.tsx
Labels: Area: Doc Site

feat: fix pattern headers, paths
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalize-pattern-header/index.tsx
  packages/paste-website/src/pages/patterns/button-vs-anchor/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/data-export/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site, Type: Documentation

fix: design review fixes
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalize-component-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalize-pattern-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site

fix: add maxwidth to description
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

fix: description fontsize
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
Labels: Area: Doc Site

chore: rename status -> packageStatus
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalize-component-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site

fix: move shouldShowSatus logic
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site

fix: addressed comments
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalize-pattern-header/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site

chore(test): test using no cache on jest
  package.json
Labels: Area: Repo

chore(website): fix format
  cypress/integration/e2e/components/alert.spec.ts
  cypress/integration/e2e/components/anchor.spec.ts
  cypress/integration/e2e/components/avatar.spec.ts
  cypress/integration/e2e/components/badge.spec.ts
  cypress/integration/e2e/components/breadcrumb.spec.ts
  cypress/integration/e2e/components/button.spec.ts
  cypress/integration/e2e/components/card.spec.ts
  cypress/integration/e2e/components/checkbox.spec.ts
  cypress/integration/e2e/components/combobox.spec.ts
  cypress/integration/e2e/components/data-grid.spec.ts
  cypress/integration/e2e/components/date-picker.spec.ts
  cypress/integration/e2e/components/disclosure.spec.ts
  cypress/integration/e2e/components/display-pill-group.spec.ts
  cypress/integration/e2e/components/form-pill-group.spec.ts
  cypress/integration/e2e/components/heading.spec.ts
  cypress/integration/e2e/components/help-text.spec.ts
  cypress/integration/e2e/components/index.mdx.spec.ts
  cypress/integration/e2e/components/input.spec.ts
  cypress/integration/e2e/components/label.spec.ts
  cypress/integration/e2e/components/list.spec.ts
  cypress/integration/e2e/components/menu.spec.ts
  cypress/integration/e2e/components/modal.spec.ts
  cypress/integration/e2e/components/pagination.spec.ts
  cypress/integration/e2e/components/paragraph.spec.ts
  cypress/integration/e2e/components/popover.spec.ts
  cypress/integration/e2e/components/radio-group.spec.ts
  cypress/integration/e2e/components/screen-reader-only.spec.ts
  cypress/integration/e2e/components/select.spec.ts
  cypress/integration/e2e/components/separator.spec.ts
  cypress/integration/e2e/components/skeleton-loader.spec.ts
  cypress/integration/e2e/components/spinner.spec.ts
  cypress/integration/e2e/components/table.spec.ts
  cypress/integration/e2e/components/tabs.spec.ts
  cypress/integration/e2e/components/textarea.spec.ts
  cypress/integration/e2e/components/time-picker.spec.ts
  cypress/integration/e2e/components/toast.spec.ts
  cypress/integration/e2e/components/tooltip.spec.ts
  cypress/integration/e2e/components/truncate.spec.ts
  tools/utils/TEMPLATE.js
Labels: Area: Infrastructure, Type: Tests

chore(cypress): add jsdocs for script to generate component tests
  tools/utils/createCypressTestSpec.js
Labels: Area: Infrastructure

chore(cypress): add basic js docs for new commands
  cypress/support/commands.ts
Labels: Type: Tests

chore(cypress): remove comment
  cypress/support/parent-commands.ts
Labels: Type: Tests

chore(cypress): clean up JS docs for custom commands
  cypress/support/child-commands.ts
  cypress/support/commands.ts
  cypress/support/dual-commands.ts
  cypress/support/override-commands.ts
  cypress/support/parent-commands.ts
Labels: Type: Tests

chore(website): remove unnecessary tests
  cypress/integration/e2e/components/index.mdx.spec.ts
Labels: Type: Tests

chore(cypress): revert change to test script
  package.json
Labels: Area: Repo

chore(website): prevent index from generating test file
  tools/utils/cypress-test-generators/createCypressTestSpec.js
Labels: Area: Infrastructure

fix: type errors
  packages/paste-website/src/components/badgePopover/BadgePopoverButton.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Area: Doc Site

test(jest): porting in changes
  .jest/setupFilesAfterEnv.js
  jest.config.js
  package.json
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
Labels: Area: Repo, Area: Components, Area: Infrastructure, Type: Tests

test(jest): porting changes
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarnrc.yml
  yarn.lock
Labels: Area: Repo

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - "*"

"Area: Primitives":
  - packages/paste-core/primitives/**/*

"Area: Layout":
  - packages/paste-core/layout/**/*

"Area: Components":
  - packages/paste-core/components/**/*

"Area: Core bundle":
  - packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - packages/paste-website/**/*

"Area: Theme":
  - packages/paste-theme/**/*

"Area: Tokens":
  - packages/paste-design-tokens/**/*

"Area: Storybook":
  - .storybook/**/*

"Area: Infrastructure":
  - .eslint/**/*
  - .github/**/*
  - .jest/**/*
  - .vscode/**/*
  - tools/**/*

"Type: Documentation":
  - packages/paste-website/src/pages/**/*

"Type: Tests":
  - "**/__tests__/**/*"
  - cypress/**/*
