Repository twilio-labs/paste, changes with the labels that .github/labeler.yml gives for each.
All labels: Area: Repo, Area: Primitives, Area: Layout, Area: Components, Area: Core bundle, Area: Doc Site, Area: Theme, Area: Tokens, Area: Storybook, Area: Infrastructure, Type: Documentation, Type: Tests

.github/labeler.yml:

# https://github.com/actions/labeler

# Add 'repo' label to any root file changes
"Area: Repo":
  - changed-files:
      - any-glob-to-any-file: "*/**"

"Area: Primitives":
  - changed-files:
      - any-glob-to-any-file: packages/paste-core/primitives/**/*

"Area: Layout":
  - changed-files:
      - any-glob-to-any-file: packages/paste-core/layout/**/*

"Area: Components":
  - changed-files:
      - any-glob-to-any-file: packages/paste-core/components/**/*

"Area: Core bundle":
  - changed-files:
      - any-glob-to-any-file: packages/paste-core/core-bundle/**/*

"Area: Doc Site":
  - changed-files:
      - any-glob-to-any-file: packages/paste-website/**/*

"Area: Theme":
  - changed-files:
      - any-glob-to-any-file: packages/paste-theme/**/*

"Area: Tokens":
  - changed-files:
      - any-glob-to-any-file: packages/paste-design-tokens/**/*

"Area: Storybook":
  - changed-files:
      - any-glob-to-any-file: .storybook/**/*

"Area: Infrastructure":
  - changed-files:
      - any-glob-to-any-file: [".github/**/*", ".jest/**/*", ".storybook/**/*", ".vscode/**/*", "tools/**/*"]

"Type: Documentation":
  - changed-files:
      - any-glob-to-any-file: packages/paste-website/src/pages/**/*

"Type: Tests":
  - changed-files:
      - any-glob-to-any-file: ["**/__tests__/**/*", "cypress/**/*"]

chore(ci): wip
  .github/workflows/on_pull_request_open.yml
Labels: Area: Repo, Area: Infrastructure

chore(ci): final imp
  .github/opened-pr-contribution-labeler.yml
  .github/workflows/on_pull_request_open.yml
Labels: Area: Repo, Area: Infrastructure

chore(ci): final test
  .github/workflows/on_pull_request_open.yml
Labels: Area: Repo, Area: Infrastructure

chore(ci): final impl
  .github/workflows/on_pull_request_open.yml
Labels: Area: Repo, Area: Infrastructure

chore(ci): change ton only fire on open
  .github/workflows/on_pull_request_open.yml
Labels: Area: Repo, Area: Infrastructure

feat(code-block): fix underline issue
  packages/paste-core/components/code-block/src/CodeBlockTabList.tsx
Labels: Area: Repo, Area: Components

chore(ci): spelling update
  .github/workflows/on_pull_request_open.yml
Labels: Area: Repo, Area: Infrastructure

fix: package.json & yarn.lock to reduce vulnerabilities
  package.json
  yarn.lock
Labels: none

chore: specify component docs
  package.json
  plopfile.js
Labels: none

fix: inverse colors
  packages/paste-core/components/code-block/src/OverflowButton.tsx
  packages/paste-core/components/in-page-navigation/src/OverflowButton.tsx
  packages/paste-core/components/tabs/src/OverflowButton.tsx
Labels: Area: Repo, Area: Components

chore(deps): update ubuntu version
  .github/workflows/on_pull_request.yml
Labels: Area: Repo, Area: Infrastructure

chore(tabs): refactor to pull scroll logic into hooks
  packages/paste-core/components/code-block/src/CodeBlockTabList.tsx
  packages/paste-core/components/code-block/src/utlis.ts
  packages/paste-core/components/in-page-navigation/src/InPageNavigation.tsx
  packages/paste-core/components/in-page-navigation/src/utils.ts
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Repo, Area: Components

chore(ci): lint fixes
  packages/paste-core/components/code-block/src/utlis.ts
  packages/paste-core/components/in-page-navigation/src/utils.ts
  packages/paste-core/components/tabs/src/utils.ts
Labels: Area: Repo, Area: Components
