Repository twilio-labs/paste, pull requests merged in 2019-12, with the labels that each got.

#204 feat(Flex): add Flex component package
  packages/paste-core/utilities/flex/__tests__/__snapshots__/flex.test.tsx.snap
  packages/paste-core/utilities/flex/__tests__/flex.test.tsx
  packages/paste-core/utilities/flex/package.json
  packages/paste-core/utilities/flex/rollup.config.js
  packages/paste-core/utilities/flex/src/index.tsx
  packages/paste-core/utilities/flex/stories/index.stories.tsx
  packages/paste-core/utilities/flex/tsconfig.build.json
  packages/paste-core/utilities/flex/tsconfig.json
  packages/paste-types/src/style-props/flexbox.ts
  yarn.lock
Labels: Area: Components, Status: Pls CR

#231 fix: add height to styled code to prevent overflow
  packages/paste-website/src/components/codeblock/index.tsx
Labels: Status: Pls CR, Type: Bug

#234 fix: add prop-types package, add description, bump types
  packages/paste-core/utilities/flex/package.json
Labels: Area: Components, Status: Pls CR

#239 feat(icons): adding close, error, information, warning
  packages/paste-icons/__IconList.tsx
  packages/paste-icons/__StoryStyles.tsx
  packages/paste-icons/index.stories.tsx
  packages/paste-icons/rollup.icon-list.js
  packages/paste-icons/src/CloseIcon.tsx
  packages/paste-icons/src/ErrorIcon.tsx
  packages/paste-icons/src/InformationIcon.tsx
  packages/paste-icons/src/WarningIcon.tsx
  packages/paste-icons/svg/CloseIcon.svg
  packages/paste-icons/svg/ErrorIcon.svg
  packages/paste-icons/svg/InformationIcon.svg
  packages/paste-icons/svg/WarningIcon.svg
  packages/paste-icons/tools/templates/storybookListTemplate.js
Labels: Area: Components, Area: Storybook, Status: Pls CR, Type: Feature Request
