Repository twilio-labs/paste, pull requests merged in 2019-09, with the labels that each got.

#89 fix: make CI/CI great again
  .circleci/config.yml
  .nvmrc
  package.json
  packages/paste-website/src/components/callout/types.ts
Labels: Area: Infrastructure, Status: Pls CR, Type: Enhancement

#70 feat(website): website changelogs
  packages/paste-website/gatsby-config.js
  packages/paste-website/package.json
  packages/paste-website/src/components/sidebar/Navigation.tsx
  packages/paste-website/src/layouts/DefaultLayout.tsx
  packages/paste-website/src/layouts/GenericLayout.tsx
  packages/paste-website/src/pages/changelog/index.mdx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation

#92 chore(icons): remove unnecessary peerDependency
  packages/paste-icons/package.json
  packages/paste-icons/tsconfig.build.json
Labels: Area: Components, Area: Infrastructure, Status: Pls CR, Type: Enhancement

#88 feat(website): hyperlink doc site headers
  packages/paste-website/gatsby-config.js
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/site-wrapper/ScrollAnchorIntoView.tsx
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/SiteHeader.tsx
  packages/paste-website/src/components/site-wrapper/SiteMain.tsx
  packages/paste-website/src/components/site-wrapper/constants.ts
  packages/paste-website/src/components/site-wrapper/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarHeader.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.styles.ts
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/utils/RouteUtils.ts
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR, Type: Enhancement

#82 feat(website): add theme switcher and theme switching
  .nvmrc
  packages/paste-core/utilities/screen-reader-only/src/index.tsx
  packages/paste-website/src/components/ThemeSwitcher.tsx
  packages/paste-website/src/components/callout/types.ts
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/site-wrapper/SiteHeader.tsx
  packages/paste-website/src/components/site-wrapper/constants.ts
  packages/paste-website/src/components/site-wrapper/index.tsx
  packages/paste-website/src/components/table/index.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/context/ActiveSiteThemeContext.tsx
  packages/paste-website/src/pages/tokens/index.mdx
  packages/paste-website/types/utils.ts
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR

#81 fix(website): composable do-dont, add anchor examples
  packages/paste-core/utilities/aspect-ratio/__tests__/aspectRatio.spec.tsx
  packages/paste-core/utilities/aspect-ratio/package.json
  packages/paste-core/utilities/aspect-ratio/rollup.config.js
  packages/paste-core/utilities/aspect-ratio/src/index.tsx
  packages/paste-core/utilities/aspect-ratio/stories/index.stories.tsx
  packages/paste-core/utilities/aspect-ratio/tsconfig.build.json
  packages/paste-core/utilities/aspect-ratio/tsconfig.json
  packages/paste-website/gatsby-config.js
  packages/paste-website/package.json
  packages/paste-website/src/assets/images/anchor-dont-1@4x.png
  packages/paste-website/src/components/DoDont.tsx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation

#94 chore(icons): bump svg-to-react version
  packages/paste-icons/package.json
Labels: Status: Pls CR

#91 fix(anchor): set children as non-nullable, remove child null error
  packages/paste-core/components/anchor/src/types.ts
Labels: Area: Components, Status: Pls CR

#90 fix(website): update favicon, add manifest plugin
  packages/paste-website/gatsby-config.js
  packages/paste-website/package.json
  packages/paste-website/src/constants.ts
  packages/paste-website/static/favicon.ico
  packages/paste-website/static/favicon.png
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR

#99 fix(website): automatically update website version from package
  packages/paste-website/gatsby-config.js
  packages/paste-website/src/components/site-wrapper/SiteHeader.tsx
  packages/paste-website/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR, Type: Enhancement

#101 chore(monorepo): only do pre-push validation on master branch
  package.json
  yarn.lock
Labels: Area: Infrastructure, Status: Pls CR, Type: Enhancement

#96 chore(website): change casing of components in sidebar
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/empty-state/InDevelopment.tsx
  packages/paste-website/src/components/empty-state/NotBuilt.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/utils/RouteUtils.ts
Labels: Area: Doc Site, Status: Pls CR, Type: Enhancement

#100 feat(website): roadmap page
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/index.tsx
  packages/paste-website/src/pages/roadmap/index.mdx
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation

#97 chore: add script to sync peerDeps on lerna publish
  package.json
  tools/build/version.js
  tools/jest.config.js
  tools/utils/__tests__/runCmd.spec.js
  tools/utils/calibratePackagePeerDepsVersions.js
  tools/utils/runCmd.js
  tools/utils/updatePackageReferences.js
  yarn.lock
Labels: Area: Infrastructure, Status: Pls CR, Type: Enhancement

#103 feat: design token and theme package documentation
  packages/paste-design-tokens/package.json
  packages/paste-theme/package.json
  packages/paste-website/gatsby-config.js
  packages/paste-website/package.json
  packages/paste-website/src/components/ThemeObjectDisplay.tsx
  packages/paste-website/src/components/codeblock/index.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/tokens/design-tokens-package.mdx
  packages/paste-website/src/pages/tokens/how-to-compose-custom-ui-with-tokens.mdx
  packages/paste-website/src/pages/tokens/theme-package.mdx
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation

#104 feat(website): aspect-ratio docs page
  packages/paste-core/utilities/aspect-ratio/src/index.tsx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/index.tsx
  packages/paste-website/src/pages/utilities/aspect-ratio/index.mdx
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation
