Repository twilio-labs/paste, pull requests merged in 2019-11, with the labels that each got.

#166 fix(button): add font-weight semibold to small buttons
  packages/paste-core/components/button/src/styles.ts
Labels: Area: Components, Status: Pls CR, Type: Bug

#124 feat: theme switching fully on the docsite
  packages/paste-core/components/anchor/__tests__/__snapshots__/anchor.test.tsx.snap
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/heading/__tests__/__snapshots__/heading.test.tsx.snap
  packages/paste-core/components/heading/src/index.tsx
  packages/paste-core/components/paragraph/__tests__/__snapshots__/paragraph.test.tsx.snap
  packages/paste-core/utilities/box/__tests__/__snapshots__/box.test.tsx.snap
  packages/paste-core/utilities/box/package.json
  packages/paste-core/utilities/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/utilities/text/package.json
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-website/package.json
  packages/paste-website/src/components/DoDont.tsx
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/StyledHr.tsx
  packages/paste-website/src/components/ThemeSwitcher.tsx
  packages/paste-website/src/components/Typography.tsx
  packages/paste-website/src/components/breadcrumb/index.tsx
  packages/paste-website/src/components/callout/index.tsx
  packages/paste-website/src/components/callout/styles.ts
  packages/paste-website/src/components/callout/types.ts
  packages/paste-website/src/components/codeblock/index.tsx
  packages/paste-website/src/components/empty-state/InDevelopment.tsx
  packages/paste-website/src/components/empty-state/NotBuilt.tsx
  packages/paste-website/src/components/empty-state/NotFound.tsx
  packages/paste-website/src/components/input/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/styles.ts
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/SiteFooter.tsx
  packages/paste-website/src/components/site-wrapper/SiteThemeProvider.tsx
  packages/paste-website/src/components/site-wrapper/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.styles.ts
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/layouts/DefaultLayout.tsx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/index.tsx
  packages/paste-website/src/pages/utilities/text/index.mdx
  packages/paste-website/static/fonts/colfax-light.woff
  packages/paste-website/static/fonts/colfax-light.woff2
  packages/paste-website/static/fonts/colfax-medium.woff
  packages/paste-website/static/fonts/colfax-medium.woff2
  packages/paste-website/static/fonts/colfax-regular.woff
  packages/paste-website/static/fonts/colfax-regular.woff2
  yarn.lock
Labels: Area: Theme, Status: Pls CR

#167 fix(website): update button docs with loading and icon states
  packages/paste-core/components/button/src/index.tsx
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Area: Doc Site, Status: Pls CR

#172 fix(design-tokens): change color-text-link token values
  packages/paste-core/components/anchor/__tests__/__snapshots__/anchor.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/text-color.yml
  packages/paste-theme/__tests__/themeProvider.spec.tsx
Labels: Area: Theme, Status: Pls CR

#174 fix(design-tokens): update lightest console color palette
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
Labels: Area: Theme, Status: Pls CR

#181 test(anchor): update test snapshots
  packages/paste-core/components/anchor/__tests__/__snapshots__/anchor.test.tsx.snap
Labels: Status: Pls CR, Type: Tests

#177 fix(website): remove vague anchor do dont
  package.json
  packages/paste-core/utilities/box/src/index.tsx
  packages/paste-core/utilities/text/src/index.tsx
  packages/paste-icons/src/helpers/IconWrapper.tsx
  packages/paste-website/src/pages/changelog/index.mdx
  packages/paste-website/src/pages/components/anchor/index.mdx
  yarn.lock
Labels: Area: Doc Site, Area: Infrastructure, Status: Pls CR

#180 test(button): adding tests
  packages/paste-core/components/button/__tests__/__snapshots__/button.test.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/types.ts
Labels: Area: Components, Status: Pls CR, Type: Tests

#188 chore: add the accessibilty plugin to storyboook
  .storybook/addons.js
  .storybook/config.js
  package.json
  yarn.lock
Labels: Area: Storybook, Status: Pls CR

#186 fix: correct button heights add new default icon size
  packages/paste-core/components/button/__tests__/__snapshots__/button.test.tsx.snap
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
  packages/paste-design-tokens/tokens/global/sizing.yml
  packages/paste-theme-tokens/src/default/index.ts
  packages/paste-theme-tokens/src/sendgrid/index.ts
Labels: Area: Design, Status: Pls CR, Type: Bug

#187 fix: card code example spacing and formatting
  packages/paste-website/src/pages/components/card/index.mdx
Labels: Area: Doc Site, Status: Pls CR

#185 fix(design-tokens): update some blues, reds, and focus shadow
  packages/paste-core/components/anchor/__tests__/__snapshots__/anchor.test.tsx.snap
  packages/paste-core/components/button/__tests__/__snapshots__/button.test.tsx.snap
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/utilities/box/__tests__/__snapshots__/box.test.tsx.snap
  packages/paste-core/utilities/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-design-tokens/tokens/aliases/box-shadow.yml
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/border-color.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/text-color.yml
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Area: Design, Status: Pls CR

#165 feat(icons): make decorative required + icon docs
  packages/paste-core/components/button/__tests__/__snapshots__/button.test.tsx.snap
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
  packages/paste-icons/README.md
  packages/paste-icons/src/LoadingIcon.tsx
  packages/paste-icons/src/PlusIcon.tsx
  packages/paste-icons/tools/templates/reactIconTemplate.js
  packages/paste-icons/tools/templates/storybookListTemplate.js
  packages/paste-website/package.json
  packages/paste-website/src/assets/images/icon-guide/formatting-an-icon-1.png
  packages/paste-website/src/assets/images/icon-guide/formatting-an-icon-2.png
  packages/paste-website/src/assets/images/icon-guide/formatting-an-icon-3.png
  packages/paste-website/src/assets/images/icon-guide/using-streamline-icons-1.png
  packages/paste-website/src/assets/images/icon-guide/using-streamline-icons-2.png
  packages/paste-website/src/assets/images/icon-guide/using-streamline-icons-3.png
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.styles.ts
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/icon-system/how-to-add-an-icon.mdx
  packages/paste-website/src/pages/icon-system/index.mdx
Labels: Area: Components, Area: Doc Site, Status: Pls CR, Type: Documentation

#195 fix: remap console semibold to medium font weight
  packages/paste-core/components/button/__tests__/__snapshots__/button.test.tsx.snap
  packages/paste-core/components/heading/__tests__/__snapshots__/heading.test.tsx.snap
  packages/paste-core/core-bundle/package.json
  packages/paste-core/utilities/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-design-tokens/tokens/global/font-weight.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/font-weight.yml
Labels: Area: Tokens, Status: Pls CR

#190 chore: switch storybook deploy to use gh-pages
  .gitignore
  README.md
  docs/favicon.ico
  docs/iframe.html
  docs/index.html
  docs/main.14a0719ac7595b93499d.bundle.js
  docs/main.48467af4aa01bbb9da0d.bundle.js
  docs/main.48467af4aa01bbb9da0d.bundle.js.map
  docs/runtime~main.48467af4aa01bbb9da0d.bundle.js
  docs/runtime~main.48467af4aa01bbb9da0d.bundle.js.map
  docs/runtime~main.4d6118575687c0a0f1fb.bundle.js
  docs/sb_dll/storybook_ui-manifest.json
  docs/sb_dll/storybook_ui_dll.LICENCE
  docs/sb_dll/storybook_ui_dll.js
  docs/vendors~main.0de1d048463b91c2725a.bundle.js
  docs/vendors~main.48467af4aa01bbb9da0d.bundle.js
  docs/vendors~main.48467af4aa01bbb9da0d.bundle.js.map
  package.json
  packages/paste-core/core-bundle/package.json
  yarn.lock
Labels: Area: Infrastructure, Status: Pls CR

#191 docs: add the paragraph component documentation
  packages/paste-core/components/paragraph/CHANGELOG.md
  packages/paste-core/components/paragraph/package.json
  packages/paste-website/src/pages/components/paragraph/index.mdx
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation

#196 fix: change heading variants
  packages/paste-core/components/heading/__tests__/__snapshots__/heading.test.tsx.snap
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/heading/package.json
  packages/paste-core/components/heading/src/index.tsx
  packages/paste-core/components/heading/stories/index.stories.tsx
  packages/paste-website/src/components/DoDont.tsx
  packages/paste-website/src/components/callout/index.tsx
  packages/paste-website/src/components/empty-state/InDevelopment.tsx
  packages/paste-website/src/components/empty-state/NotBuilt.tsx
  packages/paste-website/src/components/empty-state/NotFound.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/SiteFooter.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/index.tsx
Labels: Area: Components, Area: Doc Site, Status: Pls CR, Type: Refactor

#192 docs: add the heading component documentation
  packages/paste-core/components/heading/CHANGELOG.md
  packages/paste-website/src/pages/components/heading/index.mdx
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation

#201 feat: update roadmap page through release 0.7
  packages/paste-website/src/pages/roadmap/index.mdx
  yarn.lock
Labels: Area: Doc Site, Type: Documentation
