Repository twilio-labs/paste, pull requests merged in 2019-10, with the labels that each got.

#111 chore: setup applitools vrt
  .circleci/config.yml
  applitools.config.js
  package.json
Labels: Area: Infrastructure, Status: Pls CR, Type: Enhancement

#114 chore(jest): throw error if missing package cache
  .jest/resolver.js
Labels: Area: Infrastructure, Status: Pls CR, Type: Enhancement

#113 chore(design-tokens): better typings
  packages/paste-design-tokens/formatters/__fixtures__/aliases/z-index.yml
  packages/paste-design-tokens/formatters/__fixtures__/global/index.yml
  packages/paste-design-tokens/formatters/__fixtures__/global/z-index.yml
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/d.ts.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/es6.spec.ts.snap
  packages/paste-design-tokens/formatters/d.ts.ts
  packages/paste-theme-tokens/src/default/index.ts
  packages/paste-theme-tokens/src/sendgrid/index.ts
Labels: Area: Infrastructure, Status: Pls CR, Type: Enhancement

#110 feat(website): add slugs to mdx GraphQL
  packages/paste-website/gatsby-node.js
  packages/paste-website/src/pages/components/anchor/index.mdx
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation

#127 feat(website): Table of Contents Component
  packages/paste-website/gatsby-config.js
  packages/paste-website/package.json
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/styles.ts
  packages/paste-website/src/components/shortcodes/table-of-contents/types.ts
  packages/paste-website/src/components/site-wrapper/index.tsx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/getting-started/design.mdx
  packages/paste-website/src/pages/getting-started/engineering.mdx
  packages/paste-website/src/pages/getting-started/index.mdx
  packages/paste-website/src/pages/migrate/index.mdx
  packages/paste-website/src/pages/principles/index.mdx
  packages/paste-website/src/pages/roadmap/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package.mdx
  packages/paste-website/src/pages/tokens/how-to-compose-custom-ui-with-tokens.mdx
  packages/paste-website/src/pages/tokens/theme-package.mdx
  packages/paste-website/src/pages/utilities/aspect-ratio/index.mdx
  packages/paste-website/src/utils/RouteUtils.ts
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR

#125 feat(box): polish and fix
  .storybook/addons/theme-switcher-addon/constants.js
  .storybook/addons/theme-switcher-addon/index.js
  .storybook/addons/theme-switcher-addon/register.js
  package.json
  packages/paste-core/utilities/absolute/src/index.tsx
  packages/paste-core/utilities/box/src/index.tsx
  packages/paste-core/utilities/box/stories/index.stories.tsx
  packages/paste-theme-tokens/src/default/index.ts
  packages/paste-theme-tokens/src/sendgrid/index.ts
  packages/paste-theme/package.json
  packages/paste-theme/src/constants.ts
  packages/paste-theme/src/index.tsx
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/tsconfig.build.json
  packages/paste-types/package.json
  packages/paste-types/src/index.ts
  packages/paste-types/src/style-props/backgroundColor.ts
  packages/paste-types/src/style-props/border.ts
  packages/paste-types/src/style-props/boxShadow.ts
  packages/paste-types/src/style-props/font.ts
  packages/paste-types/src/style-props/index.ts
  packages/paste-types/src/style-props/sizing.ts
  packages/paste-types/src/style-props/spacing.ts
  packages/paste-types/src/style-props/zIndex.ts
  packages/paste-types/src/tokenProps.ts
  packages/paste-types/src/utils/index.ts
  packages/paste-website/src/components/DoDont.tsx
  packages/paste-website/src/components/ThemeSwitcher.tsx
  packages/paste-website/src/components/Typography.tsx
  packages/paste-website/src/components/empty-state/InDevelopment.tsx
  packages/paste-website/src/components/empty-state/NotBuilt.tsx
  packages/paste-website/src/components/empty-state/NotFound.tsx
  packages/paste-website/src/components/input/index.tsx
  packages/paste-website/src/components/label/index.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/site-wrapper/SiteFooter.tsx
  packages/paste-website/src/components/site-wrapper/SiteHeader.tsx
  packages/paste-website/src/components/tokens-example/index.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/context/ActiveSiteThemeContext.tsx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/tokens/how-to-compose-custom-ui-with-tokens.mdx
  packages/paste-website/src/pages/tokens/index.mdx
  packages/paste-website/src/pages/utilities/box/index.mdx
  yarn.lock
Labels: Area: Components, Area: Doc Site, Area: Storybook, Area: Theme, Status: Pls CR, Status: WIP, Type: Documentation, Type: Enhancement, Type: Refactor

#130 fix(button): border-color should transition with background-color
  packages/paste-core/components/button/src/styles.ts
Labels: Area: Components, Status: Pls CR, Type: Bug

#133 test(box): adding snapshot tests
  packages/paste-core/utilities/box/__tests__/__snapshots__/box.test.tsx.snap
  packages/paste-core/utilities/box/__tests__/box.test.tsx
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Components, Status: Pls CR, Type: Tests

#134 fix: allow 'auto' for marginLeft and marginRight
  packages/paste-types/src/style-props/spacing.ts
Labels: Status: Pls CR, Type: Bug

#146 fix(website): change home buttons back to links
  packages/paste-website/src/pages/index.tsx
Labels: Area: Doc Site, Status: Pls CR

#137 feat(typography): typography paragraph component
  packages/paste-core/components/typography/README.md
  packages/paste-core/components/typography/__tests__/__snapshots__/paragraph.test.tsx.snap
  packages/paste-core/components/typography/__tests__/paragraph.test.tsx
  packages/paste-core/components/typography/package.json
  packages/paste-core/components/typography/rollup.config.js
  packages/paste-core/components/typography/src/Paragraph.tsx
  packages/paste-core/components/typography/src/index.tsx
  packages/paste-core/components/typography/stories/index.stories.tsx
  packages/paste-core/components/typography/tsconfig.build.json
  packages/paste-core/components/typography/tsconfig.json
Labels: Area: Components, Status: Pls CR

#18 refactor: upgrading to styled-system v5
  @types/@styled-system/index.d.ts
  @types/@styled-system/should-forward-prop/index.d.ts
  @types/@styled-system/theme-get/index.d.ts
  @types/gulp-theo/index.d.ts
  @types/index.d.ts
  package.json
  packages/paste-core/components/anchor/package.json
  packages/paste-core/components/anchor/src/styles.ts
  packages/paste-core/components/button/package.json
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/heading/package.json
  packages/paste-core/components/input/package.json
  packages/paste-core/components/spinner/package.json
  packages/paste-core/utilities/absolute/package.json
  packages/paste-core/utilities/aspect-ratio/package.json
  packages/paste-core/utilities/box/__tests__/__snapshots__/box.test.tsx.snap
  packages/paste-core/utilities/box/package.json
  packages/paste-core/utilities/box/src/index.tsx
  packages/paste-core/utilities/media-object/package.json
  packages/paste-core/utilities/media-object/src/index.tsx
  packages/paste-core/utilities/screen-reader-only/package.json
  packages/paste-core/utilities/text/package.json
  packages/paste-icons/package.json
  packages/paste-theme/README.md
  packages/paste-theme/package.json
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-types/package.json
  packages/paste-website/package.json
  packages/paste-website/src/components/DoDont.tsx
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/SiteLink.tsx
  packages/paste-website/src/components/StyledHr.tsx
  packages/paste-website/src/components/ThemeSwitcher.tsx
  packages/paste-website/src/components/Typography.tsx
  packages/paste-website/src/components/breadcrumb/index.tsx
  packages/paste-website/src/components/callout/styles.ts
  packages/paste-website/src/components/codeblock/index.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/styles.ts
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/SiteFooter.tsx
  packages/paste-website/src/components/site-wrapper/SiteMain.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarHeader.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.styles.ts
  packages/paste-website/src/components/table/index.tsx
  packages/paste-website/src/pages/index.tsx
  packages/paste-website/src/pages/tokens/theme-package.mdx
  tsconfig.json
  types/index.d.ts
  yarn.lock
Labels: Area: Infrastructure, Status: Pls CR, Type: Enhancement

#153 fix(anchor): export types and add tests
  .eslintrc.js
  packages/paste-core/components/anchor/__tests__/__snapshots__/anchor.test.tsx.snap
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/anchor/package.json
  packages/paste-core/components/anchor/src/index.tsx
  packages/paste-core/components/anchor/src/styles.ts
  packages/paste-core/components/anchor/src/types.ts
  packages/paste-core/components/anchor/stories/index.stories.tsx
  packages/paste-core/core-bundle/package.json
  packages/paste-website/package.json
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
Labels: Area: Components, Status: Pls CR
