Repository twilio-labs/paste, pull requests merged in 2020-10, with the labels that each got.

#833 fix(combobox): hide chevron if set to autocomplete
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components

#857 docs(website): fix typo on table doc page
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Type: Documentation

#858 fix(checkbox): use context for CheckboxGroup
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/checkbox/src/CheckboxContext.tsx
  packages/paste-core/components/checkbox/src/CheckboxGroup.tsx
  packages/paste-core/components/checkbox/stories/checkbox.stories.tsx
Labels: Area: Components

#812 feat(website): Patterns PoC
  packages/paste-website/src/assets/images/patterns/create-anchor-as-button.png
  packages/paste-website/src/assets/images/patterns/create-anchor.png
  packages/paste-website/src/assets/images/patterns/create-card.png
  packages/paste-website/src/assets/images/patterns/create-multi-option.png
  packages/paste-website/src/assets/images/patterns/create-standard.png
  packages/paste-website/src/assets/images/patterns/create-sub-section.png
  packages/paste-website/src/assets/images/patterns/delete-high-severity.png
  packages/paste-website/src/assets/images/patterns/delete-medium-severity.png
  packages/paste-website/src/assets/images/patterns/notifications-alert@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-inline-messaging@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-inpage-messaging@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-modal@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-toast@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-standard-reordered@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-standard@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-tabbed@3x.png
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/patterns/contribute/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
  packages/paste-website/src/pages/patterns/filter/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/notifications/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/stat-cards/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Area: Doc Site, Status: Do Not Merge, Status: WIP
