Repository twilio-labs/paste, pull requests merged in 2020-02, with the labels that each got.

#285 chore(grid): rename and move functions, move types
  packages/paste-core/utilities/grid/src/Column.tsx
  packages/paste-core/utilities/grid/src/Grid.tsx
  packages/paste-core/utilities/grid/src/helpers.tsx
  packages/paste-core/utilities/grid/src/index.tsx
  packages/paste-core/utilities/grid/src/types.ts
Labels: Area: Components, Status: Pls CR

#289 chore(website): change website date to get current year
  packages/paste-website/src/components/site-wrapper/SiteFooter.tsx
Labels: Status: Pls CR

#288 test(grid): unit tests and snapshot tests
  packages/paste-core/utilities/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/utilities/grid/__tests__/grid.test.tsx
Labels: Status: Pls CR, Type: Tests

#297 fix(list): allow marginTop and marginBottom props
  packages/paste-core/components/list/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/list/src/index.tsx
  packages/paste-core/components/list/stories/index.stories.tsx
Labels: Area: Components, Status: Pls CR

#298 fix(grid): add getColumnGutters function to process token value
  packages/paste-core/utilities/grid/__tests__/grid.test.tsx
  packages/paste-core/utilities/grid/src/Column.tsx
  packages/paste-core/utilities/grid/src/helpers.tsx
Labels: Area: Components, Status: Pls CR, Type: Bug

#300 docs(website): update list spec page
  packages/paste-website/src/pages/components/list/index.mdx
Labels: Area: Doc Site, Status: Pls CR

#302 chore(website): add primitives breadcrumb
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
Labels: Area: Doc Site, Status: Pls CR

#303 fix(grid): remove column flex styles
  packages/paste-core/utilities/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/utilities/grid/__tests__/grid.test.tsx
  packages/paste-core/utilities/grid/src/Column.tsx
  packages/paste-core/utilities/grid/src/types.ts
  packages/paste-core/utilities/grid/stories/index.stories.tsx
Labels: Area: Components, Status: Pls CR, Type: Bug

#311 fix(design-tokens): change sg gray-70 and color-border-inpt
  packages/paste-design-tokens/tokens/themes/sendgrid/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/border-color.yml
Labels: Area: Tokens, Status: Pls CR

#307 docs(grid): add grid spec to docs site
  packages/paste-website/package.json
  packages/paste-website/src/pages/utilities/grid/index.mdx
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation

#316 chore(grid): update package description
  packages/paste-core/utilities/grid/package.json
Labels: Area: Components, Status: Do Not Merge

#321 feat(website): text update on icon design instructions
  packages/paste-website/src/pages/icon-system/how-to-add-an-icon.mdx
Labels: Area: Doc Site, Type: Documentation

#315 docs(website): add status legend to roadmap and overview pages
  packages/paste-website/src/components/StatusLegend.tsx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
  packages/paste-website/src/pages/roadmap/index.mdx
  packages/paste-website/src/pages/utilities/index.mdx
Labels: Area: Doc Site, Status: Pls CR

#325 chore(website): update gatsby deps
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR, Type: Enhancement

#327 feat(website): new modal dialog primitive docs
  packages/paste-website/package.json
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/ModalDemo.tsx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation

#333 feat(storybook): add storybook viewport add on
  .storybook/addons.js
  .storybook/config.js
  package.json
  yarn.lock
Labels: Area: Doc Site, Area: Storybook, Status: Pls CR

#338 test(design-tokens): snapshot exported token values per theme
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/__tests__/index.test.tsx
Labels: Area: Infrastructure, Status: Pls CR, Type: Tests
