Repository twilio-labs/paste, pull requests merged in 2020-01, with the labels that each got.

#245 test: add jest-axe and tests for existing components
  .jest/setupFilesAfterEnv.js
  package.json
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/card/__test__/card.test.tsx
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/paragraph/__tests__/paragraph.test.tsx
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR

#251 docs: remove typography references in documentation
  packages/paste-website/package.json
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/empty-state/InDevelopment.tsx
  packages/paste-website/src/components/empty-state/NotBuilt.tsx
  packages/paste-website/src/components/empty-state/NotFound.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/site-wrapper/SiteFooter.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/components/paragraph/index.mdx
  packages/paste-website/src/pages/index.tsx
Labels: Area: Doc Site, Status: Pls CR

#252 fix(core): remove typography component
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/tools/generate.js
Labels: Area: Components, Status: Pls CR

#250 chore: update docs on adding icons
  packages/paste-icons/README.md
  packages/paste-website/src/pages/icon-system/how-to-add-an-icon.mdx
Labels: Area: Doc Site

#242 docs: add the list component docs and use it to replace custom lists
  packages/paste-website/package.json
  packages/paste-website/src/components/Typography.tsx
  packages/paste-website/src/components/empty-state/NotBuilt.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/index.tsx
  packages/paste-website/src/pages/utilities/index.mdx
  yarn.lock
Labels: Area: Doc Site, Status: Pls CR

#236 docs: add flex component documentation
  packages/paste-website/package.json
  packages/paste-website/src/pages/utilities/flex/index.mdx
Labels: Area: Doc Site, Status: Pls CR

#256 chore(website): add Paste Libraries section
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/libraries/index.mdx
Labels: Area: Doc Site

#275 fix(storybook): fix vrt on loading button
  packages/paste-core/components/button/stories/index.stories.tsx
Labels: Area: Storybook, Type: Bug

#284 fix(grid): set useTheme as const to fix hook error
  packages/paste-core/utilities/grid/src/Grid.tsx
Labels: Area: Components, Status: Pls CR

#283 chore(website): update engineering releases on roadmap
  packages/paste-website/src/pages/roadmap/index.mdx
Labels: Area: Doc Site, Type: Documentation
