Repository twilio-labs/paste, pull requests merged in 2020-05, with the labels that each got.

#399 feat(select): Select, Option, and OptionGroup
  packages/paste-core/components/form/__tests__/select/option.test.tsx
  packages/paste-core/components/form/__tests__/select/optiongroup.test.tsx
  packages/paste-core/components/form/__tests__/select/select.test.tsx
  packages/paste-core/components/form/src/index.tsx
  packages/paste-core/components/form/src/select/Option.tsx
  packages/paste-core/components/form/src/select/OptionGroup.tsx
  packages/paste-core/components/form/src/select/Select.tsx
  packages/paste-core/components/form/src/shared/Utils.tsx
  packages/paste-core/components/form/src/shared/restricted-attributes.ts
  packages/paste-core/components/form/stories/select.stories.tsx
  packages/paste-core/components/form/test-utils/index.ts
Labels: Area: Components

#414 feat(stack): add stack component package
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/layout/stack/__tests__/__snapshots__/stack.test.tsx.snap
  packages/paste-core/layout/stack/__tests__/stack.test.tsx
  packages/paste-core/layout/stack/package.json
  packages/paste-core/layout/stack/rollup.config.js
  packages/paste-core/layout/stack/src/index.tsx
  packages/paste-core/layout/stack/stories/index.stories.tsx
  packages/paste-core/layout/stack/tsconfig.build.json
  packages/paste-core/layout/stack/tsconfig.json
Labels: Area: Components

#422 fix(stack): extend as prop from BoxProps on StackProps
  packages/paste-core/layout/stack/__tests__/stack.test.tsx
  packages/paste-core/layout/stack/src/index.tsx
  tsconfig.json
Labels: Area: Components

#430 feat(select): update knobs for select stories
  packages/paste-core/components/form/stories/select.stories.tsx
Labels: Area: Components

#419 Select documentation
  packages/paste-core/components/form/stories/select.stories.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/form-elements/select/index.mdx
Labels: Area: Doc Site

#455 feat(website): add disclosure primitive docs
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/DisclosurePrimitiveExamples.ts
  packages/paste-website/src/pages/primitives/disclosure-primitive/index.mdx
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation
