Repository twilio-labs/paste, pull requests merged in 2020-06, with the labels that each got.

#486 fix(website): disabled algolia indexing temporarily
  packages/paste-website/gatsby-config.js
Labels: Area: Doc Site

#498 docs(website): adding Tabs alpha component documentation
  packages/paste-website/src/component-examples/TabsExamples.ts
  packages/paste-website/src/pages/components/tabs/index.mdx
Labels: Area: Doc Site, Status: Pls CR, Type: Documentation

#509 fix(website): fix website scrolling
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
Labels: Area: Doc Site

#511 fix(animation-library): add window.matchMedia guard
  .jest/setupFilesAfterEnv.js
  packages/paste-libraries/animation/src/useReducedMotion.tsx
Labels: Status: Pls CR

#522 fix(modal): add '__console_patch' prop to fix bug in Console
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/src/utils/consoleUtils.ts
  packages/paste-core/components/modal/stories/index.stories.tsx
  packages/paste-website/src/pages/components/modal/index.mdx
Labels: Status: Pls CR, Type: Feature Request

#533 docs(website): add tooltip-primitive changelog
  packages/paste-website/src/pages/primitives/tooltip-primitive/index.mdx
Labels: Area: Doc Site
