Repository twilio-labs/paste, pull requests merged in 2021-11, with the labels that each got.

#1985 chore: ship an unminified dist file for debugging
  .changeset/hip-roses-pull.md
  .github/workflows/package-size.yml
  tools/build/esbuild.js
Labels: Area: Infrastructure

#1970 chore(website): add customization interactive image slider
  packages/paste-website/src/assets/images/customization/hero-back.png
  packages/paste-website/src/assets/images/customization/hero-front.png
  packages/paste-website/src/components/customization-landing-page/LandingPageHero.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageBox.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/SVGThumb.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/constants.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/index.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/useSvgResize.ts
  packages/paste-website/src/components/customization-landing-page/image-slider/utils.ts
Labels: Area: Doc Site, Status: Do Not Merge

#1992 fix: package versioning script updating lockfiles
  .github/workflows/publish.yml
Labels: Area: Infrastructure

#1989 chore(codemods): update mappings for new Paste components
  .changeset/silly-maps-dream.md
  .gitignore
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-codemods/tools/create-package-mappings.js
  packages/paste-codemods/transforms/barreled-to-unbarreled.js
Labels: Type: Tests, Status: Do Not Merge

#1990 fix(data grid): make 'striped' prop work
  .changeset/giant-ladybugs-promise.md
  packages/paste-core/components/data-grid/src/DataGrid.tsx
  packages/paste-core/components/data-grid/src/DataGridContext.tsx
  packages/paste-core/components/data-grid/src/table/Tr.tsx
  packages/paste-core/components/data-grid/stories/components/ComposableCellsDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/KitchenSinkDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/PaginatedDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/PlainDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/SelectableRowsDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/SortableColumnsDataGrid.tsx
  packages/paste-website/src/component-examples/DataGridExamples.ts
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Status: Do Not Merge

#1996 chore(design-tokens): update and add link colors
  .changeset/smooth-beans-draw.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Type: Tests, Area: Tokens

#1995 fix(website): fix typo on illustrations page
  packages/paste-website/src/pages/illustrations/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#2000 fix(button): center children for alignment
  .changeset/four-dolphins-argue.md
  packages/paste-core/components/button/src/index.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
  packages/paste-website/stories/feedback-popover.stories.tsx
Labels: Area: Doc Site, Area: Components, Status: Do Not Merge

#1999 chore: streamline CI workflows
  .github/opened-pr-labeler.yml
  .github/workflows/cypress.yml
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_package_size.yml
  .github/workflows/on_release_publish.yml
  .github/workflows/opened-pr-labeler.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/publish.yml
  .github/workflows/pull_request.yml
  .github/workflows/vrt_main.yml
  .github/workflows/vrt_pull_request.yml
  package.json
Labels: Area: Infrastructure, Area: Repo

#2014 test(website): block google analytics requests in cypress test
  cypress.json
Labels: Area: Repo

#2011 fix(popover): remove popovercontainer Box wrapper
  .changeset/stale-guests-repeat.md
  packages/paste-core/components/popover/src/PopoverContainer.tsx
Labels: Area: Components, Status: Do Not Merge

#2012 fix(website): broken roadmap link
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
Labels: Area: Doc Site, Type: Tests

#1994 Chore: publish customization docs
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/homepage/NewComponentBanner.tsx
  packages/paste-website/src/components/homepage/NewComponentBannerBadge.tsx
  packages/paste-website/src/components/homepage/NewComponentBannerLink.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site

#2021 fix(theme): correctly disable animations on mount
  .changeset/stupid-buttons-teach.md
  packages/paste-customization/src/CustomizationProvider.tsx
  packages/paste-theme/src/themeProvider.tsx
Labels: Area: Theme

#2020 fix(pill-group): fix how pill groups wrap
  .changeset/hungry-cows-attack.md
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
  packages/paste-core/components/display-pill-group/stories/index.stories.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
Labels: Area: Components

#2002 fix(slider-select): fix inadvertent image selection when interacting with the Image Slider
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
Labels: Area: Doc Site

#2025 feat(data-grid): add textAlign prop to DataGridCell
  .changeset/eight-cars-breathe.md
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/stories/components/PlainDataGrid.tsx
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components

#2023 fix: only prevent chromatic running on version merge commits
  .github/workflows/on_merge_to_main.yml
Labels: Area: Infrastructure

#2046 fix(website): component import codeblock missing quotes
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2028 chore(tokens): change color-text-icon in Dark mode
  .changeset/nine-pugs-work.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
Labels: Type: Tests, Area: Tokens

#2029 Badge ref fix
  .changeset/perfect-countries-speak.md
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/src/BadgeWrapper.tsx
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/styles.ts
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/src/utils.ts
  packages/paste-core/components/badge/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

#2013 feat(button): add icon-specific variants
  .changeset/little-meals-thank.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveIconButton.tsx
  packages/paste-core/components/button/src/PrimaryIconButton.tsx
  packages/paste-core/components/button/src/SecondaryIconButton.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests

#2042 feat(website): Update TableOfContents styles
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsAnchor.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsList.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/styles.ts
  packages/paste-website/src/components/shortcodes/table-of-contents/types.ts
  packages/paste-website/src/constants.ts
  packages/paste-website/stories/table-of-contents.stories.tsx
Labels: Area: Doc Site

#2053 chore(website): use template to add baseline tests for patterns, layout components, and primitives
  cypress/integration/e2e/layout/aspect-ratio.spec.ts
  cypress/integration/e2e/layout/flex.spec.ts
  cypress/integration/e2e/layout/grid.spec.ts
  cypress/integration/e2e/layout/media-object.spec.ts
  cypress/integration/e2e/layout/stack.spec.ts
  cypress/integration/e2e/patterns/button-vs-anchor.spec.ts
  cypress/integration/e2e/patterns/contribute.spec.ts
  cypress/integration/e2e/patterns/create.spec.ts
  cypress/integration/e2e/patterns/data-export.spec.ts
  cypress/integration/e2e/patterns/delete.spec.ts
  cypress/integration/e2e/patterns/empty-states.spec.ts
  cypress/integration/e2e/patterns/notifications-and-feedback.spec.ts
  cypress/integration/e2e/patterns/object-details.spec.ts
  cypress/integration/e2e/patterns/status.spec.ts
  cypress/integration/e2e/primitives/box.spec.ts
  cypress/integration/e2e/primitives/combobox-primitive.spec.ts
  cypress/integration/e2e/primitives/disclosure-primitive.spec.ts
  cypress/integration/e2e/primitives/menu-primitive.spec.ts
  cypress/integration/e2e/primitives/modal-dialog-primitive.spec.ts
  cypress/integration/e2e/primitives/non-modal-dialog-primitive.spec.ts
  cypress/integration/e2e/primitives/tabs-primitive.spec.ts
  cypress/integration/e2e/primitives/text.spec.ts
  cypress/integration/e2e/primitives/tooltip-primitive.spec.ts
  tools/utils/cypress-test-generators/TEMPLATE.js
  tools/utils/cypress-test-generators/createCypressTestSpec.js
Labels: Area: Infrastructure, Type: Tests

#2058 fix: normalizer/packageStatusLegend issue
  packages/paste-website/src/components/badge-popover/BadgePopover.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverButton.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContainer.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContext.tsx
  packages/paste-website/src/components/badge-popover/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
  packages/paste-website/stories/ComponentHeader.stories.tsx
Labels: Area: Doc Site

#2065 fix(site-layout): add position relative on scrolling container
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/html.tsx
Labels: Area: Doc Site

#2044 fix(react17-testing): update testing library
  package.json
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo

#2071 fix(package.json): tsc echo message should be wrapped in quotes
  package.json
Labels: Area: Repo

#2072 fix: typo in runCmd command description
  tools/utils/runCmd.js
Labels: Area: Infrastructure

#2035 chore: log build errors to help debug intermittant issue
  tools/build/esbuild.js
Labels: Area: Infrastructure

#2069 fix(website): Roadmap ToC Improvements
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsAnchor.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
Labels: Area: Doc Site

#2064 docs(website): add Changing the Theme docs page
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/core/changing-theme.mdx
Labels: Type: Documentation, Area: Doc Site

#2039 feat(callout-update): update callout component UI
  packages/paste-website/src/components/callout/index.tsx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/layout/index.mdx
  packages/paste-website/src/pages/libraries/uid-library/index.mdx
  packages/paste-website/src/pages/patterns/button-vs-anchor/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
  packages/paste-website/stories/callout.stories.tsx
Labels: Type: Documentation, Area: Doc Site

#2075 fix(data-grid): allow clicking links in the data-grid
  .changeset/many-adults-add.md
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/src/table/Td.tsx
  packages/paste-core/components/data-grid/src/table/Th.tsx
  packages/paste-core/components/data-grid/stories/components/ComposableCellsDataGrid.tsx
Labels: Area: Components

#2070 chore(website): update inline code design
  packages/paste-website/src/components/Typography.tsx
  packages/paste-website/src/pages/core/upgrade-guide.mdx
  packages/paste-website/stories/inline-code.stories.tsx
Labels: Type: Documentation, Area: Doc Site

#2041 feat(spacing-update): update spacing for site docs
  packages/paste-website/src/components/codeblock/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/ArticleLayouts.tsx
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/layouts/DefaultLayout.tsx
  packages/paste-website/src/pages/articles/2021-07-26-pastes-path-to-a-transparent-package-categorization-system.mdx
  packages/paste-website/src/pages/articles/index.mdx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/layout/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
Labels: Type: Documentation, Area: Doc Site
