Repository twilio-labs/paste, pull requests merged in 2021-12, with the labels that each got.

#2083 chore: replace close icon with `secondary_icon` variant in Alert, Modal, Popover, Toast
  .changeset/eleven-pets-applaud.md
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/toast/__tests__/toaster.spec.tsx
  packages/paste-core/components/toast/src/Toast.tsx
Labels: Area: Components, Type: Tests

#2082 feat(website): update website codeblocks design
  packages/paste-website/src/components/CopyButton.tsx
  packages/paste-website/src/components/icons-list/IconCard.tsx
  packages/paste-website/src/components/shortcodes/live-preview/CodeBlockOverlayShadow.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/stories/LivePreview.stories.tsx
Labels: Area: Doc Site

#2087 fix(label): default cursor when label is a legend
  .changeset/tricky-rules-wonder.md
  packages/paste-core/components/label/src/Label.tsx
Labels: Area: Components

#2092 fix(website): fix overflow on codeblocks, revert overflowX fix
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
Labels: Area: Doc Site

#2089 feat(popover): allow Badge as PopoverButton
  .changeset/many-maps-refuse.md
  .changeset/orange-lizards-sin.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/stories/index.stories.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/package.json
  packages/paste-core/components/popover/src/PopoverBadgeButton.tsx
  packages/paste-core/components/popover/src/PopoverButton.tsx
  packages/paste-core/components/popover/src/index.tsx
  packages/paste-core/components/popover/src/types.ts
  packages/paste-core/components/popover/stories/index.stories.tsx
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/components/badge-popover/BadgePopover.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverButton.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContainer.tsx
  packages/paste-website/src/components/badge-popover/BadgePopoverContext.tsx
  packages/paste-website/src/components/badge-popover/index.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/pages/components/popover/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo
