Repository twilio-labs/paste, pull requests merged in 2021-09, with the labels that each got.

#1823 chore(website): update all component/pattern package descriptions
  packages/paste-core/components/alert-dialog/package.json
  packages/paste-core/components/alert/package.json
  packages/paste-core/components/anchor/package.json
  packages/paste-core/components/avatar/package.json
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/breadcrumb/package.json
  packages/paste-core/components/button/package.json
  packages/paste-core/components/card/package.json
  packages/paste-core/components/checkbox/package.json
  packages/paste-core/components/combobox/package.json
  packages/paste-core/components/date-picker/package.json
  packages/paste-core/components/disclosure/package.json
  packages/paste-core/components/display-pill-group/package.json
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/heading/package.json
  packages/paste-core/components/help-text/package.json
  packages/paste-core/components/input/package.json
  packages/paste-core/components/label/package.json
  packages/paste-core/components/list/package.json
  packages/paste-core/components/menu/package.json
  packages/paste-core/components/modal/package.json
  packages/paste-core/components/paragraph/package.json
  packages/paste-core/components/popover/package.json
  packages/paste-core/components/radio-group/package.json
  packages/paste-core/components/screen-reader-only/package.json
  packages/paste-core/components/select/package.json
  packages/paste-core/components/separator/package.json
  packages/paste-core/components/skeleton-loader/package.json
  packages/paste-core/components/spinner/package.json
  packages/paste-core/components/table/package.json
  packages/paste-core/components/tabs/package.json
  packages/paste-core/components/textarea/package.json
  packages/paste-core/components/time-picker/package.json
  packages/paste-core/components/toast/package.json
  packages/paste-core/components/tooltip/package.json
  packages/paste-core/components/truncate/package.json
  packages/paste-website/src/pages/patterns/button-vs-anchor/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/data-export/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Status: Do Not Merge

#1817 feat(table): add element customization
  .changeset/soft-weeks-worry.md
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/TBody.tsx
  packages/paste-core/components/table/src/TFoot.tsx
  packages/paste-core/components/table/src/THead.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/Td.tsx
  packages/paste-core/components/table/src/Th.tsx
  packages/paste-core/components/table/src/Tr.tsx
  packages/paste-core/components/table/src/index.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

#1831 chore(disclosure): add fixed z-index to heading to prevent flash
  .changeset/heavy-bees-divide.md
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
Labels: Area: Components

#1826 chore(button): use left text alignment for link button variants
  .changeset/brown-parents-cross.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/InverseLinkButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
  packages/paste-core/components/button/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1818 feat(toast): allow onDismiss on toast push method
  .changeset/modern-shoes-check.md
  packages/paste-core/components/toast/__tests__/toaster.spec.tsx
  packages/paste-core/components/toast/src/Toaster.tsx
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/src/useToaster.ts
  packages/paste-core/components/toast/stories/index.stories.tsx
Labels: Area: Components, Type: Tests

#1816 feat: textarea, date-picker and time-picker customization
  .changeset/brave-cougars-deliver.md
  .changeset/lucky-pigs-bake.md
  .changeset/modern-foxes-shout.md
  .changeset/tender-balloons-reply.md
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/date-picker/src/DatePicker.tsx
  packages/paste-core/components/date-picker/stories/index.stories.tsx
  packages/paste-core/components/textarea/__tests__/textarea.test.tsx
  packages/paste-core/components/textarea/src/TextArea.tsx
  packages/paste-core/components/textarea/src/utils.ts
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/components/time-picker/src/TimePicker.tsx
  packages/paste-core/components/time-picker/stories/index.stories.tsx
  packages/paste-core/primitives/box/src/index.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Primitives

#1840 feat(tabs): add element customization
  .changeset/cool-cats-fly.md
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/TabPanel.tsx
  packages/paste-core/components/tabs/src/TabPanels.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-core/components/tabs/src/TabsContext.tsx
  packages/paste-core/components/tabs/src/utils.ts
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1853 test: add global 'TestTheme' jest variable
  .jest/globals/TestTheme.js
  jest.config.js
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/skeleton-loader/__tests__/index.spec.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-icons/__test__/icons.spec.tsx
Labels: Area: Infrastructure, Area: Components, Type: Tests, Status: Do Not Merge, Area: Layout, Area: Repo, Area: Primitives

#1860 feat(disclosure): add element customization
  .changeset/rotten-parrots-hug.md
  .changeset/tame-rabbits-collect.md
  packages/paste-core/components/card/src/index.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/disclosure/src/Disclosure.tsx
  packages/paste-core/components/disclosure/src/DisclosureContent.tsx
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
  packages/paste-core/components/disclosure/src/PropTypes.ts
  packages/paste-core/components/disclosure/src/types.ts
  packages/paste-core/components/disclosure/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1877 fix(website): roadmap page quick fix
  packages/paste-website/src/pages/roadmap/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#1852 feat(help text): add customization
  .changeset/moody-elephants-deliver.md
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/help-text/package.json
  packages/paste-core/components/help-text/src/HelpText.tsx
  packages/paste-core/components/help-text/stories/input.stories.tsx
  packages/paste-core/components/input/__tests__/input.test.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1858 feat(spinner): add new animated spinner
  .changeset/light-beans-speak.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/spinner/src/constants.ts
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/src/keyframes.tsx
  packages/paste-core/components/spinner/src/styled.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1878 feat(label): add element customization
  .changeset/short-eagles-beg.md
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/package.json
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
  packages/paste-core/components/label/src/index.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1880 feat(pagination): add element customization
  .changeset/four-suns-fail.md
  packages/paste-core/components/pagination/__tests__/customization.spec.tsx
  packages/paste-core/components/pagination/src/Pagination.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowButton.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowIconWrapper.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationBackArrow.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationForwardArrow.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/index.tsx
  packages/paste-core/components/pagination/src/PaginationEllipsis.tsx
  packages/paste-core/components/pagination/src/PaginationItems.tsx
  packages/paste-core/components/pagination/src/PaginationLabel.tsx
  packages/paste-core/components/pagination/src/PaginationNumber.tsx
  packages/paste-core/components/pagination/src/PaginationNumbers.tsx
  packages/paste-core/components/pagination/src/proptypes.ts
  packages/paste-core/components/pagination/src/types.ts
  packages/paste-core/components/pagination/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1894 chore(spinner): add element customization
  .changeset/nasty-olives-burn.md
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1895 feat(breadcrumb): add element customization
  .changeset/tame-dingos-exercise.md
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/breadcrumb/src/index.tsx
  packages/paste-core/components/breadcrumb/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge
