Repository twilio-labs/paste, pull requests merged in 2021-10, with the labels that each got.

#1897 feat(combobox): add element customization
  .changeset/angry-lemons-fetch.md
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/ComboboxItems.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListbox.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxGroup.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxOption.tsx
  packages/paste-core/components/combobox/src/types.ts
  packages/paste-core/components/combobox/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1903 feat(modal): customization
  .changeset/clean-planets-provide.md
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/src/ModalBody.tsx
  packages/paste-core/components/modal/src/ModalFooter.tsx
  packages/paste-core/components/modal/src/ModalFooterActions.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/modal/src/ModalHeading.tsx
  packages/paste-core/components/modal/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1900 feat(menu): customization
  .changeset/tender-kids-brush.md
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/menu/src/Menu.tsx
  packages/paste-core/components/menu/src/MenuButton.tsx
  packages/paste-core/components/menu/src/MenuGroup.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/MenuSeparator.tsx
  packages/paste-core/components/menu/src/SubMenuButton.tsx
  packages/paste-core/components/menu/src/index.tsx
  packages/paste-core/components/menu/src/types.ts
  packages/paste-core/components/menu/src/useMenuState.ts
  packages/paste-core/components/menu/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1911 feat(tokens, icons): add content for connectivity status pattern
  .changeset/serious-timers-run.md
  .changeset/three-teachers-give.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ConnectivityAvailableIcon.tsx
  packages/paste-icons/src/ConnectivityBusyIcon.tsx
  packages/paste-icons/src/ConnectivityOfflineIcon.tsx
  packages/paste-icons/src/ConnectivityUnavailableIcon.tsx
  packages/paste-icons/svg/ConnectivityAvailable.svg
  packages/paste-icons/svg/ConnectivityBusy.svg
  packages/paste-icons/svg/ConnectivityOffline.svg
  packages/paste-icons/svg/ConnectivityUnavailable.svg
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Status: Do Not Merge, Area: Tokens

#1914 docs(website): add data-grid docs
  packages/paste-website/src/component-examples/DataGridExamples.ts
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#1980 docs(website): use unbarreled imports on docs pages
  packages/paste-website/src/pages/components/alert-dialog/index.mdx
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/avatar/index.mdx
  packages/paste-website/src/pages/components/badge/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/disclosure/index.mdx
  packages/paste-website/src/pages/components/display-pill-group/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/paragraph/index.mdx
  packages/paste-website/src/pages/components/popover/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/screen-reader-only/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/separator/index.mdx
  packages/paste-website/src/pages/components/skeleton-loader/index.mdx
  packages/paste-website/src/pages/components/spinner/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/components/tooltip/index.mdx
  packages/paste-website/src/pages/components/truncate/index.mdx
  packages/paste-website/src/pages/layout/flex/index.mdx
  packages/paste-website/src/pages/layout/grid/index.mdx
  packages/paste-website/src/pages/layout/media-object/index.mdx
  packages/paste-website/src/pages/layout/stack/index.mdx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
Labels: Type: Documentation, Area: Doc Site

#1982 fix: changeset publish script needs to commit lockfile
  .github/workflows/publish.yml
  package.json
Labels: Area: Infrastructure, Area: Repo

#1976 docs(website): Breaking up the Engineering Guidelines page
  netlify.toml
  packages/paste-website/netlify.toml
  packages/paste-website/src/components/homepage/GetStartedRunning.tsx
  packages/paste-website/src/components/icons-list/IconCard.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterNav.tsx
  packages/paste-website/src/pages/getting-started/engineering/index.mdx
  packages/paste-website/src/pages/getting-started/manual-installation/index.mdx
  packages/paste-website/src/pages/getting-started/quickstart/index.mdx
  packages/paste-website/src/pages/icons/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Repo

#1984 fix(website): remove duplicative github link
  packages/paste-website/src/components/icons/GithubIcon.tsx
  packages/paste-website/src/components/site-wrapper/site-header/GithubLink.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
Labels: Area: Doc Site

#1744 fix(website): Remove unnecessary "please" from examples, clarify error text copy guidance
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/getting-started/working-guide/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
Labels: Type: Documentation, Area: Doc Site
