Repository twilio-labs/paste, pull requests merged in 2021-06, with the labels that each got.

#1002 feat: Paste token <--> package mappings
  .codesandbox/ci.json
  .gitignore
  @types/search-in-file/index.d.ts
  package.json
  packages/paste-core/core-bundle/tools/constants.js
  packages/paste-design-tokens/tsconfig.json
  tools/build/token-usage-detector.ts
  tools/jest.config.js
  tools/tsconfig.json
  tools/utils/token-usage/__tests__/convertFilePathsToPackageNames.test.ts
  tools/utils/token-usage/__tests__/getMinimalPackageList.test.ts
  tools/utils/token-usage/__tests__/getUnusedTokenList.test.ts
  tools/utils/token-usage/convertFilePathsToPackageNames.ts
  tools/utils/token-usage/getMinimalPackageList.ts
  tools/utils/token-usage/getTokenPackageMapping.ts
  tools/utils/token-usage/getUnusedTokenList.ts
  tools/utils/token-usage/types.ts
  tools/utils/writeToFile.ts
  yarn.lock
Labels: Status: WIP

#1528 fix(website): correct alert storybook url
  packages/paste-website/src/pages/components/alert/index.mdx
Labels: Area: Doc Site, Type: Documentation

#1566 chore(website): update docs to reference Figma instead of Sketch
  packages/paste-website/src/assets/images/design-guidelines/figma-link-paste-libraries.png
  packages/paste-website/src/assets/images/design-guidelines/figma-open-library-modal.png
  packages/paste-website/src/assets/images/design-guidelines/layer-styles.png
  packages/paste-website/src/assets/images/design-guidelines/library-updates-badge.png
  packages/paste-website/src/assets/images/design-guidelines/library-updates-confirmation-modal.png
  packages/paste-website/src/assets/images/design-guidelines/link-component-library-modal.png
  packages/paste-website/src/assets/images/design-guidelines/link-theme-library-modal.png
  packages/paste-website/src/assets/images/design-guidelines/paste-components-symbol.png
  packages/paste-website/src/assets/images/design-guidelines/sketch-file-version.png
  packages/paste-website/src/assets/images/design-guidelines/text-styles.png
  packages/paste-website/src/assets/images/design-guidelines/theme-typography-styles.png
  packages/paste-website/src/assets/images/design-guidelines/token-styles.png
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/getting-started/design/index.mdx
  packages/paste-website/src/pages/icons/how-to-add-an-icon/index.mdx
  packages/paste-website/src/pages/layout/grid/index.mdx
  packages/paste-website/src/pages/libraries/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
Labels: Area: Design, Area: Doc Site

#1615 fix(website): conditionally render overview links if doc exists
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-website/src/components/component-overview-table/index.tsx
Labels: Area: Doc Site, Type: Documentation
