Repository twilio-labs/paste, pull requests merged in 2021-08, with the labels that each got.

#1697 chore: set up automatic PR labelling
  .github/labeler.yml
  .github/opened-pr-labeler.yml
  .github/workflows/opened-pr-labeler.yml
  .github/workflows/pr-labeler.yml
Labels: Area: Infrastructure

#1727 feat(website): update working with us guide
  packages/paste-website/src/pages/getting-started/working-guide/index.mdx
Labels: Area: Doc Site, Type: Documentation

#1722 Feat/stack customization
  .changeset/nice-ravens-remember.md
  packages/paste-core/layout/stack/__tests__/stack.test.tsx
  packages/paste-core/layout/stack/src/index.tsx
  packages/paste-core/layout/stack/stories/index.stories.tsx
Labels: Area: Layout, Type: Tests

#1713 docs(modal): fix first example by deleting unused code
  packages/paste-website/src/component-examples/ModalExamples.ts
Labels: Area: Doc Site

#1685 fix(grid): vertical grid should use gutter
  .changeset/seven-baboons-report.md
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/layout/grid/src/Column.tsx
  packages/paste-core/layout/grid/src/Grid.tsx
  packages/paste-core/layout/grid/src/types.ts
  packages/paste-core/layout/grid/src/utils.tsx
Labels: Area: Layout, Type: Tests

#1725 fix(combobox): let Downshift handle all props to fix out of sync events
  .changeset/tall-phones-rescue.md
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/types.ts
Labels: Area: Components

#1733 feat(anchor): add element customization
  .changeset/bright-papayas-collect.md
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/anchor/src/DefaultAnchor.tsx
  packages/paste-core/components/anchor/src/InverseAnchor.tsx
  packages/paste-core/components/anchor/src/index.tsx
  packages/paste-core/components/anchor/src/proptypes.ts
  packages/paste-core/components/anchor/src/types.ts
  packages/paste-core/components/anchor/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1742 feat(avatar): add element customization
  .changeset/angry-lizards-pump.md
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/avatar/src/types.ts
  packages/paste-core/components/avatar/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1740 docs(label): add missing as attribute in props table
  packages/paste-website/src/pages/components/label/index.mdx
Labels: Type: Documentation, Area: Doc Site

#1734 feat(grid): add element customization
  .changeset/gorgeous-rivers-relate.md
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/layout/grid/src/Column.tsx
  packages/paste-core/layout/grid/src/Grid.tsx
  packages/paste-core/layout/grid/src/types.ts
  packages/paste-core/layout/grid/stories/index.stories.tsx
Labels: Type: Tests, Status: Do Not Merge, Area: Layout

#1726 feat(card): add element customization
  .changeset/rotten-cups-kiss.md
  packages/paste-core/components/card/__test__/__snapshots__/card.test.tsx.snap
  packages/paste-core/components/card/__test__/card.test.tsx
  packages/paste-core/components/card/src/index.tsx
  packages/paste-core/components/card/stories/index.stories.tsx
Labels: Area: Components

#1741 docs(radio-group): add missing pre-selected example
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Type: Documentation, Area: Doc Site

#1748 feat(website): track icon and design token searches
  packages/paste-website/src/components/icons-list/IconsList.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: Area: Doc Site

#1760 chore(website): add "column-gap" and "row-gap" to Box props table in docs
  packages/paste-website/src/pages/primitives/box/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#1755 docs(website): add data-export pattern docs
  packages/paste-website/src/assets/images/articles/insights-metrics-inform-paste-design-system/downloads.png
  packages/paste-website/src/assets/images/articles/insights-metrics-inform-paste-design-system/search.png
  packages/paste-website/src/assets/images/articles/insights-metrics-inform-paste-design-system/trend.png
  packages/paste-website/src/assets/images/articles/pastes-path-to-a-transparent-package-categorization-system/overview-1.png
  packages/paste-website/src/assets/images/articles/pastes-path-to-a-transparent-package-categorization-system/overview-2.png
  packages/paste-website/src/assets/images/design-guidelines/token-styles.png
  packages/paste-website/src/assets/images/home/codesandbox-mobile.png
  packages/paste-website/src/assets/images/patterns/button-anchor-like-buttons.png
  packages/paste-website/src/assets/images/patterns/create-anchor-as-button.png
  packages/paste-website/src/assets/images/patterns/create-anchor.png
  packages/paste-website/src/assets/images/patterns/create-card.png
  packages/paste-website/src/assets/images/patterns/create-multi-option.png
  packages/paste-website/src/assets/images/patterns/create-standard.png
  packages/paste-website/src/assets/images/patterns/create-sub-section.png
  packages/paste-website/src/assets/images/patterns/delete-high-severity.png
  packages/paste-website/src/assets/images/patterns/delete-medium-severity.png
  packages/paste-website/src/assets/images/patterns/notifications-alert@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-inline-messaging@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-inpage-messaging@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-modal@3x.png
  packages/paste-website/src/assets/images/patterns/notifications-toast@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-standard-reordered@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-standard@3x.png
  packages/paste-website/src/assets/images/patterns/object-details-tabbed@3x.png
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/data-export/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#1781 feat(separator): add element customization
  .changeset/popular-cheetahs-punch.md
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/separator/src/index.tsx
  packages/paste-core/components/separator/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1765 chore(website): Add Figma link to Empty State pattern
  packages/paste-website/src/pages/patterns/empty-states/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#1751 chore(website): update design getting started page
  packages/paste-website/src/pages/getting-started/design/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#1783 docs(website): add badge docs
  .changeset/cyan-maps-taste.md
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-website/src/component-examples/BadgeExamples.ts
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components

#1800 feat(display-pill-group): add package
  .changeset/brave-clouds-press.md
  .codesandbox/ci.json
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/display-pill-group/build.js
  packages/paste-core/components/display-pill-group/package.json
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPillGroup.tsx
  packages/paste-core/components/display-pill-group/src/index.tsx
  packages/paste-core/components/display-pill-group/stories/index.stories.tsx
  packages/paste-core/components/display-pill-group/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/display-pill-group.tsx
  packages/paste-core/core-bundle/src/index.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Core bundle

#1790 feat(combobox-primitive): expose multiple selection hook
  .changeset/happy-moons-unite.md
  package.json
  packages/paste-core/primitives/combobox/__tests__/useMultiSelectPrimitive.test.tsx
  packages/paste-core/primitives/combobox/src/index.tsx
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, Area: Primitives

#1801 chore(button): link and destructive link should not be centered
  .changeset/chilly-eggs-provide.md
  packages/paste-core/components/alert/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#1803 feat(form-pill-group): add package
  .changeset/orange-brooms-applaud.md
  .codesandbox/ci.json
  cypress/integration/e2e/link-checker/index.spec.ts
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/build.js
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  packages/paste-core/components/form-pill-group/src/index.tsx
  packages/paste-core/components/form-pill-group/src/useFormPillState.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
  packages/paste-core/components/form-pill-group/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/form-pill-group.tsx
  packages/paste-core/core-bundle/src/index.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Core bundle
