Repository twilio-labs/paste, pull requests merged in 2022-10, with the labels that each got.

#2684 fix: don't bundle react-16 types, only install for testing in CI
  .github/workflows/on_pull_request.yml
  .gitignore
  jest.config.js
  package.json
  yarn.lock
Labels: Area: Infrastructure, Status: Ready to merge, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2703 feat(code block): add copyTextFormatter prop
  .changeset/poor-pots-obey.md
  packages/paste-core/components/code-block/src/CodeBlock.tsx
  packages/paste-core/components/code-block/src/CopyButton.tsx
  packages/paste-core/components/code-block/stories/index.stories.tsx
  packages/paste-website/src/component-examples/CodeBlockExamples.ts
  packages/paste-website/src/pages/components/code-block/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2709 chore: update the homepage new banner with job
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2712 feat: add ButtonGroup component
  .changeset/shy-hotels-notice.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/button-group/__tests__/index.spec.tsx
  packages/paste-core/components/button-group/build.js
  packages/paste-core/components/button-group/package.json
  packages/paste-core/components/button-group/src/ButtonGroup.tsx
  packages/paste-core/components/button-group/src/index.tsx
  packages/paste-core/components/button-group/stories/index.stories.tsx
  packages/paste-core/components/button-group/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/button-group.tsx
  packages/paste-core/core-bundle/src/index.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2714 docs(combobox): improve Combobox docs
  cypress/integration/filter-group-examples/index.spec.ts
  packages/paste-core/components/combobox/stories/Combobox.stories.tsx
  packages/paste-website/src/component-examples/ComboboxExamples.ts
  packages/paste-website/src/component-examples/MultiselectComboboxExamples.ts
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/multiselect-combobox/index.mdx
  tools/plop-templates/package.hbs
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2719 chore(utils): remove useMergeRef and add tests for useWindowSize
  .changeset/odd-flies-rush.md
  packages/paste-utils/__tests__/useWindowSize.test.tsx
  packages/paste-utils/src/hooks/useMergeRefs.ts
  packages/paste-utils/src/index.ts
Labels: Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2722 docs: add website docs for ButtonGroup
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/component-examples/ButtonGroupExamples.ts
  packages/paste-website/src/pages/components/button-group/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🕵🏻‍♀️ Run website visual regression

#2743 feat(file-picker): add onChange and name props
  .changeset/nice-laws-divide.md
  packages/paste-core/components/file-picker/__tests__/index.spec.tsx
  packages/paste-core/components/file-picker/src/FilePicker.tsx
  packages/paste-core/components/file-picker/stories/index.stories.tsx
  packages/paste-website/src/component-examples/FilePickerExamples.ts
  packages/paste-website/src/pages/components/file-picker/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2744 docs(website): fix baseTheme default/dark casing
  packages/paste-website/src/pages/customization/creating-a-custom-theme.mdx
  packages/paste-website/src/pages/customization/customization-provider.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#2745 fix(theme): add missing Partial around iconSizes bucket
  .changeset/gold-avocados-relax.md
  packages/paste-theme/src/types/GenericThemeShape.ts
Labels: Area: Theme, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2748 chore(button-group): add toggle button story
  packages/paste-core/components/button-group/stories/index.stories.tsx
Labels: Area: Components, 🕵🏻‍♀️ Run website visual regression

#2746 add RadioButtonGroup package
  .changeset/big-dingos-destroy.md
  .changeset/green-frogs-jog.md
  .changeset/strange-experts-clean.md
  .changeset/yellow-ways-end.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/button-group/src/ButtonGroup.tsx
  packages/paste-core/components/button-group/stories/index.stories.tsx
  packages/paste-core/components/button/src/SecondaryButton.tsx
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/radio-button-group/CHANGELOG.md
  packages/paste-core/components/radio-button-group/__tests__/index.spec.tsx
  packages/paste-core/components/radio-button-group/build.js
  packages/paste-core/components/radio-button-group/package.json
  packages/paste-core/components/radio-button-group/src/HiddenRadio.tsx
  packages/paste-core/components/radio-button-group/src/RadioButton.tsx
  packages/paste-core/components/radio-button-group/src/RadioButtonContext.tsx
  packages/paste-core/components/radio-button-group/src/RadioButtonGroup.tsx
  packages/paste-core/components/radio-button-group/src/StyledRadioButtonGroupWrapper.tsx
  packages/paste-core/components/radio-button-group/src/StyledRadioButtonLabel.tsx
  packages/paste-core/components/radio-button-group/src/index.tsx
  packages/paste-core/components/radio-button-group/stories/index.stories.tsx
  packages/paste-core/components/radio-button-group/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/radio-button-group/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/radio-button-group.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2757 fix: radio button style import
  .changeset/cold-turkeys-stare.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/button/package.json
  packages/paste-core/components/button/src/SecondaryButton.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/radio-button-group/src/StyledRadioButtonLabel.tsx
  yarn.lock
Labels: Area: Components, Status: Do Not Merge, Area: Repo, 🕵🏻‍♀️ Run website visual regression

#2747 docs: radio button group
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/avatar/package.json
  packages/paste-website/src/component-examples/RadioButtonGroupExamples.ts
  packages/paste-website/src/pages/components/avatar/index.mdx
  packages/paste-website/src/pages/components/file-picker/index.mdx
  packages/paste-website/src/pages/components/radio-button-group/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🕵🏻‍♀️ Run website visual regression

#2770 chore: extend danger to ensure major updates for all paste packages have upgrade guide
  .danger/__tests__/major-missing-upgrade-guide.spec.ts
  .danger/major-core-missing-upgrade-guide.ts
  .danger/major-missing-upgrade-guide.ts
  dangerfile.ts
Labels: Type: Refactor, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2753 feat(switch): update API to match Checkbox package
  .changeset/selfish-melons-report.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/switch/__tests__/index.spec.tsx
  packages/paste-core/components/switch/package.json
  packages/paste-core/components/switch/src/Switch.tsx
  packages/paste-core/components/switch/src/SwitchContainer.tsx
  packages/paste-core/components/switch/src/SwitchContext.tsx
  packages/paste-core/components/switch/src/SwitchGroup.tsx
  packages/paste-core/components/switch/src/SwitchKnob.tsx
  packages/paste-core/components/switch/src/index.tsx
  packages/paste-core/components/switch/src/types.ts
  packages/paste-core/components/switch/stories/index.stories.tsx
  packages/paste-website/src/component-examples/SwitchExamples.ts
  packages/paste-website/src/pages/components/switch/index.mdx
  packages/paste-website/src/pages/core/upgrade-guide.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2778 docs: add more i18n docs
  packages/paste-website/src/pages/foundations/localization/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2737 chore: update create package template
  .changeset/real-ligers-protect.md
  packages/paste-core/components/button-group/src/ButtonGroup.tsx
  tools/plop-templates/component-index.hbs
  tools/plop-templates/package.hbs
Labels: Area: Infrastructure, Area: Components, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#2749 fix(ButtonGroup): customization tests
  packages/paste-core/components/alert-dialog/__tests__/index.spec.tsx
  packages/paste-core/components/button-group/__tests__/index.spec.tsx
  packages/paste-core/components/combobox/__tests__/GrowingInput.spec.tsx
  packages/paste-core/components/file-picker/__tests__/index.spec.tsx
  packages/paste-website/src/__tests__/tokenCard.test.tsx
Labels: Area: Doc Site, Area: Components, Type: Tests, 🕵🏻‍♀️ Run website visual regression

#2788 chore(website): add dangerJS blog post to blog
  packages/paste-website/src/pages/blog/2022-10-18-danger-js-helping-paste-focus-on-paste.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
