Repository twilio-labs/paste, pull requests merged in 2022-01, with the labels that each got.

#2060 chore(cypress): add spec for docs site search
  cypress.json
  cypress/integration/site-search/index.spec.ts
  cypress/support/index.js
  package.json
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderSearch.tsx
Labels: Area: Doc Site, Type: Tests, Area: Repo

#2105 chore: add TestTheme and emotion style matchers as globals
  .jest/@types/index.d.ts
  @types/index.d.ts
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/badge/__tests__/customization.spec.tsx
  packages/paste-core/components/base-radio-checkbox/__tests__/base-radio-checkbox.test.tsx
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/button/__tests__/customization.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/combobox/__tests__/customization.spec.tsx
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  packages/paste-core/components/data-grid/__tests__/customization.spec.tsx
  packages/paste-core/components/date-picker/__tests__/index.spec.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/display-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/inline-control-group/__tests__/inlineControlGroup.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/modal/__tests__/customization.spec.tsx
  packages/paste-core/components/pagination/__tests__/customization.spec.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/select/__tests__/optiongroup.test.tsx
  packages/paste-core/components/select/__tests__/select.test.tsx
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/skeleton-loader/__tests__/index.spec.tsx
  packages/paste-core/components/spinner/__tests__/index.test.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/time-picker/__tests__/index.spec.tsx
  packages/paste-core/components/toast/__tests__/customization.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-icons/__test__/icons.spec.tsx
  tsconfig.json
Labels: Area: Infrastructure, Area: Components, Type: Tests, Area: Layout, Area: Repo, Area: Primitives

#2095 chore: remove references to console theme
  .storybook/preview.js
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/card/__test__/card.test.tsx
  packages/paste-core/components/input/__tests__/__snapshots__/input.test.tsx.snap
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/layout/flex/__tests__/flex.test.tsx
  packages/paste-core/primitives/box/__tests__/box.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
  packages/paste-theme/README.md
  packages/paste-theme/__tests__/themeConsumer.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-theme/__tests__/useTheme.spec.tsx
  packages/paste-theme/__tests__/withTheme.spec.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
  packages/paste-website/src/pages/getting-started/faqs/index.mdx
  packages/paste-website/src/pages/getting-started/manual-installation/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
  packages/paste-website/src/pages/tokens/theme-package/index.mdx
Labels: Type: Documentation, Area: Storybook, Area: Doc Site, Area: Theme, Area: Components, Type: Tests, Area: Layout, Area: Primitives

#2120 fix(airtable-update): update gastby refs to match updated airtable
  packages/paste-website/gatsby-config.js
  packages/paste-website/src/pages/roadmap/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2118 Fix: style props default import
  .changeset/pretty-turkeys-decide.md
  packages/paste-style-props/src/constants.ts
  packages/paste-style-props/tsconfig.json
  tsconfig.json
Labels: Area: Repo

#2129 chore(website): Update Cypress.io to version 9.2.1
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/integration/site-search/index.spec.ts
  package.json
  yarn.lock
Labels: Type: Tests, Area: Repo

#2143 chore(storybook): update Storybook deps and add RTL toggle
  .storybook/preview.js
  package.json
  yarn.lock
Labels: Area: Storybook, Area: Repo

#2127 feat(logo-link): make entire logo clickable, add hover
  packages/paste-website/src/components/icons/PasteIcon.tsx
  packages/paste-website/src/components/icons/PasteIconPride.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderLogo.tsx
Labels: Area: Doc Site

#2139 docs(token list): updating background color token descriptions
  packages/paste-design-tokens/tokens/global/background-color.yml
Labels: Area: Tokens

#2150 chore(core-bundle): fix incorrect tsconfig extend path
  .changeset/little-bottles-scream.md
  .danger/changesets-that-need-core-check.ts
  packages/paste-core/core-bundle/tsconfig.json
Labels: Area: Core bundle

#2159 website(heading): add do/dont about case
  packages/paste-website/src/pages/components/heading/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2154 fix(website): image paths
  packages/paste-website/src/pages/introduction/for-designers/design-guidelines/index.mdx
Labels: Type: Documentation, Area: Doc Site

#1997 chore: component render perf tracking
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  .storybook/RenderPerformanceProfiler.js
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Labels: Area: Storybook, Area: Infrastructure, Area: Repo

#2093 feat(theme): add dataVisualization tokens to theme object
  .changeset/fast-trees-call.md
  .changeset/old-books-worry.md
  .changeset/pink-monkeys-agree.md
  .changeset/strange-mangos-tie.md
  packages/paste-color-contrast-utils/__fixtures__/tokensWithExtraPairings.raw.json
  packages/paste-color-contrast-utils/__tests__/colorContrastPairingUtils.spec.ts
  packages/paste-color-contrast-utils/__tests__/themeContrast.spec.ts
  packages/paste-color-contrast-utils/src/utils.ts
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/palette-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/palette-color.yml
  packages/paste-design-tokens/types/index.ts
  packages/paste-style-props/src/types/background.ts
  packages/paste-style-props/src/types/flexbox.ts
  packages/paste-style-props/src/types/layout.ts
  packages/paste-style-props/src/types/position.ts
  packages/paste-style-props/src/types/shadow.ts
  packages/paste-style-props/src/types/space.ts
  packages/paste-theme/__tests__/__snapshots__/generateThemeFromTokens.spec.ts.snap
  packages/paste-theme/__tests__/__snapshots__/themes.spec.ts.snap
  packages/paste-theme/__tests__/generateThemeFromTokens.spec.ts
  packages/paste-theme/src/generateThemeFromTokens.ts
  packages/paste-theme/src/generateTokensFromTheme.ts
  packages/paste-theme/src/themes/console/index.ts
  packages/paste-theme/src/themes/dark/index.ts
  packages/paste-theme/src/themes/default/index.ts
  packages/paste-theme/src/themes/sendgrid/index.ts
  packages/paste-theme/src/types/GenericThemeShape.ts
  packages/paste-theme/src/useTheme.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerContext.tsx
Labels: Area: Doc Site, Area: Theme, Type: Tests, Area: Tokens

#2156 fix(badge): simplify children type
  .changeset/tidy-feet-wash.md
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/src/hooks.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/types.ts
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests

#2147 chore: replace a deprecated recommended vs code extension
  .vscode/extensions.json
Labels: Area: Infrastructure
