Repository twilio-labs/paste, pull requests merged in 2022-12, with the labels that each got.

#2854 fix(ChatComposer): fix Lexical global styles
  .changeset/chilly-lizards-dress.md
  packages/paste-core/components/chat-composer/src/ChatComposer.tsx
  packages/paste-core/components/chat-composer/src/styles.ts
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2852 [DSYS-3301]: add Chat Composer documentation website page
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/component-examples/ChatComposerExamples.ts
  packages/paste-website/src/pages/components/chat-composer/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2859 fix: chat small fixes
  .changeset/fair-paws-lick.md
  .changeset/nasty-dolls-burn.md
  .changeset/ten-trains-fold.md
  packages/paste-core/components/chat-composer/stories/ConversationsUIKit/helpers.tsx
  packages/paste-core/components/chat-composer/stories/ConversationsUIKit/index.stories.tsx
  packages/paste-core/components/chat-composer/stories/index.stories.tsx
  packages/paste-core/components/chat-log/src/ChatBookend.tsx
  packages/paste-core/components/chat-log/src/ChatEvent.tsx
  packages/paste-core/components/chat-log/src/ChatLog.tsx
  packages/paste-core/components/chat-log/src/ChatMessage.tsx
  packages/paste-libraries/lexical/src/index.tsx
Labels: Area: Components, 🕵🏻‍♀️ Run website visual regression

#2865 docs: add conversations ui kit announcement blog post
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2022-12-06-announcing-the-conversations-ui-kit/component-breakdown.png
  packages/paste-website/src/assets/images/articles/2022-12-06-announcing-the-conversations-ui-kit/figma-screenshot.png
  packages/paste-website/src/component-examples/ConversationsUIKitAnnouncement.tsx
  packages/paste-website/src/pages/blog/2022-12-06-announcing-the-conversations-ui-kit.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🕵🏻‍♀️ Run website visual regression

#2872 chore: update Storybook to v6.5
  .storybook/.babelrc
  .storybook/addons/google-analytics/register.js
  .storybook/main.js
  babel.config.js
  package.json
  packages/paste-core/components/alert-dialog/stories/index.stories.tsx
  packages/paste-core/components/anchor/stories/index.stories.tsx
  packages/paste-core/components/avatar/stories/index.stories.tsx
  packages/paste-core/components/breadcrumb/stories/index.stories.tsx
  packages/paste-core/components/card/stories/index.stories.tsx
  packages/paste-core/components/chat-composer/stories/index.stories.tsx
  packages/paste-core/components/chat-log/stories/components/ChatAttachment.stories.tsx
  packages/paste-core/components/checkbox/stories/checkbox.stories.tsx
  packages/paste-core/components/combobox/stories/Combobox-customization.stories.tsx
  packages/paste-core/components/combobox/stories/Combobox.stories.tsx
  packages/paste-core/components/combobox/stories/GrowingInput.stories.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox-customization.stories.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox.stories.tsx
  packages/paste-core/components/disclosure/stories/index.stories.tsx
  packages/paste-core/components/heading/stories/index.stories.tsx
  packages/paste-core/components/help-text/stories/input.stories.tsx
  packages/paste-core/components/input-box/stories/inputbox.stories.tsx
  packages/paste-core/components/input/stories/input.stories.tsx
  packages/paste-core/components/list/stories/index.stories.tsx
  packages/paste-core/components/menu/stories/index.stories.tsx
  packages/paste-core/components/modal/stories/customization.stories.tsx
  packages/paste-core/components/modal/stories/index.stories.tsx
  packages/paste-core/components/pagination/stories/index.stories.tsx
  packages/paste-core/components/radio-group/stories/radio-controlled.stories.tsx
  packages/paste-core/components/radio-group/stories/radio-uncontrolled.stories.tsx
  packages/paste-core/components/radio-group/stories/radiogroup-controlled.stories.tsx
  packages/paste-core/components/radio-group/stories/radiogroup-uncontrolled.stories.tsx
  packages/paste-core/components/radio-group/stories/radiogroup-vrt.stories.tsx
  packages/paste-core/components/select/stories/select.stories.tsx
  packages/paste-core/components/separator/stories/index.stories.tsx
  packages/paste-core/components/switch/stories/index.stories.tsx
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-core/components/tabs/stories/index.stories.tsx
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
  packages/paste-core/components/toast/stories/index.stories.tsx
  packages/paste-core/components/tooltip/stories/index.stories.tsx
  packages/paste-core/layout/flex/stories/index.stories.tsx
  packages/paste-core/layout/grid/stories/index.stories.tsx
  packages/paste-core/layout/media-object/stories/index.stories.tsx
  packages/paste-core/layout/stack/stories/index.stories.tsx
  packages/paste-core/primitives/box/stories/index.stories.tsx
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-core/primitives/modal-dialog/stories/index.stories.tsx
  packages/paste-core/primitives/non-modal-dialog/stories/index.stories.tsx
  packages/paste-core/primitives/text/stories/index.stories.tsx
  packages/paste-customization/stories/customization.stories.tsx
  packages/paste-icons/stories/index.stories.tsx
  packages/paste-libraries/uid/stories/index.stories.tsx
  yarn.lock
Labels: Area: Storybook, Area: Components, Area: Layout, Area: Repo, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2876 feat: add December newsletter
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2022-12-09-paste-newsletter/display-heading.png
  packages/paste-website/src/assets/images/articles/2022-12-09-paste-newsletter/justin-young.png
  packages/paste-website/src/assets/images/articles/2022-12-09-paste-newsletter/robb-niznik.jpeg
  packages/paste-website/src/pages/blog/2022-12-09-paste-newsletter.mdx
  packages/paste-website/static/images/gifs-2022-12-09-paste-newsletter/animated-chat-log.gif
  packages/paste-website/static/images/gifs-2022-12-09-paste-newsletter/chat-composer.gif
  packages/paste-website/static/images/gifs-2022-12-09-paste-newsletter/in-page-nav.gif
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🕵🏻‍♀️ Run website visual regression

#2874 chore: update gh actions to latest versions
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_cypress.yml
  .github/workflows/on_pull_request_open.yml
  .github/workflows/on_pull_request_package_size.yml
  .github/workflows/on_release_publish.yml
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2863 chore(website): remove guideline of not using dark theme as only theme
  packages/paste-website/src/pages/theme/dark-theme.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2878 chore: update to TypeScript v4.9
  .changeset/bright-falcons-know.md
  apps/vs-code-intellisense/package.json
  package.json
  packages/paste-codemods/package.json
  packages/paste-core/components/button/package.json
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/chat-composer/package.json
  packages/paste-core/components/checkbox/src/CheckboxGroup.tsx
  packages/paste-core/components/code-block/package.json
  packages/paste-core/components/combobox/package.json
  packages/paste-core/components/display-heading/package.json
  packages/paste-core/components/in-page-navigation/package.json
  packages/paste-core/components/menu/src/MenuGroup.tsx
  packages/paste-core/layout/grid/src/Grid.tsx
  packages/paste-core/primitives/box/package.json
  packages/paste-nextjs-template/package.json
  packages/paste-theme-designer/package.json
  packages/paste-theme/package.json
  packages/paste-theme/src/types/GenericThemeShape.ts
  packages/paste-website/package.json
  packages/paste-website/src/components/Heading.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
  tools/build/__tests__/__snapshots__/compiledImports.test.ts.snap
  tools/plop-templates/package.hbs
  yarn.lock
Labels: Area: Doc Site, Area: Infrastructure, Area: Theme, Area: Components, Type: Tests, Area: Layout, Area: Repo, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2882 chore(website): update new banner to chat composer
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2894 chore(icons): add new product icons
  .changeset/lovely-years-melt.md
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductAudiencesIcon.tsx
  packages/paste-icons/src/ProductConnectionsIcon.tsx
  packages/paste-icons/src/ProductEngageIcon.tsx
  packages/paste-icons/src/ProductPersonasIcon.tsx
  packages/paste-icons/src/ProductPrivacyIcon.tsx
  packages/paste-icons/src/ProductProtocolsIcon.tsx
  packages/paste-icons/src/ProductReverseETLIcon.tsx
  packages/paste-icons/src/ProductSegmentIcon.tsx
  packages/paste-icons/src/ProductTraitsIcon.tsx
  packages/paste-icons/src/ProductUSSDIcon.tsx
  packages/paste-icons/svg/ProductAudiences.svg
  packages/paste-icons/svg/ProductConnections.svg
  packages/paste-icons/svg/ProductEngage.svg
  packages/paste-icons/svg/ProductPersonas.svg
  packages/paste-icons/svg/ProductPrivacy.svg
  packages/paste-icons/svg/ProductProtocols.svg
  packages/paste-icons/svg/ProductReverseETL.svg
  packages/paste-icons/svg/ProductSegment.svg
  packages/paste-icons/svg/ProductTraits.svg
  packages/paste-icons/svg/ProductUSSD.svg
  packages/paste-icons/tools/templates/reactIconTemplate.ts
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2906 build: add build targets to @twilio-paste/icons
  .changeset/cold-nails-wonder.md
  packages/paste-icons/build.js
Labels: Area: Components, 🕵🏻‍♀️ Run website visual regression
