Repository twilio-labs/paste, pull requests merged in 2022-06, with the labels that each got.

#2449 patch: fix emotion type build error
  .changeset/curly-onions-tie.md
  .changeset/many-timers-kneel.md
  .gitignore
  package.json
  packages/paste-libraries/styling/package.json
  packages/paste-website/package.json
  packages/paste-website/src/components/ThemeObjectDisplay.tsx
  packages/paste-website/src/components/tokens-list/helpers.tsx
  packages/paste-website/tsconfig.json
  tsconfig.json
  turbo.json
  yarn.lock
Labels: Area: Doc Site, Area: Repo, 🚀 merge it!

#2441 chore(website): update guidelines and examples on select and checkbox
  packages/paste-website/src/component-examples/CheckboxExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Ready to merge, 🚀 merge it!

#2451 fix: combobox examples using a missing lodash dep
  packages/paste-website/src/component-examples/ComboboxExamples.ts
  packages/paste-website/src/pages/components/combobox/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2452 chore(avatar): allow both src and icon prop to be passed
  .changeset/itchy-poems-promise.md
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/avatar/src/types.ts
  packages/paste-website/src/pages/components/avatar/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!

#2453 fix(token-contrast-checker): fixing the build, also adding it to CI
  .codesandbox/ci.json
  .storybook/main.js
  package.json
  packages/paste-core/core-bundle/tools/constants.ts
  packages/paste-token-contrast-checker/.eslintrc.json
  packages/paste-token-contrast-checker/src/App.tsx
  packages/paste-token-contrast-checker/src/components/SideBar.tsx
  packages/paste-token-contrast-checker/src/components/ThemeSelector.tsx
  packages/paste-token-contrast-checker/src/reportWebVitals.ts
Labels: Area: Storybook, Status: Do Not Merge, Area: Repo, Area: Core bundle

#2467 chore(design-tokens): add new build for website page changes
  .changeset/small-fishes-sing.md
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/gatsby.d.ts.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/gatsby.js.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/gatsby.json.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/gatsby.d.ts.spec.ts
  packages/paste-design-tokens/formatters/__tests__/gatsby.js.spec.ts
  packages/paste-design-tokens/formatters/__tests__/gatsby.json.spec.ts
  packages/paste-design-tokens/formatters/d.ts.ts
  packages/paste-design-tokens/formatters/gatsby.d.ts.ts
  packages/paste-design-tokens/formatters/gatsby.ts
  packages/paste-design-tokens/formatters/utils.ts
  packages/paste-design-tokens/gulpfile.ts
Labels: Type: Tests, Area: Tokens, 🚀 merge it!

#2466 fix(nextjs-template): upgrade nextjs to v12
  .changeset/seven-parrots-visit.md
  .changeset/twelve-cherries-hunt.md
  package.json
  packages/paste-core/components/table/src/TableContext.tsx
  packages/paste-core/components/table/src/Tr.tsx
  packages/paste-nextjs-template/.eslintrc.json
  packages/paste-nextjs-template/next-env.d.ts
  packages/paste-nextjs-template/package.json
  packages/paste-nextjs-template/pages/_app.tsx
  packages/paste-nextjs-template/pages/_document.tsx
  packages/paste-nextjs-template/pages/index.tsx
  packages/paste-theme-designer/.eslintrc.json
  packages/paste-theme-designer/components/layout/editor-wrapper/ImportModal.tsx
  packages/paste-theme-designer/components/preview/FormPreview.tsx
  packages/paste-theme-designer/next-env.d.ts
  packages/paste-theme-designer/package.json
  packages/paste-theme-designer/pages/_app.tsx
  packages/paste-theme-designer/utils/SimpleStorage.ts
  packages/paste-website/src/html.tsx
  tools/build/__tests__/__snapshots__/compiledImports.test.ts.snap
  tools/build/esbuild.js
  yarn.lock
Labels: Area: Doc Site, Area: Infrastructure, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!

#2457 chore: small improvements to turborepo locally
  package.json
  packages/paste-design-tokens/package.json
  turbo.json
  yarn.lock
Labels: Status: Do Not Merge, Area: Tokens, Area: Repo

#2458 chore(internal-docs): add some notes on firehydrant and helper duty
  internal-docs/engineering/runbooks/firehydrant.md
  internal-docs/team/working-agreements.md
Labels: 🚀 merge it!

#2474 fix(design-tokens): fix broken type declaration template
  .changeset/small-fishes-sing.md
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/gatsby.d.ts.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/generic.d.ts.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/generic.js.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/generic.d.ts.spec.ts
  packages/paste-design-tokens/formatters/__tests__/generic.js.spec.ts
  packages/paste-design-tokens/formatters/generic.d.ts.ts
  packages/paste-design-tokens/formatters/generic.ts
  packages/paste-design-tokens/gulpfile.ts
Labels: Type: Tests, Status: Do Not Merge, Area: Tokens

#2454 feat(textarea): allow vertical resize
  .changeset/late-rings-poke.md
  .changeset/slow-buttons-film.md
  .codesandbox/ci.json
  packages/paste-core/components/textarea/__tests__/textarea.test.tsx
  packages/paste-core/components/textarea/package.json
  packages/paste-core/components/textarea/src/TextArea.tsx
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/react-textarea-autosize-library.tsx
  packages/paste-libraries/react-textarea-autosize/README.md
  packages/paste-libraries/react-textarea-autosize/build.js
  packages/paste-libraries/react-textarea-autosize/package.json
  packages/paste-libraries/react-textarea-autosize/src/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-libraries/react-textarea-autosize/src/__tests__/index.test.tsx
  packages/paste-libraries/react-textarea-autosize/src/calculateNodeHeight.ts
  packages/paste-libraries/react-textarea-autosize/src/forceHiddenStyles.ts
  packages/paste-libraries/react-textarea-autosize/src/getHeight.ts
  packages/paste-libraries/react-textarea-autosize/src/getSizingData.ts
  packages/paste-libraries/react-textarea-autosize/src/index.tsx
  packages/paste-libraries/react-textarea-autosize/src/useHiddenTextarea.tsx
  packages/paste-libraries/react-textarea-autosize/src/useWindowResizeListener.tsx
  packages/paste-libraries/react-textarea-autosize/tsconfig.json
  packages/paste-website/src/pages/components/textarea/index.mdx
  tools/build/__fixtures__/random_package/src/index.tsx
  tools/build/__tests__/__snapshots__/compiledImports.test.ts.snap
  tools/build/__tests__/compiledImports.test.ts
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!

#2481 chore: fix resizable spelling
  packages/paste-website/src/pages/components/textarea/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2475 Feat: Custom Breakpoint toggle for Storybook
  .storybook/preview.js
Labels: Area: Storybook, 🚀 merge it!

#2476 chore(truncate): fix alignment
  .changeset/odd-pumpkins-count.md
  packages/paste-core/components/truncate/src/index.tsx
  packages/paste-core/components/truncate/stories/index.stories.tsx
Labels: Area: Components, 🚀 merge it!

#2471 feat(website): Figma and Localization updates
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/pages/foundations/localization/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2486 chore: add responsivePropValidator test
  packages/paste-style-props/__tests__/propValidator.test.ts
  packages/paste-style-props/__tests__/responsivePropValidator.test.ts
Labels: Type: Tests, 🚀 merge it!

#2489 feat: add ChatLog component
  .changeset/smart-files-kiss.md
  packages/paste-core/components/chat-log/__tests__/chatLog.spec.tsx
  packages/paste-core/components/chat-log/src/ChatLog.tsx
  packages/paste-core/components/chat-log/src/ChatMessage.tsx
  packages/paste-core/components/chat-log/src/index.tsx
  packages/paste-core/components/chat-log/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, 🚀 merge it!

#2494 chore: follow upgrade guide for gatsby netlify plugin
  netlify.toml
  packages/paste-website/netlify.toml
Labels: Area: Doc Site, Area: Repo, 🚀 merge it!

#2497 docs(website): add dark theme spec
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/integration/sitemap-vrt/constants.ts
  netlify.toml
  packages/paste-website/netlify.toml
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/components/separator/index.mdx
  packages/paste-website/src/pages/components/stack/index.mdx
  packages/paste-website/src/pages/customization/composing-custom-components-with-design-tokens.mdx
  packages/paste-website/src/pages/customization/creating-a-custom-theme.mdx
  packages/paste-website/src/pages/customization/customization-provider.mdx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  packages/paste-website/src/pages/introduction/for-engineers/quickstart/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
  packages/paste-website/src/pages/theme/changing-theme.mdx
  packages/paste-website/src/pages/theme/dark-theme.mdx
  packages/paste-website/src/pages/theme/index.mdx
  packages/paste-website/src/utils/RouteUtils.ts
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!

#2509 chore: update file structure
  .changeset/polite-kings-kiss.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/chat-log/__tests__/ChatBubble.spec.tsx
  packages/paste-core/components/chat-log/__tests__/ChatMessage.spec.tsx
  packages/paste-core/components/chat-log/__tests__/ChatMessageMeta.spec.tsx
  packages/paste-core/components/chat-log/__tests__/customization.spec.tsx
  packages/paste-core/components/chat-log/__tests__/index.spec.tsx
  packages/paste-core/components/chat-log/src/ChatBubble.tsx
  packages/paste-core/components/chat-log/src/ChatMessage.tsx
  packages/paste-core/components/chat-log/src/ChatMessageMeta.tsx
  packages/paste-core/components/chat-log/src/ChatMessageMetaItem.tsx
  packages/paste-core/components/chat-log/src/MessageVariantContext.tsx
  packages/paste-core/components/chat-log/src/index.tsx
  packages/paste-core/components/chat-log/src/styles.ts
  packages/paste-core/components/chat-log/src/types.ts
  packages/paste-core/components/chat-log/stories/components/ChatAttachment.stories.tsx
  packages/paste-core/components/chat-log/stories/components/ChatBubble.stories.tsx
  packages/paste-core/components/chat-log/stories/components/ChatMessageMeta.stories.tsx
  packages/paste-core/components/chat-log/stories/customization.stories.tsx
  packages/paste-core/components/chat-log/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, 🚀 merge it!

#2511 chore: upgrade gatsby netlify plugin
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Doc Site, Area: Repo, 🚀 merge it!
