Repository twilio-labs/paste, pull requests merged in 2022-02, with the labels that each got.

#2173 chore: only query patterns with docs
  packages/paste-website/src/components/site-wrapper/index.tsx
Labels: Area: Doc Site

#2172 feat: add component contribution page
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/introduction/contributing/components/index.mdx
  packages/paste-website/src/pages/introduction/contributing/patterns/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2176 feat: add privacy pattern page
  packages/paste-website/src/component-examples/PrivacyPatternExamples.tsx
  packages/paste-website/src/pages/patterns/privacy/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2168 feat: remove console theme
  .changeset/brown-dolls-change.md
  .changeset/khaki-oranges-sort.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/__tests__/index.test.tsx
  packages/paste-design-tokens/tokens/themes/console/aliases/border-radius.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/border-width.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/color.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/font-family.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/font-size.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/font-weight.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/offset.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/sizing.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/spacing.yml
  packages/paste-design-tokens/tokens/themes/console/aliases/z-index.yml
  packages/paste-design-tokens/tokens/themes/console/global/background-color-deprecated.yml
  packages/paste-design-tokens/tokens/themes/console/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/border-color-deprecated.yml
  packages/paste-design-tokens/tokens/themes/console/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/border-radius.yml
  packages/paste-design-tokens/tokens/themes/console/global/border-width.yml
  packages/paste-design-tokens/tokens/themes/console/global/box-shadow-deprecated.yml
  packages/paste-design-tokens/tokens/themes/console/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/console/global/font-family.yml
  packages/paste-design-tokens/tokens/themes/console/global/font-size.yml
  packages/paste-design-tokens/tokens/themes/console/global/font-weight.yml
  packages/paste-design-tokens/tokens/themes/console/global/index.yml
  packages/paste-design-tokens/tokens/themes/console/global/line-height.yml
  packages/paste-design-tokens/tokens/themes/console/global/palette-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/sizing.yml
  packages/paste-design-tokens/tokens/themes/console/global/spacing.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color-deprecated.yml
  packages/paste-design-tokens/tokens/themes/console/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/console/global/z-index.yml
  packages/paste-design-tokens/tokens/themes/console/sketch.yml
  packages/paste-design-tokens/tokens/themes/console/tokens.yml
  packages/paste-theme/__tests__/__snapshots__/themes.spec.ts.snap
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-theme/__tests__/themes.spec.ts
  packages/paste-theme/src/constants.ts
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/src/themes/console/index.ts
  packages/paste-theme/src/themes/index.ts
  packages/paste-theme/src/types/themes.ts
  packages/paste-theme/src/utils/isDeprecatedTheme.ts
Labels: Area: Theme, Type: Tests, Area: Tokens

#2167 fix(checkbox): hide icon when not checked
  .changeset/fifty-shirts-know.md
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-website/src/component-examples/CheckboxExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests

#2192 fix(website): remove link from dodont
  packages/paste-website/src/component-examples/PrivacyPatternExamples.tsx
  packages/paste-website/src/pages/patterns/privacy/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2195 docs(website): update the New banner
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site

#2133 chore(website): update Patterns overview table
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/pages/patterns/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2155 fix(combobox/combobox-primitive): fix multiselect example and ref merge bug
  .changeset/flat-colts-learn.md
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/extractPropsFromState.tsx
  packages/paste-core/components/combobox/stories/index.stories.tsx
  packages/paste-core/primitives/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxExamples.ts
  packages/paste-website/src/component-examples/ComboboxPrimitiveExamples.ts
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Area: Primitives

#2191 feat: colors foundation page
  packages/paste-website/src/__tests__/colorGradient.test.tsx
  packages/paste-website/src/assets/images/foundations/colors/interacting-states.png
  packages/paste-website/src/assets/images/foundations/colors/tokens-diagram.png
  packages/paste-website/src/assets/images/foundations/colors/use-of-color-example.png
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/components/color-swatch/ColorSwatch.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
  packages/paste-website/src/utils/RouteUtils.ts
  packages/paste-website/stories/ColorSwatch.stories.tsx
Labels: Type: Documentation, Area: Doc Site, Type: Tests

#2197 chore(website): upgrade to Docsearch v3
  .github/workflows/on_pull_request.yml
  @types/docsearch.js/index.d.ts
  cypress/integration/site-search/index.spec.ts
  packages/paste-website/gatsby-node.js
  packages/paste-website/package.json
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/site-header/HamburgerToggle.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobile.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobileSearch.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderSearch.tsx
  packages/paste-website/src/components/site-wrapper/site-header/index.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/styles/docSearch.ts
  packages/paste-website/types/index.d.ts
  yarn.lock
Labels: Area: Doc Site, Area: Infrastructure, Type: Tests, Area: Repo

#2184 feat(design-tokens): update tokens and components for dark theme
  .changeset/metal-parents-crash.md
  .changeset/shiny-lions-call.md
  .changeset/three-mangos-suffer.md
  .changeset/yellow-eggs-provide.md
  packages/paste-color-contrast-utils/__tests__/themeContrast.spec.ts
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/base-radio-checkbox/src/BaseRadioCheckbox.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveButton.tsx
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/InverseButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
  packages/paste-core/components/button/src/PrimaryButton.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/checkbox/stories/checkbox.stories.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/input-box/src/FauxInput/DefaultFauxInput.tsx
  packages/paste-core/components/input-box/src/FauxInput/InverseFauxInput.tsx
  packages/paste-core/components/modal/src/styles.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/radio-group/src/Radio.tsx
  packages/paste-core/components/skeleton-loader/src/index.tsx
  packages/paste-core/components/toast/src/NeutralToast.tsx
  packages/paste-core/components/tooltip/src/TooltipArrow.tsx
  packages/paste-core/components/tooltip/src/index.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/border-color.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/aliases/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
Labels: Area: Doc Site, Area: Components, Type: Tests, Area: Tokens

#2194 fix(link-button): updates default style for link buttons
  .changeset/lucky-lies-travel.md
  packages/paste-core/components/button/src/ResetButton.tsx
  packages/paste-core/components/button/src/styles.ts
Labels: Area: Components

#2215 feat: add ConnectivityNeutralIcon & docs
  .changeset/heavy-bags-wait.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ConnectivityNeutralIcon.tsx
  packages/paste-icons/svg/ConnectivityNeutral.svg
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2200 feat(data-visualization): add package
  .changeset/few-swans-peel.md
  .codesandbox/ci.json
  package.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/data-visualization-library.tsx
  packages/paste-libraries/data-visualization/__test__/__snapshots__/index.spec.tsx.snap
  packages/paste-libraries/data-visualization/__test__/index.spec.tsx
  packages/paste-libraries/data-visualization/build.js
  packages/paste-libraries/data-visualization/package.json
  packages/paste-libraries/data-visualization/src/index.tsx
  packages/paste-libraries/data-visualization/src/usePasteHighchartsTheme.tsx
  packages/paste-libraries/data-visualization/stories/data/elevationData.ts
  packages/paste-libraries/data-visualization/stories/data/usdEurData.ts
  packages/paste-libraries/data-visualization/stories/index.stories.tsx
  packages/paste-libraries/data-visualization/stories/options/basicAreaChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/columnChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/lineChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/lineChartWithAnnotationsOptions.ts
  packages/paste-libraries/data-visualization/stories/options/pieChartOptions.ts
  packages/paste-libraries/data-visualization/stories/options/timeSeriesOptions.ts
  packages/paste-libraries/data-visualization/tsconfig.json
  yarn.lock
Labels: Area: Repo, Area: Core bundle, 🚀 merge it!

#2221 feat(FormPillGroup): add i18nKeyboardControls prop
  .changeset/selfish-lamps-thank.md
  .changeset/stale-vans-mix.md
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
  packages/paste-core/components/screen-reader-only/src/index.tsx
  packages/paste-website/src/component-examples/FormPillGroup.tsx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/screen-reader-only/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge

#2218 feat(modal): add i18nDismissLabel prop
  .changeset/slow-months-invite.md
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/modal/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ModalExamples.ts
  packages/paste-website/src/pages/components/modal/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge

#2207 chore: pin changeset version. set correct pr commitsha
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
Labels: Area: Infrastructure

#2227 feat(popover): add i18nDismissLabel prop
  .changeset/nervous-clouds-suffer.md
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/popover/stories/index.stories.tsx
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge

#2232 Fix/netlify ignore
  netlify.toml
  packages/paste-website/netlify.toml
Labels: Area: Doc Site, Area: Repo

#2242 fix(select): select background color
  .changeset/late-rules-add.md
  .changeset/twenty-seals-tickle.md
  packages/paste-core/components/select/src/Option.tsx
  packages/paste-core/components/select/src/OptionGroup.tsx
  packages/paste-core/components/select/src/Select.tsx
  packages/paste-style-props/src/types/background.ts
Labels: Area: Components, Status: Do Not Merge

#2237 Chore: esbuild upgrade and remove form package
  .changeset/angry-ants-reply.md
  package.json
  packages/paste-codemods/tools/generatePackageExportsMap.js
  packages/paste-core/components/form/CHANGELOG.md
  packages/paste-core/components/form/build.js
  packages/paste-core/components/form/package.json
  packages/paste-core/components/form/src/FormHelpText.tsx
  packages/paste-core/components/form/src/FormInput.tsx
  packages/paste-core/components/form/src/FormLabel.tsx
  packages/paste-core/components/form/src/FormTextArea.tsx
  packages/paste-core/components/form/src/index.tsx
  packages/paste-core/components/form/src/shared/types.ts
  packages/paste-core/components/form/stories/form.stories.tsx
  packages/paste-core/components/form/tsconfig.json
  packages/paste-core/components/modal/__tests__/index.spec.tsx
  packages/paste-core/components/modal/package.json
  packages/paste-core/components/modal/stories/index.stories.tsx
  packages/paste-core/core-bundle/src/form.tsx
  packages/paste-core/core-bundle/tools/constants.js
  packages/paste-website/src/component-examples/ModalExamples.ts
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerControls.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerPreview.tsx
  packages/paste-website/src/components/icons-list/IconsList.tsx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/stack/index.mdx
  packages/paste-website/src/pages/introduction/contributing/patterns/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
  packages/paste-website/src/utils/componentFilters.ts
  tools/build/esbuild.js
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, Area: Core bundle

#2251 fix: update theme designer link
  packages/paste-website/src/pages/customization/creating-a-custom-theme.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge
