Repository twilio-labs/paste, pull requests merged in 2022-05, with the labels that each got.

#2354 feat(website): add localization ux guidelines page
  packages/paste-website/src/assets/images/foundations/localization/dense-layout.png
  packages/paste-website/src/assets/images/foundations/localization/text-in-image.png
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/foundations/localization/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2383 chore(style-props): upgrade csstype to latest
  .changeset/clever-needles-count.md
  package.json
  packages/paste-core/primitives/box/package.json
  packages/paste-core/primitives/box/src/types.ts
  packages/paste-core/primitives/text/package.json
  packages/paste-core/primitives/text/src/types.ts
  packages/paste-style-props/package.json
  packages/paste-style-props/src/types/background.ts
  packages/paste-style-props/src/types/border.ts
  packages/paste-style-props/src/types/css-props.ts
  packages/paste-style-props/src/types/flexbox.ts
  packages/paste-style-props/src/types/index.ts
  packages/paste-style-props/src/types/layout.ts
  packages/paste-style-props/src/types/position.ts
  packages/paste-style-props/src/types/typography.ts
  packages/paste-website/src/components/icons/PasteIcon.tsx
  packages/paste-website/src/components/icons/PasteIconPride.tsx
  yarn.lock
Labels: Area: Doc Site, Area: Repo, Area: Primitives, 🚀 merge it!

#2384 chore: update hasty changeset description
  .changeset/clever-needles-count.md
Labels: 🚀 merge it!

#2385 fix: start-server-and-test does need a url for local testing
  package.json
Labels: Area: Repo, 🚀 merge it!

#2373 chore(remove-knobs): Remove Storybook Knobs
  .storybook/main.js
  package.json
  packages/paste-core/components/alert/stories/index.stories.tsx
  packages/paste-core/components/anchor/stories/index.stories.tsx
  packages/paste-core/components/card/stories/index.stories.tsx
  packages/paste-core/components/heading/stories/index.stories.tsx
  packages/paste-core/components/input/stories/input.stories.tsx
  packages/paste-core/components/select/stories/select.stories.tsx
  packages/paste-core/components/skeleton-loader/stories/index.stories.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
  packages/paste-core/components/tooltip/stories/index.stories.tsx
  packages/paste-core/layout/aspect-ratio/stories/index.stories.tsx
  packages/paste-core/layout/flex/stories/index.stories.tsx
  packages/paste-core/layout/grid/stories/index.stories.tsx
  packages/paste-core/layout/media-object/stories/index.stories.tsx
  packages/paste-core/layout/stack/stories/index.stories.tsx
  packages/paste-core/primitives/box/stories/index.stories.tsx
  packages/paste-core/primitives/modal-dialog/stories/index.stories.tsx
  packages/paste-core/primitives/text/stories/index.stories.tsx
  packages/paste-icons/stories/index.stories.tsx
  tools/plop-templates/component-stories.hbs
  yarn.lock
Labels: Area: Storybook, Area: Infrastructure, Area: Components, Area: Layout, Area: Repo, Area: Primitives, 🚀 merge it!

#2390 feat(website): add TokenCard component and rgbToHex util
  packages/paste-website/src/__tests__/utils/rgbToHex.test.tsx
  packages/paste-website/src/components/tokens-list/token-card/index.tsx
  packages/paste-website/src/components/tokens-list/token-card/preview/BackgroundColor.tsx
  packages/paste-website/src/utils/rgbToHex.ts
  packages/paste-website/stories/FeedbackPopover.stories.tsx
  packages/paste-website/stories/InlineCode.stories.tsx
  packages/paste-website/stories/TableOfContents.stories.tsx
  packages/paste-website/stories/TokenCard/BackgroundColor.stories.tsx
Labels: Area: Doc Site, Type: Tests, 🚀 merge it!

#2391 docs: add label a11y note
  packages/paste-website/src/pages/components/label/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2387 chore: remove the engineering job ad as it is filled
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site, 🚀 merge it!

#2386 chore: add a note about input type number accessibility on input docs
  packages/paste-website/src/pages/components/input/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2394 fix(alert): fix storybook links on docsite
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/flex/index.mdx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/spinner/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2402 chore: track github actions metrics
  .github/workflows/track-workflow-metrics.yml
Labels: Area: Infrastructure, 🚀 merge it!

#2379 feat: add custom date/time filter group example
  cypress/integration/filter-group-examples/index.spec.ts
  packages/paste-website/package.json
  packages/paste-website/src/__tests__/filterGroup.test.tsx
  packages/paste-website/src/assets/images/patterns/filter-custom-date.png
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/CustomDateFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/components/DateTimePopover.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/components/EmptyState.tsx
  packages/paste-website/src/component-examples/filter-group/components/NoResultsIllustration.tsx
  packages/paste-website/src/component-examples/filter-group/components/SampleDataGrid.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
  packages/paste-website/src/component-examples/filter-group/helpers.ts
  packages/paste-website/src/component-examples/filter-group/types.ts
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/stories/FilterGroup.stories.tsx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!

#2410 fix(tabs): enable left right arrows on vertical tabs
  .changeset/fifty-snails-end.md
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
Labels: Area: Components, Status: Do Not Merge

#2413 fix: incorrect url to the designer role after reposting
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site, 🚀 merge it!

#2418 chore(select docs): update combobox anchors to relative paths
  packages/paste-website/src/pages/components/select/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2401 chore(website): add link to our copy-to-clipboard library to website
  packages/paste-website/src/pages/core/libraries/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2433 fix(docs): update to valid flex basis value
  packages/paste-website/src/pages/components/flex/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2419 chore: remove extra lodash deps, update lodash
  .changeset/thin-grapes-listen.md
  .danger/missing-changesets-check.ts
  package.json
  packages/paste-color-contrast-utils/package.json
  packages/paste-color-contrast-utils/src/utils.ts
  packages/paste-core/components/combobox/package.json
  packages/paste-core/components/combobox/src/helpers.tsx
  packages/paste-core/components/data-grid/package.json
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-customization/package.json
  packages/paste-design-tokens/formatters/common.ts
  packages/paste-design-tokens/formatters/d.ts.ts
  packages/paste-design-tokens/formatters/es6.ts
  packages/paste-design-tokens/package.json
  packages/paste-icons/package.json
  packages/paste-style-props/package.json
  packages/paste-style-props/src/constants.ts
  packages/paste-token-contrast-checker/package.json
  packages/paste-token-contrast-checker/src/components/TokenPairRating.tsx
  packages/paste-types/package.json
  packages/paste-utils/package.json
  packages/paste-utils/src/hooks/useMutationObservable.ts
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/filter-group/components/CustomDateFilterGroup.tsx
  packages/paste-website/src/components/color-swatch/ColorSwatch.tsx
  packages/paste-website/src/components/icons-list/IconsList.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/tokens-list/TokensExample.tsx
  packages/paste-website/src/components/tokens-list/helpers.tsx
  packages/paste-website/src/components/tokens-list/token-card/index.tsx
  packages/paste-website/src/hooks/useWindowSize.tsx
  packages/paste-website/src/utils/GraphqlUtils.ts
  packages/paste-website/src/utils/RouteUtils.ts
  packages/paste-website/src/utils/color-combos/index.ts
  plopfile.js
  tools/build/__fixtures__/random_package/src/index.tsx
  tools/build/__tests__/__snapshots__/compiledImports.test.ts.snap
  tools/build/__tests__/compiledImports.test.ts
  tools/utils/token-usage/getMinimalPackageList.ts
  tools/utils/token-usage/getTokenPackageMapping.ts
  tools/utils/updatePackageReferences.ts
  yarn.lock
Labels: Area: Doc Site, Area: Infrastructure, Area: Components, Type: Tests, Area: Tokens, Area: Repo
