Repository twilio-labs/paste, pull requests merged in 2022-08, with the labels that each got.

#2578 feat(box, style-props): enable css grid style props
  .changeset/beige-plums-wonder.md
  packages/paste-core/primitives/box/__tests__/box.test.tsx
  packages/paste-core/primitives/box/src/SafelySpreadProps.ts
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/box/src/types.ts
  packages/paste-style-props/src/grid.ts
  packages/paste-style-props/src/index.ts
  packages/paste-style-props/src/types/grid.ts
  packages/paste-style-props/src/types/index.ts
Labels: Type: Tests, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2563 chore: Paste Core upgrade guide update
  .danger/__fixtures__/changeset/tiny-robot-hands.md
  .danger/__tests__/major-core-missing-upgrade-guide.spec.ts
  .danger/major-core-missing-upgrade-guide.ts
  packages/paste-website/src/pages/core/upgrade-guide.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2597 chore: improve DataGrid colspan props, types and docs
  .changeset/dull-singers-decide.md
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/src/DataGridHeader.tsx
  packages/paste-core/components/data-grid/src/table/Th.tsx
  packages/paste-core/components/data-grid/stories/components/ColumnSpanDataGrid.tsx
  packages/paste-core/components/data-grid/stories/index.stories.tsx
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge

#2589 fix(form-pill-group): small style bugs
  .changeset/fair-grapes-raise.md
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/form-pill-group/src/FormPill.styles.ts
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillButton.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  yarn.lock
Labels: Area: Components, Area: Repo, 🚀 merge it!

#2595 feat(input-box): improve styling of InputChevronWrapper
  .changeset/kind-jars-enjoy.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/input-box/__tests__/input-chevron-wrapper.test.tsx
  packages/paste-core/components/input-box/src/InputBox.tsx
  packages/paste-core/components/input-box/src/InputBoxContext.tsx
  packages/paste-core/components/input-box/src/InputChevronWrapper.tsx
  packages/paste-core/components/input-box/stories/inputbox.stories.tsx
  packages/paste-core/components/select/__tests__/select.test.tsx
  packages/paste-core/components/select/src/Select.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsList.tsx
Labels: Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2600 feat: add july newsletter to the website
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2022-07-26-paste-newsletter/andy-doyle.png
  packages/paste-website/src/assets/images/articles/2022-07-26-paste-newsletter/chat-log-example.png
  packages/paste-website/src/assets/images/articles/2022-07-26-paste-newsletter/figma-slots.png
  packages/paste-website/src/assets/images/articles/2022-07-26-paste-newsletter/form-pill-example.png
  packages/paste-website/src/assets/images/articles/2022-07-26-paste-newsletter/nick-sands.png
  packages/paste-website/src/pages/blog/2022-07-26-paste-newsletter.mdx
  packages/paste-website/static/images/tokens-page.gif
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2582 feat(button): add toggle button
  .changeset/khaki-pigs-remember.md
  .changeset/sharp-ghosts-report.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/SecondaryButton.tsx
  packages/paste-core/components/button/src/SecondaryIconButton.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-website/src/component-examples/ButtonExamples.ts
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Primitives, 🚀 merge it!

#2608 docs: add an example at the top of every component page
  packages/paste-website/src/pages/components/alert-dialog/index.mdx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/aspect-ratio/index.mdx
  packages/paste-website/src/pages/components/avatar/index.mdx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/src/pages/components/chat-log/index.mdx
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/disclosure/index.mdx
  packages/paste-website/src/pages/components/flex/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/grid/index.mdx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/media-object/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/popover/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/separator/index.mdx
  packages/paste-website/src/pages/components/spinner/index.mdx
  packages/paste-website/src/pages/components/stack/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/components/tooltip/index.mdx
  packages/paste-website/src/pages/components/truncate/index.mdx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/disclosure-primitive/index.mdx
  packages/paste-website/src/pages/primitives/menu-primitive/index.mdx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/non-modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/tabs-primitive/index.mdx
  packages/paste-website/src/pages/primitives/tooltip-primitive/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2607 docs: Publishing Extension
  apps/vs-code-intellisense/README.md
  apps/vs-code-intellisense/assets/create-a-publisher.png
  apps/vs-code-intellisense/assets/create-personal-access-token.png
  apps/vs-code-intellisense/assets/organization-page.png
  apps/vs-code-intellisense/assets/vsce-login-done.png
  apps/vs-code-intellisense/package.json
  apps/vs-code-intellisense/publishing-extension.md
  apps/vs-code-intellisense/vsc-extension-quickstart.md
Labels: Status: Do Not Merge, VS Code Extension

#2584 docs: Open graph image preview internal docs
  internal-docs/engineering/doc-site/open-graph-image-preview-function.md
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2574 feat: add table and data-grid sticky header
  .changeset/loud-cameras-greet.md
  packages/paste-core/components/data-grid/src/table/Td.tsx
  packages/paste-core/components/data-grid/src/table/Th.tsx
  packages/paste-core/components/data-grid/src/table/Tr.tsx
  packages/paste-core/components/data-grid/stories/components/StickyHeaderDataGrid.tsx
  packages/paste-core/components/data-grid/stories/index.stories.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/TBody.tsx
  packages/paste-core/components/table/src/TFoot.tsx
  packages/paste-core/components/table/src/THead.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/TableContext.tsx
  packages/paste-core/components/table/src/Td.tsx
  packages/paste-core/components/table/src/Th.tsx
  packages/paste-core/components/table/src/Tr.tsx
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-website/src/pages/components/data-grid/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2604 feat(menu): add destructive menu item variant
  .changeset/thirty-seas-jog.md
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/constants.ts
  packages/paste-core/components/menu/stories/index.stories.tsx
  packages/paste-website/src/component-examples/MenuExamples.ts
  packages/paste-website/src/pages/components/menu/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#2588 typo: add comma and space on About page
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#2625 feat(switch): add new package
  .changeset/eighty-cooks-sell.md
  .changeset/famous-dragons-share.md
  .changeset/khaki-dogs-share.md
  .changeset/large-nails-wave.md
  .changeset/neat-rivers-sing.md
  .codesandbox/ci.json
  internal-docs/engineering/core/adding-design-tokens.md
  internal-docs/engineering/core/component-rules.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/switch/__tests__/index.spec.tsx
  packages/paste-core/components/switch/build.js
  packages/paste-core/components/switch/package.json
  packages/paste-core/components/switch/src/Switch.tsx
  packages/paste-core/components/switch/src/SwitchContainer.tsx
  packages/paste-core/components/switch/src/SwitchKnob.tsx
  packages/paste-core/components/switch/src/constants.ts
  packages/paste-core/components/switch/src/index.tsx
  packages/paste-core/components/switch/src/types.ts
  packages/paste-core/components/switch/stories/index.stories.tsx
  packages/paste-core/components/switch/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/switch.tsx
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/line-height.yml
  packages/paste-design-tokens/tokens/global/line-height.yml
  packages/paste-design-tokens/tokens/global/sizing.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-theme/__tests__/__snapshots__/generateThemeFromTokens.spec.ts.snap
  packages/paste-theme/src/generateThemeFromTokens.ts
  packages/paste-theme/src/types/GenericThemeShape.ts
  packages/paste-website/src/component-examples/SwitchExamples.ts
  packages/paste-website/src/pages/components/chat-log/index.mdx
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/switch/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Theme, Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Primitives, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2633 chore(callout): fix status in package.json
  .changeset/wild-weeks-agree.md
  packages/paste-core/components/callout/package.json
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2623 feat: create MinimizableDialog component
  .changeset/nasty-berries-joke.md
  .codesandbox/ci.json
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/minimizable-dialog/__tests__/customization.spec.tsx
  packages/paste-core/components/minimizable-dialog/__tests__/index.spec.tsx
  packages/paste-core/components/minimizable-dialog/build.js
  packages/paste-core/components/minimizable-dialog/package.json
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialog.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogButton.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogContainer.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogContent.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogContext.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogHeader.tsx
  packages/paste-core/components/minimizable-dialog/src/index.tsx
  packages/paste-core/components/minimizable-dialog/stories/customization.stories.tsx
  packages/paste-core/components/minimizable-dialog/stories/index.stories.tsx
  packages/paste-core/components/minimizable-dialog/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/minimizable-dialog.tsx
  packages/paste-website/src/component-examples/MinimizableDialogExamples.ts
  packages/paste-website/src/pages/components/minimizable-dialog/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2635 feat(tokens-page): add ScrollToTopLink UI
  packages/paste-website/src/components/tokens-list/ScrollToTopLink.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2634 fix(menu): href not being spread to MenuItem
  .changeset/twelve-ducks-own.md
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
Labels: Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2628 Enhancement: make icon preview "sticky" functional
  packages/paste-website/src/components/icons-list/IconsList.tsx
  packages/paste-website/src/constants.ts
Labels: Type: Enhancement, Area: Doc Site, 🚀 merge it!

#2629 chore: update docs site homepage New callout
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site, 🕵🏻‍♀️ Run website visual regression

#2646 fix: link to tokens list on homepage
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site, Status: Do Not Merge
