Repository twilio-labs/paste, pull requests merged in 2022-04, with the labels that each got.

#2328 fix(theme): animations no longer run when they shouldn't
  .changeset/many-melons-clean.md
  .changeset/seven-llamas-serve.md
  .storybook/preview.js
  packages/paste-core/components/skeleton-loader/src/index.tsx
  packages/paste-core/components/skeleton-loader/stories/index.stories.tsx
  packages/paste-customization/src/CustomizationProvider.tsx
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-website/src/components/icons/ThemableIcon.tsx
Labels: Area: Storybook, Area: Doc Site, Area: Theme, Area: Components, 🚀 merge it!

#2333 fix(live-preview): set LivePreview overflow as configurable
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/menu-primitive/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2335 fix(combobox): grouped combobox scroll
  .changeset/loud-bags-jog.md
  packages/paste-core/components/combobox/__tests__/index.spec.tsx
  packages/paste-core/components/combobox/src/Combobox.tsx
Labels: Area: Components, Type: Tests, 🚀 merge it!

#2334 feat(ChatLog): add ChatMessageMeta component
  .changeset/khaki-foxes-exercise.md
  .changeset/short-donkeys-report.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/chat-log/__tests__/customization.spec.tsx
  packages/paste-core/components/chat-log/__tests__/index.spec.tsx
  packages/paste-core/components/chat-log/src/ChatBubble.tsx
  packages/paste-core/components/chat-log/src/ChatMessage.tsx
  packages/paste-core/components/chat-log/src/ChatMessageMeta.tsx
  packages/paste-core/components/chat-log/src/ChatMessageMetaItem.tsx
  packages/paste-core/components/chat-log/src/MessageVariantContext.tsx
  packages/paste-core/components/chat-log/src/index.tsx
  packages/paste-core/components/chat-log/src/types.ts
  packages/paste-core/components/chat-log/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, 🚀 merge it!

#2342 fix(website): mobile navigation buttons in dark mode
  packages/paste-website/src/components/site-wrapper/site-header/HamburgerToggle.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobile.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobileNavigation.tsx
  packages/paste-website/stories/HamburgerToggle.stories.tsx
Labels: Area: Doc Site, 🚀 merge it!

#2347 fix: correct close icon hover state
  .changeset/eleven-mice-repair.md
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/toast/src/Toast.tsx
Labels: Area: Components, 🚀 merge it!

#2348 chore(reakit-library): update reakit dependency version
  .changeset/soft-hats-move.md
  packages/paste-core/primitives/menu/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-libraries/reakit/package.json
  yarn.lock
Labels: Type: Tests, Area: Repo, Area: Primitives, 🚀 merge it!

#2323 fix(website): fix buggy tokens list filter
  cypress/integration/token-list/index.spec.ts
  packages/paste-website/src/__tests__/tokensList.test.tsx
  packages/paste-website/src/components/tokens-list/helpers.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/components/tokens-list/types.ts
  packages/paste-website/src/utils/RouteUtils.ts
Labels: Area: Doc Site, Type: Tests

#2352 docs(website): add tokens overview page
  cypress/integration/token-list/index.spec.ts
  packages/paste-website/src/assets/images/tokens/alias-tokens.png
  packages/paste-website/src/assets/images/tokens/input-tokens-example.png
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/component-examples/DataVisualizationExamples.tsx
  packages/paste-website/src/components/ImageCaption.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/components/icons/usage-guidelines/index.mdx
  packages/paste-website/src/pages/components/media-object/index.mdx
  packages/paste-website/src/pages/components/separator/index.mdx
  packages/paste-website/src/pages/components/skeleton-loader/index.mdx
  packages/paste-website/src/pages/components/spinner/index.mdx
  packages/paste-website/src/pages/components/stack/index.mdx
  packages/paste-website/src/pages/core/theme-package/index.mdx
  packages/paste-website/src/pages/foundations/colors/index.mdx
  packages/paste-website/src/pages/tokens/index.mdx
  packages/paste-website/src/pages/tokens/list/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!

#2362 chore(homepage-banners): update eng banner
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site, 🚀 merge it!

#2360 chore: add custom svg-needs-viewBox eslint rule
  .eslint/__tests__/svg-needs-viewBox.test.js
  .eslint/documentation/rules/svg-needs-viewBox.md
  .eslint/rules/index.js
  .eslint/rules/svg-needs-viewBox.js
  .eslintrc.js
  package.json
  packages/paste-theme-designer/components/topbar/PasteIconInverse.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/icons/ComponentsIcon.tsx
  packages/paste-website/src/components/icons/PasteIconInverse.tsx
  packages/paste-website/src/components/icons/PatternsIcon.tsx
  packages/paste-website/src/components/icons/TwilioLogo.tsx
  yarn.lock
Labels: Area: Doc Site, Area: Infrastructure, Area: Repo, 🚀 merge it!

#2364 chore: add ADR template for future ADRs
  INTERNAL_DOCS/ENGINEERING/ADR/0000-TEMPLATE.md
Labels: 🚀 merge it!

#2365 chore(website): add april newsletter
  packages/paste-website/src/assets/images/articles/2022-04-06-paste-newsletter/badge-2.png
  packages/paste-website/src/assets/images/articles/2022-04-06-paste-newsletter/dark-theme-switcher.png
  packages/paste-website/src/assets/images/articles/2022-04-06-paste-newsletter/data-visualization-demo.png
  packages/paste-website/src/assets/images/articles/2022-04-06-paste-newsletter/filter-group-pattern-demo.png
  packages/paste-website/src/assets/images/articles/2022-04-06-paste-newsletter/i18n-pill-group.png
  packages/paste-website/src/assets/images/articles/2022-04-06-paste-newsletter/pastemates.png
  packages/paste-website/src/pages/blog/2022-04-06-paste-newsletter.mdx
  packages/paste-website/src/pages/primitives/menu-primitive/index.mdx
  packages/paste-website/src/pages/primitives/tabs-primitive/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#2353 test: site map VRT
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_cypress.yml
  .github/workflows/remove_vrt_label.yml
  cypress.json
  cypress/integration/sitemap-vrt/batch2.spec.ts
  cypress/integration/sitemap-vrt/batch3.spec.ts
  cypress/integration/sitemap-vrt/batch4.spec.ts
  cypress/integration/sitemap-vrt/batch5.spec.ts
  cypress/integration/sitemap-vrt/constants.ts
  cypress/integration/sitemap-vrt/index.spec.ts
  cypress/support/commands/@types/index.d.ts
  cypress/support/commands/parent-commands.ts
  package.json
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Doc Site, Area: Infrastructure, Type: Tests, Area: Repo, 🚀 merge it!

#2372 chore(docs): add element prop to all component props tables
  packages/paste-website/src/pages/components/alert-dialog/index.mdx
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/avatar/index.mdx
  packages/paste-website/src/pages/components/badge/index.mdx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/data-grid/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/disclosure/index.mdx
  packages/paste-website/src/pages/components/display-pill-group/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/icons/usage-guidelines/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/components/media-object/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/paragraph/index.mdx
  packages/paste-website/src/pages/components/popover/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/separator/index.mdx
  packages/paste-website/src/pages/components/skeleton-loader/index.mdx
  packages/paste-website/src/pages/components/spinner/index.mdx
  packages/paste-website/src/pages/components/stack/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/components/tooltip/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#2282 fix(react-spring-raf): update react-spring deps to resolve raf overload
  .changeset/four-hornets-attack.md
  .changeset/sour-seas-fold.md
  netlify.toml
  packages/paste-core/components/skeleton-loader/src/index.tsx
  packages/paste-core/components/skeleton-loader/src/keyframes.tsx
  packages/paste-core/components/skeleton-loader/stories/index.stories.tsx
  packages/paste-libraries/animation/package.json
  yarn.lock
Labels: Area: Components, Area: Repo, 🚀 merge it!
