Repository twilio-labs/paste, pull requests merged in 2022-11, with the labels that each got.

#2792 fix: bad copy paste page description
  packages/paste-website/src/pages/foundations/content/word-list/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2783 chore: update issue and pr templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE/contribution_request_template.md
  .github/PULL_REQUEST_TEMPLATE/internal_request_template.md
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2804 feat: oct newsletter and on-call internal docs
  cypress/integration/sitemap-vrt/constants.ts
  internal-docs/engineering/on-call-rotation.md
  packages/paste-website/src/assets/images/articles/2022-10-31-paste-newsletter/brandon.png
  packages/paste-website/src/assets/images/articles/2022-10-31-paste-newsletter/button-group.png
  packages/paste-website/src/assets/images/articles/2022-10-31-paste-newsletter/file-picker.png
  packages/paste-website/src/assets/images/articles/2022-10-31-paste-newsletter/radio-button-group.png
  packages/paste-website/src/assets/images/articles/2022-10-31-paste-newsletter/side-modal.png
  packages/paste-website/src/pages/blog/2022-09-23-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2022-10-31-paste-newsletter.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2813 fix: codesandbox links for nextjs template
  packages/paste-nextjs-template/README.md
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2808 fix: links to v9, v10, and v11 docs on upgrade guide
  packages/paste-website/src/pages/core/upgrade-guide.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2807 fix(side-modal): allow for customization of the dialog element itself
  .changeset/six-waves-yell.md
  packages/paste-core/components/side-modal/__tests__/customization.spec.tsx
  packages/paste-core/components/side-modal/src/SideModal.tsx
  packages/paste-core/components/side-modal/stories/customization.stories.tsx
Labels: Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2793 feat: add useChatLogger hook
  .changeset/little-plums-turn.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/chat-log/__tests__/ChatLogger.spec.tsx
  packages/paste-core/components/chat-log/__tests__/useChatLogger.spec.tsx
  packages/paste-core/components/chat-log/package.json
  packages/paste-core/components/chat-log/src/ChatBookend.tsx
  packages/paste-core/components/chat-log/src/ChatEvent.tsx
  packages/paste-core/components/chat-log/src/ChatLog.tsx
  packages/paste-core/components/chat-log/src/ChatLogger.tsx
  packages/paste-core/components/chat-log/src/ChatMessage.tsx
  packages/paste-core/components/chat-log/src/index.tsx
  packages/paste-core/components/chat-log/src/useChatLogger.ts
  packages/paste-core/components/chat-log/stories/components/UseChatLogger.stories.tsx
  packages/paste-core/components/chat-log/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ChatLogExamples.ts
  packages/paste-website/src/pages/components/chat-log/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2828 chore: add website page vrt check danger js rule
  .danger/__tests__/website-page-vrt-check.spec.ts
  .danger/website-page-vrt-check.ts
  dangerfile.ts
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2833 chore: fixup dangerjs rule
  .danger/__fixtures__/changeset/lost-cradle-unlimited.md
  .danger/__tests__/major-missing-upgrade-guide.spec.ts
  .danger/__tests__/missing-upgrade-guide-check.spec.ts
  .danger/missing-upgrade-guide-check.ts
  dangerfile.ts
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2825 feat: create the chat composer component
  .changeset/hip-papayas-study.md
  .changeset/seven-scissors-float.md
  .changeset/smooth-pumpkins-wonder.md
  .changeset/wicked-dolls-sleep.md
  .changeset/wicked-pugs-drop.md
  .codesandbox/ci.json
  jest.config.js
  package.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/chat-composer/__tests__/customization.spec.tsx
  packages/paste-core/components/chat-composer/__tests__/index.spec.tsx
  packages/paste-core/components/chat-composer/build.js
  packages/paste-core/components/chat-composer/package.json
  packages/paste-core/components/chat-composer/src/AutoLinkPlugin.tsx
  packages/paste-core/components/chat-composer/src/ChatComposer.tsx
  packages/paste-core/components/chat-composer/src/PlaceholderWrapper.tsx
  packages/paste-core/components/chat-composer/src/helpers.ts
  packages/paste-core/components/chat-composer/src/index.tsx
  packages/paste-core/components/chat-composer/src/styles.css
  packages/paste-core/components/chat-composer/stories/customization.stories.tsx
  packages/paste-core/components/chat-composer/stories/index.stories.tsx
  packages/paste-core/components/chat-composer/tsconfig.json
  packages/paste-core/components/chat-log/stories/components/ChatAttachment.stories.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogContent.tsx
  packages/paste-core/components/minimizable-dialog/stories/customization.stories.tsx
  packages/paste-core/components/minimizable-dialog/stories/index.stories.tsx
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/chat-composer.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/lexical-library.tsx
  packages/paste-libraries/lexical/CHANGELOG.md
  packages/paste-libraries/lexical/build.js
  packages/paste-libraries/lexical/package.json
  packages/paste-libraries/lexical/src/index.tsx
  packages/paste-libraries/lexical/stories/index.stories.tsx
  packages/paste-libraries/lexical/tsconfig.json
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2827 feat(in-page-navigation): add new component package
  .changeset/three-weeks-divide.md
  .codesandbox/ci.json
  @types/index.d.ts
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/in-page-navigation/CHANGELOG.md
  packages/paste-core/components/in-page-navigation/__tests__/index.spec.tsx
  packages/paste-core/components/in-page-navigation/build.js
  packages/paste-core/components/in-page-navigation/package.json
  packages/paste-core/components/in-page-navigation/src/InPageNavigation.tsx
  packages/paste-core/components/in-page-navigation/src/InPageNavigationContext.tsx
  packages/paste-core/components/in-page-navigation/src/InPageNavigationItem.tsx
  packages/paste-core/components/in-page-navigation/src/index.tsx
  packages/paste-core/components/in-page-navigation/src/types.ts
  packages/paste-core/components/in-page-navigation/stories/index.stories.tsx
  packages/paste-core/components/in-page-navigation/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/in-page-navigation.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-website/src/component-examples/InPageNavigationExamples.ts
  packages/paste-website/src/pages/components/aspect-ratio/index.mdx
  packages/paste-website/src/pages/components/callout/index.mdx
  packages/paste-website/src/pages/components/in-page-navigation/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2799 feat: swap mono spaced font to using Twilio Sans Mono
  .changeset/chilled-pears-return.md
  .jest/globals/TestTheme.js
  .storybook/preview-head.html
  packages/paste-core/components/file-picker/__tests__/index.spec.tsx
  packages/paste-core/components/select/__tests__/select.test.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/stories/index.stories.tsx
  packages/paste-cra-template/template/public/index.html
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/font-family.yml
  packages/paste-nextjs-template/pages/_document.tsx
  packages/paste-theme/package.json
  packages/paste-theme/src/styles/fonts.ts
  packages/paste-token-contrast-checker/public/index.html
  packages/paste-website/src/html.tsx
  packages/paste-website/src/pages/introduction/for-designers/design-guidelines/index.mdx
  packages/paste-website/src/pages/introduction/for-engineers/manual-installation/index.mdx
  packages/paste-website/src/pages/theme/changing-theme.mdx
  yarn.lock
Labels: Type: Documentation, Area: Storybook, Area: Doc Site, Area: Infrastructure, Area: Theme, Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
