Repository twilio-labs/paste, pull requests merged in 2022-07, with the labels that each got.

#2473 Feat/token card
  packages/paste-website/src/__tests__/tokenCard.test.tsx
  packages/paste-website/src/components/tokens-list/token-card/index.tsx
  packages/paste-website/src/components/tokens-list/token-card/preview/BackgroundColor.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/BorderExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/BoxExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/IconSizeExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/LineHeightExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/SpacingExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/TextColorExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/TextExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/index.tsx
  packages/paste-website/src/utils/__tests__/contrastScore.spec.ts
  packages/paste-website/src/utils/contrastScore.ts
  packages/paste-website/stories/TokenCard.stories.tsx
  packages/paste-website/stories/TokenCard/BackgroundColor.stories.tsx
Labels: Area: Doc Site, Type: Tests, 🚀 merge it!

#2512 chore(internal-docs): add component properties guidance
  internal-docs/design/design-library-standards.md
Labels: 🚀 merge it!

#2516 fix(Spinner docs): reword default icon size and color docs
  packages/paste-website/src/pages/components/spinner/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2523 chore: remove deprecated VSCode extension
  .vscode/extensions.json
Labels: Area: Infrastructure, 🚀 merge it!

#2522 chore: add snapshot test for formatter
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/common.ts.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/common.ts.spec.ts
  packages/paste-design-tokens/formatters/__tests__/gatsby.json.spec.ts
Labels: Type: Tests, Area: Tokens, 🚀 merge it!

#2517 feat(tokens-page): add theme and format controls
  cypress/integration/token-list/index.spec.ts
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/gatsby.json.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/gatsby.json.spec.ts
  packages/paste-design-tokens/formatters/gatsby.ts
  packages/paste-website/src/components/tokens-list/TokensListFilter.tsx
  packages/paste-website/src/components/tokens-list/helpers.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/components/tokens-list/token-card/index.tsx
  packages/paste-website/src/components/tokens-list/types.ts
  packages/paste-website/stories/TokensListFilter.stories.tsx
Labels: Area: Doc Site, Type: Tests, Status: Do Not Merge, Area: Tokens

#2541 chore(website): improve small_rounded button example
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#2525 feat(tokens-page): category intros
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/components/tokens-list/sectionIntros.tsx
  packages/paste-website/stories/tokenSectionIntros.stories.tsx
Labels: Area: Doc Site, Status: Do Not Merge

#2539 chore(website): token list performance improvements
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/components/tokens-list/token-card/index.tsx
Labels: Area: Doc Site

#2542 feat(tokens-page): remove border-radius from square size token examples
  packages/paste-website/src/components/tokens-list/token-card/token-example/index.tsx
Labels: Area: Doc Site, Status: Do Not Merge

#2543 feat(tokens-page): make pill radius example more pill like
  packages/paste-website/src/components/tokens-list/token-card/token-example/BoxExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/index.tsx
Labels: Area: Doc Site, Status: Do Not Merge

#2545 test(aspect-ratio): handlePropValidation
  packages/paste-core/layout/aspect-ratio/__tests__/aspectRatio.spec.tsx
Labels: Type: Tests, Area: Layout, 🚀 merge it!

#2526 feat(form-pill-group): update designs and add error variant
  .changeset/hungry-plants-repair.md
  .changeset/real-moles-exercise.md
  .changeset/sour-buckets-care.md
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/form-pill-group/src/FormPill.styles.ts
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillButton.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  packages/paste-core/components/form-pill-group/src/types.ts
  packages/paste-core/components/form-pill-group/stories/customization.stories.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
  packages/paste-core/primitives/box/package.json
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-core/primitives/box/src/types.ts
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-website/src/component-examples/DisplayPillGroup.ts
  packages/paste-website/src/component-examples/FormPillGroup.tsx
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/pages/components/display-pill-group/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Primitives, 🚀 merge it!

#2540 feat(tokens-page): add collator and properly order tokens
  .changeset/rare-turtles-notice.md
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/d.ts.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/es6.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/generic.d.ts.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/generic.js.spec.ts.snap
  packages/paste-design-tokens/formatters/generic.d.ts.ts
  packages/paste-design-tokens/utils/formatGroupTokensWithTemplate/index.ts
Labels: Type: Tests, Status: Do Not Merge, Area: Tokens

#2552 fix: text color of deafult variant when selected + hover
  .changeset/sour-buckets-care.md
  packages/paste-core/components/form-pill-group/src/FormPill.styles.ts
Labels: Area: Components, 🚀 merge it!

#2554 fix(badge): colGap between Badge contents
  .changeset/curly-dots-teach.md
  packages/paste-core/components/badge/src/index.tsx
Labels: Area: Components, 🚀 merge it!

#2524 App vs-code-intellisense
  .gitignore
  apps/vs-code-intellisense/.eslintrc.json
  apps/vs-code-intellisense/.vscode/extensions.json
  apps/vs-code-intellisense/.vscode/launch.json
  apps/vs-code-intellisense/.vscode/settings.json
  apps/vs-code-intellisense/.vscode/tasks.json
  apps/vs-code-intellisense/.vscodeignore
  apps/vs-code-intellisense/.yarnrc
  apps/vs-code-intellisense/CHANGELOG.md
  apps/vs-code-intellisense/README.md
  apps/vs-code-intellisense/assets/completion-example.png
  apps/vs-code-intellisense/assets/favicon.png
  apps/vs-code-intellisense/assets/hover-example.png
  apps/vs-code-intellisense/package.json
  apps/vs-code-intellisense/src/extension.ts
  apps/vs-code-intellisense/src/models/paste-token.ts
  apps/vs-code-intellisense/src/test/runTest.ts
  apps/vs-code-intellisense/src/test/suite/extension.test.ts
  apps/vs-code-intellisense/src/test/suite/index.ts
  apps/vs-code-intellisense/src/tokens/background-colors.ts
  apps/vs-code-intellisense/src/tokens/border-colors.ts
  apps/vs-code-intellisense/src/tokens/border-widths.ts
  apps/vs-code-intellisense/src/tokens/box-shadows.ts
  apps/vs-code-intellisense/src/tokens/colors.ts
  apps/vs-code-intellisense/src/tokens/font-sizes.ts
  apps/vs-code-intellisense/src/tokens/font-weights.ts
  apps/vs-code-intellisense/src/tokens/index.ts
  apps/vs-code-intellisense/src/tokens/line-heights.ts
  apps/vs-code-intellisense/src/tokens/paste-token-attributes.ts
  apps/vs-code-intellisense/src/tokens/radii.ts
  apps/vs-code-intellisense/src/tokens/sizings.ts
  apps/vs-code-intellisense/src/tokens/spacings.ts
  apps/vs-code-intellisense/src/tokens/text-colors.ts
  apps/vs-code-intellisense/src/tokens/z-indices.ts
  apps/vs-code-intellisense/tsconfig.json
  apps/vs-code-intellisense/vsc-extension-quickstart.md
  apps/vs-code-intellisense/yarn.lock
  jest.config.js
  package.json
Labels: Status: Do Not Merge, Area: Repo

#2537 Tokens Page: Inverse Token Previews
  packages/paste-website/src/__tests__/tokenCard.test.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/components/tokens-list/token-card/index.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/BoxExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/IconSizeExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/LineHeightExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/SpacingExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/TextColorExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/TextExample.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/index.tsx
  packages/paste-website/stories/TokenCard.stories.tsx
Labels: Area: Doc Site, Type: Tests, Status: Do Not Merge

#2556 feat(website): add ChatLog docs page
  packages/paste-website/src/component-examples/ChatLogExamples.ts
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/chat-log/index.mdx
  packages/paste-website/src/utils/componentFilters.ts
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2562 docs(chat-log): fix componentHeaderName
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/pages/components/chat-log/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!

#2557 chore(website): reimplement token list filters with improvements
  .changeset/twelve-bobcats-sort.md
  cypress/integration/token-list/index.spec.ts
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/generic.d.ts.spec.ts.snap
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/generic.js.spec.ts.snap
  packages/paste-design-tokens/formatters/generic.d.ts.ts
  packages/paste-design-tokens/formatters/generic.ts
  packages/paste-design-tokens/types/index.ts
  packages/paste-design-tokens/utils/__tests__/rgbToHex.test.tsx
  packages/paste-design-tokens/utils/formatGroupTokensWithTemplate/index.ts
  packages/paste-design-tokens/utils/remToPx.ts
  packages/paste-design-tokens/utils/rgbToHex.ts
  packages/paste-website/src/__tests__/tokenCard.test.tsx
  packages/paste-website/src/__tests__/tokensList.test.tsx
  packages/paste-website/src/assets/images/tokens/no-tokens-found.svg
  packages/paste-website/src/components/tokens-list/NoTokensFound.tsx
  packages/paste-website/src/components/tokens-list/TokensListFilter.tsx
  packages/paste-website/src/components/tokens-list/helpers.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/components/tokens-list/sectionIntros.tsx
  packages/paste-website/src/components/tokens-list/token-card/index.tsx
  packages/paste-website/src/components/tokens-list/types.ts
  packages/paste-website/stories/TokenCard.stories.tsx
  packages/paste-website/stories/TokensListFilter.stories.tsx
Labels: Area: Doc Site, Type: Tests, Area: Tokens

#2558 test: coverage for tools dir
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/__test__/icons.spec.tsx
  packages/paste-icons/tools/actions/convertAllAction.ts
  packages/paste-icons/tools/actions/convertNewAction.ts
  packages/paste-icons/tools/actions/listIconsAction.ts
Labels: 🚀 merge it!

#2566 fix(website): disabled form pill example
  packages/paste-website/src/component-examples/FormPillGroup.tsx
Labels: Area: Doc Site, 🚀 merge it!

#2564 Data visualization tokens
  .changeset/cool-rules-visit.md
  .changeset/gold-yaks-train.md
  packages/paste-color-contrast-utils/__tests__/themeContrast.spec.ts
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/formatters/utils.ts
  packages/paste-design-tokens/tokens/global/data-visualization.yml
  packages/paste-design-tokens/tokens/global/index.yml
  packages/paste-design-tokens/tokens/global/palette-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/data-visualization.yml
  packages/paste-design-tokens/tokens/themes/dark/global/index.yml
  packages/paste-design-tokens/tokens/themes/dark/global/palette-color.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/data-visualization.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/index.yml
  packages/paste-design-tokens/types/GenericTokensShape.ts
  packages/paste-design-tokens/utils/formatGroupTokensWithTemplate/index.ts
  packages/paste-theme/__tests__/generateThemeFromTokens.spec.ts
  packages/paste-theme/src/generateThemeFromTokens.ts
  packages/paste-theme/src/generateTokensFromTheme.ts
  packages/paste-theme/src/themes/dark/index.ts
  packages/paste-theme/src/themes/default/index.ts
  packages/paste-theme/src/themes/sendgrid/index.ts
  packages/paste-theme/src/types/GenericThemeShape.ts
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/components/tokens-list/sectionIntros.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/index.tsx
  packages/paste-website/stories/tokenSectionIntros.stories.tsx
Labels: Area: Doc Site, Area: Theme, Type: Tests, Status: Do Not Merge, Area: Tokens

#2569 fix(select): disabled background color
  .changeset/plenty-dingos-reflect.md
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2572 chore: name cypress vrt job uniquely so it can be a required check
  .github/workflows/on_pull_request_cypress.yml
Labels: Area: Infrastructure, 🚀 merge it!

#2570 chore: code owners improvement, auto assignee
  .github/CODEOWNERS
  .github/workflows/on_pull_request_open.yml
Labels: Area: Infrastructure, 🚀 merge it!

#2561 chore(website): add breakpoints, maxWidth
  cypress/integration/token-list/index.spec.ts
  packages/paste-website/src/components/tokens-list/token-card/index.tsx
  packages/paste-website/stories/TokenCard.stories.tsx
Labels: Area: Doc Site, Type: Tests, 🚀 merge it!
