Repository twilio-labs/paste, pull requests merged in 2022-09, with the labels that each got.

#2642 Component/inline code
  .changeset/short-weeks-float.md
  .codesandbox/ci.json
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/inline-code/CHANGELOG.md
  packages/paste-core/components/inline-code/__tests__/index.spec.tsx
  packages/paste-core/components/inline-code/build.js
  packages/paste-core/components/inline-code/package.json
  packages/paste-core/components/inline-code/src/index.tsx
  packages/paste-core/components/inline-code/stories/index.stories.tsx
  packages/paste-core/components/inline-code/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/inline-code.tsx
  packages/paste-website/src/pages/components/inline-code/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2638 chore(internal docs): adding more prerequisites to the developing locally doc
  internal-docs/engineering/developing-locally.md
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2619 chore: danger check to ensure external library packages are pinned
  .danger/__fixtures__/mock_package/package.json
  .danger/__fixtures__/mock_package_2/package.json
  .danger/__fixtures__/mock_package_3/package.json
  .danger/__tests__/pin-external-deps.spec.ts
  .danger/pin-external-deps.ts
  dangerfile.ts
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2641 feat: create Code Block Package
  .changeset/great-tools-cry.md
  .changeset/lucky-balloons-joke.md
  .changeset/tall-falcons-occur.md
  .codesandbox/ci.json
  @types/react-syntax-highlighter/index.d.ts
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/code-block/CHANGELOG.md
  packages/paste-core/components/code-block/__tests__/customization.spec.tsx
  packages/paste-core/components/code-block/__tests__/index.spec.tsx
  packages/paste-core/components/code-block/build.js
  packages/paste-core/components/code-block/package.json
  packages/paste-core/components/code-block/src/CodeBlock.tsx
  packages/paste-core/components/code-block/src/CodeBlockHeader.tsx
  packages/paste-core/components/code-block/src/CodeBlockTab.tsx
  packages/paste-core/components/code-block/src/CodeBlockTabList.tsx
  packages/paste-core/components/code-block/src/CodeBlockTabPanel.tsx
  packages/paste-core/components/code-block/src/CodeBlockTabsContext.tsx
  packages/paste-core/components/code-block/src/CodeBlockTheme.ts
  packages/paste-core/components/code-block/src/CodeBlockWrapper.tsx
  packages/paste-core/components/code-block/src/CopyButton.tsx
  packages/paste-core/components/code-block/src/ExternalLinkButton.tsx
  packages/paste-core/components/code-block/src/index.tsx
  packages/paste-core/components/code-block/stories/customization.stories.tsx
  packages/paste-core/components/code-block/stories/index.stories.tsx
  packages/paste-core/components/code-block/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/code-block/package.json
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/code-block.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/syntax-highlighter-library.tsx
  packages/paste-core/core-bundle/src/syntax-highlighter.tsx
  packages/paste-libraries/syntax-highlighter/build.js
  packages/paste-libraries/syntax-highlighter/package.json
  packages/paste-libraries/syntax-highlighter/src/index.tsx
  packages/paste-libraries/syntax-highlighter/tsconfig.json
  packages/paste-website/src/component-examples/CodeBlockExamples.ts
  packages/paste-website/src/pages/components/code-block/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression

#2654 feat(help-text): add success and warning variants
  .changeset/olive-peas-end.md
  packages/paste-core/components/help-text/src/HelpText.tsx
  packages/paste-core/components/help-text/stories/input.stories.tsx
  packages/paste-website/src/pages/components/help-text/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2647 fix(combobox): controlled autocomplete cursor placement onInputValueChange bug
  .changeset/old-paws-relate.md
  packages/paste-core/components/combobox/src/Combobox.tsx
  packages/paste-core/components/combobox/src/extractPropsFromState.tsx
  packages/paste-core/components/combobox/src/types.ts
  packages/paste-core/components/combobox/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ComboboxExamples.ts
  packages/paste-website/src/pages/components/combobox/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🕵🏻‍♀️ Run website visual regression

#2667 fix(checkbox, radio): add a default id when id prop isn't passed
  .changeset/wise-cameras-sing.md
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/checkbox/stories/checkbox.stories.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/radio-group/src/Radio.tsx
  packages/paste-core/components/radio-group/stories/radio-uncontrolled.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#2664 chore: switch applitools to percy for website VRT
  .changeset/fluffy-gifts-repair.md
  .github/workflows/on_pull_request_cypress.yml
  .github/workflows/remove_vrt_label.yml
  .percy.js
  applitools.config.js
  cypress/plugins/index.js
  cypress/support/commands/@types/index.d.ts
  cypress/support/commands/parent-commands.ts
  cypress/support/index.ts
  cypress/support/utils/applitools.ts
  cypress/support/utils/vrt.ts
  cypress/tsconfig.json
  internal-docs/engineering/ci.md
  internal-docs/engineering/doc-site/applitools.md
  internal-docs/engineering/doc-site/visual-regression-testing.md
  internal-docs/engineering/environment-variables.md
  internal-docs/engineering/testing.md
  internal-docs/engineering/third-party-tool.md
  internal-docs/process/definition-of-done.md
  package.json
  packages/paste-libraries/animation/src/useReducedMotion.tsx
  yarn.lock
Labels: Area: Infrastructure, Type: Tests, Area: Repo, 🕵🏻‍♀️ Run website visual regression

#2678 fix(website): github and storybook links
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/inline-code/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#2681 feat(avatar): add new variant and color props
  .changeset/ninety-islands-type.md
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/avatar/src/types.ts
  packages/paste-core/components/avatar/stories/index.stories.tsx
  packages/paste-website/src/pages/components/avatar/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#2674 feat: add file picker package
  .changeset/cool-lies-impress.md
  .changeset/late-tables-shop.md
  .changeset/sour-birds-sleep.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/file-picker/CHANGELOG.md
  packages/paste-core/components/file-picker/__tests__/index.spec.tsx
  packages/paste-core/components/file-picker/build.js
  packages/paste-core/components/file-picker/package.json
  packages/paste-core/components/file-picker/src/FilePicker.tsx
  packages/paste-core/components/file-picker/src/FilePickerButton.tsx
  packages/paste-core/components/file-picker/src/index.tsx
  packages/paste-core/components/file-picker/stories/index.stories.tsx
  packages/paste-core/components/file-picker/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/CHANGELOG.md
  packages/paste-core/core-bundle/CHANGELOG_ARCHIVE.md
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/file-picker.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/primitives/box/src/types.ts
  packages/paste-core/primitives/sibling-box/src/index.tsx
  packages/paste-website/src/component-examples/FilePickerExamples.ts
  packages/paste-website/src/pages/components/file-picker/index.mdx
  packages/paste-website/src/pages/components/switch/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, Area: Primitives, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2677 chore: GH workflow for Percy baseline creation on main
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request_cypress.yml
  cypress.config.ts
  cypress.json
  cypress/plugins/index.js
  cypress/support/commands/child-commands.ts
  cypress/support/commands/dual-commands.ts
  cypress/support/commands/index.ts
  cypress/support/commands/override-commands.ts
  cypress/support/commands/parent-commands.ts
  cypress/support/e2e.ts
  cypress/tsconfig.json
  package.json
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/DataVisualizationExamples.tsx
  packages/paste-website/src/components/homepage/HomeHeroIllustration.tsx
  packages/paste-website/src/components/site-wrapper/index.tsx
  packages/paste-website/src/utils/RouteUtils.ts
  packages/paste-website/src/utils/inCypress.ts
  packages/paste-website/types/index.d.ts
  tsconfig.json
  yarn.lock
Labels: Area: Doc Site, Area: Infrastructure, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2685 chore(avatar): remove underline on avatars in anchors
  .changeset/six-frogs-destroy.md
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/display-pill-group/stories/index.stories.tsx
Labels: Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2686 fix: storybook hot reloading on paste imports
  .storybook/main.js
  package.json
  packages/paste-core/components/menu/__tests__/customization.spec.tsx
  packages/paste-core/components/menu/stories/customization.stories.tsx
  yarn.lock
Labels: Area: Storybook, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2690 feat: add ProductInternetOfThingsProgrammableAssetTracker icon
  .changeset/breezy-moles-behave.md
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductInternetOfThingsProgrammableAssetTrackerIcon.tsx
  packages/paste-icons/svg/ProductInternetOfThingsProgrammableAssetTracker.svg
Labels: Status: Do Not Merge, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2711 docs: add multiselect combobox docs
  .changeset/perfect-lobsters-beam.md
  packages/paste-core/components/combobox/src/styles/ComboboxListboxGroup.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxOption.tsx
  packages/paste-core/components/combobox/src/types.ts
  packages/paste-website/src/component-examples/MultiselectComboboxExamples.ts
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/multiselect-combobox/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2697 chore: remove `__console_patch` prop
  .changeset/nasty-kings-yell.md
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/src/utils/consoleUtils.ts
  packages/paste-core/components/modal/stories/index.stories.tsx
  packages/paste-website/src/pages/components/modal/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🕵🏻‍♀️ Run website visual regression

#2700 chore(website): add September newsletter
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2022-09-23-paste-newsletter/callout-example.png
  packages/paste-website/src/assets/images/articles/2022-09-23-paste-newsletter/inline-code-example.png
  packages/paste-website/src/assets/images/articles/2022-09-23-paste-newsletter/new-icons-example.png
  packages/paste-website/src/assets/images/articles/2022-09-23-paste-newsletter/ramona-pastemate.png
  packages/paste-website/src/assets/images/articles/2022-09-23-paste-newsletter/ui-kit-example.png
  packages/paste-website/src/pages/blog/2022-09-23-paste-newsletter.mdx
  packages/paste-website/static/images/gifs-2022-09-23-paste-newsletter/code-block-example.gif
  packages/paste-website/static/images/gifs-2022-09-23-paste-newsletter/minimizable-dialog-example.gif
  packages/paste-website/static/images/gifs-2022-09-23-paste-newsletter/sticky-headers-example.gif
  packages/paste-website/static/images/gifs-2022-09-23-paste-newsletter/switch-example.gif
  packages/paste-website/static/images/gifs-2022-09-23-paste-newsletter/toggle-button-example.gif
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2691 docs(dark-theme): add loom on figma library switching
  packages/paste-website/src/pages/theme/changing-theme.mdx
  packages/paste-website/src/pages/theme/dark-theme.mdx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression

#2710 chore(button): give toggles box shadows for height
  .changeset/rare-chefs-hope.md
  packages/paste-core/components/button/src/styles.ts
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
