Repository twilio-labs/paste, pull requests merged in 2022-03, with the labels that each got.

#2234 feat(toast): add i18n props
  .changeset/fluffy-sheep-try.md
  packages/paste-core/components/toast/__tests__/index.spec.tsx
  packages/paste-core/components/toast/src/Toast.tsx
  packages/paste-core/components/toast/src/propTypes.ts
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ToastExamples.tsx
  packages/paste-website/src/pages/components/toast/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!

#2253 feat(alert): add i18n props
  .changeset/sweet-days-talk.md
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/alert/stories/index.stories.tsx
  packages/paste-website/src/pages/components/alert/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!

#2236 feat(website): add data visualization foundation page
  .changeset/wild-chicken-thank.md
  packages/paste-website/package.json
  packages/paste-website/src/assets/images/foundations/data-visualization/figma-colors.png
  packages/paste-website/src/assets/images/foundations/data-visualization/line-chart.png
  packages/paste-website/src/assets/images/foundations/data-visualization/pie-chart.png
  packages/paste-website/src/component-examples/ColorsFoundationExamples.tsx
  packages/paste-website/src/component-examples/DataVisualizationExamples.tsx
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/core/libraries/data-visualization/index.mdx
  packages/paste-website/src/pages/foundations/colors/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!

#2252 chore(website): rename empty state pattern
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2243 Chore/applitools
  applitools.config.js
  cypress/integration/token-list/index.spec.ts
  cypress/support/utils/applitools.ts
Labels: Type: Tests, Status: Do Not Merge, Area: Repo

#2263 feat(Data Grid): add i18n props
  .changeset/chilly-insects-smell.md
  .changeset/hungry-clocks-count.md
  .changeset/itchy-lions-switch.md
  packages/paste-core/components/alert/__tests__/index.spec.tsx
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/src/DataGridHeaderSort.tsx
  packages/paste-core/components/data-grid/stories/components/I18nDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/constants.ts
  packages/paste-core/components/data-grid/stories/index.stories.tsx
  packages/paste-core/components/toast/__tests__/index.spec.tsx
  packages/paste-core/components/toast/src/Toast.tsx
  packages/paste-website/src/pages/components/data-grid/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!

#2269 fix: custom plugin to fix esbuild esm imports
  .changeset/two-teachers-count.md
  package.json
  tools/build/__fixtures__/random_package/src/index.tsx
  tools/build/__tests__/__snapshots__/compiledImports.test.ts.snap
  tools/build/__tests__/compiledImports.test.ts
  tools/build/esbuild.js
  tools/build/plugins/EsmExternals.js
  tools/build/plugins/PasteCJSResolver.js
  tools/build/pre-build.js
  tools/build/token-usage-detector.ts
  tools/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: Area: Infrastructure, Type: Tests, Area: Repo

#2273 fix(dark-mode-scroll): set background color on scrolling element
  packages/paste-website/src/components/SlantedBackgroundGradient.tsx
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/homepage/Popular.tsx
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Labels: Area: Doc Site, Status: Do Not Merge

#2268 chore(website): fix combobox example typo
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2205 fix(website): conflicting IDs on Radio Group docs
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
Labels: Area: Doc Site, 🚀 merge it!

#2276 chore(commitlint): update commitlint
  package.json
  yarn.lock
Labels: Area: Repo, 🚀 merge it!

#2274 feat(label): remove hardcoded strings for i18n
  .changeset/cuddly-students-agree.md
  .changeset/great-fans-decide.md
  packages/paste-core/components/checkbox/__tests__/checkbox.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/checkbox/src/CheckboxGroup.tsx
  packages/paste-core/components/inline-control-group/__tests__/inlineControlGroup.test.tsx
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
  packages/paste-core/components/label/stories/label.stories.tsx
  packages/paste-core/components/radio-group/__tests__/radio.test.tsx
  packages/paste-core/components/radio-group/src/RadioGroup.tsx
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!

#2270 feat(website): add filter group pattern page
  packages/paste-website/src/assets/images/patterns/filter-custom-date.png
  packages/paste-website/src/assets/images/patterns/filter-default-state.png
  packages/paste-website/src/assets/images/patterns/filter-empty-state.png
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/src/utils/GraphqlUtils.ts
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2271 feat(website): update dark theme badge and faq
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadgeButton.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeFAQModal.tsx
Labels: Area: Doc Site, 🚀 merge it!

#2295 chore(website): update table docs with data grid info
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2302 fix(badge): adjust error counter icon color
  .changeset/thin-mangos-report.md
  packages/paste-core/components/badge/src/index.tsx
Labels: Area: Components, Status: Do Not Merge

#2298 feat: add localized fonts to support i18n
  .changeset/calm-badgers-double.md
  .changeset/clean-birds-carry.md
  .changeset/modern-turtles-unite.md
  package.json
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowButton.tsx
  packages/paste-core/components/pagination/src/PaginationNumber.tsx
  packages/paste-core/components/select/src/Option.tsx
  packages/paste-core/components/select/src/OptionGroup.tsx
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/font-family.yml
  packages/paste-design-tokens/tokens/global/font-family.yml
  packages/paste-theme/package.json
  packages/paste-theme/src/styles/global.ts
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/stories/themeProvider.stories.tsx
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Doc Site, Area: Theme, Area: Components, Type: Tests, Area: Tokens, Area: Repo, 🚀 merge it!

#2309 chore(select): set background color
  .changeset/curvy-hounds-yawn.md
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components, 🚀 merge it!

#2229 fix(website): fixes sidebar page selection on page load
  cypress/integration/sidebar-navigation/index.spec.ts
  packages/paste-website/package.json
  packages/paste-website/src/components/shortcodes/component-header/index.tsx
  packages/paste-website/src/components/shortcodes/feedback-popover/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/utils/RouteUtils.ts
  packages/paste-website/stories/SidebarNavigation.stories.tsx
  yarn.lock
Labels: Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!

#2304 feat(button): add i18n props
  .changeset/friendly-feet-shake.md
  .changeset/happy-boats-collect.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/spinner/src/index.tsx
  packages/paste-website/src/pages/components/button/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!

#2313 chore: Jest improvements part 1
  .jest/resolver.js
  .jest/setupFilesAfterEnv.js
  .jest/transform-esm.js
  .jest/transform-typescript.js
  jest.config.js
  package.json
  packages/paste-codemods/tools/__tests__/tools.spec.js
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/breadcrumb/__tests__/breadcrumb.spec.tsx
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/checkbox/__tests__/checkboxdisclaimer.test.tsx
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/help-text/__tests__/helptext.test.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/tabs/__tests__/tabs.test.tsx
  packages/paste-core/components/toast/__tests__/useToaster.spec.tsx
  packages/paste-core/components/tooltip/__test__/index.spec.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-core/primitives/text/__tests__/StyleFunctions.spec.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/__tests__/text.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  packages/paste-website/src/utils/color-combos/__test__/index.spec.ts
  tools/jest.config.js
  tools/utils/__tests__/runCmd.spec.js
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Area: Theme, Area: Components, Type: Tests, Area: Repo, Area: Primitives, 🚀 merge it!

#2306 feat(anchor): add i18n prop
  .changeset/neat-apples-boil.md
  packages/paste-core/components/anchor/__tests__/anchor.test.tsx
  packages/paste-core/components/anchor/src/index.tsx
  packages/paste-core/components/anchor/src/proptypes.ts
  packages/paste-core/components/anchor/src/types.ts
  packages/paste-core/components/anchor/stories/index.stories.tsx
  packages/paste-website/src/pages/components/anchor/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!

#2307 fix: data grid layout backwards compat with older tables. Support responsive tables
  .changeset/giant-pillows-lick.md
  .changeset/lovely-guests-think.md
  packages/paste-core/components/data-grid/src/DataGrid.tsx
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/data-grid/stories/components/DataGridLayouts.tsx
  packages/paste-core/components/data-grid/stories/index.stories.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/Table.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-website/src/component-examples/DataExportPatternExamples.ts
  packages/paste-website/src/components/FormPillVsDisplayPillTable.tsx
  packages/paste-website/src/components/Roadmap/Roadmap.tsx
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/data-grid/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!

#2315 fix(spinner): match title prop types to types
  .changeset/mean-starfishes-share.md
  packages/paste-core/components/spinner/src/index.tsx
Labels: Area: Components, 🚀 merge it!

#2311 feat(website): add default and empty state examples to filter group pattern
  cypress/integration/filter-group-examples/index.spec.ts
  packages/paste-website/src/__tests__/filterGroup.test.tsx
  packages/paste-website/src/assets/images/patterns/filter-default-state.png
  packages/paste-website/src/assets/images/patterns/filter-empty-state.png
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/components/EmptyState.tsx
  packages/paste-website/src/component-examples/filter-group/components/NoResultsIllustration.tsx
  packages/paste-website/src/component-examples/filter-group/components/SampleDataGrid.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
  packages/paste-website/src/component-examples/filter-group/helpers.ts
  packages/paste-website/src/component-examples/filter-group/types.ts
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/stories/FilterGroup.stories.tsx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!

#2321 chore: update package.json plop template
  tools/plop-templates/package.hbs
Labels: Area: Infrastructure, 🚀 merge it!

#2285 feat: add should forward props to box and text
  .changeset/red-masks-obey.md
  .changeset/shaggy-weeks-return.md
  .changeset/spotty-lobsters-impress.md
  .changeset/wicked-vans-add.md
  @types/@styled-system/index.d.ts
  @types/@styled-system/should-forward-prop/index.d.ts
  @types/@styled-system/theme-get/index.d.ts
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/combobox/__tests__/virtualization.spec.tsx
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/primitives/box/src/CustomStyleProps.ts
  packages/paste-core/primitives/box/src/StyleFunctions.ts
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/modal-dialog/package.json
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/src/CustomStyleProps.ts
  packages/paste-core/primitives/text/src/StyleFunctions.ts
  packages/paste-core/primitives/text/src/index.tsx
  packages/paste-libraries/styling/package.json
  packages/paste-libraries/styling/src/index.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/TableOfContentsListItem.tsx
  yarn.lock
Labels: Area: Doc Site, Area: Components, Type: Tests, Area: Layout, Area: Repo, Area: Primitives, 🚀 merge it!

#2322 chore: update issue template
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: Area: Infrastructure, 🚀 merge it!

#2320 fix: add links to codesandboxes below examples
  packages/paste-website/src/component-examples/filter-group/Examples.tsx
  packages/paste-website/src/component-examples/filter-group/components/DefaultFilterGroup.tsx
  packages/paste-website/src/component-examples/filter-group/constants.ts
  packages/paste-website/src/component-examples/filter-group/types.ts
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/stories/FilterGroup.stories.tsx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!

#2319 feat: add ChatMessage and ChatBubble components
  .changeset/fluffy-toes-look.md
  .changeset/weak-dots-pump.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/chat-log/__tests__/customization.spec.tsx
  packages/paste-core/components/chat-log/__tests__/index.spec.tsx
  packages/paste-core/components/chat-log/build.js
  packages/paste-core/components/chat-log/package.json
  packages/paste-core/components/chat-log/src/ChatBubble.tsx
  packages/paste-core/components/chat-log/src/ChatMessage.tsx
  packages/paste-core/components/chat-log/src/index.tsx
  packages/paste-core/components/chat-log/src/styles.ts
  packages/paste-core/components/chat-log/src/types.ts
  packages/paste-core/components/chat-log/stories/index.stories.tsx
  packages/paste-core/components/chat-log/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/chat-log.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-website/src/utils/componentFilters.ts
  yarn.lock
Labels: Area: Doc Site, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!
