Repository twilio-labs/paste, pull requests merged in 2023-05, with the labels that each got.

#3205 feat(topbar): add package
  .changeset/kind-suns-cross.md
  .changeset/light-scissors-remain.md
  .changeset/modern-jobs-fix.md
  .changeset/strange-rivers-pretend.md
  .changeset/thirty-pens-prove.md
  .codesandbox/ci.json
  .storybook/preview.tsx
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/sidebar/src/SidebarOverlayContentWrapper.tsx
  packages/paste-core/components/sidebar/stories/customization.stories.tsx
  packages/paste-core/components/sidebar/stories/overlay.stories.tsx
  packages/paste-core/components/sidebar/stories/push.stories.tsx
  packages/paste-core/components/topbar/__tests__/index.spec.tsx
  packages/paste-core/components/topbar/build.js
  packages/paste-core/components/topbar/package.json
  packages/paste-core/components/topbar/src/Topbar.tsx
  packages/paste-core/components/topbar/src/index.tsx
  packages/paste-core/components/topbar/stories/customization.stories.tsx
  packages/paste-core/components/topbar/stories/topbar.stories.tsx
  packages/paste-core/components/topbar/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/topbar.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/sizing.yml
  packages/paste-design-tokens/tokens/global/sizing.yml
  yarn.lock
Labels: Area: Storybook, Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3208 feat(badge, tokens, sidebar): add subaccount badge, small badge, sidebar beta badge
  .changeset/late-pans-impress.md
  .changeset/proud-turtles-thank.md
  .changeset/yellow-carrots-trade.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/alert-dialog/__tests__/customization.spec.tsx
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/styles.ts
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/badge/stories/index.stories.tsx
  packages/paste-core/components/sidebar/__tests__/index.spec.tsx
  packages/paste-core/components/sidebar/package.json
  packages/paste-core/components/sidebar/src/SidebarBetaBadge.tsx
  packages/paste-core/components/sidebar/src/index.tsx
  packages/paste-core/components/sidebar/stories/customization.stories.tsx
  packages/paste-core/components/sidebar/stories/overlay.stories.tsx
  packages/paste-core/components/sidebar/stories/push.stories.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/text-color.yml
  packages/paste-website/src/pages/components/badge/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3212 feat(sidebar): split up SidebarHeader into subcomponents and fix axe flakes
  .changeset/two-teachers-walk.md
  .github/workflows/on_pull_request.yml
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/alert-dialog/stories/index.stories.tsx
  packages/paste-core/components/chat-log/stories/components/UseChatLogger.stories.tsx
  packages/paste-core/components/combobox/stories/Combobox.stories.tsx
  packages/paste-core/components/modal/stories/index.stories.tsx
  packages/paste-core/components/side-modal/stories/index.stories.tsx
  packages/paste-core/components/sidebar/__tests__/index.spec.tsx
  packages/paste-core/components/sidebar/src/SidebarHeader.tsx
  packages/paste-core/components/sidebar/src/SidebarHeaderIconButton.tsx
  packages/paste-core/components/sidebar/src/SidebarHeaderLabel.tsx
  packages/paste-core/components/sidebar/src/index.tsx
  packages/paste-core/components/sidebar/stories/customization.stories.tsx
  packages/paste-core/components/sidebar/stories/overlay.stories.tsx
  packages/paste-core/components/sidebar/stories/push.stories.tsx
  packages/paste-core/components/topbar/stories/topbar.stories.tsx
Labels: Area: Storybook, Area: Infrastructure, Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, 🕵🏻‍♀️ Run website visual regression

#3219 feat(internal docs): revise peer review steps in epic template
  internal-docs/process/epic-template.md
Labels: Status: Do Not Merge

#3218 feat(avatar): add avatar group
  .changeset/clever-pears-burn.md
  .changeset/smooth-ducks-crash.md
  .changeset/swift-pears-visit.md
  .changeset/thick-worms-begin.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/avatar/package.json
  packages/paste-core/components/avatar/src/Avatar.tsx
  packages/paste-core/components/avatar/src/AvatarGroup.tsx
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/avatar/src/types.ts
  packages/paste-core/components/avatar/src/utils.ts
  packages/paste-core/components/avatar/stories/index.stories.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/box-shadow.yml
  packages/paste-website/public/images/avatars/avatar5.png
  packages/paste-website/public/images/avatars/avatar6.png
  packages/paste-website/public/images/avatars/avatar7.png
  packages/paste-website/public/images/avatars/avatar8.png
  packages/paste-website/src/pages/components/avatar/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Repo, 🕵🏻‍♀️ Run website visual regression

#3226 chore(website): update object details pattern to use description list
  packages/paste-website/src/pages/patterns/object-details/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3171 feat: swap site codeblock for our code block
  .changeset/fuzzy-bats-exercise.md
  packages/paste-core/components/inline-code/src/index.tsx
  packages/paste-core/components/inline-code/stories/index.stories.tsx
  packages/paste-website/package.json
  packages/paste-website/src/components/ThemeObjectDisplay.tsx
  packages/paste-website/src/components/Typography.tsx
  packages/paste-website/src/components/codeblock/index.tsx
  packages/paste-website/src/components/icons-list/IconCard.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/tokens-list/sectionIntros.tsx
  packages/paste-website/src/pages/components/inline-code/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/screen-reader-only/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/foundations/typography/index.mdx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
  packages/paste-website/stories/InlineCode.stories.tsx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Status: Do Not Merge, Area: Repo, 🕵🏻‍♀️ Run website visual regression

#3211 chore: release vs code extension
  apps/vs-code-intellisense/package.json
Labels: Status: Do Not Merge

#3225 chore: update tokens and inverse styles
  .changeset/eighty-swans-appear.md
  .changeset/young-toes-battle.md
  packages/paste-core/components/button/src/InverseButton.tsx
  packages/paste-core/components/button/src/InverseLinkButton.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox.stories.tsx
  packages/paste-core/components/help-text/src/HelpText.tsx
  packages/paste-core/components/in-page-navigation/src/InPageNavigationItem.tsx
  packages/paste-core/components/input-box/__tests__/input-chevron-wrapper.test.tsx
  packages/paste-core/components/input-box/src/InputChevronWrapper.tsx
  packages/paste-core/components/input/src/Input.tsx
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/select/src/Select.tsx
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/textarea/src/TextArea.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/text-color.yml
Labels: Area: Components, Type: Tests, Area: Tokens, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3231 feat(topbar): add user dialog
  .changeset/moody-ears-burn.md
  .changeset/three-onions-begin.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-core/components/topbar/__tests__/index.spec.tsx
  packages/paste-core/components/topbar/package.json
  packages/paste-core/components/topbar/src/Topbar.tsx
  packages/paste-core/components/topbar/src/index.tsx
  packages/paste-core/components/topbar/src/types.ts
  packages/paste-core/components/topbar/src/user-dialog/UserDialog.tsx
  packages/paste-core/components/topbar/src/user-dialog/UserDialogContainer.tsx
  packages/paste-core/components/topbar/src/user-dialog/UserDialogUserEmail.tsx
  packages/paste-core/components/topbar/src/user-dialog/UserDialogUserInfo.tsx
  packages/paste-core/components/topbar/src/user-dialog/UserDialogUserName.tsx
  packages/paste-core/components/topbar/stories/topbar.stories.tsx
  packages/paste-core/components/topbar/stories/userDialog.stories.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo, 🕵🏻‍♀️ Run website visual regression

#3246 fix: in development 404 page never returned a page due to incorrect router information lookup
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-website/src/components/empty-state/Error404.tsx
  packages/paste-website/src/components/empty-state/InDevelopment.tsx
  packages/paste-website/src/components/empty-state/NotBuilt.tsx
Labels: Area: Doc Site, 🕵🏻‍♀️ Run website visual regression

#3250 fix: tell nx that the .next directory is a cachable output for netlify build
  nx.json
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3242 chore(sidebar, codeblock): style updates
  .changeset/fresh-emus-walk.md
  .changeset/olive-sheep-warn.md
  .changeset/stale-hornets-build.md
  packages/paste-core/components/code-block/src/CodeBlock.tsx
  packages/paste-core/components/sidebar/src/Sidebar.tsx
  packages/paste-core/components/sidebar/src/SidebarHeader.tsx
  packages/paste-core/components/topbar/src/Topbar.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
