Repository twilio-labs/paste, pull requests merged in 2023-10, with the labels that each got.

#3514 fix(non-modal-dialog-primitive): always use portal
  .changeset/little-llamas-swim.md
  packages/paste-core/primitives/non-modal-dialog/__tests__/NonModalDialogPrimitive.tsx
  packages/paste-core/primitives/non-modal-dialog/src/index.tsx
Labels: Type: Tests, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3512 chore: ignore generated storybook docs from format and format generated core bundle files
  .vscode/settings.json
  biome.json
  packages/paste-core/core-bundle/tools/utils.ts
Labels: Area: Infrastructure, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3520 fix: embedding openai secret for CI
  .github/workflows/update_docs_embed.yml
Labels: Area: Infrastructure

#3517 fix: opengraph api 500 error
  packages/paste-website/src/pages/api/opengraph.ts
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3525 chore: add github discussion auto-responder
  .github/workflows/on_discussion_create.yml
  package.json
  tools/github/autoresponder.ts
Labels: Area: Infrastructure, Area: Repo

#3530 fix: discussions secrets
  .github/workflows/on_discussion_create.yml
Labels: Area: Infrastructure

#3518 chore: add page templates stories
  packages/paste-website/src/component-examples/page-templates/ObjectDetailsExamples.ts
  packages/paste-website/src/component-examples/page-templates/ObjectsListExamples.ts
  packages/paste-website/src/component-examples/page-templates/SettingsExamples.ts
  packages/paste-website/src/pages/page-templates/object-details/index.mdx
  packages/paste-website/src/pages/page-templates/objects-list/index.mdx
  packages/paste-website/src/pages/page-templates/settings/index.mdx
  packages/paste-website/stories/PageTemplates.stories.tsx
  tools/github/autoresponder.ts
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3528 chore: remove description list vertical margin
  .changeset/thirty-dots-reply.md
  packages/paste-core/components/description-list/src/DescriptionList.tsx
  packages/paste-core/components/description-list/src/DescriptionListSet.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3541 feat(data-grid): add ability to set role to treegrid
  .changeset/dirty-bottles-shop.md
  packages/paste-core/components/data-grid/src/DataGrid.tsx
  packages/paste-core/components/data-grid/type-docs.json
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3543 chore: fix non-scrollable scrollbar bug in chat composer and chat log docs example
  .changeset/fifty-peas-swim.md
  packages/paste-core/components/chat-composer/src/ChatComposer.tsx
  packages/paste-website/src/component-examples/ChatComposerExamples.tsx
Labels: Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3540 fix(combobox): placeholder cropping in Multiselect Combobox
  .changeset/sour-knives-design.md
  packages/paste-core/components/combobox/src/multiselect/GrowingInput.tsx
  packages/paste-core/components/combobox/src/multiselect/MultiselectCombobox.tsx
  packages/paste-core/components/combobox/stories/GrowingInput.stories.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox.stories.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3509 chore: add a typo check to PRs
  .github/workflows/on_pull_request.yml
Labels: Area: Infrastructure

#3549 feat(progress-bar): add new props and refine styles
  .changeset/early-frogs-applaud.md
  packages/paste-core/components/progress-bar/package.json
  packages/paste-core/components/progress-bar/src/ProgressBar.tsx
  packages/paste-core/components/progress-bar/src/ProgressBarLabel.tsx
  packages/paste-core/components/progress-bar/stories/index.stories.tsx
  yarn.lock
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3545 fix(select): enable defaultValue to work correctly by removing rehydration hack
  .changeset/cold-brooms-type.md
  .changeset/silly-mirrors-smash.md
  .changeset/thirty-forks-poke.md
  jest.config.js
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/src/DataGridCell.tsx
  packages/paste-core/components/meter/src/Meter.tsx
  packages/paste-core/components/select/src/Select.tsx
  packages/paste-core/components/select/stories/select.stories.tsx
Labels: Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3534 feat: updated site search
  cypress/integration/site-search/index.spec.ts
  internal-docs/engineering/developing-locally.md
  internal-docs/engineering/doc-site/docsearch.md
  internal-docs/engineering/environment-variables.md
  internal-docs/engineering/technologies.md
  packages/paste-website/package.json
  packages/paste-website/src/components/ContactUsMenu.tsx
  packages/paste-website/src/components/site-search/SearchEmptyIllustration.tsx
  packages/paste-website/src/components/site-search/SearchEmptyState.tsx
  packages/paste-website/src/components/site-search/SearchForm.tsx
  packages/paste-website/src/components/site-search/SearchModal.tsx
  packages/paste-website/src/components/site-search/SearchResultDocs.tsx
  packages/paste-website/src/components/site-search/SearchResults.tsx
  packages/paste-website/src/components/site-search/SearchResultsLoading.tsx
  packages/paste-website/src/components/site-search/index.tsx
  packages/paste-website/src/components/site-search/types.ts
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeToggle.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderSearch.tsx
  packages/paste-website/src/components/site-wrapper/site-header/index.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/api/docs-search.ts
  packages/paste-website/src/styles/docSearch.ts
  packages/paste-website/stories/SiteSearch.stories.tsx
  packages/paste-website/stories/__fixtures__/searchresults.fixture.ts
  packages/paste-website/types/index.d.ts
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3560 docs(website): add progress bar page
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/progress-bar/package.json
  packages/paste-core/components/progress-bar/stories/index.stories.tsx
  packages/paste-website/src/components/shortcodes/StoryPreview.tsx
  packages/paste-website/src/pages/components/progress-bar/api.mdx
  packages/paste-website/src/pages/components/progress-bar/changelog.mdx
  packages/paste-website/src/pages/components/progress-bar/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3576 feat(Heading): update bottom margin for H2 and H4
  .changeset/wild-oranges-unite.md
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/heading/src/Heading.tsx
Labels: Area: Components, Type: Tests, 🕵🏻‍♀️ Run website visual regression

#3568 chore: improve github autoresponder
  packages/paste-website/src/pages/api/ai.ts
  tools/github/autoresponder.ts
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3582 chore: set up some logging and rollbar error handling for ai endpoints
  .github/workflows/on_pull_request_supabase.yml
  apps/backend/supabase/migrations/20231027224426_track-search-usage.sql
  apps/backend/supabase/schema.gen.ts
  biome.json
  packages/paste-theme-designer/package.json
  packages/paste-website/next.config.mjs
  packages/paste-website/package.json
  packages/paste-website/src/pages/api/ai.ts
  packages/paste-website/src/pages/api/discussions-search.ts
  packages/paste-website/src/pages/api/docs-search.ts
  packages/paste-website/types/index.d.ts
  templates/paste-nextjs-template/package.json
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3579 chore(tabs, in page nav): update styles
  .changeset/itchy-rats-do.md
  .changeset/lucky-carrots-design.md
  .changeset/tidy-jeans-switch.md
  .changeset/two-numbers-shake.md
  .eslintrc.js
  packages/paste-core/components/code-block/type-docs.json
  packages/paste-core/components/in-page-navigation/package.json
  packages/paste-core/components/in-page-navigation/src/InPageNavigation.tsx
  packages/paste-core/components/in-page-navigation/src/InPageNavigationItem.tsx
  packages/paste-core/components/in-page-navigation/stories/index.stories.tsx
  packages/paste-core/components/in-page-navigation/stories/vertical.stories.tsx
  packages/paste-core/components/in-page-navigation/type-docs.json
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/TabPanel.tsx
  packages/paste-core/components/tabs/src/types.ts
  packages/paste-core/components/tabs/stories/index.stories.tsx
  packages/paste-core/components/tabs/type-docs.json
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-website/src/component-examples/InPageNavigationExamples.ts
  packages/paste-website/src/component-examples/TabsExamples.ts
  packages/paste-website/src/pages/components/in-page-navigation/api.mdx
  packages/paste-website/src/pages/components/in-page-navigation/changelog.mdx
  packages/paste-website/src/pages/components/in-page-navigation/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
