Repository twilio-labs/paste, pull requests merged in 2023-03, with the labels that each got.

#3057 fix: dangerJS check now correctly detects missing design token changes
  .danger/__tests__/missing-changesets-check.spec.ts
  .danger/__tests__/utils.spec.ts
  .danger/utils.ts
Labels: 🚀 merge it!

#3053 feat: Minimizable Dialog updates
  .changeset/lemon-rice-wave.md
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialog.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogContainer.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogContent.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogContext.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogHeader.tsx
  packages/paste-core/components/minimizable-dialog/src/StyledMinimizableDialog.tsx
  packages/paste-core/components/minimizable-dialog/stories/index.stories.tsx
  packages/paste-website/src/component-examples/MinimizableDialogExamples.ts
Labels: Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3034 feat(website): show text color token pairings
  .changeset/sixty-chefs-cover.md
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/aliases/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/aliases/offset.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/aliases/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/evergreen/aliases/offset.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/aliases/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/text-color.yml
  packages/paste-website/src/__tests__/tokenAccessiblePairs.test.tsx
  packages/paste-website/src/__tests__/tokenCard.test.tsx
  packages/paste-website/src/components/tokens-list/helpers.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/components/tokens-list/token-card/AccessiblePairing.tsx
  packages/paste-website/src/components/tokens-list/token-card/index.tsx
  packages/paste-website/src/components/tokens-list/token-card/token-example/index.tsx
  packages/paste-website/src/components/tokens-list/types.ts
  packages/paste-website/stories/TokenCard.stories.tsx
Labels: Area: Doc Site, Type: Tests, Area: Tokens, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3033 chore(button): update styles
  .changeset/friendly-years-boil.md
  .changeset/mighty-carpets-lay.md
  .changeset/real-spiders-travel.md
  .changeset/tasty-spiders-accept.md
  .eslintrc.js
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveButton.tsx
  packages/paste-core/components/button/src/DestructiveIconButton.tsx
  packages/paste-core/components/button/src/DestructiveLinkButton.tsx
  packages/paste-core/components/button/src/DestructiveSecondaryButton.tsx
  packages/paste-core/components/button/src/InverseButton.tsx
  packages/paste-core/components/button/src/InverseLinkButton.tsx
  packages/paste-core/components/button/src/LinkButton.tsx
  packages/paste-core/components/button/src/PrimaryButton.tsx
  packages/paste-core/components/button/src/PrimaryIconButton.tsx
  packages/paste-core/components/button/src/SecondaryButton.tsx
  packages/paste-core/components/button/src/SecondaryIconButton.tsx
  packages/paste-core/components/button/src/proptypes.ts
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/input-box/src/FauxInput/DefaultFauxInput.tsx
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/box-shadow.yml
Labels: Area: Components, Type: Tests, Area: Tokens, Area: Primitives, 🕵🏻‍♀️ Run website visual regression

#3063 chore: update Tooltip and Menu styles
  .changeset/brave-berries-dress.md
  .changeset/silly-trees-beam.md
  packages/paste-core/components/menu/src/Menu.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/constants.ts
  packages/paste-core/components/tooltip/src/index.tsx
Labels: Area: Components, 🕵🏻‍♀️ Run website visual regression

#3060 feat: pills and checkboxes and radios
  .changeset/lazy-owls-change.md
  .changeset/mighty-countries-heal.md
  .changeset/rude-jokes-sniff.md
  packages/paste-core/components/base-radio-checkbox/src/BaseRadioCheckbox.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/display-pill-group/src/DisplayPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPill.styles.ts
  packages/paste-core/components/form-pill-group/src/FormPillButton.tsx
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
  packages/paste-core/components/radio-group/src/Radio.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3062 chore(switch, alert, toast): update styles
  .changeset/cold-shrimps-whisper.md
  .changeset/smart-paws-tan.md
  .changeset/wicked-walls-doubt.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/alert/src/index.tsx
  packages/paste-core/components/alert/stories/index.stories.tsx
  packages/paste-core/components/switch/src/Switch.tsx
  packages/paste-core/components/switch/src/SwitchKnob.tsx
  packages/paste-core/components/switch/src/constants.ts
  packages/paste-core/components/toast/src/ErrorToast.tsx
  packages/paste-core/components/toast/src/NeutralToast.tsx
  packages/paste-core/components/toast/src/SuccessToast.tsx
  packages/paste-core/components/toast/src/WarningToast.tsx
  packages/paste-core/components/toast/stories/index.stories.tsx
  packages/paste-website/src/component-examples/ToastExamples.tsx
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/switch/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🕵🏻‍♀️ Run website visual regression

#3069 chore(conversations UI kit components): update styles
  .changeset/dull-radios-switch.md
  .changeset/heavy-boxes-invent.md
  .changeset/long-days-grab.md
  .changeset/weak-lemons-confess.md
  packages/paste-core/components/chat-composer/src/ChatComposer.tsx
  packages/paste-core/components/chat-composer/stories/index.stories.tsx
  packages/paste-core/components/chat-log/__tests__/ChatAttachment.spec.tsx
  packages/paste-core/components/chat-log/src/ChatAttachment.tsx
  packages/paste-core/components/chat-log/src/ChatAttachmentDescription.tsx
  packages/paste-core/components/chat-log/src/ChatAttachmentLink.tsx
  packages/paste-core/components/chat-log/src/ChatBookend.tsx
  packages/paste-core/components/chat-log/src/ChatBubble.tsx
  packages/paste-core/components/chat-log/src/ChatEvent.tsx
  packages/paste-core/components/chat-log/src/ChatLog.tsx
  packages/paste-core/components/chat-log/src/ChatMessageMeta.tsx
  packages/paste-core/components/chat-log/src/ChatMessageMetaItem.tsx
  packages/paste-core/components/chat-log/src/ComposerAttachmentCard.tsx
  packages/paste-core/components/chat-log/stories/components/ChatAttachment.stories.tsx
  packages/paste-core/components/chat-log/stories/components/ChatBookend.stories.tsx
  packages/paste-core/components/chat-log/stories/components/ChatEvent.stories.tsx
  packages/paste-core/components/chat-log/stories/customization.stories.tsx
  packages/paste-core/components/chat-log/stories/index.stories.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogContent.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogHeader.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/box-shadow.yml
  packages/paste-website/src/component-examples/ChatComposerExamples.ts
  packages/paste-website/src/component-examples/ChatLogExamples.ts
Labels: Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3067 feat: update Tabs, In Page Navigation, Code Block
  .changeset/beige-gifts-do.md
  .changeset/mean-mangos-rule.md
  .changeset/ninety-adults-wait.md
  packages/paste-core/components/code-block/src/CodeBlock.tsx
  packages/paste-core/components/code-block/src/CodeBlockHeader.tsx
  packages/paste-core/components/code-block/src/CodeBlockTab.tsx
  packages/paste-core/components/code-block/src/CodeBlockTabList.tsx
  packages/paste-core/components/code-block/src/CodeBlockTheme.ts
  packages/paste-core/components/in-page-navigation/src/InPageNavigation.tsx
  packages/paste-core/components/in-page-navigation/src/InPageNavigationItem.tsx
  packages/paste-core/components/in-page-navigation/src/types.ts
  packages/paste-core/components/in-page-navigation/stories/index.stories.tsx
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/types.ts
  packages/paste-core/components/tabs/stories/index.stories.tsx
  packages/paste-website/src/pages/components/in-page-navigation/index.mdx
  packages/paste-website/src/pages/components/tabs/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3075 fix(button-group): disabled hover state style bug fix
  .changeset/giant-papayas-attend.md
  packages/paste-core/components/button-group/src/ButtonGroup.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3079 fix: discussion templates
  .github/DISCUSSION_TEMPLATE/office-hours-data-growth.yml
  .github/DISCUSSION_TEMPLATE/office-hours-visual-design.yml
  .github/DISCUSSION_TEMPLATE/office-hours.yml
  .github/DISCUSSION_TEMPLATE/request-icon.yml
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3072 feat: switch to one twilio and enable preview theming
  packages/paste-theme-designer/pages/_app.tsx
  packages/paste-token-contrast-checker/src/App.tsx
  packages/paste-website/package.json
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerPreview.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageHero.tsx
  packages/paste-website/src/components/customization-landing-page/LikeTwilio.tsx
  packages/paste-website/src/components/customization-landing-page/WhyPaste.tsx
  packages/paste-website/src/components/customization-landing-page/WorksGreatWith.tsx
  packages/paste-website/src/components/homepage/Experiment.tsx
  packages/paste-website/src/components/homepage/GetStartedInclusive.tsx
  packages/paste-website/src/components/homepage/GetStartedRunning.tsx
  packages/paste-website/src/components/homepage/GetStartedWhy.tsx
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/shortcodes/live-preview/ThemeSwitcher.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/components/site-wrapper/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterHeader.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeToggle.tsx
  packages/paste-website/src/components/tokens-list/TokensListFilter.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/components/tokens-list/token-card/index.tsx
  packages/paste-website/src/components/tokens-list/types.ts
  packages/paste-website/src/context/PreviewThemeContext.tsx
  packages/paste-website/src/hooks/useDarkMode.tsx
  packages/paste-website/src/layouts/DefaultLayout.tsx
  packages/paste-website/src/pages/_app.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
  packages/paste-website/src/pages/foundations/content/index.mdx
  packages/paste-website/src/pages/introduction/for-engineers/manual-installation/index.mdx
  packages/paste-website/src/pages/opengraph/index.tsx
  packages/paste-website/src/pages/theme/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
  packages/paste-website/src/types/index.ts
  packages/paste-website/stories/LivePreview.stories.tsx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3081 fix(toast): remove console patch prop and add left prop
  .changeset/nine-glasses-end.md
  packages/paste-core/components/toast/src/ErrorToast.tsx
  packages/paste-core/components/toast/src/NeutralToast.tsx
  packages/paste-core/components/toast/src/SuccessToast.tsx
  packages/paste-core/components/toast/src/ToastPortal.tsx
  packages/paste-core/components/toast/src/Toaster.tsx
  packages/paste-core/components/toast/src/WarningToast.tsx
  packages/paste-core/components/toast/src/propTypes.ts
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/stories/index.stories.tsx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/core/upgrade-guide.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3083 chore(side modal, file uploader, file picker, pagination): update styles
  .changeset/flat-grapes-love.md
  .changeset/late-fans-share.md
  .changeset/ninety-knives-hug.md
  .changeset/ten-donkeys-wave.md
  packages/paste-core/components/file-picker/__tests__/index.spec.tsx
  packages/paste-core/components/file-picker/src/FilePicker.tsx
  packages/paste-core/components/file-picker/src/FilePickerButton.tsx
  packages/paste-core/components/file-picker/stories/index.stories.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderDropzone.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderHelpText.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderItem.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderItemDescription.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderItemTitle.tsx
  packages/paste-core/components/file-uploader/stories/index.stories.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowButton.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationArrowIconWrapper.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationBackArrow.tsx
  packages/paste-core/components/pagination/src/PaginationArrow/PaginationForwardArrow.tsx
  packages/paste-core/components/pagination/src/PaginationEllipsis.tsx
  packages/paste-core/components/pagination/src/PaginationLabel.tsx
  packages/paste-core/components/pagination/src/PaginationNumber.tsx
  packages/paste-core/components/pagination/src/PaginationNumbers.tsx
  packages/paste-core/components/pagination/stories/index.stories.tsx
  packages/paste-core/components/side-modal/src/SideModal.tsx
  packages/paste-website/src/component-examples/FileUploaderExamples.ts
  packages/paste-website/src/pages/components/file-uploader/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3092 fix: improve the handling of local storage darkmode handling
  packages/paste-website/src/hooks/useDarkMode.tsx
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3078 fix: improved badge typing for prop combinations wrt button & a element types
  .changeset/warm-poets-teach.md
  packages/paste-core/components/badge/__tests__/index.spec.tsx
  packages/paste-core/components/badge/package.json
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/types.ts
  packages/paste-core/components/popover/package.json
  packages/paste-core/components/popover/src/types.ts
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3090 feat: allow Paste to be embedded in another website correctly
  .changeset/nice-ravens-bow.md
  packages/paste-customization/stories/customization.stories.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/font-size.yml
  packages/paste-theme/src/styles/global.ts
Labels: Area: Theme, Type: Tests, Area: Tokens, 🕵🏻‍♀️ Run website visual regression

#3089 feat(data-grid): update styles to align with new Paste Twilio theme
  .changeset/silver-horses-reply.md
  packages/paste-core/components/data-grid/src/table/Td.tsx
  packages/paste-core/components/data-grid/src/table/Th.tsx
  packages/paste-core/components/data-grid/src/table/Tr.tsx
  packages/paste-core/components/data-grid/stories/components/SelectableRowsDataGrid.tsx
  packages/paste-core/components/data-grid/stories/components/StickyHeaderDataGrid.tsx
Labels: Area: Components, Status: Do Not Merge

#3103 chore: add typography page
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/foundations/typography/typography1.png
  packages/paste-website/src/assets/images/foundations/typography/typography10.png
  packages/paste-website/src/assets/images/foundations/typography/typography11.png
  packages/paste-website/src/assets/images/foundations/typography/typography12.png
  packages/paste-website/src/assets/images/foundations/typography/typography13.png
  packages/paste-website/src/assets/images/foundations/typography/typography14.png
  packages/paste-website/src/assets/images/foundations/typography/typography15.png
  packages/paste-website/src/assets/images/foundations/typography/typography2.png
  packages/paste-website/src/assets/images/foundations/typography/typography3.png
  packages/paste-website/src/assets/images/foundations/typography/typography4.png
  packages/paste-website/src/assets/images/foundations/typography/typography5.png
  packages/paste-website/src/assets/images/foundations/typography/typography6.png
  packages/paste-website/src/assets/images/foundations/typography/typography7.png
  packages/paste-website/src/assets/images/foundations/typography/typography8.png
  packages/paste-website/src/assets/images/foundations/typography/typography9.png
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/components/paragraph/index.mdx
  packages/paste-website/src/pages/foundations/illustrations/index.mdx
  packages/paste-website/src/pages/foundations/typography/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3107 fix(menu): focused menu items missing styles
  .changeset/quiet-hats-attend.md
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/types.ts
  packages/paste-core/components/menu/stories/index.stories.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3106 fix(side-modal): fixed side modal position'
  .changeset/tasty-timers-change.md
  packages/paste-core/components/side-modal/src/SideModalContainer.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3117 chore(icons): deprecate ProductEngagementIntelligencePlatformIcon
  .changeset/lovely-falcons-lay.md
  packages/paste-icons/json/icons.json
  packages/paste-icons/tools/constants.ts
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3108 chore: make the website run without a netlify account
  netlify.toml
  package.json
  packages/paste-theme-designer/netlify.toml
  packages/paste-theme-designer/package.json
  packages/paste-website/netlify.toml
  packages/paste-website/package.json
  packages/paste-website/src/functions-utils/logger.ts
  packages/paste-website/src/pages/api/opengraph.ts
  packages/paste-website/src/utils/RouteUtils.ts
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3110 fix(select): background color in dark mode on windows
  .changeset/strange-spoons-hear.md
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3120 chore(github): update office hours template
  .github/DISCUSSION_TEMPLATE/office-hours-data-growth.yml
  .github/DISCUSSION_TEMPLATE/office-hours-visual-design.yml
  .github/DISCUSSION_TEMPLATE/office-hours.yml
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3119 chore(label): add title to required dot
  .changeset/fair-pugs-flash.md
  packages/paste-core/components/label/__tests__/label.test.tsx
  packages/paste-core/components/label/src/RequiredDot.tsx
  packages/paste-website/src/pages/components/form/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3130 feat: ability to theme color-scheme
  .changeset/tidy-shirts-look.md
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/formatters/__tests__/__snapshots__/generic.d.ts.spec.ts.snap
  packages/paste-design-tokens/formatters/d.ts.ts
  packages/paste-design-tokens/formatters/generic.d.ts.ts
  packages/paste-design-tokens/tokens/global/color-scheme.yml
  packages/paste-design-tokens/tokens/global/index.yml
  packages/paste-design-tokens/tokens/themes/dark/global/color-scheme.yml
  packages/paste-design-tokens/tokens/themes/dark/global/index.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/color-scheme.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/index.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/color-scheme.yml
  packages/paste-design-tokens/tokens/themes/sendgrid/global/index.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/color-scheme.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/index.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/color-scheme.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/index.yml
  packages/paste-design-tokens/types/GenericTokensShape.ts
  packages/paste-design-tokens/utils/formatGroupTokensWithTemplate/index.ts
  packages/paste-design-tokens/utils/isNumeric.ts
  packages/paste-design-tokens/utils/pluralCategoryMap.ts
  packages/paste-libraries/styling/src/css-function/css.ts
  packages/paste-theme/__tests__/__snapshots__/generateThemeFromTokens.spec.ts.snap
  packages/paste-theme/__tests__/__snapshots__/themes.spec.ts.snap
  packages/paste-theme/__tests__/generateThemeFromTokens.spec.ts
  packages/paste-theme/src/generateThemeFromTokens.ts
  packages/paste-theme/src/generateTokensFromTheme.ts
  packages/paste-theme/src/styles/base.ts
  packages/paste-theme/src/themes/dark/index.ts
  packages/paste-theme/src/themes/default/index.ts
  packages/paste-theme/src/themes/evergreen/index.ts
  packages/paste-theme/src/themes/sendgrid/index.ts
  packages/paste-theme/src/themes/twilio-dark/index.ts
  packages/paste-theme/src/themes/twilio/index.ts
  packages/paste-theme/src/types/GenericThemeShape.ts
Labels: Area: Theme, Area: Components, Type: Tests, Area: Tokens, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3059 chore: animate SideModal component
  .changeset/brown-yaks-heal.md
  packages/paste-core/components/side-modal/__tests__/customization.spec.tsx
  packages/paste-core/components/side-modal/__tests__/index.spec.tsx
  packages/paste-core/components/side-modal/src/SideModal.tsx
  packages/paste-core/components/side-modal/src/SideModalContainer.tsx
  packages/paste-core/components/side-modal/src/index.tsx
Labels: Status: WIP, Area: Components, Type: Tests, Status: Ready to merge, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
