Repository twilio-labs/paste, pull requests merged in 2023-11, with the labels that each got.

#3588 Revert "chore: improve github autoresponder"
  packages/paste-website/src/pages/api/ai.ts
  tools/github/autoresponder.ts
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Status: Do Not Merge

#3584 chore(topbar): add justify center to topbar actions
  .changeset/ninety-masks-report.md
  packages/paste-core/components/topbar/src/Topbar.tsx
  packages/paste-core/components/topbar/src/TopbarActions.tsx
  packages/paste-core/components/topbar/stories/topbar.stories.tsx
  packages/paste-core/components/topbar/type-docs.json
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3592 chore: auto responder tests and updates
  .github/workflows/on_discussion_create.yml
  package.json
  packages/paste-website/src/pages/api/ai.ts
  tools/github/__mocks__/AiHandler.ts
  tools/github/__tests__/autoresponder.test.ts
  tools/github/autoresponder.ts
  tools/github/utils.ts
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3551 [Snyk] Security upgrade @storybook/react-vite from 7.0.6 to 7.1.0
  package.json
  yarn.lock
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3612 chore: fix customization tests
  .changeset/curvy-eels-tie.md
  packages/paste-customization/__tests__/CustomizationProvider.test.tsx
  packages/paste-customization/stories/customization.stories.tsx
Labels: Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3601 chore: add wizard page template docs
  .changeset/hip-colts-invite.md
  packages/paste-core/components/form/src/FormSectionDescription.tsx
  packages/paste-website/src/component-examples/page-templates/SettingsExamples.ts
  packages/paste-website/src/component-examples/page-templates/WizardExamples.ts
  packages/paste-website/src/components/ingredients/WizardIngredients.tsx
  packages/paste-website/src/pages/page-templates/wizard/index.mdx
  packages/paste-website/stories/PageTemplates.stories.tsx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3616 [Snyk] Security upgrade start-server-and-test from 1.15.2 to 2.0.3
  package.json
  yarn.lock
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3619 feat(website): add customer info in design guidelines
  packages/paste-website/src/pages/introduction/for-designers/design-guidelines/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3627 [Snyk] Fix for 7 vulnerabilities
  package.json
  yarn.lock
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3630 [Snyk] Security upgrade @storybook/test-runner from 0.10.0 to 0.16.0
  package.json
  yarn.lock
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3634 chore(tabs, in-page-nav): fix visual bugs
  .changeset/cyan-sheep-mix.md
  .changeset/flat-cherries-mate.md
  .changeset/silver-tigers-hang.md
  .changeset/smooth-plants-march.md
  packages/paste-core/components/in-page-navigation/src/InPageNavigation.tsx
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-core/primitives/text/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/box-shadow.yml
Labels: Area: Components, Type: Tests, Area: Tokens, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
