Repository twilio-labs/paste, pull requests merged in 2023-01, with the labels that each got.

#2901 build: add no-invalid-module-paths eslint rule
  .changeset/large-apples-reply.md
  .eslint/__tests__/no-invalid-module-paths.test.js
  .eslint/rules/no-invalid-module-paths.js
  packages/paste-core/components/callout/src/Callout.tsx
  packages/paste-core/components/menu/src/MenuGroup.tsx
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
Labels: Area: Doc Site, Area: Infrastructure, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2908 feat: add File Uploader component
  .changeset/bright-seals-divide.md
  .changeset/shaggy-students-run.md
  .codesandbox/ci.json
  cypress.config.ts
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/file-uploader/CHANGELOG.md
  packages/paste-core/components/file-uploader/__tests__/customization.spec.tsx
  packages/paste-core/components/file-uploader/__tests__/index.spec.tsx
  packages/paste-core/components/file-uploader/build.js
  packages/paste-core/components/file-uploader/package.json
  packages/paste-core/components/file-uploader/src/FileUploader.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderContext.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderDropzone.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderDropzoneText.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderErrorText.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderHelpText.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderItem.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderItemContext.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderItemDescription.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderItemTitle.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderItemsList.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderLabel.tsx
  packages/paste-core/components/file-uploader/src/index.tsx
  packages/paste-core/components/file-uploader/src/utils.ts
  packages/paste-core/components/file-uploader/stories/index.stories.tsx
  packages/paste-core/components/file-uploader/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/file-uploader.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-website/src/component-examples/FileUploaderExamples.ts
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/pages/components/file-picker/index.mdx
  packages/paste-website/src/pages/components/file-uploader/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge, Area: Tokens, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression

#2923 feat: add Description List package
  .changeset/thirty-donuts-visit.md
  .codesandbox/ci.json
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/description-list/CHANGELOG.md
  packages/paste-core/components/description-list/__tests__/index.spec.tsx
  packages/paste-core/components/description-list/build.js
  packages/paste-core/components/description-list/package.json
  packages/paste-core/components/description-list/src/DescriptionList.tsx
  packages/paste-core/components/description-list/src/DescriptionListDetails.tsx
  packages/paste-core/components/description-list/src/DescriptionListSet.tsx
  packages/paste-core/components/description-list/src/DescriptionListTerm.tsx
  packages/paste-core/components/description-list/src/index.tsx
  packages/paste-core/components/description-list/stories/index.stories.tsx
  packages/paste-core/components/description-list/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/description-list.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-website/src/component-examples/DescriptionListExamples.ts
  packages/paste-website/src/pages/components/description-list/index.mdx
  tools/plop-templates/component-stories.hbs
  tools/plop-templates/component-tests.hbs
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression

#2925 feat: create new Form package
  .changeset/nervous-crabs-relax.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/form/CHANGELOG.md
  packages/paste-core/components/form/__tests__/index.spec.tsx
  packages/paste-core/components/form/build.js
  packages/paste-core/components/form/package.json
  packages/paste-core/components/form/src/Form.tsx
  packages/paste-core/components/form/src/FormActions.tsx
  packages/paste-core/components/form/src/FormControl.tsx
  packages/paste-core/components/form/src/FormControlTwoColumn.tsx
  packages/paste-core/components/form/src/FormSection.tsx
  packages/paste-core/components/form/src/FormSectionContext.tsx
  packages/paste-core/components/form/src/FormSectionDescription.tsx
  packages/paste-core/components/form/src/FormSectionHeading.tsx
  packages/paste-core/components/form/src/index.tsx
  packages/paste-core/components/form/stories/form.stories.tsx
  packages/paste-core/components/form/stories/index.stories.tsx
  packages/paste-core/components/form/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/form.tsx
  packages/paste-core/core-bundle/src/index.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression

#2928 feat: create listbox primitive package
  .changeset/nice-tables-cry.md
  .codesandbox/ci.json
  cypress/integration/sitemap-vrt/constants.ts
  package.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/listbox-primitive.tsx
  packages/paste-core/primitives/listbox/CHANGELOG.md
  packages/paste-core/primitives/listbox/__tests__/index.spec.tsx
  packages/paste-core/primitives/listbox/build.js
  packages/paste-core/primitives/listbox/package.json
  packages/paste-core/primitives/listbox/src/ListboxPrimitive.tsx
  packages/paste-core/primitives/listbox/src/ListboxPrimitiveItem.tsx
  packages/paste-core/primitives/listbox/src/index.tsx
  packages/paste-core/primitives/listbox/src/types.ts
  packages/paste-core/primitives/listbox/src/useListboxPrimitiveState.tsx
  packages/paste-core/primitives/listbox/stories/index.stories.tsx
  packages/paste-core/primitives/listbox/tsconfig.json
  packages/paste-website/src/component-examples/ListboxPrimitiveExamples.ts
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/primitives/listbox-primitive/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, Area: Primitives, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2931 docs: add Form component documentation page
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/component-examples/FormExamples.ts
  packages/paste-website/src/pages/components/form/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#2939 feat: add spacing and layout page
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/foundations/spacing-and-layout/1-spacing-blocks.png
  packages/paste-website/src/assets/images/foundations/spacing-and-layout/2-best-friends.png
  packages/paste-website/src/assets/images/foundations/spacing-and-layout/3-equal-spacing.png
  packages/paste-website/src/assets/images/foundations/spacing-and-layout/4-friendship-spacing.png
  packages/paste-website/src/assets/images/foundations/spacing-and-layout/5-emphasizing-hierarchy.png
  packages/paste-website/src/assets/images/foundations/spacing-and-layout/6-full-page.png
  packages/paste-website/src/assets/images/foundations/spacing-and-layout/7-snapping-to-margins.png
  packages/paste-website/src/assets/images/foundations/spacing-and-layout/8-horizontal-spacing.png
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/foundations/content/product-style-guide/index.mdx
  packages/paste-website/src/pages/foundations/spacing-and-layout/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2956 fix: released v1.0.0 of Form package when it should have been 8.0.0
  .changeset/fast-kiwis-repair.md
  packages/paste-core/components/form/package.json
  packages/paste-core/core-bundle/package.json
  yarn.lock
Labels: Area: Components, Status: Do Not Merge, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression

#2949 fix(combobox): listbox overflow scrolling containers
  .changeset/breezy-bottles-listen.md
  packages/paste-core/components/combobox/__tests__/combobox-customization.spec.tsx
  packages/paste-core/components/combobox/__tests__/multiselect-combobox-customization.spec.tsx
  packages/paste-core/components/combobox/package.json
  packages/paste-core/components/combobox/src/multiselect/MultiselectCombobox.tsx
  packages/paste-core/components/combobox/src/singleselect/Combobox.tsx
  packages/paste-core/components/combobox/stories/Combobox.stories.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox.stories.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo, 🕵🏻‍♀️ Run website visual regression

#2938 chore: update card and side modal
  .changeset/khaki-sloths-watch.md
  .changeset/lovely-rings-switch.md
  packages/paste-core/components/card/__test__/card.test.tsx
  packages/paste-core/components/card/src/index.tsx
  packages/paste-core/components/side-modal/src/SideModalBody.tsx
  packages/paste-core/components/side-modal/src/SideModalFooter.tsx
  packages/paste-core/components/side-modal/src/SideModalHeader.tsx
  packages/paste-website/src/pages/components/card/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2969 chore: remove name
  packages/paste-website/src/pages/foundations/content/content-checklist/index.mdx
  packages/paste-website/src/pages/foundations/content/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#2966 fix: add list style type to List component
  .changeset/selfish-trains-attack.md
  packages/paste-core/components/list/src/List.tsx
  packages/paste-core/components/list/src/OrderedList.tsx
  packages/paste-core/components/list/src/UnorderedList.tsx
  packages/paste-core/components/list/src/types.ts
Labels: Area: Components, 🕵🏻‍♀️ Run website visual regression

#2971 feat(theme): ability to leverage emotion CacheProvider
  .changeset/metal-mayflies-thank.md
  .changeset/wicked-bananas-provide.md
  packages/paste-libraries/styling/package.json
  packages/paste-libraries/styling/src/index.tsx
  packages/paste-theme/src/themeProvider.tsx
  yarn.lock
Labels: Area: Theme, Status: Do Not Merge, Area: Repo

#2961 feat: update disclosure styles
  .changeset/good-camels-carry.md
  .changeset/swift-trains-approve.md
  packages/paste-core/components/disclosure/__tests__/disclosure.test.tsx
  packages/paste-core/components/disclosure/src/Disclosure.tsx
  packages/paste-core/components/disclosure/src/DisclosureContent.tsx
  packages/paste-core/components/disclosure/src/DisclosureContext.tsx
  packages/paste-core/components/disclosure/src/DisclosureHeading.tsx
  packages/paste-core/components/disclosure/src/PropTypes.ts
  packages/paste-core/components/disclosure/src/types.ts
  packages/paste-core/components/disclosure/src/utils.ts
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ChevronDisclosureCollapsedIcon.tsx
  packages/paste-icons/src/ChevronDisclosureExpandedIcon.tsx
  packages/paste-icons/src/ChevronDisclosureIcon.tsx
  packages/paste-icons/svg/ChevronDisclosure.svg
  packages/paste-icons/tools/constants.ts
  packages/paste-website/src/pages/components/disclosure/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#2983 chore: update foundations page
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/pages/foundations/spacing-and-layout/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2927 [DSYS-3686]: Create Evergreen theme in Paste
  .changeset/slimy-hairs-cover.md
  .storybook/preview.tsx
  packages/paste-design-tokens/tokens/themes/evergreen/aliases/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/evergreen/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/themes/evergreen/aliases/color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/aliases/offset.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/border-radius.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/border-width.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/data-visualization.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/font-family.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/font-size.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/font-weight.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/index.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/line-height.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/palette-color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/sizing.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/spacing.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/z-index.yml
  packages/paste-design-tokens/tokens/themes/evergreen/sketch.yml
  packages/paste-design-tokens/tokens/themes/evergreen/tokens.yml
  packages/paste-theme/src/constants.ts
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/src/themes/evergreen/index.ts
  packages/paste-theme/src/themes/index.ts
  packages/paste-theme/stories/evergreenTheme.stories.tsx
Labels: Area: Storybook, Area: Theme, Area: Tokens, 🕵🏻‍♀️ Run website visual regression

#2986 chore: convert primitive pages except listbox
  packages/paste-core/primitives/box/package.json
  packages/paste-core/primitives/disclosure/package.json
  packages/paste-core/primitives/text/package.json
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/disclosure-primitive/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
  packages/paste-website/src/pages/primitives/menu-primitive/index.mdx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/non-modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/tabs-primitive/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
  packages/paste-website/src/pages/primitives/tooltip-primitive/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge, Area: Primitives

#2988 chore: update pattern pages to nextjs
  packages/paste-website/src/components/images/EmptyStateImages.tsx
  packages/paste-website/src/pages/patterns/button-vs-anchor/index.mdx
  packages/paste-website/src/pages/patterns/create/index.mdx
  packages/paste-website/src/pages/patterns/data-export/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
  packages/paste-website/src/pages/patterns/filter-group/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/patterns/privacy/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Type: Documentation, Area: Doc Site

#2992 chore: update foundations pages for nextjs
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/foundations/colors/index.mdx
  packages/paste-website/src/pages/foundations/content/content-checklist/index.mdx
  packages/paste-website/src/pages/foundations/content/index.mdx
  packages/paste-website/src/pages/foundations/content/product-style-guide/index.mdx
  packages/paste-website/src/pages/foundations/content/voice-and-tone/index.mdx
  packages/paste-website/src/pages/foundations/content/word-list/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
  packages/paste-website/src/pages/foundations/illustrations/index.mdx
  packages/paste-website/src/pages/foundations/localization/index.mdx
  packages/paste-website/src/pages/foundations/spacing-and-layout/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#2989 chore(internal docs): fix typo on jira epic template
  internal-docs/process/epic-template.md
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2990 feat: add January newsletter
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2023-01-27-paste-newsletter/dependency-intake.png
  packages/paste-website/src/assets/images/articles/2023-01-27-paste-newsletter/description-list.png
  packages/paste-website/src/assets/images/articles/2023-01-27-paste-newsletter/design-language.png
  packages/paste-website/src/assets/images/articles/2023-01-27-paste-newsletter/nathan-sharp.jpg
  packages/paste-website/src/assets/images/articles/2023-01-27-paste-newsletter/one-twilio.png
  packages/paste-website/src/assets/images/articles/2023-01-27-paste-newsletter/spacing-guidelines.png
  packages/paste-website/src/pages/blog/2023-01-27-paste-newsletter.mdx
  packages/paste-website/static/images/gifs-2023-01-27-paste-newsletter/file-uploader.gif
  packages/paste-website/static/images/gifs-2023-01-27-paste-newsletter/form.gif
  packages/paste-website/static/images/gifs-2023-01-27-paste-newsletter/listbox-primitive.gif
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
