Repository twilio-labs/paste, pull requests merged in 2023-09, with the labels that each got.

#3461 fix: danger js check for codemods and no changesets
  .changeset/late-forks-vanish.md
  .danger/__tests__/utils.spec.ts
  .danger/utils.ts
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3460 chore(website): Use DetailText component in ImageCaption
  internal-docs/engineering/testing.md
  packages/paste-website/src/components/ImageCaption.tsx
Labels: Area: Doc Site, 🕵🏻‍♀️ Run website visual regression

#3472 fix: react peer deps on newer components
  .changeset/poor-ants-admire.md
  packages/paste-core/components/account-switcher/package.json
  packages/paste-core/components/product-switcher/package.json
  packages/paste-core/components/progress-steps/package.json
  packages/paste-core/components/visual-picker/package.json
  tools/plop-templates/package.hbs
  yarn.lock
Labels: Area: Infrastructure, Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3463 chore(meter): add docs, update designs
  .changeset/blue-phones-battle.md
  .changeset/olive-lizards-enjoy.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/meter/__tests__/index.spec.tsx
  packages/paste-core/components/meter/package.json
  packages/paste-core/components/meter/src/Meter.tsx
  packages/paste-core/components/meter/src/MeterLabel.tsx
  packages/paste-core/components/meter/stories/index.stories.tsx
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/MeterExamples.ts
  packages/paste-website/src/pages/components/meter/index.mdx
  packages/paste-website/src/pages/components/slider/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3478 chore(slider): move min and max value labels below slider track
  .changeset/curly-cameras-arrive.md
  packages/paste-core/components/slider/src/Slider.tsx
  packages/paste-website/src/pages/components/meter/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3487 chore: remove mention of create react app
  internal-docs/engineering/ci.md
  packages/paste-website/src/components/customization-landing-page/ReactCard.tsx
  packages/paste-website/src/pages/introduction/for-engineers/quickstart/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3488 chore(meter, slider): fix spacing of min and max labels
  .changeset/famous-paws-marry.md
  .changeset/forty-carrots-reply.md
  packages/paste-core/components/meter/src/Meter.tsx
  packages/paste-core/components/meter/stories/index.stories.tsx
  packages/paste-core/components/slider/src/Slider.tsx
  packages/paste-core/components/slider/stories/index.stories.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3484 feat: add page templates to docs site
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/scripts/fetch-data.mjs
  packages/paste-website/src/assets/images/system.png
  packages/paste-website/src/components/component-overview-table/index.tsx
  packages/paste-website/src/components/empty-state/InDevelopment.tsx
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/ingredients/Ingredients.tsx
  packages/paste-website/src/components/ingredients/ObjectDetailsIngredients.tsx
  packages/paste-website/src/components/ingredients/ObjectsListIngredients.tsx
  packages/paste-website/src/components/ingredients/SettingsIngredients.tsx
  packages/paste-website/src/components/shortcodes/generic-header/index.tsx
  packages/paste-website/src/components/shortcodes/normalized-pattern-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/components/form/index.mdx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/components/meter/index.mdx
  packages/paste-website/src/pages/components/progress-bar/index.mdx
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  packages/paste-website/src/pages/page-templates/index.mdx
  packages/paste-website/src/pages/page-templates/object-details/index.mdx
  packages/paste-website/src/pages/page-templates/objects-list/index.mdx
  packages/paste-website/src/pages/page-templates/settings/index.mdx
  packages/paste-website/src/pages/page-templates/wizard/index.mdx
  packages/paste-website/src/pages/patterns/index.mdx
  packages/paste-website/src/pages/patterns/object-details/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
  packages/paste-website/src/pages/theme/index.mdx
  packages/paste-website/src/pages/tokens/index.mdx
  packages/paste-website/src/utils/DataUtils.ts
  packages/paste-website/src/utils/RouteUtils.ts
  packages/paste-website/src/utils/__tests__/DataUtils.spec.ts
  packages/paste-website/src/utils/api.ts
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3497 fix: page header links focus styles
  packages/paste-website/src/components/shortcodes/generic-header/index.tsx
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3493 feat: layout component type docs
  .changeset/fast-buses-help.md
  .changeset/grumpy-boxes-pay.md
  .changeset/healthy-books-kneel.md
  .changeset/neat-papayas-play.md
  .changeset/orange-flowers-sip.md
  .changeset/poor-ways-collect.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-codemods/tools/__tests__/tools.spec.ts
  packages/paste-core/layout/aspect-ratio/__tests__/aspectRatio.spec.tsx
  packages/paste-core/layout/aspect-ratio/package.json
  packages/paste-core/layout/aspect-ratio/src/AspectRatio.tsx
  packages/paste-core/layout/aspect-ratio/src/index.tsx
  packages/paste-core/layout/aspect-ratio/type-docs.json
  packages/paste-core/layout/flex/package.json
  packages/paste-core/layout/flex/src/Flex.tsx
  packages/paste-core/layout/flex/src/index.tsx
  packages/paste-core/layout/flex/src/types.tsx
  packages/paste-core/layout/flex/type-docs.json
  packages/paste-core/layout/grid/package.json
  packages/paste-core/layout/grid/src/types.ts
  packages/paste-core/layout/grid/type-docs.json
  packages/paste-core/layout/media-object/package.json
  packages/paste-core/layout/media-object/src/MediaBody.tsx
  packages/paste-core/layout/media-object/src/MediaFigure.tsx
  packages/paste-core/layout/media-object/src/MediaObject.tsx
  packages/paste-core/layout/media-object/src/index.tsx
  packages/paste-core/layout/media-object/type-docs.json
  packages/paste-core/layout/stack/__tests__/stack.test.tsx
  packages/paste-core/layout/stack/package.json
  packages/paste-core/layout/stack/src/Stack.tsx
  packages/paste-core/layout/stack/src/index.tsx
  packages/paste-core/layout/stack/type-docs.json
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/components/aspect-ratio/api.mdx
  packages/paste-website/src/pages/components/aspect-ratio/changelog.mdx
  packages/paste-website/src/pages/components/aspect-ratio/index.mdx
  packages/paste-website/src/pages/components/flex/api.mdx
  packages/paste-website/src/pages/components/flex/changelog.mdx
  packages/paste-website/src/pages/components/flex/index.mdx
  packages/paste-website/src/pages/components/grid/api.mdx
  packages/paste-website/src/pages/components/grid/changelog.mdx
  packages/paste-website/src/pages/components/grid/index.mdx
  packages/paste-website/src/pages/components/media-object/api.mdx
  packages/paste-website/src/pages/components/media-object/changelog.mdx
  packages/paste-website/src/pages/components/media-object/index.mdx
  packages/paste-website/src/pages/components/stack/api.mdx
  packages/paste-website/src/pages/components/stack/changelog.mdx
  packages/paste-website/src/pages/components/stack/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Layout, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3501 feat(icons): add TaskIcon and ProductCommsIcon
  .changeset/light-buttons-type.md
  .changeset/ninety-actors-cross.md
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductCommsIcon.tsx
  packages/paste-icons/src/TaskIcon.tsx
  packages/paste-icons/svg/ProductComms.svg
  packages/paste-icons/svg/Task.svg
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3503 fix: ai endpoint issues and docs
  internal-docs/engineering/environment-variables.md
  packages/paste-website/package.json
  packages/paste-website/src/pages/api/ai.ts
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge, Area: Repo
