Repository twilio-labs/paste, pull requests merged in 2023-08, with the labels that each got.

#3332 docs(website): add docs for code-editor(-library) and vs-code-plugin
  .changeset/chatty-oranges-clap.md
  .changeset/small-llamas-smoke.md
  apps/vs-code-intellisense/README.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/editable-code-block/package.json
  packages/paste-core/components/editable-code-block/src/EditableCodeBlock.tsx
  packages/paste-core/components/editable-code-block/src/EditableCodeBlockHeader.tsx
  packages/paste-core/components/editable-code-block/src/EditableCodeBlockWrapper.tsx
  packages/paste-core/components/editable-code-block/src/index.tsx
  packages/paste-core/components/editable-code-block/stories/index.stories.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationItem.tsx
  packages/paste-core/core-bundle/code-editor/package.json
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/StoryPreview.tsx
  packages/paste-website/src/components/shortcodes/generic-header/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/components/editable-code-block/index.mdx
  packages/paste-website/src/pages/core/index.mdx
  packages/paste-website/src/pages/core/libraries/code-editor/index.mdx
  packages/paste-website/src/pages/core/libraries/data-visualization/index.mdx
  packages/paste-website/src/pages/core/libraries/index.mdx
  packages/paste-website/src/pages/core/libraries/vs-code-plugin/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression

#3367 chore(blog): add one twilio blog posts
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/pages/blog/2022-05-17-bringing-cohesion-to-the-twilio-product-suite-part-i.mdx
  packages/paste-website/src/pages/blog/2023-08-01-bringing-cohesion-to-the-twilio-product-suite-part-ii.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3371 feat(react-spectrum): add package
  .changeset/pretty-needles-accept.md
  .codesandbox/ci.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/react-spectrum-library.tsx
  packages/paste-libraries/react-spectrum/CHANGELOG.md
  packages/paste-libraries/react-spectrum/build.js
  packages/paste-libraries/react-spectrum/package.json
  packages/paste-libraries/react-spectrum/src/index.tsx
  packages/paste-libraries/react-spectrum/src/react-aria.tsx
  packages/paste-libraries/react-spectrum/src/react-stately.tsx
  packages/paste-libraries/react-spectrum/stories/useSlider.stories.tsx
  packages/paste-libraries/react-spectrum/tsconfig.json
  tools/build/esbuild.js
  yarn.lock
Labels: Area: Infrastructure, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3350 feat(visual-picker): create package
  .changeset/fresh-shrimps-serve.md
  .changeset/green-gorillas-melt.md
  .changeset/silver-melons-learn.md
  .changeset/smart-dancers-try.md
  .changeset/two-toes-warn.md
  .changeset/yellow-jeans-agree.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/base-radio-checkbox/src/BaseRadioCheckbox.tsx
  packages/paste-core/components/callout/src/CalloutHeading.tsx
  packages/paste-core/components/checkbox/src/Checkbox.tsx
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
  packages/paste-core/components/radio-group/src/Radio.tsx
  packages/paste-core/components/visual-picker/__tests__/checkbox.spec.tsx
  packages/paste-core/components/visual-picker/__tests__/radio.spec.tsx
  packages/paste-core/components/visual-picker/build.js
  packages/paste-core/components/visual-picker/package.json
  packages/paste-core/components/visual-picker/src/VisualPickerCheckbox.tsx
  packages/paste-core/components/visual-picker/src/VisualPickerCheckboxGroup.tsx
  packages/paste-core/components/visual-picker/src/VisualPickerContext.tsx
  packages/paste-core/components/visual-picker/src/VisualPickerRadio.tsx
  packages/paste-core/components/visual-picker/src/VisualPickerRadioGroup.tsx
  packages/paste-core/components/visual-picker/src/index.tsx
  packages/paste-core/components/visual-picker/src/types.ts
  packages/paste-core/components/visual-picker/stories/checkbox.stories.tsx
  packages/paste-core/components/visual-picker/stories/customization.stories.tsx
  packages/paste-core/components/visual-picker/stories/radio.stories.tsx
  packages/paste-core/components/visual-picker/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/visual-picker.tsx
  packages/paste-website/src/pages/components/status-badge/index.mdx
  tools/plop-templates/package.hbs
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression

#3375 fix(website) In progress status on the roadmap
  packages/paste-website/src/components/Roadmap/constants.ts
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3377 feat: august newsletter
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/acount-switcher.png
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/ingredients.png
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/product-switcher.png
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/progress-steps.png
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/sidebar-ingredients.png
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/sidebar.png
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/status-badge.png
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/status-menu.png
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/topbar-ingredients.png
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/topbar.png
  packages/paste-website/src/assets/images/articles/2023-08-02-paste-newsletter/user-dialog.png
  packages/paste-website/src/pages/blog/001-template.mdx
  packages/paste-website/src/pages/blog/2023-08-02-paste-newsletter.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3379 feat: updated DD RUM settings
  packages/paste-theme-designer/package.json
  packages/paste-theme-designer/pages/_app.tsx
  packages/paste-website/package.json
  packages/paste-website/src/components/CookieConsent.tsx
  packages/paste-website/src/lib/gtag.ts
  packages/paste-website/src/pages/_app.tsx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3387 fix: mobile sidebar close button
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3366 [Snyk] Fix for 1 vulnerabilities
  package.json
  yarn.lock
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3378 feat(slider): add new component
  .changeset/healthy-pigs-unite.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/input/stories/input.stories.tsx
  packages/paste-core/components/slider/CHANGELOG.md
  packages/paste-core/components/slider/__tests__/index.spec.tsx
  packages/paste-core/components/slider/build.js
  packages/paste-core/components/slider/package.json
  packages/paste-core/components/slider/src/Slider.tsx
  packages/paste-core/components/slider/src/SliderThumb.tsx
  packages/paste-core/components/slider/src/SliderTrack.tsx
  packages/paste-core/components/slider/src/helpers.ts
  packages/paste-core/components/slider/src/index.tsx
  packages/paste-core/components/slider/src/types.ts
  packages/paste-core/components/slider/stories/index.stories.tsx
  packages/paste-core/components/slider/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/slider.tsx
  packages/paste-website/next.config.mjs
  yarn.lock
Labels: Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, Area: Core bundle

#3370 docs: create visual picker docs
  .changeset/itchy-crabs-shout.md
  .changeset/wise-laws-laugh.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/inline-control-group/src/InlineControlGroup.tsx
  packages/paste-core/components/visual-picker/CHANGELOG.md
  packages/paste-core/components/visual-picker/package.json
  packages/paste-core/components/visual-picker/src/VisualPickerCheckbox.tsx
  packages/paste-core/components/visual-picker/src/VisualPickerRadio.tsx
  packages/paste-core/components/visual-picker/stories/checkbox.stories.tsx
  packages/paste-core/components/visual-picker/stories/radio.stories.tsx
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/VisualPickerExamples.ts
  packages/paste-website/src/pages/components/visual-picker/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3395 fix: try fix our requireJS clash with building for the node platform and not browser
  .changeset/sweet-rats-cough.md
  package.json
  packages/paste-libraries/uid/package.json
  packages/paste-website/src/pages/core/upgrade-guide.mdx
  tools/build/esbuild.js
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Status: Do Not Merge, Area: Repo, 🕵🏻‍♀️ Run website visual regression

#3404 fix(user-dialog): fix missing positioning styles on the user dialog
  .changeset/nervous-hats-love.md
  packages/paste-core/components/user-dialog/src/UserDialog.tsx
  packages/paste-core/components/user-dialog/src/types.ts
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3407 fix: site search indexing by Algolia
  packages/paste-website/src/components/site-wrapper/SiteMain.tsx
Labels: Area: Doc Site, Status: Do Not Merge

#3398 fix: inCypress check
  packages/paste-website/src/utils/inCypress.ts
  packages/paste-website/types/index.d.ts
Labels: Area: Doc Site, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#3408 chore: update node to v20
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_cypress.yml
  .github/workflows/on_pull_request_package_size.yml
  .nvmrc
  internal-docs/engineering/developing-locally.md
  package.json
  packages/paste-core/core-bundle/tools/build-types.sh
  packages/paste-core/core-bundle/tools/clean-packages.sh
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Doc Site, Area: Infrastructure, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3417 fix: chromatic flakes
  .storybook/preview.tsx
  packages/paste-core/components/spinner/stories/index.stories.tsx
  packages/paste-core/components/status/stories/StatusMenu.stories.tsx
  packages/paste-core/components/status/stories/StatusMenuCustomization.stories.tsx
  packages/paste-core/components/tooltip/stories/index.stories.tsx
  packages/paste-libraries/data-visualization/stories/index.stories.tsx
Labels: Area: Storybook, Area: Components, Status: Do Not Merge

#3421 feat(react-spectrum): export useProgressBar and useMeter hooks
  .changeset/cool-yaks-destroy.md
  packages/paste-libraries/react-spectrum/src/react-aria.tsx
Labels: Status: Do Not Merge

#3365 Minor content updates round1
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/callout/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/form/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3396 Content updates round 2
  packages/paste-website/src/pages/components/badge/index.mdx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/disclosure/index.mdx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/progress-steps/index.mdx
  packages/paste-website/src/pages/components/radio-button-group/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3425 fix(input, input-box): allow passing `type="url"`
  .changeset/lazy-chicken-search.md
  .codesandbox/ci.json
  packages/paste-core/components/input-box/src/types.ts
  packages/paste-core/components/input/src/Input.tsx
  packages/paste-core/components/input/stories/input.stories.tsx
  packages/paste-website/src/pages/components/input/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🕵🏻‍♀️ Run website visual regression

#3424 chore(design-tokens): add colorTextDestructive tokens
  .changeset/chatty-cups-destroy.md
  .changeset/old-beers-promise.md
  .changeset/real-buses-pay.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveButton.tsx
  packages/paste-core/components/button/src/DestructiveIconButton.tsx
  packages/paste-core/components/button/src/DestructiveSecondaryButton.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/menu/src/MenuItem.styles.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/text-color.yml
Labels: Area: Components, Type: Tests, Area: Tokens, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3426 fix: chat composer examples for handle change events
  .changeset/breezy-flies-change.md
  .changeset/fair-toes-remain.md
  .changeset/tough-bulldogs-retire.md
  packages/paste-core/components/chat-composer/__tests__/index.spec.tsx
  packages/paste-core/components/chat-composer/src/ChatComposer.tsx
  packages/paste-core/components/chat-composer/stories/ConversationsUIKit/helpers.tsx
  packages/paste-core/components/chat-composer/stories/ConversationsUIKit/index.stories.tsx
  packages/paste-core/components/chat-log/src/ChatBubble.tsx
  packages/paste-core/components/chat-log/src/ChatLogger.tsx
  packages/paste-libraries/lexical/package.json
  packages/paste-libraries/lexical/src/index.tsx
  packages/paste-website/src/component-examples/ChatComposerExamples.ts
  packages/paste-website/src/component-examples/ChatComposerExamples.tsx
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/src/pages/components/chat-composer/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3437 chore: only require one eng review with a smaller team
  .github/CODEOWNERS
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3439 chore: update the install guides to mention types peer deps
  packages/paste-website/package.json
  packages/paste-website/src/pages/components/anchor/index.mdx
  packages/paste-website/src/pages/components/aspect-ratio/index.mdx
  packages/paste-website/src/pages/core/libraries/codemods/index.mdx
  packages/paste-website/src/pages/introduction/for-designers/design-guidelines/index.mdx
  packages/paste-website/src/pages/introduction/for-engineers/manual-installation/index.mdx
  packages/paste-website/src/pages/introduction/for-engineers/quickstart/index.mdx
  packages/paste-website/src/pages/theme/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3438 feat(website): content updates for figma variables
  packages/paste-website/src/assets/images/design-guidelines/token-styles.png
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/pages/components/menu/index.mdx
  packages/paste-website/src/pages/introduction/for-designers/design-guidelines/index.mdx
  packages/paste-website/src/pages/theme/changing-theme.mdx
  packages/paste-website/src/pages/theme/dark-theme.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3430 feat(meter): create package
  .changeset/funny-seahorses-rest.md
  .changeset/poor-zebras-allow.md
  .changeset/swift-squids-destroy.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/base-radio-checkbox/src/BaseRadioCheckbox.tsx
  packages/paste-core/components/file-uploader/src/FileUploaderLabel.tsx
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/meter/__tests__/index.spec.tsx
  packages/paste-core/components/meter/build.js
  packages/paste-core/components/meter/package.json
  packages/paste-core/components/meter/src/Meter.tsx
  packages/paste-core/components/meter/src/MeterLabel.tsx
  packages/paste-core/components/meter/src/constants.ts
  packages/paste-core/components/meter/src/index.tsx
  packages/paste-core/components/meter/stories/index.stories.tsx
  packages/paste-core/components/meter/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/meter.tsx
  packages/paste-website/src/components/customization-landing-page/LandingPageDesigner/DesignerControls.tsx
  yarn.lock
Labels: Area: Doc Site, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression

#3440 chore: remove create react app template
  .codesandbox/ci.json
  .danger/changesets-that-need-core-check.ts
  .danger/utils.ts
  .eslintrc.repo.js
  README.md
  internal-docs/engineering/developing-locally.md
  jest.config.js
  lerna.json
  package.json
  packages/paste-core/core-bundle/tools/constants.ts
  packages/paste-cra-template/CHANGELOG.md
  packages/paste-cra-template/README.md
  packages/paste-cra-template/package.json
  packages/paste-cra-template/template.json
  packages/paste-cra-template/template/README.md
  packages/paste-cra-template/template/gitignore
  packages/paste-cra-template/template/jestTransformer.js
  packages/paste-cra-template/template/public/favicon.ico
  packages/paste-cra-template/template/public/index.html
  packages/paste-cra-template/template/public/manifest.json
  packages/paste-cra-template/template/public/robots.txt
  packages/paste-cra-template/template/src/App.tsx
  packages/paste-cra-template/template/src/__tests__/IndexPage.test.tsx
  packages/paste-cra-template/template/src/components/BasicCombobox.tsx
  packages/paste-cra-template/template/src/components/Loading.tsx
  packages/paste-cra-template/template/src/index.tsx
  packages/paste-cra-template/template/src/pages/IndexPage.tsx
  packages/paste-cra-template/template/src/pages/Page1.tsx
  packages/paste-cra-template/template/src/pages/Page2.tsx
  packages/paste-cra-template/template/src/react-app-env.d.ts
  packages/paste-cra-template/template/src/reportWebVitals.ts
  packages/paste-cra-template/template/src/setupTests.ts
  packages/paste-cra-template/template/tsconfig.json
  packages/paste-website/src/components/customization-landing-page/ReactCard.tsx
  packages/paste-website/src/pages/introduction/for-engineers/quickstart/index.mdx
  templates/paste-nextjs-template/.eslintrc.json
  templates/paste-nextjs-template/.gitignore
  templates/paste-nextjs-template/CHANGELOG.md
  templates/paste-nextjs-template/README.md
  templates/paste-nextjs-template/next-env.d.ts
  templates/paste-nextjs-template/package.json
  templates/paste-nextjs-template/pages/_app.tsx
  templates/paste-nextjs-template/pages/_document.tsx
  templates/paste-nextjs-template/pages/index.tsx
  templates/paste-nextjs-template/public/favicon.ico
  templates/paste-nextjs-template/tsconfig.json
  tsconfig.json
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3449 fix(website): re-org info and fix typos on Toast doc
  packages/paste-website/src/pages/components/toast/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#3451 feat(icons): add DeliveredIcon and SentIcon
  .changeset/tricky-readers-accept.md
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/DeliveredIcon.tsx
  packages/paste-icons/src/SentIcon.tsx
  packages/paste-icons/svg/Delivered.svg
  packages/paste-icons/svg/Sent.svg
Labels: Status: Do Not Merge

#3450 fix(combobox): require prop now works as intended
  .changeset/great-lemons-itch.md
  packages/paste-core/components/combobox/__tests__/MultiselectCombobox.spec.tsx
  packages/paste-core/components/combobox/src/multiselect/MultiselectCombobox.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox.stories.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge

#3435 feat(progress-bar): add package
  .changeset/chatty-lobsters-remember.md
  .changeset/slow-sloths-greet.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/progress-bar/CHANGELOG.md
  packages/paste-core/components/progress-bar/__tests__/index.spec.tsx
  packages/paste-core/components/progress-bar/build.js
  packages/paste-core/components/progress-bar/package.json
  packages/paste-core/components/progress-bar/src/ProgressBar.tsx
  packages/paste-core/components/progress-bar/src/ProgressBarLabel.tsx
  packages/paste-core/components/progress-bar/src/constants.ts
  packages/paste-core/components/progress-bar/src/index.tsx
  packages/paste-core/components/progress-bar/stories/customization.stories.tsx
  packages/paste-core/components/progress-bar/stories/index.stories.tsx
  packages/paste-core/components/progress-bar/tsconfig.json
  packages/paste-core/components/slider/__tests__/index.spec.tsx
  packages/paste-core/components/slider/src/Slider.tsx
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/progress-bar.tsx
  yarn.lock
Labels: Status: WIP, Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, Area: Core bundle

#3456 chore(theme): fix sizeIcon type
  .changeset/giant-teachers-turn.md
  packages/paste-theme-designer/components/token-option/UnitTokenInput.tsx
  packages/paste-theme/src/types/GenericThemeShape.ts
Labels: Area: Theme, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3454 chore: fix reset button types
  .changeset/curvy-pumpkins-leave.md
  .changeset/red-ties-hammer.md
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/input/src/DecrementButton.tsx
  packages/paste-core/components/input/src/IncrementButton.tsx
  packages/paste-core/components/user-dialog/src/UserDialog.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3459 chore(combobox): fix positioning
  .changeset/lucky-colts-grow.md
  packages/paste-core/components/combobox/src/ListboxPositioner.tsx
  packages/paste-core/components/combobox/src/multiselect/MultiselectCombobox.tsx
  packages/paste-core/components/combobox/src/singleselect/Combobox.tsx
  packages/paste-core/components/combobox/stories/Combobox.stories.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox.stories.tsx
  packages/paste-core/components/sidebar/stories/full-composition/components/Console.tsx
  packages/paste-core/components/sidebar/stories/full-composition/components/Flex.tsx
  packages/paste-core/components/sidebar/stories/full-composition/components/Segment.tsx
  packages/paste-core/components/sidebar/stories/full-composition/docs.stories.tsx
Labels: Area: Components, Status: Do Not Merge

#3413 content-updates-round3
  packages/paste-website/src/component-examples/DeletePatternExamples.ts
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/button/index.mdx
  packages/paste-website/src/pages/components/popover/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/switch/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/tooltip/index.mdx
  packages/paste-website/src/pages/patterns/delete/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3462 fix: combobox hidden labels and help text describededby attribute and fix token list
  .changeset/cold-zoos-reflect.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/combobox/src/helpers.tsx
  packages/paste-core/components/combobox/src/singleselect/Combobox.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
Labels: Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
