Repository twilio-labs/paste, pull requests merged in 2023-04, with the labels that each got.

#3142 fix(combobox): correct dropdown position on scroll
  .changeset/eleven-donkeys-flash.md
  packages/paste-core/components/combobox/src/singleselect/Combobox.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3140 fix(combobox): multiselect combobox now clears input value on select
  .changeset/sharp-readers-hammer.md
  packages/paste-core/components/combobox/__tests__/MultiselectCombobox.spec.tsx
  packages/paste-core/components/combobox/src/multiselect/GrowingInput.tsx
  packages/paste-core/components/combobox/src/multiselect/MultiselectCombobox.tsx
Labels: Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3143 chore: update vscode intellisense themes
  apps/vs-code-intellisense/package.json
  apps/vs-code-intellisense/yarn.lock
  package.json
  yarn.lock
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3123 chore: add error state guidance to docs site
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_package_size.yml
  cypress/integration/sitemap-vrt/constants.ts
  package.json
  packages/paste-website/src/component-examples/FormExamples.ts
  packages/paste-website/src/component-examples/RadioButtonGroupExamples.ts
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/badge/index.mdx
  packages/paste-website/src/pages/components/callout/index.mdx
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/date-picker/index.mdx
  packages/paste-website/src/pages/components/disclosure/index.mdx
  packages/paste-website/src/pages/components/file-picker/index.mdx
  packages/paste-website/src/pages/components/file-uploader/index.mdx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/form/index.mdx
  packages/paste-website/src/pages/components/help-text/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/multiselect-combobox/index.mdx
  packages/paste-website/src/pages/components/radio-button-group/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
  packages/paste-website/src/pages/components/time-picker/index.mdx
  packages/paste-website/src/pages/components/toast/index.mdx
  packages/paste-website/src/pages/patterns/error-state/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3141 feat: updated tab visual design
  .changeset/hip-eagles-cry.md
  .changeset/metal-bees-tease.md
  .changeset/pink-ghosts-chew.md
  .changeset/rude-socks-divide.md
  .changeset/selfish-hats-behave.md
  .changeset/three-geese-remember.md
  .eslintrc.js
  .storybook/preview.tsx
  packages/paste-core/components/code-block/src/CodeBlockHeader.tsx
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/TabPanel.tsx
  packages/paste-core/components/tooltip/src/TooltipArrow.tsx
  packages/paste-core/components/tooltip/src/index.tsx
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/box-shadow.yml
Labels: Area: Storybook, Area: Components, Type: Tests, Area: Tokens, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3146 feat(evergreen theme): fix visually incorrect tokens
  .changeset/few-pumpkins-perform.md
  packages/paste-design-tokens/tokens/themes/evergreen/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/text-color.yml
Labels: Status: Do Not Merge, Area: Tokens

#3159 chore: yarn version upgrade
  .yarn/releases/yarn-3.0.2.cjs
  .yarn/releases/yarn-3.5.0.cjs
  .yarnrc.yml
  package.json
  yarn.lock
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3161 feat(aliases): add new secondary brand colors
  packages/paste-design-tokens/tokens/aliases/color.yml
Labels: Area: Tokens, 🚀 merge it!

#3154 feat(sidebar): add a Sidebar component with several variant styles
  .changeset/flat-chefs-watch.md
  .changeset/new-owls-refuse.md
  .changeset/proud-bulldogs-share.md
  .changeset/yellow-geckos-glow.md
  .codesandbox/ci.json
  .jest/globals/TestTheme.js
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/sidebar/__tests__/index.spec.tsx
  packages/paste-core/components/sidebar/build.js
  packages/paste-core/components/sidebar/package.json
  packages/paste-core/components/sidebar/src/OverlaySidebarContentWrapper.tsx
  packages/paste-core/components/sidebar/src/PushSidebarContentWrapper.tsx
  packages/paste-core/components/sidebar/src/Sidebar.tsx
  packages/paste-core/components/sidebar/src/index.tsx
  packages/paste-core/components/sidebar/src/types.ts
  packages/paste-core/components/sidebar/stories/customization.stories.tsx
  packages/paste-core/components/sidebar/stories/overlay.stories.tsx
  packages/paste-core/components/sidebar/stories/push.stories.tsx
  packages/paste-core/components/sidebar/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/sidebar.tsx
  packages/paste-core/layout/flex/__tests__/flex.test.tsx
  packages/paste-core/primitives/box/__tests__/box.test.tsx
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-customization/__tests__/CustomizationProvider.test.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/sizing.yml
  packages/paste-design-tokens/tokens/global/sizing.yml
  packages/paste-theme/__tests__/__snapshots__/generateThemeFromTokens.spec.ts.snap
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-theme/src/generateThemeFromTokens.ts
  packages/paste-utils/__tests__/useWindowSize.test.tsx
  yarn.lock
Labels: Area: Infrastructure, Area: Theme, Area: Components, Type: Tests, Area: Tokens, Area: Layout, Area: Repo, Area: Primitives, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3163 feat: add preview for color tokens
  apps/vs-code-intellisense/package.json
  apps/vs-code-intellisense/src/extension.ts
  apps/vs-code-intellisense/src/test/runTest.ts
  apps/vs-code-intellisense/src/test/suite/utils/is-color-category.test.ts
  apps/vs-code-intellisense/src/utils/get-color-preview.ts
  apps/vs-code-intellisense/src/utils/index.ts
  apps/vs-code-intellisense/src/utils/is-color-category.ts
  yarn.lock
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3162 feat: april newsletter
  .danger/website-page-vrt-check.ts
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2023-04-13-paste-newsletter/cy.png
  packages/paste-website/src/assets/images/articles/2023-04-13-paste-newsletter/design-language.png
  packages/paste-website/src/assets/images/articles/2023-04-13-paste-newsletter/detail-text.png
  packages/paste-website/src/assets/images/articles/2023-04-13-paste-newsletter/mc.png
  packages/paste-website/src/assets/images/articles/2023-04-13-paste-newsletter/theming.gif
  packages/paste-website/src/assets/images/articles/2023-04-13-paste-newsletter/typography.png
  packages/paste-website/src/pages/blog/2022-04-06-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2022-06-28-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2022-07-26-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2022-09-23-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2022-10-31-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2022-12-09-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2023-01-27-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2023-04-13-paste-newsletter.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3172 chore: update storybook to a non-beta version
  .changeset/bright-kings-cheer.md
  .eslintrc.js
  .storybook/main.ts
  package.json
  packages/paste-codemods/package.json
  yarn.lock
Labels: Area: Storybook, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3160 feat(sidebar): add sidebar collapse button
  .changeset/cold-teachers-bow.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/sidebar/__tests__/index.spec.tsx
  packages/paste-core/components/sidebar/package.json
  packages/paste-core/components/sidebar/src/Sidebar.tsx
  packages/paste-core/components/sidebar/src/SidebarCollapseButton.tsx
  packages/paste-core/components/sidebar/src/SidebarCollapseButtonWrapper.tsx
  packages/paste-core/components/sidebar/src/SidebarContext.tsx
  packages/paste-core/components/sidebar/src/SidebarOverlayContentWrapper.tsx
  packages/paste-core/components/sidebar/src/SidebarPushContentWrapper.tsx
  packages/paste-core/components/sidebar/src/index.tsx
  packages/paste-core/components/sidebar/stories/customization.stories.tsx
  packages/paste-core/components/sidebar/stories/overlay.stories.tsx
  packages/paste-core/components/sidebar/stories/push.stories.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3173 chore: inject core version into the DOM
  .changeset/thirty-games-protect.md
  package.json
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/text/__tests__/__snapshots__/text.spec.tsx.snap
  packages/paste-core/primitives/text/src/index.tsx
  tools/build/esbuild.js
  yarn.lock
Labels: Area: Infrastructure, Area: Components, Type: Tests, Area: Layout, Area: Repo, Area: Primitives, 🕵🏻‍♀️ Run website visual regression

#3183 chore: replace deprecated extension and call playwright cache after install
  .github/workflows/on_pull_request.yml
  .vscode/extensions.json
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3187 docs: fix typo on minimizable dialog props table
  packages/paste-website/src/pages/components/minimizable-dialog/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#3181 docs: update tabs spec
  packages/paste-website/src/pages/components/tabs/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression

#3170 docs: customization docs
  packages/paste-website/src/pages/customization/creating-a-custom-theme.mdx
  packages/paste-website/src/pages/customization/customization-provider.mdx
  packages/paste-website/src/pages/customization/customizing-component-elements.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3192 feat: code block tabs now use tabs
  .changeset/four-humans-smoke.md
  .changeset/spicy-balloons-greet.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/code-block/package.json
  packages/paste-core/components/code-block/src/CodeBlock.tsx
  packages/paste-core/components/code-block/src/CodeBlockTab.tsx
  packages/paste-core/components/code-block/src/CodeBlockTabList.tsx
  packages/paste-core/components/code-block/src/CodeBlockTabPanel.tsx
  packages/paste-core/components/code-block/src/CodeBlockTabsContext.tsx
  packages/paste-core/components/code-block/src/CodeBlockWrapper.tsx
  packages/paste-core/components/code-block/stories/index.stories.tsx
  packages/paste-core/components/tabs/package.json
  packages/paste-core/components/tabs/src/TabPanel.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-website/src/pages/components/tabs/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Area: Repo, 🕵🏻‍♀️ Run website visual regression

#3190 fix(vs-code-plugin): broken link in readme and update contributors
  apps/vs-code-intellisense/README.md
  apps/vs-code-intellisense/package.json
  packages/paste-website/src/pages/components/icons/usage-guidelines/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3178 feat(sidebar): add SidebarHeader component
  .changeset/smart-rabbits-cover.md
  packages/paste-core/components/sidebar/__tests__/index.spec.tsx
  packages/paste-core/components/sidebar/package.json
  packages/paste-core/components/sidebar/src/SidebarHeader.tsx
  packages/paste-core/components/sidebar/src/index.tsx
  packages/paste-core/components/sidebar/stories/customization.stories.tsx
  packages/paste-core/components/sidebar/stories/overlay.stories.tsx
  packages/paste-core/components/sidebar/stories/push.stories.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo

#3200 feat(styling-library): expand types for cacheProvider
  .changeset/sharp-walls-wash.md
  packages/paste-libraries/styling/src/index.tsx
  packages/paste-theme/package.json
  packages/paste-theme/stories/cacheProvider.stories.tsx
  yarn.lock
Labels: Area: Theme, Status: Do Not Merge, Area: Repo

#3204 docs: fixes a few typos and links
  packages/paste-core/components/alert-dialog/src/index.tsx
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/avatar/__tests__/avatar.test.tsx
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/separator/__tests__/index.spec.tsx
  packages/paste-core/components/side-modal/__tests__/customization.spec.tsx
  packages/paste-core/components/side-modal/__tests__/index.spec.tsx
  packages/paste-core/components/side-modal/src/SideModal.tsx
  packages/paste-core/layout/grid/__tests__/__snapshots__/grid.test.tsx.snap
  packages/paste-core/layout/grid/__tests__/grid.test.tsx
  packages/paste-core/primitives/sibling-box/__tests__/__snapshots__/siblingBox.test.tsx.snap
  packages/paste-core/primitives/sibling-box/__tests__/siblingBox.test.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobileNavigation.tsx
  packages/paste-website/src/pages/components/modal/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge, Area: Layout, Area: Primitives
