Repository twilio-labs/paste, pull requests merged in 2023-12, with the labels that each got.

#3632 chore: ai assistant apis
  packages/paste-website/package.json
  packages/paste-website/src/components/assistant/AssistantMessage.tsx
  packages/paste-website/src/components/assistant/EnterKeySubmitPlugin.tsx
  packages/paste-website/src/components/assistant/SendButtonPlugin.tsx
  packages/paste-website/src/components/assistant/ThreadList.tsx
  packages/paste-website/src/components/assistant/UserMessage.tsx
  packages/paste-website/src/pages/api/paste-assistant-message.ts
  packages/paste-website/src/pages/api/paste-assistant-messages/[tid].ts
  packages/paste-website/src/pages/api/paste-assistant-thread/[tid].ts
  packages/paste-website/src/pages/api/paste-assistant-thread/index.ts
  packages/paste-website/src/pages/assistant.tsx
  packages/paste-website/src/utils/formatTimestamp.ts
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3651 chore: run cypress on vercel previews
  .github/workflows/on_deployment_status_cypress.yml
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_pull_request_cypress.yml
Labels: Area: Infrastructure, 🕵🏻‍♀️ Run website visual regression

#3650 chore: set deployment context for vercel deployments
  internal-docs/engineering/developing-locally.md
  packages/paste-theme-designer/next.config.js
  packages/paste-website/src/constants.ts
Labels: Area: Doc Site, 🕵🏻‍♀️ Run website visual regression

#3649 chore: swap mixed up product icons
  .changeset/olive-emus-run.md
  packages/paste-icons/src/ProductDestinationsIcon.tsx
  packages/paste-icons/src/ProductSourcesIcon.tsx
  packages/paste-icons/svg/ProductDestinations.svg
  packages/paste-icons/svg/ProductSources.svg
Labels: 🕵🏻‍♀️ Run website visual regression

#3656 chore: correct conditional action on main deployment for cypress
  .github/workflows/on_deployment_status_cypress.yml
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3660 chore: replace the og function with vercel/og package
  .github/workflows/on_deployment_status_cypress.yml
  .github/workflows/on_pull_request.yml
  .vscode/settings.json
  cypress/integration/opengraph/index.spec.ts
  internal-docs/engineering/doc-site/open-graph-image-preview-function.md
  packages/paste-website/package.json
  packages/paste-website/src/components/open-graph-card/AssetStatus.tsx
  packages/paste-website/src/components/open-graph-card/ComponentStatus.tsx
  packages/paste-website/src/components/open-graph-card/GraphImageDetails.tsx
  packages/paste-website/src/components/open-graph-card/GraphImageHero.tsx
  packages/paste-website/src/components/open-graph-card/GraphImageWrapper.tsx
  packages/paste-website/src/components/open-graph-card/PeerReviewStatus.tsx
  packages/paste-website/src/components/open-graph-card/types.ts
  packages/paste-website/src/pages/api/og-image.tsx
  packages/paste-website/src/pages/api/opengraph.ts
  packages/paste-website/src/pages/opengraph/index.tsx
  packages/paste-website/src/utils/RouteUtils.ts
  packages/paste-website/stories/opengraph.stories.tsx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XXL

#3661 chore: migrate the redirects for Vercel
  packages/paste-website/next.config.mjs
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#3665 chore: finally get cypress tests right
  .github/workflows/on_deployment_status_cypress.yml
Labels: Area: Infrastructure, 🕵🏻‍♀️ Run website visual regression, size:XS

#3666 test: add tests for the api routes
  .github/workflows/on_deployment_status_cypress.yml
  .github/workflows/on_pull_request_cypress.yml
  cypress.config.e2e.ts
  cypress.config.ts
  cypress/integration/api/ai.spec.ts
  cypress/integration/api/discussions-search.spec.ts
  cypress/integration/api/docs-search.spec.ts
  cypress/integration/api/og-image.spec.ts
  cypress/integration/api/paste-assistant-message.spec.ts
  cypress/integration/api/paste-assistant-thread.spec.ts
Labels: Status: Pls CR, Area: Infrastructure, Type: Tests, Status: Do Not Merge, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:L

#3645 feat: updated gtp4 and using official sdk everywhere
  packages/paste-website/package.json
  packages/paste-website/src/pages/api/ai.ts
  packages/paste-website/src/pages/api/discussions-search.ts
  packages/paste-website/src/pages/api/docs-search.ts
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:M

#3673 chore: update storybook and other deps to make snyk be quiet
  .github/workflows/on_deployment_status_cypress.yml
  .github/workflows/on_discussion_create.yml
  .github/workflows/on_merge_to_main.yml
  .github/workflows/on_merge_to_main_supabase.yml
  .github/workflows/on_pull_request.yml
  .github/workflows/on_pull_request_cypress.yml
  .github/workflows/on_pull_request_package_size.yml
  .github/workflows/on_pull_request_supabase.yml
  .github/workflows/update_docs_embed.yml
  .gitignore
  .prettierignore
  .storybook/main.ts
  biome.json
  jest.config.js
  netlify.toml
  nx.json
  package.json
  packages/paste-website/package.json
  yarn.lock
Labels: Type: Enhancement, Area: Storybook, Area: Doc Site, Area: Infrastructure, Status: Do Not Merge, Status: Ready to merge, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:L

#3675 chore: lerna update
  package.json
  yarn.lock
Labels: Type: Enhancement, Status: Do Not Merge, Status: Ready to merge, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:XS

#3678 feat: migrate the create perf metric endpoint
  .storybook/RenderPerformanceProfiler.tsx
  apps/backend/supabase/migrations/20231212232810_paste-data-migration.sql
  apps/backend/supabase/migrations/20231213212147_create-perf-function.sql
  apps/backend/supabase/migrations/20231214220004_story-render-policy.sql
  apps/backend/supabase/schema.gen.ts
  cypress/integration/api/create-component-perf-metric.spec.ts
  packages/paste-website/package.json
  packages/paste-website/src/pages/api/create-component-perf-metric.ts
  packages/paste-website/src/schema/perf-metric.ts
  yarn.lock
Labels: Type: Documentation, Area: Storybook, Area: Doc Site, Type: Tests, Status: Do Not Merge, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:L

#3682 chore: remove the last of Netlify
  .gitignore
  biome.json
  internal-docs/engineering/ci.md
  internal-docs/engineering/developing-locally.md
  internal-docs/engineering/doc-site/open-graph-image-preview-function.md
  internal-docs/engineering/environment-variables.md
  internal-docs/engineering/hosting-and-deployment.md
  internal-docs/engineering/on-call-rotation.md
  internal-docs/engineering/sli-slo/doc-site.md
  internal-docs/engineering/sli-slo/remix.md
  internal-docs/engineering/third-party-tool.md
  jest.config.js
  packages/paste-theme-designer/next.config.js
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/core/upgrade-guide.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:L
