Repository twilio-labs/paste, pull requests merged in 2023-02, with the labels that each got.

#2980 Update Twilio Paste Intellisense to read from published design tokens package, add theme setting
  apps/vs-code-intellisense/package.json
  apps/vs-code-intellisense/src/extension.ts
  apps/vs-code-intellisense/src/models/paste-token.ts
  apps/vs-code-intellisense/src/test/suite/extension.test.ts
  apps/vs-code-intellisense/src/test/suite/utils/get-theme-tokens.test.ts
  apps/vs-code-intellisense/src/test/suite/utils/rem-to-px.test.ts
  apps/vs-code-intellisense/src/tokens/background-colors.ts
  apps/vs-code-intellisense/src/tokens/border-colors.ts
  apps/vs-code-intellisense/src/tokens/border-widths.ts
  apps/vs-code-intellisense/src/tokens/box-shadows.ts
  apps/vs-code-intellisense/src/tokens/colors.ts
  apps/vs-code-intellisense/src/tokens/dark-theme-tokens.ts
  apps/vs-code-intellisense/src/tokens/default-theme-tokens.ts
  apps/vs-code-intellisense/src/tokens/evergreen-theme-tokens.ts
  apps/vs-code-intellisense/src/tokens/font-sizes.ts
  apps/vs-code-intellisense/src/tokens/font-weights.ts
  apps/vs-code-intellisense/src/tokens/index.ts
  apps/vs-code-intellisense/src/tokens/line-heights.ts
  apps/vs-code-intellisense/src/tokens/paste-token-attributes.ts
  apps/vs-code-intellisense/src/tokens/radii.ts
  apps/vs-code-intellisense/src/tokens/sendgrid-theme-tokens.ts
  apps/vs-code-intellisense/src/tokens/sizings.ts
  apps/vs-code-intellisense/src/tokens/spacings.ts
  apps/vs-code-intellisense/src/tokens/text-colors.ts
  apps/vs-code-intellisense/src/tokens/twilio-dark-theme-tokens.ts
  apps/vs-code-intellisense/src/tokens/twilio-theme-tokens.ts
  apps/vs-code-intellisense/src/tokens/z-indices.ts
  apps/vs-code-intellisense/src/types/index.ts
  apps/vs-code-intellisense/src/types/paste-token.ts
  apps/vs-code-intellisense/src/types/themes.ts
  apps/vs-code-intellisense/src/types/token-category.ts
  apps/vs-code-intellisense/src/types/token-map.ts
  apps/vs-code-intellisense/src/types/token-type.ts
  apps/vs-code-intellisense/src/utils/get-theme-setting.ts
  apps/vs-code-intellisense/src/utils/get-theme-tokens.ts
  apps/vs-code-intellisense/src/utils/index.ts
  apps/vs-code-intellisense/src/utils/rem-to-px.ts
  apps/vs-code-intellisense/tsconfig.json
  apps/vs-code-intellisense/yarn.lock
Labels: VS Code Extension

#3001 chore: update images
  packages/paste-website/src/assets/images/foundations/spacing-and-layout/3-equal-spacing.png
  packages/paste-website/src/assets/images/foundations/spacing-and-layout/5-emphasizing-hierarchy.png
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2996 chore: update design guidelines
  packages/paste-website/src/assets/images/design-guidelines/figma-link-paste-libraries.png
  packages/paste-website/src/assets/images/design-guidelines/figma-open-library-modal.png
  packages/paste-website/src/assets/images/design-guidelines/token-styles.png
  packages/paste-website/src/pages/introduction/for-designers/design-guidelines/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#3000 feat: create detail text package and docs page
  .changeset/angry-jeans-kneel.md
  .codesandbox/ci.json
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/detail-text/CHANGELOG.md
  packages/paste-core/components/detail-text/__tests__/index.spec.tsx
  packages/paste-core/components/detail-text/build.js
  packages/paste-core/components/detail-text/package.json
  packages/paste-core/components/detail-text/src/index.tsx
  packages/paste-core/components/detail-text/stories/index.stories.tsx
  packages/paste-core/components/detail-text/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/detail-text.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-website/src/component-examples/DetailTextExamples.ts
  packages/paste-website/src/pages/components/detail-text/index.mdx
  packages/paste-website/src/pages/components/table/index.mdx
  packages/paste-website/static/images/detail-text/detail-text-image.png
  packages/paste-website/static/images/detail-text/graph.png
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression

#3018 chore(input-box): fix disabled preffix/suffix
  packages/paste-core/components/combobox/stories/Combobox.stories.tsx
  packages/paste-core/components/input/stories/input.stories.tsx
  packages/paste-core/components/select/stories/select.stories.tsx
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
Labels: Area: Components, Status: Do Not Merge

#3008 Update table component
  .changeset/strange-trees-kiss.md
  packages/paste-core/components/data-grid/stories/components/CustomizableDataGrid.tsx
  packages/paste-core/components/table/src/TBody.tsx
  packages/paste-core/components/table/src/TFoot.tsx
  packages/paste-core/components/table/src/THead.tsx
  packages/paste-core/components/table/src/Td.tsx
  packages/paste-core/components/table/src/Th.tsx
  packages/paste-core/components/table/stories/index.stories.tsx
Labels: Area: Components, Status: Do Not Merge

#2991 chore(github): add discussion templates
  .github/DISCUSSION_TEMPLATE/office-hours-data-growth.yml
  .github/DISCUSSION_TEMPLATE/office-hours-visual-design.yml
  .github/DISCUSSION_TEMPLATE/office-hours.yml
  .github/DISCUSSION_TEMPLATE/request-icon.yml
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3017 chore(separator, breadcrumb): update styles
  .changeset/cuddly-terms-grab.md
  .changeset/funny-buckets-repair.md
  packages/paste-core/components/breadcrumb/src/index.tsx
  packages/paste-core/components/separator/src/index.tsx
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Status: Do Not Merge

#3010 feat: One Twilio style updates
  .changeset/cuddly-terms-grab.md
  .changeset/fast-rats-ring.md
  .changeset/funny-buckets-repair.md
  .changeset/nasty-files-notice.md
  .changeset/neat-windows-relate.md
  .changeset/strange-trees-kiss.md
  .changeset/tricky-cups-camp.md
  .changeset/wise-jars-do.md
  packages/paste-core/components/anchor/src/DefaultAnchor.tsx
  packages/paste-core/components/anchor/src/InverseAnchor.tsx
  packages/paste-core/components/breadcrumb/src/index.tsx
  packages/paste-core/components/callout/src/Callout.tsx
  packages/paste-core/components/callout/src/CalloutHeading.tsx
  packages/paste-core/components/combobox/stories/Combobox.stories.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox.stories.tsx
  packages/paste-core/components/data-grid/stories/components/CustomizableDataGrid.tsx
  packages/paste-core/components/form/stories/index.stories.tsx
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/heading/src/index.tsx
  packages/paste-core/components/input-box/src/FauxInput/DefaultFauxInput.tsx
  packages/paste-core/components/input-box/src/Prefix.tsx
  packages/paste-core/components/input-box/src/Suffix.tsx
  packages/paste-core/components/input/stories/input.stories.tsx
  packages/paste-core/components/label/src/Label.tsx
  packages/paste-core/components/select/stories/select.stories.tsx
  packages/paste-core/components/separator/__tests__/__snapshots__/index.spec.tsx.snap
  packages/paste-core/components/separator/src/index.tsx
  packages/paste-core/components/table/src/TBody.tsx
  packages/paste-core/components/table/src/TFoot.tsx
  packages/paste-core/components/table/src/THead.tsx
  packages/paste-core/components/table/src/Td.tsx
  packages/paste-core/components/table/src/Th.tsx
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
  packages/paste-website/src/component-examples/ComboboxExamples.ts
  packages/paste-website/src/component-examples/DatePickerExamples.ts
  packages/paste-website/src/component-examples/FormExamples.ts
  packages/paste-website/src/component-examples/MultiselectComboboxExamples.ts
  packages/paste-website/src/pages/components/breadcrumb/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/label/index.mdx
  packages/paste-website/src/pages/components/select/index.mdx
  packages/paste-website/src/pages/components/textarea/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3019 test: color contrast pairings for new Twilio and Twilio dark themes
  packages/paste-color-contrast-utils/__tests__/themeContrast.spec.ts
Labels: Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3021 Update avatar styles
  .changeset/sweet-cats-press.md
  .changeset/thin-suns-flow.md
  packages/paste-core/components/avatar/__tests__/__snapshots__/avatar.test.tsx.snap
  packages/paste-core/components/avatar/src/index.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/text-color.yml
  packages/paste-website/src/pages/components/avatar/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, 🕵🏻‍♀️ Run website visual regression

#3029 chore(badge): update styles
  .changeset/wild-beans-teach.md
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/badge/src/styles.ts
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3040 fix: homepage static illustration and switch nav chevrons
  packages/paste-website/src/components/homepage/HomeHeroIllustration.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3028 chore(tokens): update evergreen theme font-sizes
  .changeset/little-plums-rush.md
  packages/paste-design-tokens/tokens/themes/evergreen/global/font-size.yml
Labels: Status: Do Not Merge, Area: Tokens

#3032 feat: Update Popover to stage 2
  .changeset/witty-avocados-play.md
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/package.json
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/popover/stories/index.stories.tsx
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/pages/components/popover/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#3045 chore: fix OH discussion template
  .github/DISCUSSION_TEMPLATE/office-hours.yml
  .github/DISCUSSION_TEMPLATE/request-icon.yml
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3025 chore: use node 16 for opengraph
  internal-docs/engineering/doc-site/open-graph-image-preview-function.md
  netlify.toml
  package.json
  packages/paste-website/functions/opengraph.ts
  packages/paste-website/netlify.toml
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3042 feat: Update modal and alert dialog styles
  .changeset/green-plants-relax.md
  .changeset/warm-mice-sing.md
  packages/paste-core/components/alert-dialog/src/AlertDialogBody.tsx
  packages/paste-core/components/alert-dialog/src/AlertDialogFooter.tsx
  packages/paste-core/components/alert-dialog/src/AlertDialogHeader.tsx
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/modal/src/ModalBody.tsx
  packages/paste-core/components/modal/src/ModalFooter.tsx
  packages/paste-core/components/modal/src/ModalHeader.tsx
  packages/paste-website/src/pages/components/alert-dialog/index.mdx
  packages/paste-website/src/pages/components/modal/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#3049 chore: remove deprecated design tokens and themes from the system
  .changeset/slow-ties-complain.md
  .changeset/unlucky-seas-enjoy.md
  packages/paste-core/components/button/__tests__/customization.test.tsx
  packages/paste-core/components/chat-log/__tests__/ChatBubble.spec.tsx
  packages/paste-core/components/chat-log/stories/customization.stories.tsx
  packages/paste-core/components/minimizable-dialog/__tests__/customization.spec.tsx
  packages/paste-core/components/minimizable-dialog/stories/customization.stories.tsx
  packages/paste-core/components/side-modal/__tests__/customization.spec.tsx
  packages/paste-core/components/side-modal/stories/customization.stories.tsx
  packages/paste-core/primitives/box/src/index.tsx
  packages/paste-core/primitives/text/src/index.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/background-color-deprecated.yml
  packages/paste-design-tokens/tokens/global/border-color-deprecated.yml
  packages/paste-design-tokens/tokens/global/box-shadow-deprecated.yml
  packages/paste-design-tokens/tokens/global/index.yml
  packages/paste-design-tokens/tokens/global/text-color-deprecated.yml
  packages/paste-style-props/src/proptypes/background.ts
  packages/paste-style-props/src/proptypes/border.ts
  packages/paste-style-props/src/proptypes/index.ts
  packages/paste-style-props/src/proptypes/shadow.ts
  packages/paste-style-props/src/proptypes/typography.ts
  packages/paste-theme/__tests__/isDeprecatedTheme.spec.ts
  packages/paste-theme/src/constants.ts
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/src/utils/isDeprecatedTheme.ts
  packages/paste-token-contrast-checker/src/components/SideBar.tsx
  packages/paste-token-contrast-checker/src/components/TokenPairRating.tsx
  packages/paste-website/src/components/customization-landing-page/WorksGreatWith.tsx
  packages/paste-website/src/pages/core/upgrade-guide.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Theme, Area: Components, Type: Tests, Area: Tokens, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3051 fix: color-background-overlay for evergreen theme
  .storybook/preview.tsx
  packages/paste-design-tokens/tokens/themes/evergreen/global/background-color.yml
Labels: Area: Storybook, Area: Tokens, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3050 fix: discussions templates
  .github/DISCUSSION_TEMPLATE/office-hours-data-growth.yml
  .github/DISCUSSION_TEMPLATE/office-hours-visual-design.yml
  .github/DISCUSSION_TEMPLATE/office-hours.yml
  .github/DISCUSSION_TEMPLATE/request-icon.yml
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#2967 ci: use sharding for test-runner
  .github/workflows/on_pull_request.yml
  package.json
  yarn.lock
Labels: Area: Infrastructure, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3031 chore(website): typo on listbox + menu primitive docs
  packages/paste-website/src/pages/primitives/listbox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/menu-primitive/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge

#3052 feat(theme): add ability to override theme from url hash
  .changeset/empty-mayflies-cry.md
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/src/utils/getThemeFromHash.ts
  packages/paste-website/src/pages/components/callout/index.mdx
  packages/paste-website/src/pages/components/index.mdx
  packages/paste-website/src/pages/primitives/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Theme, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3055 fix: evergreen theme background overlay color
  .changeset/tidy-tigers-marry.md
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3043 feat: update inline code and display heading components
  .changeset/wicked-dancers-exercise.md
  .changeset/witty-papayas-move.md
  packages/paste-core/components/display-heading/src/index.tsx
  packages/paste-core/components/inline-code/src/index.tsx
  packages/paste-core/components/inline-code/stories/index.stories.tsx
  packages/paste-website/src/pages/components/inline-code/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression
