Repository twilio-labs/paste, pull requests merged in 2023-06, with the labels that each got.

#3224 feat(sidebar): add SidebarNavigation elements
  .changeset/forty-insects-eat.md
  .changeset/fresh-grapes-drop.md
  .changeset/moody-deers-obey.md
  .changeset/new-wolves-crash.md
  .changeset/tiny-poems-smash.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/button/src/ResetButton.tsx
  packages/paste-core/components/button/src/index.tsx
  packages/paste-core/components/sidebar/__tests__/sidebarNavigation.spec.tsx
  packages/paste-core/components/sidebar/package.json
  packages/paste-core/components/sidebar/src/Sidebar.tsx
  packages/paste-core/components/sidebar/src/content-wrappers/SidebarOverlayContentWrapper.tsx
  packages/paste-core/components/sidebar/src/content-wrappers/SidebarPushContentWrapper.tsx
  packages/paste-core/components/sidebar/src/footer/SidebarCollapseButton.tsx
  packages/paste-core/components/sidebar/src/footer/SidebarCollapseButtonWrapper.tsx
  packages/paste-core/components/sidebar/src/header/SidebarHeader.tsx
  packages/paste-core/components/sidebar/src/header/SidebarHeaderIconButton.tsx
  packages/paste-core/components/sidebar/src/header/SidebarHeaderLabel.tsx
  packages/paste-core/components/sidebar/src/index.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigation.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationDisclosure.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationDisclosureContent.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationDisclosureContext.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationDisclosureHeading.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationDisclosureHeadingWrapper.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationItem.tsx
  packages/paste-core/components/sidebar/src/navigation/styles.tsx
  packages/paste-core/components/sidebar/src/navigation/types.ts
  packages/paste-core/components/sidebar/stories/customization.stories.tsx
  packages/paste-core/components/sidebar/stories/navigation.stories.tsx
  packages/paste-core/components/sidebar/stories/overlay.stories.tsx
  packages/paste-core/components/sidebar/stories/push.stories.tsx
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/box-shadow.yml
  packages/paste-icons/src/helpers/IconWrapper.tsx
  packages/paste-website/src/pages/components/multiselect-combobox/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Repo, 🕵🏻‍♀️ Run website visual regression

#3260 fix(combobox): prevent selection of disabled items
  .changeset/neat-donuts-enjoy.md
  .changeset/thin-kids-beam.md
  packages/paste-core/components/combobox/src/singleselect/Combobox.tsx
  packages/paste-core/components/combobox/src/singleselect/extractPropsFromState.tsx
  packages/paste-core/components/combobox/stories/Combobox.stories.tsx
  packages/paste-core/primitives/combobox/src/index.tsx
Labels: Area: Components, Status: Do Not Merge, Area: Primitives, 🕵🏻‍♀️ Run website visual regression

#3261 fix(data-grid): improve ts typings and react proptypes
  .changeset/short-gifts-glow.md
  packages/paste-core/components/data-grid/src/DataGridRow.tsx
  packages/paste-core/components/data-grid/src/table/Td.tsx
  packages/paste-core/components/data-grid/src/table/Th.tsx
  packages/paste-core/components/data-grid/src/table/Tr.tsx
  packages/paste-core/components/table/src/proptypes.ts
  packages/paste-core/components/table/src/types.ts
Labels: Area: Components, Status: Do Not Merge

#3265 docs(listbox-primitive): add stories
  packages/paste-core/primitives/listbox/src/ListboxPrimitiveItem.tsx
  packages/paste-core/primitives/listbox/stories/index.stories.tsx
  packages/paste-libraries/reakit/stories/composite.stories.tsx
  packages/paste-website/src/component-examples/ListboxPrimitiveExamples.ts
Labels: Area: Doc Site, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3270 feat(website): add june newsletter
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2023-06-12-paste-newsletter/avatar-group.png
  packages/paste-website/src/assets/images/articles/2023-06-12-paste-newsletter/error-guidelines.png
  packages/paste-website/src/assets/images/articles/2023-06-12-paste-newsletter/megan-allison.png
  packages/paste-website/src/assets/images/articles/2023-06-12-paste-newsletter/nav-ui-kit.png
  packages/paste-website/src/assets/images/articles/2023-06-12-paste-newsletter/tabs.png
  packages/paste-website/src/pages/blog/2023-06-12-paste-newsletter.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3274 chore(docs): update "Working with us" with a link to the dependency intake form
  packages/paste-website/src/pages/introduction/working-with-us/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3279 fix(evergreen theme): match shadow-focus and shadow-focus-shadow-border
  .changeset/rare-walls-thank.md
  packages/paste-design-tokens/tokens/themes/evergreen/global/box-shadow.yml
Labels: Area: Tokens, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3272 feat(progress-steps): adding new ProgressSteps component package
  .changeset/mean-pumpkins-enjoy.md
  .changeset/silver-candles-trade.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/progress-steps/__tests__/index.spec.tsx
  packages/paste-core/components/progress-steps/build.js
  packages/paste-core/components/progress-steps/package.json
  packages/paste-core/components/progress-steps/src/ProgressStepComplete.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepCurrent.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepError.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepIncomplete.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepSeparator.tsx
  packages/paste-core/components/progress-steps/src/ProgressSteps.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepsContext.tsx
  packages/paste-core/components/progress-steps/src/icons/ProgressCurrentIcon.tsx
  packages/paste-core/components/progress-steps/src/icons/ProgressErrorIcon.tsx
  packages/paste-core/components/progress-steps/src/icons/ProgressIncompleteIcon.tsx
  packages/paste-core/components/progress-steps/src/index.tsx
  packages/paste-core/components/progress-steps/src/propTypes.ts
  packages/paste-core/components/progress-steps/src/types.ts
  packages/paste-core/components/progress-steps/stories/customization.stories.tsx
  packages/paste-core/components/progress-steps/stories/horizontal.stories.tsx
  packages/paste-core/components/progress-steps/stories/vertical.stories.tsx
  packages/paste-core/components/progress-steps/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/progress-steps.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, Area: Core bundle

#3255 docs: simple basic status, account and product switcher docs
  .changeset/sixty-taxis-watch.md
  cypress/integration/sitemap-vrt/constants.ts
  internal-docs/engineering/developer-workflow.md
  packages/paste-core/components/status/src/constants.tsx
  packages/paste-core/components/status/stories/StatusMenu.stories.tsx
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/AccountSwitcherExamples.ts
  packages/paste-website/src/component-examples/DescriptionListExamples.ts
  packages/paste-website/src/component-examples/ProductSwitcherExamples.ts
  packages/paste-website/src/component-examples/StatusMenuExamples.ts
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/components/Roadmap/constants.ts
  packages/paste-website/src/components/shortcodes/package-status-legend/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/components/account-switcher/index.mdx
  packages/paste-website/src/pages/components/multiselect-combobox/index.mdx
  packages/paste-website/src/pages/components/product-switcher/index.mdx
  packages/paste-website/src/pages/components/status-badge/index.mdx
  packages/paste-website/src/pages/components/status-menu/index.mdx
  packages/paste-website/src/pages/introduction/contributing/components/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3298 feat: add user dialog and topbar docs
  .changeset/moody-yaks-grow.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/topbar/package.json
  packages/paste-core/components/user-dialog/package.json
  packages/paste-core/components/user-dialog/src/UserDialog.tsx
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/ProductSwitcherExamples.ts
  packages/paste-website/src/component-examples/TopbarExamples.ts
  packages/paste-website/src/component-examples/UserDialogExamples.ts
  packages/paste-website/src/pages/components/topbar/index.mdx
  packages/paste-website/src/pages/components/user-dialog/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3299 chore: make list items hover style similar to menu
  .changeset/hip-dragons-wave.md
  packages/paste-core/components/user-dialog/src/UserDialogList.tsx
  packages/paste-core/components/user-dialog/src/UserDialogListItem.tsx
  packages/paste-core/components/user-dialog/src/UserDialogSeparator.tsx
  packages/paste-core/components/user-dialog/stories/index.stories.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3302 fix: sidebar examples by iframing in storybook story
  packages/paste-core/components/sidebar/stories/overlay.stories.tsx
  packages/paste-core/components/sidebar/stories/push.stories.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/components/shortcodes/StoryPreview.tsx
  packages/paste-website/src/pages/components/sidebar/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3303 chore(sidebar): improve animation and scrollbar styles
  .changeset/real-geese-bake.md
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigation.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationDisclosureHeading.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationItem.tsx
Labels: Area: Components, Status: Do Not Merge

#3301 chore(website): fix broken storybook links, update topbar examples
  .changeset/orange-dodos-brake.md
  .changeset/selfish-eels-switch.md
  packages/paste-core/components/sidebar/stories/full-composition/components/AppSwitcher.tsx
  packages/paste-core/components/sidebar/stories/full-composition/console.stories.tsx
  packages/paste-core/components/topbar/src/TopbarActions.tsx
  packages/paste-icons/src/ProductSupportIcon.tsx
  packages/paste-icons/src/SupportIcon.tsx
  packages/paste-icons/svg/ProductSupport.svg
  packages/paste-icons/svg/Support.svg
  packages/paste-website/src/component-examples/TopbarExamples.ts
  packages/paste-website/src/pages/components/account-switcher/index.mdx
  packages/paste-website/src/pages/components/product-switcher/index.mdx
  packages/paste-website/src/pages/components/sidebar/index.mdx
  packages/paste-website/src/pages/components/status-badge/index.mdx
  packages/paste-website/src/pages/components/status-menu/index.mdx
  packages/paste-website/src/pages/components/topbar/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
