Repository twilio-labs/paste, pull requests merged in 2023-07, with the labels that each got.

#3304 chore: update nav component descriptions to match website descriptions
  .changeset/many-mails-wink.md
  packages/paste-core/components/account-switcher/package.json
  packages/paste-core/components/product-switcher/package.json
  packages/paste-core/components/status/package.json
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3306 docs: creating the sidebar navigation docs
  .changeset/loud-berries-count.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationItem.tsx
  packages/paste-core/components/sidebar/src/navigation/styles.tsx
  packages/paste-core/components/sidebar/stories/full-composition/console.stories.tsx
  packages/paste-core/components/sidebar/stories/full-composition/flex.stories.tsx
  packages/paste-core/components/sidebar/stories/navigation.stories.tsx
  packages/paste-website/src/component-examples/SidebarNavigationExamples.ts
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/components/screen-reader-only/index.mdx
  packages/paste-website/src/pages/components/sidebar-navigation/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3319 fix: list style type
  .changeset/cool-eyes-bow.md
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/primitives/text/src/CustomStyleProps.ts
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Primitives

#3308 chore: correct the icon color in the topbar menu examples
  packages/paste-core/components/sidebar/stories/full-composition/components/AccountMenu.tsx
  packages/paste-core/components/sidebar/stories/full-composition/components/BillingMenu.tsx
  packages/paste-website/src/component-examples/TopbarExamples.ts
Labels: Area: Doc Site, Area: Components, 🕵🏻‍♀️ Run website visual regression

#3309 feat(code-editor): add package
  .changeset/rich-pots-tell.md
  .changeset/tender-bees-raise.md
  .codesandbox/ci.json
  .storybook/test-runner.js
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/editable-code-block/build.js
  packages/paste-core/components/editable-code-block/package.json
  packages/paste-core/components/editable-code-block/src/EditableCodeBlock.tsx
  packages/paste-core/components/editable-code-block/src/index.tsx
  packages/paste-core/components/editable-code-block/stories/index.stories.tsx
  packages/paste-core/components/editable-code-block/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/code-editor/package.json
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/code-editor-library.tsx
  packages/paste-core/core-bundle/src/editable-code-block.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-libraries/code-editor/CHANGELOG.md
  packages/paste-libraries/code-editor/build.js
  packages/paste-libraries/code-editor/package.json
  packages/paste-libraries/code-editor/src/PasteTheme.ts
  packages/paste-libraries/code-editor/src/index.tsx
  packages/paste-libraries/code-editor/stories/diffEditor.stories.tsx
  packages/paste-libraries/code-editor/stories/editor.stories.tsx
  packages/paste-libraries/code-editor/tsconfig.json
  packages/paste-website/next.config.mjs
  yarn.lock
Labels: Area: Storybook, Area: Doc Site, Area: Components, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3317 feat: skip links
  .changeset/breezy-wombats-hide.md
  .changeset/cyan-baboons-tie.md
  .changeset/lemon-birds-cover.md
  .changeset/tiny-news-hide.md
  packages/paste-core/components/account-switcher/src/AccountSwitcherBadge.tsx
  packages/paste-core/components/menu/__tests__/index.spec.tsx
  packages/paste-core/components/menu/src/MenuItem.tsx
  packages/paste-core/components/menu/src/MenuItemCheckbox.tsx
  packages/paste-core/components/product-switcher/src/ProductSwitcherButton.tsx
  packages/paste-core/components/sidebar/__tests__/index.spec.tsx
  packages/paste-core/components/sidebar/__tests__/sidebarNavigation.spec.tsx
  packages/paste-core/components/sidebar/__tests__/skipLinks.spec.tsx
  packages/paste-core/components/sidebar/src/Sidebar.tsx
  packages/paste-core/components/sidebar/src/SidebarBody.tsx
  packages/paste-core/components/sidebar/src/SidebarContext.tsx
  packages/paste-core/components/sidebar/src/SidebarSkipLinks.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigation.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationDisclosureHeading.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationDisclosureHeadingWrapper.tsx
  packages/paste-core/components/sidebar/stories/customization.stories.tsx
  packages/paste-core/components/sidebar/stories/full-composition/console.stories.tsx
  packages/paste-core/components/sidebar/stories/full-composition/flex.stories.tsx
  packages/paste-core/components/sidebar/stories/full-composition/segment.stories.tsx
  packages/paste-core/components/sidebar/stories/navigation.stories.tsx
  packages/paste-core/components/sidebar/stories/overlay.stories.tsx
  packages/paste-core/components/sidebar/stories/push.stories.tsx
  packages/paste-core/components/topbar/__tests__/index.spec.tsx
  packages/paste-core/components/topbar/src/Topbar.tsx
  packages/paste-core/components/topbar/stories/customization.stories.tsx
  packages/paste-core/components/topbar/stories/topbar.stories.tsx
  packages/paste-core/components/user-dialog/__tests__/index.spec.tsx
  packages/paste-website/src/component-examples/SidebarNavigationExamples.ts
  packages/paste-website/src/component-examples/TopbarExamples.ts
  packages/paste-website/src/pages/components/sidebar-navigation/index.mdx
  packages/paste-website/src/pages/components/sidebar/index.mdx
  packages/paste-website/src/pages/components/topbar/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🕵🏻‍♀️ Run website visual regression

#3312 chore(input): update input type=number
  .changeset/forty-buttons-complain.md
  .changeset/mighty-cobras-do.md
  .changeset/new-snakes-draw.md
  .changeset/serious-knives-breathe.md
  .changeset/slimy-donuts-swim.md
  .eslintrc.js
  packages/paste-core/components/date-picker/package.json
  packages/paste-core/components/input/__tests__/input.test.tsx
  packages/paste-core/components/input/package.json
  packages/paste-core/components/input/src/DecrementButton.tsx
  packages/paste-core/components/input/src/IncrementButton.tsx
  packages/paste-core/components/input/src/Input.tsx
  packages/paste-core/components/input/stories/input.stories.tsx
  packages/paste-core/components/time-picker/package.json
  packages/paste-core/primitives/box/src/CustomStyleProps.ts
  packages/paste-core/primitives/box/src/PseudoPropStyles.ts
  packages/paste-utils/src/hooks/useMergeRefs.ts
  packages/paste-utils/src/index.ts
  packages/paste-website/src/pages/components/input/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, Area: Primitives, 🕵🏻‍♀️ Run website visual regression

#3327 fix(theme): update inter font to support number emojis
  .changeset/moody-impalas-rescue.md
  .storybook/preview-head.html
  internal-docs/engineering/fonts.md
  packages/paste-cra-template/template/public/index.html
  packages/paste-theme/src/styles/fonts.ts
  packages/paste-token-contrast-checker/public/index.html
  packages/paste-website/src/pages/_document.tsx
  packages/paste-website/src/pages/components/heading/index.mdx
  packages/paste-website/src/pages/introduction/for-engineers/manual-installation/index.mdx
  packages/paste-website/src/pages/theme/changing-theme.mdx
Labels: Type: Documentation, Area: Storybook, Area: Doc Site, Area: Theme, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression

#3321 Error message and confirmation message updates.mdx
  packages/paste-website/src/pages/components/alert-dialog/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3330 docs(input): add missing number input docs
  packages/paste-website/src/pages/components/input/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3340 fix(website): replace unavailable video in Aspect Ratio
  packages/paste-website/src/pages/components/aspect-ratio/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression

#3326 Modal error updates.mdx
  packages/paste-website/src/pages/components/modal/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3328 feat: apply the nav ui kit to the doc site
  .changeset/fifty-socks-sneeze.md
  .changeset/friendly-squids-wait.md
  .changeset/giant-mayflies-impress.md
  .changeset/itchy-birds-provide.md
  .changeset/lovely-rabbits-care.md
  .changeset/orange-numbers-end.md
  .changeset/seven-geese-promise.md
  .changeset/soft-eggs-invent.md
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/integration/site-search/index.spec.ts
  cypress/support/commands/parent-commands.ts
  packages/paste-core/components/sidebar/src/content-wrappers/SidebarPushContentWrapper.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationItem.tsx
  packages/paste-core/components/topbar/src/Topbar.tsx
  packages/paste-core/components/topbar/src/TopbarActions.tsx
  packages/paste-core/primitives/box/src/CustomStyleProps.ts
  packages/paste-core/primitives/box/src/types.ts
  packages/paste-core/primitives/text/src/CustomStyleProps.ts
  packages/paste-core/primitives/text/src/types.ts
  packages/paste-style-props/src/types/css-props.ts
  packages/paste-website/src/components/ContactUsMenu.tsx
  packages/paste-website/src/components/Roadmap/RoadmapAside.tsx
  packages/paste-website/src/components/SkipLinkContainer.tsx
  packages/paste-website/src/components/shortcodes/PageAside.tsx
  packages/paste-website/src/components/shortcodes/table-of-contents/index.tsx
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/SiteMain.tsx
  packages/paste-website/src/components/site-wrapper/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarItem.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarSeparator.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/index.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosure.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureButton.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureContent.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/sidebar-disclosure/SidebarDisclosureContext.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeBadge.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeToggle.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderDesktop.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderLogo.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobile.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderMobileNavigation.tsx
  packages/paste-website/src/components/site-wrapper/site-header/index.tsx
  packages/paste-website/src/components/tokens-list/ScrollToTopLink.tsx
  packages/paste-website/src/components/tokens-list/TokensListFilter.tsx
  packages/paste-website/src/components/tokens-list/index.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/layouts/DefaultLayout.tsx
  packages/paste-website/src/pages/patterns/error-state/index.mdx
  packages/paste-website/src/pages/primitives/box/index.mdx
  packages/paste-website/src/pages/primitives/text/index.mdx
  packages/paste-website/src/styles/docSearch.ts
  packages/paste-website/stories/SidebarNavigation.stories.tsx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Primitives, 🕵🏻‍♀️ Run website visual regression

#3342 feat(alias): add new brand colors
  .changeset/twelve-badgers-wink.md
  packages/paste-design-tokens/tokens/aliases/color.yml
Labels: Area: Tokens, 🕵🏻‍♀️ Run website visual regression

#3347 fix(combobox): multiselect combobox listbox positioning
  .changeset/nervous-fans-flow.md
  packages/paste-core/components/combobox/src/multiselect/MultiselectCombobox.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3349 fix(avatars): image backgrounds and grouped icon and image sizes
  .changeset/yellow-hounds-add.md
  .storybook/static/avatars/avatar5.png
  .storybook/static/avatars/avatar6.png
  .storybook/static/avatars/avatar7.png
  .storybook/static/avatars/avatar8.png
  packages/paste-core/components/avatar/src/Avatar.tsx
  packages/paste-core/components/avatar/stories/index.stories.tsx
Labels: Area: Storybook, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3351 fix: nav ui kit composition tidy up and pattern code blocks
  packages/paste-core/components/sidebar/stories/full-composition/components/Console.tsx
  packages/paste-core/components/sidebar/stories/full-composition/components/Flex.tsx
  packages/paste-core/components/sidebar/stories/full-composition/components/Segment.tsx
  packages/paste-core/components/sidebar/stories/full-composition/console.stories.tsx
  packages/paste-core/components/sidebar/stories/full-composition/docs.stories.tsx
  packages/paste-core/components/sidebar/stories/full-composition/flex.stories.tsx
  packages/paste-core/components/sidebar/stories/full-composition/segment.stories.tsx
  packages/paste-website/src/pages/patterns/navigation/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3352 chore: update the new banner
  packages/paste-website/src/components/homepage/HomeHero.tsx
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3337 [Snyk] Fix for 19 vulnerabilities
  lerna.json
  nx.json
  package.json
  packages/paste-codemods/tools/.cache/mappings.json
  yarn.lock
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3339 new confirmation page
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/pages/patterns/confirmation/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression

#3325 Empty state updates.mdx
  packages/paste-website/src/assets/illustrations/empty-approval.svg
  packages/paste-website/src/assets/illustrations/empty-cleared.svg
  packages/paste-website/src/assets/illustrations/empty-denied.svg
  packages/paste-website/src/assets/illustrations/empty-do-something.svg
  packages/paste-website/src/assets/illustrations/empty-lost.svg
  packages/paste-website/src/assets/illustrations/empty-search.svg
  packages/paste-website/src/assets/illustrations/empty-waiting.svg
  packages/paste-website/src/assets/illustrations/empty-warning.svg
  packages/paste-website/src/assets/images/patterns/empty-awaiting-data.png
  packages/paste-website/src/assets/images/patterns/empty-change-regional-data-location.png
  packages/paste-website/src/assets/images/patterns/empty-create-an-object.png
  packages/paste-website/src/assets/images/patterns/empty-create-something.png
  packages/paste-website/src/assets/images/patterns/empty-generic-dependency-state.png
  packages/paste-website/src/assets/images/patterns/empty-no-permissions-to-view.png
  packages/paste-website/src/assets/images/patterns/empty-no-results-found.png
  packages/paste-website/src/components/images/EmptyStateImages.tsx
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression
