Repository twilio-labs/paste, pull requests merged in 2024-02, with the labels that each got.

#3752 chore: better filtering of test search queries for more accurate data
  apps/backend/package.json
  apps/backend/supabase/migrations/20240201004610_top_searches_filtering.sql
  apps/backend/supabase/schema.gen.ts
  cypress/integration/api/discussions-search.spec.ts
  cypress/integration/api/docs-search.spec.ts
  cypress/integration/api/paste-assistant-message.spec.ts
  cypress/integration/site-search/index.spec.ts
  yarn.lock
Labels: Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3749 fix(toast): add ability to add multiple toasts in a single call to address #3698
  .changeset/eighty-snails-watch.md
  packages/paste-core/components/toast/__tests__/useToaster.spec.tsx
  packages/paste-core/components/toast/src/useToaster.ts
Labels: Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#3757 fix(table,datagrid): noWrap prop regression
  .changeset/new-laws-mix.md
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/src/table/Td.tsx
  packages/paste-core/components/data-grid/src/table/Th.tsx
  packages/paste-core/components/data-grid/stories/components/PlainDataGrid.tsx
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/Td.tsx
  packages/paste-core/components/table/src/Th.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#3760 docs(summary-detail): add website documentation
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/summary-detail/stories/index.stories.tsx
  packages/paste-website/package.json
  packages/paste-website/src/pages/components/summary-detail/api.mdx
  packages/paste-website/src/pages/components/summary-detail/changelog.mdx
  packages/paste-website/src/pages/components/summary-detail/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3758 feat(website): add new homepage design to paste.twilio.design/new
  .changeset/sweet-panthers-float.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/LogoPasteIcon.tsx
  packages/paste-icons/svg/LogoPaste.svg
  packages/paste-website/public/images/avatars/token1.png
  packages/paste-website/public/images/avatars/token2.png
  packages/paste-website/public/images/avatars/token3.png
  packages/paste-website/public/images/avatars/token4.png
  packages/paste-website/src/assets/illustrations/figma-logo.svg
  packages/paste-website/src/assets/illustrations/footer_img.svg
  packages/paste-website/src/assets/illustrations/illo_design-tool.svg
  packages/paste-website/src/assets/illustrations/puzzle_illo.svg
  packages/paste-website/src/assets/illustrations/react-logo.svg
  packages/paste-website/src/assets/illustrations/token_colors.svg
  packages/paste-website/src/assets/illustrations/ts-logo.svg
  packages/paste-website/src/components/homepage/Accessibility.tsx
  packages/paste-website/src/components/homepage/BouncyAnchor.tsx
  packages/paste-website/src/components/homepage/CommunityOfBuilders.tsx
  packages/paste-website/src/components/homepage/DesignEfficiency.tsx
  packages/paste-website/src/components/homepage/ForTwilioCustomers.tsx
  packages/paste-website/src/components/homepage/NewHomeHero.tsx
  packages/paste-website/src/components/homepage/NewSection.tsx
  packages/paste-website/src/components/homepage/SearchBox.tsx
  packages/paste-website/src/components/homepage/SectionSeparator.tsx
  packages/paste-website/src/components/homepage/Templates.tsx
  packages/paste-website/src/components/homepage/Themeable.tsx
  packages/paste-website/src/components/homepage/WeDoTheThinking.tsx
  packages/paste-website/src/components/homepage/WhatsNew.tsx
  packages/paste-website/src/components/homepage/component-showcase/ColumnOneShowcase.tsx
  packages/paste-website/src/components/homepage/component-showcase/ColumnTwoShowcase.tsx
  packages/paste-website/src/components/homepage/component-showcase/ComboboxShowcase.tsx
  packages/paste-website/src/components/homepage/component-showcase/ProgressStepsShowcase.tsx
  packages/paste-website/src/components/homepage/component-showcase/index.tsx
  packages/paste-website/src/components/icons/CircleIcon.tsx
  packages/paste-website/src/components/icons/HeartDoodleIcon.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterNav.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/index.tsx
  packages/paste-website/src/pages/index.tsx
  packages/paste-website/src/pages/new/index.tsx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Status: Do Not Merge, size:XL, lgtm

#3761 feat: year in review blog
  cypress/integration/site-search/index.spec.ts
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2023-year-review/docs.png
  packages/paste-website/src/assets/images/articles/2023-year-review/form.png
  packages/paste-website/src/assets/images/articles/2023-year-review/language.png
  packages/paste-website/src/assets/images/articles/2023-year-review/layout.png
  packages/paste-website/src/assets/images/articles/2023-year-review/numbers.png
  packages/paste-website/src/assets/images/articles/2023-year-review/tabsandstuff.png
  packages/paste-website/src/assets/images/articles/2023-year-review/templates.png
  packages/paste-website/src/assets/images/articles/2023-year-review/theme.png
  packages/paste-website/src/assets/images/articles/2023-year-review/type.png
  packages/paste-website/src/pages/blog/2024-02-06-paste-2023-year-in-review.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3769 feat: track assistant usage in slack
  apps/backend/supabase/migrations/20240210004614_simple-thread-storage.sql
  apps/backend/supabase/schema.gen.ts
  packages/paste-website/src/components/assistant/AssistantMarkdown.tsx
  packages/paste-website/src/pages/api/paste-assistant-message.ts
  packages/paste-website/src/pages/api/paste-assistant-thread/[tid].ts
  packages/paste-website/src/pages/api/paste-assistant-thread/index.ts
  packages/paste-website/src/pages/api/post-to-slack.ts
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3770 fix: better assistant error handling for older threads
  packages/paste-website/src/pages/api/paste-assistant-message.ts
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#3779 chore: wrap try/catch around airtable data fetch for better debugging
  packages/paste-website/scripts/fetch-data.mjs
Labels: Area: Doc Site, Status: Do Not Merge, size:S, lgtm

#3764 chore(website): update site wrapper design, new homepage
  packages/paste-website/src/components/customization-landing-page/WhyPaste.tsx
  packages/paste-website/src/components/homepage/Accessibility.tsx
  packages/paste-website/src/components/homepage/CommunityOfBuilders.tsx
  packages/paste-website/src/components/homepage/DesignEfficiency.tsx
  packages/paste-website/src/components/homepage/NewHomeHero.tsx
  packages/paste-website/src/components/homepage/NewSection.tsx
  packages/paste-website/src/components/homepage/Templates.tsx
  packages/paste-website/src/components/homepage/Themeable.tsx
  packages/paste-website/src/components/icons/NewHeartDoodleIcon.tsx
  packages/paste-website/src/components/site-wrapper-new/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper-new/SiteMain.tsx
  packages/paste-website/src/components/site-wrapper-new/index.tsx
  packages/paste-website/src/components/site-wrapper-new/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper-new/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper-new/site-footer/SiteFooterHeader.tsx
  packages/paste-website/src/components/site-wrapper-new/site-footer/SiteFooterIllustration.tsx
  packages/paste-website/src/components/site-wrapper-new/site-footer/SiteFooterNav.tsx
  packages/paste-website/src/components/site-wrapper-new/site-footer/index.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/DarkModeToggle.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/FigmaButton.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/HamburgerToggle.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/SiteHeaderLogo.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/SiteHeaderSearch.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/index.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/new/index.tsx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#3778 feat: expand context discussions bot has for answers by including discussion answers
  packages/paste-website/src/pages/api/ai.ts
  packages/paste-website/src/pages/api/paste-assistant-simple-completion.ts
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3777 chore: update internal docs
  internal-docs/engineering/doc-site/docsearch.md
  internal-docs/engineering/doc-site/paste-assistant.md
  internal-docs/engineering/environment-variables.md
Labels: Status: Do Not Merge, size:L, lgtm

#3773 Homepage design update 3
  .changeset/brave-forks-care.md
  packages/paste-core/components/skeleton-loader/type-docs.json
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/border-radius.yml
  packages/paste-design-tokens/tokens/global/border-radius.yml
  packages/paste-website/public/images/avatars/entity-avatar.png
  packages/paste-website/src/assets/illustrations/DoodleLoopFooterSide.tsx
  packages/paste-website/src/assets/illustrations/NewDoodleLoop.tsx
  packages/paste-website/src/assets/images/acme.png
  packages/paste-website/src/components/homepage/Accessibility.tsx
  packages/paste-website/src/components/homepage/BouncyAnchor.tsx
  packages/paste-website/src/components/homepage/CommunityOfBuilders.tsx
  packages/paste-website/src/components/homepage/DesignEfficiency.tsx
  packages/paste-website/src/components/homepage/ForTwilioCustomers.tsx
  packages/paste-website/src/components/homepage/NewHomeHero.tsx
  packages/paste-website/src/components/homepage/NewSection.tsx
  packages/paste-website/src/components/homepage/SectionContainer.tsx
  packages/paste-website/src/components/homepage/SectionSeparator.tsx
  packages/paste-website/src/components/homepage/Templates.tsx
  packages/paste-website/src/components/homepage/Themeable.tsx
  packages/paste-website/src/components/homepage/ThemeableBuilder.tsx
  packages/paste-website/src/components/homepage/WeDoTheThinking.tsx
  packages/paste-website/src/components/homepage/WhatsNew.tsx
  packages/paste-website/src/components/homepage/component-showcase/ColumnTwoShowcase.tsx
  packages/paste-website/src/components/homepage/component-showcase/ProgressStepsShowcase.tsx
  packages/paste-website/src/components/homepage/component-showcase/RowOneShowcase.tsx
  packages/paste-website/src/components/homepage/component-showcase/index.tsx
  packages/paste-website/src/components/site-wrapper-new/site-footer/index.tsx
  packages/paste-website/src/pages/new/index.tsx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Primitives, 🕵🏻‍♀️ Run website visual regression, size:XXL

#3788 feat: branding and marketing related updates
  .changeset/four-walls-lick.md
  .changeset/swift-lobsters-prove.md
  .changeset/thirty-poets-notice.md
  packages/paste-core/components/heading/__tests__/heading.test.tsx
  packages/paste-core/components/heading/src/Heading.tsx
  packages/paste-core/components/spinner/type-docs.json
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-core/primitives/text/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/background-color.yml
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ArtificialIntelligenceIcon.tsx
  packages/paste-icons/src/AvailableIcon.tsx
  packages/paste-icons/src/ProductSendGridIcon.tsx
  packages/paste-icons/svg/ArtificialIntelligence.svg
  packages/paste-icons/svg/Available.svg
  packages/paste-icons/svg/ProductSendGrid.svg
  packages/paste-website/src/components/ContactUsMenu.tsx
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/homepage/NewSection.tsx
  packages/paste-website/src/components/homepage/WhatsNew.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/AssistantLink.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/index.tsx
  packages/paste-website/src/components/site-wrapper/site-header/AssistantLink.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeToggle.tsx
  packages/paste-website/src/components/site-wrapper/site-header/index.tsx
Labels: Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge, Area: Tokens, Area: Primitives, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3789 chore(website): next round of website redesign updates
  packages/paste-website/scripts/fetch-data.mjs
  packages/paste-website/src/assets/illustrations/token_colors.svg
  packages/paste-website/src/assets/images/templates/objects-list.png
  packages/paste-website/src/assets/images/templates/overview.png
  packages/paste-website/src/assets/images/templates/settings.png
  packages/paste-website/src/assets/images/templates/wizard.png
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/components/homepage/Accessibility.tsx
  packages/paste-website/src/components/homepage/DesignEfficiency.tsx
  packages/paste-website/src/components/homepage/Experiment.tsx
  packages/paste-website/src/components/homepage/ExperimentMobileButton.tsx
  packages/paste-website/src/components/homepage/ForTwilioCustomers.tsx
  packages/paste-website/src/components/homepage/GetStarted.tsx
  packages/paste-website/src/components/homepage/GetStartedCard.tsx
  packages/paste-website/src/components/homepage/GetStartedCardIllustration.tsx
  packages/paste-website/src/components/homepage/GetStartedCardLink.tsx
  packages/paste-website/src/components/homepage/GetStartedCardLinks.tsx
  packages/paste-website/src/components/homepage/GetStartedInclusive.tsx
  packages/paste-website/src/components/homepage/GetStartedRunning.tsx
  packages/paste-website/src/components/homepage/GetStartedWhy.tsx
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/homepage/NewHomeHero.tsx
  packages/paste-website/src/components/homepage/NewSection.tsx
  packages/paste-website/src/components/homepage/SectionSeparator.tsx
  packages/paste-website/src/components/homepage/Templates.tsx
  packages/paste-website/src/components/homepage/Themeable.tsx
  packages/paste-website/src/components/homepage/ThemeableBuilder.tsx
  packages/paste-website/src/components/homepage/ThemeableBuilderCodeSnippets.ts
  packages/paste-website/src/components/homepage/component-showcase/ColumnOneShowcase.tsx
  packages/paste-website/src/components/homepage/component-showcase/index.tsx
  packages/paste-website/src/components/site-wrapper-new/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper-new/SiteMain.tsx
  packages/paste-website/src/components/site-wrapper-new/index.tsx
  packages/paste-website/src/components/site-wrapper-new/sidebar/SidebarAnchor.tsx
  packages/paste-website/src/components/site-wrapper-new/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/components/site-wrapper-new/site-footer/SiteFooterHeader.tsx
  packages/paste-website/src/components/site-wrapper-new/site-footer/SiteFooterIllustration.tsx
  packages/paste-website/src/components/site-wrapper-new/site-footer/SiteFooterNav.tsx
  packages/paste-website/src/components/site-wrapper-new/site-footer/index.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/AssistantLink.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/DarkModeToggle.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/FigmaButton.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/HamburgerToggle.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/SiteHeaderLogo.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/SiteHeaderSearch.tsx
  packages/paste-website/src/components/site-wrapper-new/site-header/index.tsx
  packages/paste-website/src/components/site-wrapper/SiteBody.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterHeader.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterIllustration.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterNav.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterTopAngle.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/index.tsx
  packages/paste-website/src/components/site-wrapper/site-header/DarkModeToggle.tsx
  packages/paste-website/src/components/site-wrapper/site-header/index.tsx
  packages/paste-website/src/pages/index.tsx
  packages/paste-website/src/pages/new/index.tsx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm
