Repository twilio-labs/paste, pull requests merged in 2024-07, with the labels that each got.

#3963 feat(ai-chat-log): Adding docs for new component
  .changeset/pretty-melons-punch.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/ai-chat-log/CHANGELOG.md
  packages/paste-core/components/ai-chat-log/package.json
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/AIChatLogExamples.ts
  packages/paste-website/src/pages/components/ai-chat-log/api.mdx
  packages/paste-website/src/pages/components/ai-chat-log/changelog.mdx
  packages/paste-website/src/pages/components/ai-chat-log/index.mdx
  packages/paste-website/src/pages/components/chat-composer/api.mdx
  packages/paste-website/src/pages/components/chat-log/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#3966 fix(website): change title case guideline to sentence case
  internal-docs/process/icon-requests.md
  packages/paste-website/src/pages/foundations/typography/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3970 Update distributed-work-code-of-conduct.md
  internal-docs/team/distributed-work-code-of-conduct.md
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3976 chore(eng-docs): add docs for knowledge gaps
  apps/backend/package.json
  internal-docs/engineering/doc-site/docsearch.md
  internal-docs/engineering/doc-site/generating-embeddings.md
  internal-docs/engineering/publishing-npm-package.md
  plopfile.js
  tools/plop-templates/CHANGELOG.hbs
Labels: Area: Infrastructure, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#3968 Update designer-workflow.md
  internal-docs/design/designer-workflow.md
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3981 chore(docs/chat-composer): Update the documentation for the new Chat Composer elements
  .changeset/cold-apes-leave.md
  packages/paste-core/components/ai-chat-log/stories/composer.stories.tsx
  packages/paste-core/components/chat-composer/src/ChatComposerAttachmentGroup.tsx
  packages/paste-core/components/chat-composer/stories/logs.stories.tsx
  packages/paste-core/components/chat-composer/type-docs.json
  packages/paste-website/src/component-examples/ChatComposerExamples.tsx
  packages/paste-website/src/pages/components/ai-chat-log/api.mdx
  packages/paste-website/src/pages/components/ai-chat-log/changelog.mdx
  packages/paste-website/src/pages/components/ai-chat-log/index.mdx
  packages/paste-website/src/pages/components/chat-composer/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#3975 chore(website): update PII link
  packages/paste-website/src/pages/foundations/content/voice-and-tone/index.mdx
  packages/paste-website/src/pages/patterns/privacy/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#3987 feat(tokens): add notification tokens
  .changeset/three-terms-teach.md
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-core/primitives/text/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
Labels: Type: Tests, Area: Tokens, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#3993 feat(badge): add notification variant
  .changeset/smooth-gorillas-care.md
  .eslintrc.js
  packages/paste-core/components/badge/src/constants.ts
  packages/paste-core/components/badge/src/styles.ts
  packages/paste-core/components/badge/stories/index.stories.tsx
  packages/paste-core/components/badge/type-docs.json
  packages/paste-core/components/menu/type-docs.json
  packages/paste-core/components/popover/type-docs.json
  packages/paste-core/components/side-panel/type-docs.json
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3989 feat(tokens): add ui sizing tokens
  .changeset/pink-cooks-vanish.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/sizing.yml
  packages/paste-design-tokens/tokens/global/sizing.yml
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
  packages/paste-website/stories/TokenCard.stories.tsx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Tokens, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#3978 Pill Variant Large
  .changeset/strange-paws-smell.md
  packages/paste-core/components/form-pill-group/src/FormPillButton.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/index.tsx
  packages/paste-core/components/form-pill-group/src/types.ts
  packages/paste-core/components/form-pill-group/src/useFormPillState.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
  packages/paste-core/components/form-pill-group/type-docs.json
  packages/paste-website/src/component-examples/FormPillGroup.tsx
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4000 avatar-size-user-dialog
  .changeset/khaki-rocks-fix.md
  packages/paste-core/components/user-dialog/src/UserDialog.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#3996 chore: add selection methods section to form docs
  packages/paste-website/src/pages/components/form/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3997 chore(collaboration): added script to resolve typedoc issue
  internal-docs/engineering/developing-locally.md
  package.json
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4002 feat(side-panel): add SidePanelFooter
  .changeset/new-fans-call.md
  .changeset/nine-geese-end.md
  .changeset/real-flowers-turn.md
  .changeset/tasty-rats-sniff.md
  .changeset/tiny-badgers-rush.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/ai-chat-log/src/AIChatLog.tsx
  packages/paste-core/components/ai-chat-log/stories/composer.stories.tsx
  packages/paste-core/components/chat-composer/src/ChatComposerContainer.tsx
  packages/paste-core/components/side-modal/src/SideModalHeader.tsx
  packages/paste-core/components/side-panel/src/SidePanelBody.tsx
  packages/paste-core/components/side-panel/src/SidePanelFooter.tsx
  packages/paste-core/components/side-panel/src/SidePanelHeader.tsx
  packages/paste-core/components/side-panel/src/SidePanelHeaderActions.tsx
  packages/paste-core/components/side-panel/src/index.tsx
  packages/paste-core/components/side-panel/src/types.ts
  packages/paste-core/components/side-panel/stories/components/SidePanelWithAIContent.tsx
  packages/paste-core/components/side-panel/stories/components/SidePanelWithContent.tsx
  packages/paste-core/components/side-panel/stories/components/SidePanelWithFilterContent.tsx
  packages/paste-core/components/side-panel/stories/index.stories.tsx
  packages/paste-core/components/side-panel/type-docs.json
  packages/paste-website/src/component-examples/SideModalExamples.ts
  packages/paste-website/src/pages/components/side-panel/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#3994 feat(website): ai experience
  .changeset/chatty-garlics-rest.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/chat-composer/src/ChatComposerContainer.tsx
  packages/paste-website/next.config.mjs
  packages/paste-website/scripts/fetch-data.mjs
  packages/paste-website/src/assets/images/experiences/navigation-pattern.png
  packages/paste-website/src/assets/images/experiences/navigation-sidebar.png
  packages/paste-website/src/assets/images/experiences/navigation-topbar.png
  packages/paste-website/src/assets/images/experiences/navigation-wireframe.png
  packages/paste-website/src/assets/images/system.png
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/pages/components/switch/index.mdx
  packages/paste-website/src/pages/experiences/artificial-intelligence/index.mdx
  packages/paste-website/src/pages/experiences/index.mdx
  packages/paste-website/src/pages/experiences/navigation/index.mdx
  packages/paste-website/src/utils/DataUtils.ts
  packages/paste-website/src/utils/RouteUtils.ts
  packages/paste-website/src/utils/__tests__/DataUtils.spec.ts
  packages/paste-website/src/utils/api.ts
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4003 Pill large dismiss
  .changeset/small-turkeys-change.md
  packages/paste-core/components/form-pill-group/src/FormPillButton.tsx
  packages/paste-core/components/form-pill-group/src/PillCloseIcon.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4007 feat(blog): add post for July 2024 release
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2024-07-17-paste-newsletter/ai-ui-kit.gif
  packages/paste-website/src/assets/images/articles/2024-07-17-paste-newsletter/illustrations.png
  packages/paste-website/src/assets/images/articles/2024-07-17-paste-newsletter/joe_fehrman.png
  packages/paste-website/src/assets/images/articles/2024-07-17-paste-newsletter/kristian.png
  packages/paste-website/src/assets/images/articles/2024-07-17-paste-newsletter/marketing-card.png
  packages/paste-website/src/assets/images/articles/2024-07-17-paste-newsletter/ordered-display-list.png
  packages/paste-website/src/assets/images/articles/2024-07-17-paste-newsletter/page-header.png
  packages/paste-website/src/assets/images/articles/2024-07-17-paste-newsletter/roxana.png
  packages/paste-website/src/assets/images/articles/2024-07-17-paste-newsletter/shoaib.png
  packages/paste-website/src/assets/images/articles/2024-07-17-paste-newsletter/summary-detail.gif
  packages/paste-website/src/components/ResponsiveBorderedImage.tsx
  packages/paste-website/src/pages/blog/2024-07-17-paste-newsletter.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4006 feat(icons): add new icons
  .changeset/poor-bananas-tell.md
  package.json
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/RCSCapableIcon.tsx
  packages/paste-icons/src/SupportRequestIcon.tsx
  packages/paste-icons/svg/RCSCapable.svg
  packages/paste-icons/svg/SupportRequest.svg
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm
