Repository twilio-labs/paste, pull requests merged in 2024-04, with the labels that each got.

#3841 fix(codeblock): fix flushsync error
  .changeset/small-lamps-flow.md
  packages/paste-core/components/code-block/src/CopyButton.tsx
Labels: Area: Components, 🕵🏻‍♀️ Run website visual regression, size:S

#3835 feat(list): add OrderedDisplayList component
  .changeset/fifty-pandas-joke.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/list/__tests__/index.spec.tsx
  packages/paste-core/components/list/package.json
  packages/paste-core/components/list/src/display/OrderedDisplayList.tsx
  packages/paste-core/components/list/src/display/OrderedDisplayListContext.tsx
  packages/paste-core/components/list/src/display/OrderedDisplayListHeading.tsx
  packages/paste-core/components/list/src/display/OrderedDisplayListItem.tsx
  packages/paste-core/components/list/src/index.tsx
  packages/paste-core/components/list/src/types.ts
  packages/paste-core/components/list/stories/orderedDisplayList.stories.tsx
  packages/paste-core/components/list/type-docs.json
  yarn.lock
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, size:XXL, lgtm

#3834 chore: fix safari spinner bug
  .changeset/stupid-hats-check.md
  packages/paste-core/components/spinner/src/Spinner.tsx
  packages/paste-core/components/spinner/src/keyframes.tsx
  packages/paste-core/components/spinner/src/styled.tsx
Labels: Area: Components, Status: Do Not Merge, size:M

#3852 chore: add progress steps link to pagination docs
  packages/paste-website/src/pages/components/pagination/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge, size:XS, lgtm

#3846 fix(modal): improve padding on ModalBody and ModalFooter
  .changeset/thin-lobsters-pretend.md
  packages/paste-core/components/modal/src/ModalBody.tsx
  packages/paste-core/components/modal/src/ModalFooter.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3849 fix: error pattern link typo
  packages/paste-website/src/pages/patterns/empty-state/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#3853 docs: update Illustration Foundation page
  packages/paste-website/public/images/illustrations-foundation/Twilio-homepage.png
  packages/paste-website/public/images/illustrations-foundation/customization-grid-a.png
  packages/paste-website/public/images/illustrations-foundation/customization-grid-b.png
  packages/paste-website/public/images/illustrations-foundation/customization-grid-c.png
  packages/paste-website/public/images/illustrations-foundation/customization-grid-d.png
  packages/paste-website/public/images/illustrations-foundation/customization.png
  packages/paste-website/public/images/illustrations-foundation/empty-state.png
  packages/paste-website/public/images/illustrations-foundation/error-state.png
  packages/paste-website/public/images/illustrations-foundation/highlight.png
  packages/paste-website/public/images/illustrations-foundation/medium-a.png
  packages/paste-website/public/images/illustrations-foundation/medium-b.png
  packages/paste-website/public/images/illustrations-foundation/medium-c.png
  packages/paste-website/public/images/illustrations-foundation/photo-a.png
  packages/paste-website/public/images/illustrations-foundation/photo-b.png
  packages/paste-website/public/images/illustrations-foundation/photo-c.png
  packages/paste-website/public/images/illustrations-foundation/spot-a.png
  packages/paste-website/public/images/illustrations-foundation/spot-b.png
  packages/paste-website/public/images/illustrations-foundation/spot-c.png
  packages/paste-website/public/images/illustrations-foundation/welcome-get-started.png
  packages/paste-website/src/pages/foundations/illustrations/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L

#3867 chore(docs): add space to callout in Toast
  packages/paste-website/src/pages/components/toast/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#3805 chore: update list docs and add section to progress steps docs
  .changeset/sour-ants-try.md
  packages/paste-core/components/list/src/display/OrderedDisplayListItem.tsx
  packages/paste-core/components/list/stories/orderedDisplayList.stories.tsx
  packages/paste-website/src/components/homepage/DesignEfficiency.tsx
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/components/progress-steps/index.mdx
  packages/paste-website/src/pages/page-templates/wizard/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3886 fix(side-modal): fix position when using state hook
  .changeset/yellow-rabbits-tie.md
  packages/paste-core/components/side-modal/src/index.tsx
  packages/paste-website/src/component-examples/TooltipPrimitiveExamples.ts
  packages/paste-website/src/pages/primitives/tooltip-primitive/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Status: Do Not Merge, size:M, lgtm

#3885 feat(website): add icon request batching info
  packages/paste-website/src/pages/introduction/contributing/icons/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm
