Repository twilio-labs/paste, pull requests merged in 2024-09, with the labels that each got.

#4052 Implement 'Add Filters' example for filter pattern
  packages/paste-website/src/component-examples/filter/components/CustomDateFilterGroup.tsx
  packages/paste-website/src/component-examples/filter/components/DefaultFilter.tsx
  packages/paste-website/src/component-examples/filter/components/ExtendedDataGrid.tsx
  packages/paste-website/src/component-examples/filter/components/FilterPill.tsx
  packages/paste-website/src/component-examples/filter/components/SampleDataGrid.tsx
  packages/paste-website/src/component-examples/filter/components/filters/AddFilters.tsx
  packages/paste-website/src/component-examples/filter/components/filters/CustomFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/DepartmentFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/HostNameFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/PlatformFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/RoomSidFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/RoomTypeFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/StatusFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/TagsFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/UniqueNameFilter.tsx
  packages/paste-website/src/component-examples/filter/constants.ts
  packages/paste-website/src/component-examples/filter/helpers.ts
  packages/paste-website/src/component-examples/filter/types.ts
  packages/paste-website/src/pages/patterns/filter/index.mdx
  packages/paste-website/stories/Filter.stories.tsx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4047 fix(form-pill): fix issues where pill text not being truncated
  .changeset/violet-cows-share.md
  .changeset/warm-zoos-kick.md
  packages/paste-core/components/combobox/package.json
  packages/paste-core/components/combobox/src/singleselect/Combobox.tsx
  packages/paste-core/components/combobox/stories/Combobox.stories.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox.stories.tsx
  packages/paste-core/components/form-pill-group/package.json
  packages/paste-core/components/form-pill-group/src/FormPill.tsx
  packages/paste-core/components/form-pill-group/src/FormPillButton.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
  packages/paste-core/components/popover/package.json
  yarn.lock
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4056 chore: small updates
  internal-docs/process/epic-template.md
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/combobox/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4053 feat(data-viz): highcharts a11y
  .changeset/tiny-colts-attack.md
  packages/paste-libraries/data-visualization/__test__/__snapshots__/index.spec.tsx.snap
  packages/paste-libraries/data-visualization/__test__/modules.spec.tsx
  packages/paste-libraries/data-visualization/src/applyPasteHighchartsModules.tsx
  packages/paste-libraries/data-visualization/src/index.tsx
  packages/paste-libraries/data-visualization/stories/index.stories.tsx
  packages/paste-libraries/data-visualization/stories/options/lineChartOptions.ts
  packages/paste-website/src/component-examples/DataVisualizationExamples.tsx
  packages/paste-website/src/components/shortcodes/normalized-component-header/index.tsx
  packages/paste-website/src/pages/core/libraries/data-visualization/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
  packages/paste-website/src/pages/primitives/combobox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/disclosure-primitive/index.mdx
  packages/paste-website/src/pages/primitives/listbox-primitive/index.mdx
  packages/paste-website/src/pages/primitives/menu-primitive/index.mdx
  packages/paste-website/src/pages/primitives/modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/non-modal-dialog-primitive/index.mdx
  packages/paste-website/src/pages/primitives/tabs-primitive/index.mdx
  packages/paste-website/src/pages/primitives/tooltip-primitive/index.mdx
  packages/paste-website/src/pages/tokens/design-tokens-package/index.mdx
  packages/paste-website/src/utils/api.ts
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4058 fix(toast): fix for multiple toast dismiss
  .changeset/curly-ants-report.md
  packages/paste-core/components/toast/src/useToaster.ts
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4046 feat(blog): added initial blog entry for 2024 Aug
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2024-08-23-paste-newsletter/andres-cortez.png
  packages/paste-website/src/assets/images/articles/2024-08-23-paste-newsletter/corner-ornament.png
  packages/paste-website/src/assets/images/articles/2024-08-23-paste-newsletter/figma-typography.gif
  packages/paste-website/src/assets/images/articles/2024-08-23-paste-newsletter/filters-pattern.gif
  packages/paste-website/src/assets/images/articles/2024-08-23-paste-newsletter/paste-mate-2024-08.png
  packages/paste-website/src/components/ResponsiveBorderedImage.tsx
  packages/paste-website/src/pages/blog/2024-08-23-paste-newsletter.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4011 Sidebar disclosure color
  .changeset/long-moons-worry.md
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigationDisclosureHeading.tsx
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site, Area: Components, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4060 feact(alert/callout): design update
  .changeset/mean-houses-learn.md
  .changeset/neat-weeks-rhyme.md
  .changeset/plenty-rockets-study.md
  packages/paste-core/components/alert/src/Alert.tsx
  packages/paste-core/components/callout/__tests__/index.spec.tsx
  packages/paste-core/components/callout/package.json
  packages/paste-core/components/callout/src/Callout.tsx
  packages/paste-core/components/callout/stories/index.stories.tsx
  packages/paste-core/components/callout/type-docs.json
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/border-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/text-color.yml
  packages/paste-website/src/pages/components/callout/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4063 fix(corner-ornament): copy issue
  packages/paste-website/src/pages/components/corner-ornament/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, lgtm

#4059 chore: update objects list template to use filter pattern
  packages/paste-website/src/pages/page-templates/object-details/index.mdx
  packages/paste-website/src/pages/page-templates/objects-list/index.mdx
  packages/paste-website/src/pages/page-templates/settings/index.mdx
  packages/paste-website/src/pages/page-templates/wizard/index.mdx
  packages/paste-website/stories/PageTemplates.stories.tsx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4062 feat(docs): update Callout and Alert guidelines
  packages/paste-website/src/assets/images/patterns/create-anchor.png
  packages/paste-website/src/assets/images/patterns/notifications-alert@3x.png
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/callout/index.mdx
  packages/paste-website/src/pages/components/page-header/index.mdx
  packages/paste-website/src/pages/patterns/notifications-and-feedback/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4054 feat(timeline): create package
  .changeset/famous-experts-speak.md
  .changeset/late-vans-do.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/timeline/CHANGELOG.md
  packages/paste-core/components/timeline/__tests__/index.spec.tsx
  packages/paste-core/components/timeline/build.js
  packages/paste-core/components/timeline/package.json
  packages/paste-core/components/timeline/src/Timeline.tsx
  packages/paste-core/components/timeline/src/TimelineContext.tsx
  packages/paste-core/components/timeline/src/TimelineItem.tsx
  packages/paste-core/components/timeline/src/TimelineItemCollapsible.tsx
  packages/paste-core/components/timeline/src/TimelineItemGroup.tsx
  packages/paste-core/components/timeline/src/TimelineItemIcon.tsx
  packages/paste-core/components/timeline/src/index.tsx
  packages/paste-core/components/timeline/src/types.ts
  packages/paste-core/components/timeline/stories/index.stories.tsx
  packages/paste-core/components/timeline/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/timeline.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4070 feat(combobox docs): add no-chevron reasoning
  packages/paste-website/src/pages/components/combobox/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4072 chore(badge): add min-width to small badge
  .changeset/eleven-wombats-sniff.md
  packages/paste-core/components/badge/src/Badge.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4075 docs(checkbox, radio-group): add suffix section
  packages/paste-website/src/component-examples/RadioGroupExamples.ts
  packages/paste-website/src/pages/components/checkbox/index.mdx
  packages/paste-website/src/pages/components/radio-group/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4077 feat(timeline): add docs
  .changeset/proud-months-melt.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/timeline/src/TimelineItem.tsx
  packages/paste-core/components/timeline/type-docs.json
  packages/paste-website/package.json
  packages/paste-website/src/assets/images/timeline-infinite.png
  packages/paste-website/src/component-examples/TimelineExamples.ts
  packages/paste-website/src/pages/components/timeline/api.mdx
  packages/paste-website/src/pages/components/timeline/changelog.mdx
  packages/paste-website/src/pages/components/timeline/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4065 feat(progress-steps): add ProgressStepsContent
  .changeset/cyan-hats-provide.md
  .changeset/nice-cats-leave.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/progress-steps/__tests__/index.spec.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepComplete.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepContent.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepCurrent.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepError.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepIncomplete.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepSeparator.tsx
  packages/paste-core/components/progress-steps/src/ProgressSteps.tsx
  packages/paste-core/components/progress-steps/src/index.tsx
  packages/paste-core/components/progress-steps/stories/horizontal.stories.tsx
  packages/paste-core/components/progress-steps/stories/vertical.stories.tsx
  packages/paste-core/components/progress-steps/type-docs.json
  packages/paste-website/src/component-examples/ProgressStepsExamples.ts
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/components/progress-steps/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#4079 chore: add pattern exploration jira template
  CONTRIBUTING.md
  internal-docs/process/epic-template.md
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4088 fix(cypress): fix issue with cypress and vercel previews
  cypress/integration/sidebar-navigation/index.spec.ts
Labels: Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4083 fix(nav): docs site navigation
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderLogo.tsx
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderSearch.tsx
Labels: Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm
