Repository twilio-labs/paste, pull requests merged in 2024-06, with the labels that each got.

#3935 chore(docs): fix typos on customization docs
  packages/paste-website/src/pages/customization/creating-a-custom-theme.mdx
  packages/paste-website/src/pages/customization/customization-provider.mdx
  packages/paste-website/src/pages/inclusive-design/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3933 chore: fix scroll down behavior
  packages/paste-website/src/component-examples/MultiselectComboboxExamples.ts
Labels: Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#3940 feat(docs): add warning to customization docs for twilio employees
  packages/paste-website/src/pages/customization/customization-provider.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3927 feat(ai-chat-log): add new AI Chat Log components
  .changeset/eighty-seas-sit.md
  .changeset/forty-clouds-clean.md
  .changeset/pretty-melons-punch.md
  .changeset/seven-otters-boil.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/ai-chat-log/__tests__/AIChatLogger.spec.tsx
  packages/paste-core/components/ai-chat-log/__tests__/aiChatLog.spec.tsx
  packages/paste-core/components/ai-chat-log/__tests__/useAIChatLogger.spec.tsx
  packages/paste-core/components/ai-chat-log/build.js
  packages/paste-core/components/ai-chat-log/package.json
  packages/paste-core/components/ai-chat-log/src/AIChatLog.tsx
  packages/paste-core/components/ai-chat-log/src/AIChatLogger.tsx
  packages/paste-core/components/ai-chat-log/src/AIChatMessage.tsx
  packages/paste-core/components/ai-chat-log/src/AIChatMessageActionCard.tsx
  packages/paste-core/components/ai-chat-log/src/AIChatMessageActionGroup.tsx
  packages/paste-core/components/ai-chat-log/src/AIChatMessageAuthor.tsx
  packages/paste-core/components/ai-chat-log/src/AIChatMessageBody.tsx
  packages/paste-core/components/ai-chat-log/src/AIChatMessageLoading.tsx
  packages/paste-core/components/ai-chat-log/src/AIMessageContext.tsx
  packages/paste-core/components/ai-chat-log/src/index.tsx
  packages/paste-core/components/ai-chat-log/src/useAIChatLogger.tsx
  packages/paste-core/components/ai-chat-log/stories/aiChatLog.stories.tsx
  packages/paste-core/components/ai-chat-log/stories/composer.stories.tsx
  packages/paste-core/components/ai-chat-log/stories/parts.stories.tsx
  packages/paste-core/components/ai-chat-log/stories/useAIChatLogger.stories.tsx
  packages/paste-core/components/ai-chat-log/tsconfig.json
  packages/paste-core/components/ai-chat-log/type-docs.json
  packages/paste-core/components/button-group/src/ButtonGroup.tsx
  packages/paste-core/components/button-group/stories/index.stories.tsx
  packages/paste-core/components/button/src/Button.tsx
  packages/paste-core/components/button/src/styles.ts
  packages/paste-core/components/button/stories/index.stories.tsx
  packages/paste-core/components/chat-log/stories/index.stories.tsx
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/ai-chat-log.tsx
  packages/paste-core/core-bundle/src/index.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#3953 chore: small change for testing vercel
  packages/paste-website/src/pages/components/account-switcher/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge, size:XS, lgtm
