Repository twilio-labs/paste, pull requests merged in 2024-08, with the labels that each got.

#4020 fix(checkbox): expose helpText on CheckboxDisclaimer
  .changeset/short-years-taste.md
  packages/paste-core/components/checkbox/src/CheckboxDisclaimer.tsx
  packages/paste-core/components/checkbox/stories/checkbox.stories.tsx
  packages/paste-core/components/checkbox/type-docs.json
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4009 feat(corner-ornament): adds new component for corner ornament
  .changeset/giant-spiders-remember.md
  .changeset/sharp-sloths-bake.md
  .changeset/smart-berries-play.md
  .changeset/warm-snakes-grow.md
  .codesandbox/ci.json
  .eslintrc.js
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/corner-ornament/CHANGELOG.md
  packages/paste-core/components/corner-ornament/__tests__/index.spec.tsx
  packages/paste-core/components/corner-ornament/build.js
  packages/paste-core/components/corner-ornament/package.json
  packages/paste-core/components/corner-ornament/src/CornerOrnament.tsx
  packages/paste-core/components/corner-ornament/src/CornerOrnamentBase.tsx
  packages/paste-core/components/corner-ornament/src/CornerOrnamentContainer.tsx
  packages/paste-core/components/corner-ornament/src/CornerOrnamentContext.tsx
  packages/paste-core/components/corner-ornament/src/index.tsx
  packages/paste-core/components/corner-ornament/src/mappings.tsx
  packages/paste-core/components/corner-ornament/src/types.ts
  packages/paste-core/components/corner-ornament/stories/index.stories.tsx
  packages/paste-core/components/corner-ornament/tsconfig.json
  packages/paste-core/components/corner-ornament/type-docs.json
  packages/paste-core/components/spinner/type-docs.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/corner-ornament.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-core/primitives/text/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/text-color.yml
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/NotificationOrnamentIcon.tsx
  packages/paste-icons/svg/NotificationOrnament.svg
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Primitives, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#4024 Docs/corner ornament
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/CornerOrnamentExamples.ts
  packages/paste-website/src/pages/components/corner-ornament/api.mdx
  packages/paste-website/src/pages/components/corner-ornament/changelog.mdx
  packages/paste-website/src/pages/components/corner-ornament/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4025 Fix theme flash on paste website
  packages/paste-website/src/hooks/useDarkMode.tsx
  packages/paste-website/src/pages/_app.tsx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4026 Fix/button resize plus ai bug
  .changeset/beige-guests-promise.md
  .changeset/warm-suits-cough.md
  packages/paste-core/components/ai-chat-log/src/AIChatMessageAuthor.tsx
  packages/paste-core/components/popover/src/types.ts
  packages/paste-core/components/popover/type-docs.json
  packages/paste-website/src/component-examples/AIChatLogExamples.ts
  packages/paste-website/src/pages/components/ai-chat-log/api.mdx
  packages/paste-website/src/pages/components/ai-chat-log/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4018 feat(popover): add form pill button
  .changeset/five-points-change.md
  .changeset/many-paws-walk.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/form-pill-group/__tests__/index.spec.tsx
  packages/paste-core/components/form-pill-group/src/FormPillButton.tsx
  packages/paste-core/components/form-pill-group/src/FormPillGroup.tsx
  packages/paste-core/components/form-pill-group/src/types.ts
  packages/paste-core/components/form-pill-group/src/useFormPillState.tsx
  packages/paste-core/components/form-pill-group/stories/index.stories.tsx
  packages/paste-core/components/form-pill-group/type-docs.json
  packages/paste-core/components/popover/__tests__/index.spec.tsx
  packages/paste-core/components/popover/package.json
  packages/paste-core/components/popover/src/PopoverFormPillButton.tsx
  packages/paste-core/components/popover/src/index.tsx
  packages/paste-core/components/popover/src/types.ts
  packages/paste-core/components/popover/stories/index.stories.tsx
  packages/paste-core/components/popover/type-docs.json
  packages/paste-website/src/component-examples/FormPillGroup.tsx
  packages/paste-website/src/component-examples/PopoverExamples.ts
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/popover/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4036 chore: remove assistant temporarily
  cypress/integration/api/ai.spec.ts
  packages/paste-website/src/components/site-wrapper/site-header/index.tsx
Labels: Area: Doc Site, Type: Tests, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4035 fix(supabase): use exact package version
  apps/backend/package.json
  apps/backend/supabase/schema.gen.ts
  yarn.lock
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4037 chore(ci): temporarily disable broken actions
  .github/workflows/on_merge_to_main_supabase.yml
  .github/workflows/update_docs_embed.yml
Labels: Area: Infrastructure, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4013 Filter pattern docs
  .vscode/extensions.json
  cypress/integration/filter-group-examples/index.spec.ts
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-website/next.config.mjs
  packages/paste-website/package.json
  packages/paste-website/src/__tests__/filterGroup.test.tsx
  packages/paste-website/src/assets/images/patterns/filter-dynamic.png
  packages/paste-website/src/assets/images/patterns/filter-fetching.png
  packages/paste-website/src/assets/images/patterns/filter-filter_bar.png
  packages/paste-website/src/assets/images/patterns/filter-main.png
  packages/paste-website/src/assets/images/patterns/filter-responsive.png
  packages/paste-website/src/assets/images/patterns/filter-responsive_2.png
  packages/paste-website/src/assets/images/patterns/filter-usage.png
  packages/paste-website/src/component-examples/filter/Examples.tsx
  packages/paste-website/src/component-examples/filter/components/CustomDateFilterGroup.tsx
  packages/paste-website/src/component-examples/filter/components/DateTimePopover.tsx
  packages/paste-website/src/component-examples/filter/components/DefaultFilter.tsx
  packages/paste-website/src/component-examples/filter/components/EmptyState.tsx
  packages/paste-website/src/component-examples/filter/components/ExtendedDataGrid.tsx
  packages/paste-website/src/component-examples/filter/components/FilterAction.tsx
  packages/paste-website/src/component-examples/filter/components/FilterPill.tsx
  packages/paste-website/src/component-examples/filter/components/NoResultsIllustration.tsx
  packages/paste-website/src/component-examples/filter/components/SampleDataGrid.tsx
  packages/paste-website/src/component-examples/filter/components/filters/AddFilters.tsx
  packages/paste-website/src/component-examples/filter/components/filters/CustomFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/DateRangeFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/DepartmentFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/HostNameFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/MoreFilters.tsx
  packages/paste-website/src/component-examples/filter/components/filters/ParticipantsFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/PlatformFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/RoomSidFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/RoomTypeFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/SearchFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/StatusFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/TagsFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/UniqueNameFilter.tsx
  packages/paste-website/src/component-examples/filter/constants.ts
  packages/paste-website/src/component-examples/filter/helpers.ts
  packages/paste-website/src/component-examples/filter/types.ts
  packages/paste-website/src/pages/components/form-pill-group/index.mdx
  packages/paste-website/src/pages/components/popover/index.mdx
  packages/paste-website/src/pages/components/side-panel/index.mdx
  packages/paste-website/src/pages/patterns/filter/index.mdx
  packages/paste-website/stories/Filter.stories.tsx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#4038 chore: replace assistant and add beta language
  cypress/integration/api/ai.spec.ts
  packages/paste-website/src/components/ContactUsMenu.tsx
  packages/paste-website/src/components/assistant/AssistantEmptyState.tsx
  packages/paste-website/src/components/site-wrapper/site-header/index.tsx
Labels: Area: Doc Site, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4042 fix(nx): remove access token. Sets via env variables
  .github/workflows/on_pull_request_package_size.yml
  .github/workflows/on_pull_request_supabase.yml
  .github/workflows/update_docs_embed.yml
  nx.json
Labels: Area: Infrastructure, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4043 Feat(token): Box shadow
  .changeset/wild-kings-tap.md
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/offset.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/box-shadow.yml
Labels: Type: Tests, Area: Tokens, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4049 fix: combobox inside of popover bug
  .changeset/healthy-cobras-whisper.md
  packages/paste-core/components/combobox/src/ListboxPositioner.tsx
  packages/paste-core/components/combobox/src/ListboxWrapper.tsx
  packages/paste-core/components/combobox/src/multiselect/MultiselectCombobox.tsx
  packages/paste-core/components/combobox/src/singleselect/Combobox.tsx
  packages/paste-core/components/combobox/src/types.ts
  packages/paste-core/components/combobox/stories/Combobox.stories.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox.stories.tsx
  packages/paste-core/components/combobox/type-docs.json
  packages/paste-website/src/component-examples/ComboboxExamples.ts
  packages/paste-website/src/component-examples/MultiselectComboboxExamples.ts
  packages/paste-website/src/pages/components/combobox/index.mdx
  packages/paste-website/src/pages/components/multiselect-combobox/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4051 feat(button-group): add justifyContent prop, use flex
  .changeset/tame-games-hammer.md
  packages/paste-core/components/ai-chat-log/stories/aiChatLog.stories.tsx
  packages/paste-core/components/button-group/src/ButtonGroup.tsx
  packages/paste-core/components/button-group/stories/index.stories.tsx
  packages/paste-core/components/button-group/type-docs.json
  packages/paste-website/src/pages/experiences/artificial-intelligence/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, size:L, lgtm
