Repository twilio-labs/paste, pull requests merged in 2024-05, with the labels that each got.

#3884 feat(icons): add new icons
  .changeset/two-jeans-flash.md
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/DataArrayIcon.tsx
  packages/paste-icons/src/DataBooleanIcon.tsx
  packages/paste-icons/src/DataNumberIcon.tsx
  packages/paste-icons/src/DataObjectIcon.tsx
  packages/paste-icons/src/DataStringIcon.tsx
  packages/paste-icons/src/ProductConversationalInsightsIcon.tsx
  packages/paste-icons/svg/DataArray.svg
  packages/paste-icons/svg/DataBoolean.svg
  packages/paste-icons/svg/DataNumber.svg
  packages/paste-icons/svg/DataObject.svg
  packages/paste-icons/svg/DataString.svg
  packages/paste-icons/svg/ProductConversationalInsights.svg
Labels: Status: Do Not Merge, size:L, lgtm

#3893 Adds text color to Tooltip Primitive example
  packages/paste-website/src/component-examples/TooltipPrimitiveExamples.ts
Labels: Area: Doc Site, Status: Do Not Merge, size:XS

#3878 Adding JSDoc for better editor assistance on buttons
  .changeset/gold-boats-explain.md
  packages/paste-core/components/button/src/Button.tsx
  packages/paste-core/components/button/src/types.ts
Labels: size:L, lgtm

#3895 fix(button): fix recent issues
  packages/paste-core/components/button/src/Button.tsx
  packages/paste-core/components/button/src/types.ts
  packages/paste-core/components/button/type-docs.json
  packages/paste-core/components/file-picker/type-docs.json
  packages/paste-core/components/menu/type-docs.json
  packages/paste-core/components/minimizable-dialog/type-docs.json
  packages/paste-core/components/popover/type-docs.json
  packages/paste-core/components/side-modal/type-docs.json
Labels: Area: Components, Status: Do Not Merge, size:M

#3891 chore: fix supabase in ci
  .github/workflows/on_pull_request_supabase.yml
  apps/backend/supabase/schema.gen.ts
  packages/paste-website/src/pages/api/create-component-perf-metric.ts
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Status: Do Not Merge, size:L

#3872 docs: updates to foundational content pages
  packages/paste-website/src/pages/foundations/content/content-checklist/index.mdx
  packages/paste-website/src/pages/foundations/content/index.mdx
  packages/paste-website/src/pages/foundations/content/product-style-guide/index.mdx
  packages/paste-website/src/pages/foundations/content/voice-and-tone/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#3827 feat(side-panel): create package
  .changeset/olive-swans-think.md
  .changeset/seven-steaks-relate.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/side-panel/__tests__/index.spec.tsx
  packages/paste-core/components/side-panel/build.js
  packages/paste-core/components/side-panel/package.json
  packages/paste-core/components/side-panel/src/SidePanel.tsx
  packages/paste-core/components/side-panel/src/SidePanelBadgeButton.tsx
  packages/paste-core/components/side-panel/src/SidePanelBody.tsx
  packages/paste-core/components/side-panel/src/SidePanelButton.tsx
  packages/paste-core/components/side-panel/src/SidePanelContainer.tsx
  packages/paste-core/components/side-panel/src/SidePanelContext.tsx
  packages/paste-core/components/side-panel/src/SidePanelHeader.tsx
  packages/paste-core/components/side-panel/src/SidePanelHeaderActions.tsx
  packages/paste-core/components/side-panel/src/SidePanelPushContentWrapper.tsx
  packages/paste-core/components/side-panel/src/index.tsx
  packages/paste-core/components/side-panel/src/types.ts
  packages/paste-core/components/side-panel/stories/components/MessagingInsightsContent.tsx
  packages/paste-core/components/side-panel/stories/components/SidePanelWithContent.tsx
  packages/paste-core/components/side-panel/stories/components/SidebarWithContent.tsx
  packages/paste-core/components/side-panel/stories/index.stories.tsx
  packages/paste-core/components/side-panel/tsconfig.json
  packages/paste-core/components/side-panel/type-docs.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/side-panel.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#3904 docs: side panel
  .changeset/yellow-geese-sneeze.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/side-panel/CHANGELOG.md
  packages/paste-core/components/side-panel/src/SidePanelHeader.tsx
  packages/paste-core/components/side-panel/stories/components/MessagingInsightsContent.tsx
  packages/paste-core/components/side-panel/stories/components/SidebarWithContent.tsx
  packages/paste-core/components/side-panel/stories/index.stories.tsx
  packages/paste-website/src/pages/components/side-modal/index.mdx
  packages/paste-website/src/pages/components/side-panel/api.mdx
  packages/paste-website/src/pages/components/side-panel/changelog.mdx
  packages/paste-website/src/pages/components/side-panel/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Status: Do Not Merge, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3920 chore: story fixes for a11y flakes
  packages/paste-core/components/side-panel/stories/components/SidebarWithContent.tsx
  packages/paste-core/components/side-panel/stories/index.stories.tsx
Labels: Area: Components, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#3918 on-confirm-disabled-rename
  .changeset/flat-boats-boil.md
  packages/paste-core/components/alert-dialog/src/AlertDialog.tsx
  packages/paste-core/components/alert-dialog/src/AlertDialogFooter.tsx
  packages/paste-core/components/alert-dialog/stories/index.stories.tsx
  packages/paste-core/components/alert-dialog/type-docs.json
Labels: Area: Components, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#3923 chore(SidePanel): fix a11y contrast issue
  packages/paste-core/components/side-panel/stories/index.stories.tsx
Labels: Area: Components, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm
