Repository twilio-labs/paste, pull requests merged in 2024-12, with the labels that each got.

#4167 chore(example-text, blockquote): add docs
  .changeset/rare-gifts-wash.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/blockquote/src/Blockquote.tsx
  packages/paste-core/components/blockquote/stories/index.stories.tsx
  packages/paste-core/components/blockquote/type-docs.json
  packages/paste-core/core-bundle/blockquote/package.json
  packages/paste-website/package.json
  packages/paste-website/src/pages/components/blockquote/api.mdx
  packages/paste-website/src/pages/components/blockquote/changelog.mdx
  packages/paste-website/src/pages/components/blockquote/index.mdx
  packages/paste-website/src/pages/components/example-text/api.mdx
  packages/paste-website/src/pages/components/example-text/changelog.mdx
  packages/paste-website/src/pages/components/example-text/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4175 fix(website): update calculations for percentages
  .changeset/lemon-clouds-hug.md
  apps/vs-code-intellisense/package.json
  apps/vs-code-intellisense/src/test/suite/extension.test.ts
  apps/vs-code-intellisense/src/test/suite/index.ts
  apps/vs-code-intellisense/src/test/suite/utils/rem-to-px.test.ts
  apps/vs-code-intellisense/src/utils/rem-to-px.ts
  packages/paste-design-tokens/utils/remToPx.ts
  packages/paste-theme/__tests__/remToPx.spec.ts
  packages/paste-theme/src/utils/remToPx.ts
  yarn.lock
Labels: Area: Theme, Type: Tests, Area: Tokens, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4173 feat(lecixal): export additional helper functions and commands
  .changeset/slimy-moons-design.md
  packages/paste-libraries/lexical/src/index.tsx
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4178 chore(docs): replace legacy blockquotes with component
  packages/paste-website/src/components/Blockquote.tsx
  packages/paste-website/src/pages/blog/2022-09-23-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2022-10-31-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2022-12-09-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2023-01-27-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2023-11-08-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2024-08-23-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2024-11-07-paste-newsletter.mdx
  packages/paste-website/src/pages/components/alert/index.mdx
  packages/paste-website/src/pages/components/editable-code-block/index.mdx
  packages/paste-website/src/pages/components/input/index.mdx
  packages/paste-website/src/pages/components/keyboard-key/index.mdx
  packages/paste-website/src/pages/components/media-object/index.mdx
  packages/paste-website/src/pages/components/page-header/index.mdx
  packages/paste-website/src/pages/components/pagination/index.mdx
  packages/paste-website/src/pages/components/switch/index.mdx
  packages/paste-website/src/pages/experiences/artificial-intelligence/index.mdx
  packages/paste-website/src/pages/patterns/filter/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4184 chore(Code Block): update space and size tokens in overflow button
  .changeset/fast-terms-fry.md
  packages/paste-core/components/code-block/src/OverflowButton.tsx
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4189 chore(ci): fix changeset package name
  .changeset/dull-panthers-develop.md
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4188 fix(ci): supabase prod pipelines
  .github/workflows/on_merge_to_main_supabase.yml
  .github/workflows/update_docs_embed.yml
  apps/backend/package.json
  apps/backend/supabase/schema.gen.ts
  yarn.lock
Labels: Area: Infrastructure, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4191 fix(select): Disabled Select should use color-background
  .changeset/hungry-countries-move.md
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4193 fix(docs): change sitemap generation
  packages/paste-website/src/pages/sitemap.xml.tsx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4197 feat(icons): add icons for upcoming release
  .changeset/nervous-lies-drive.md
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/CardIcon.tsx
  packages/paste-icons/src/CarouselIcon.tsx
  packages/paste-icons/src/FeedbackIcon.tsx
  packages/paste-icons/src/TextIcon.tsx
  packages/paste-icons/svg/Card.svg
  packages/paste-icons/svg/Carousel.svg
  packages/paste-icons/svg/Feedback.svg
  packages/paste-icons/svg/Text.svg
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm
