Repository twilio-labs/paste, pull requests merged in 2024-03, with the labels that each got.

#3794 fix(website): Fast-follow with homepage improvements
  packages/paste-website/package.json
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/components/homepage/Accessibility.tsx
  packages/paste-website/src/components/homepage/CommunityOfBuilders.tsx
  packages/paste-website/src/components/homepage/DesignEfficiency.tsx
  packages/paste-website/src/components/homepage/ForTwilioCustomers.tsx
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/components/homepage/Popular.tsx
  packages/paste-website/src/components/homepage/PopularComponentCard.tsx
  packages/paste-website/src/components/homepage/PopularComponents.tsx
  packages/paste-website/src/components/homepage/PopularPatterns.tsx
  packages/paste-website/src/components/homepage/PopularSectionHeader.tsx
  packages/paste-website/src/components/homepage/SearchBox.tsx
  packages/paste-website/src/components/homepage/Templates.tsx
  packages/paste-website/src/components/homepage/Themeable.tsx
  packages/paste-website/src/components/homepage/ThemeableBuilder.tsx
  packages/paste-website/src/components/homepage/WeDoTheThinking.tsx
  packages/paste-website/src/components/homepage/component-showcase/ColumnOneShowcase.tsx
  packages/paste-website/src/components/homepage/component-showcase/ColumnTwoShowcase.tsx
  packages/paste-website/src/components/homepage/component-showcase/ComboboxShowcase.tsx
  packages/paste-website/src/components/shortcodes/live-preview/ThemeSwitcher.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/index.tsx
  yarn.lock
Labels: Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#3798 feat: add brand badges
  .changeset/bright-steaks-rhyme.md
  .changeset/soft-files-film.md
  .storybook/static/card/marketing1.png
  packages/paste-core/components/badge/src/constants.ts
  packages/paste-core/components/badge/src/styles.ts
  packages/paste-core/components/badge/stories/index.stories.tsx
  packages/paste-core/components/badge/type-docs.json
  packages/paste-core/components/menu/type-docs.json
  packages/paste-core/components/popover/type-docs.json
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-core/primitives/text/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-website/public/images/card/Marketing2.tsx
  packages/paste-website/public/images/card/Marketing3.tsx
  packages/paste-website/public/images/card/Marketing4.tsx
  packages/paste-website/src/assets/illustrations/AlertsAndNotifications.tsx
  packages/paste-website/src/component-examples/BadgeExamples.ts
  packages/paste-website/src/component-examples/CardExamples.ts
  packages/paste-website/src/pages/components/badge/index.mdx
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/stories/Card.stories.tsx
Labels: Type: Documentation, Area: Storybook, Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Primitives, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#3808 feat(icons): add sentiment and folder icons
  .changeset/large-berries-crash.md
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/FolderIcon.tsx
  packages/paste-icons/src/SentimentNegativeIcon.tsx
  packages/paste-icons/src/SentimentNeutralIcon.tsx
  packages/paste-icons/src/SentimentPositiveIcon.tsx
  packages/paste-icons/svg/Folder.svg
  packages/paste-icons/svg/SentimentNegative.svg
  packages/paste-icons/svg/SentimentNeutral.svg
  packages/paste-icons/svg/SentimentPositive.svg
  packages/paste-website/public/images/card/Marketing3.tsx
  packages/paste-website/public/images/card/Marketing4.tsx
  packages/paste-website/stories/Card.stories.tsx
Labels: Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3819 fix(docs): update outdated figma link in icon contribution
  packages/paste-website/src/pages/introduction/contributing/icons/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, size:XS, lgtm

#3820 feat(icons): add AI Assistants icon
  .changeset/sour-games-suffer.md
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/ProductAIAssistantsIcon.tsx
  packages/paste-icons/svg/ProductAIAssistants.svg
Labels: size:M, lgtm

#3824 test(icons): fix snapshot test
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/src/ProductAIAssistantsIcon.tsx
  packages/paste-website/src/pages/introduction/contributing/icons/index.mdx
Labels: Type: Documentation, Area: Doc Site, Status: Do Not Merge, size:S

#3829 fix(reakit-library): fix popoverarrow rendering
  .changeset/fluffy-grapes-prove.md
  packages/paste-libraries/reakit/src/Popover/PopoverArrow.tsx
Labels: 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm
