Repository twilio-labs/paste, pull requests merged in 2024-11, with the labels that each got.

#4122 Fix Line appearing under selected tab at larger zoom
  .changeset/dirty-mails-kick.md
  .changeset/lucky-fireants-complain.md
  .changeset/tender-bugs-itch.md
  .changeset/tricky-jeans-collect.md
  packages/paste-core/components/code-block/src/OverflowButton.tsx
  packages/paste-core/components/in-page-navigation/src/OverflowButton.tsx
  packages/paste-core/components/tabs/src/OverflowButton.tsx
  packages/paste-core/components/tabs/src/Tab.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-core/primitives/text/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/color.yml
  packages/paste-design-tokens/tokens/aliases/offset.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
Labels: Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4112 chore(assistant): use ai components
  packages/paste-website/src/component-examples/AIChatLogExamples.ts
  packages/paste-website/src/components/assistant/AssistantCanvas.tsx
  packages/paste-website/src/components/assistant/AssistantComposer.tsx
  packages/paste-website/src/components/assistant/AssistantEmptyState.tsx
  packages/paste-website/src/components/assistant/AssistantLayout.tsx
  packages/paste-website/src/components/assistant/AssistantMessage.tsx
  packages/paste-website/src/components/assistant/FocusComposerPlugin.tsx
  packages/paste-website/src/components/assistant/LoadingMessage.tsx
  packages/paste-website/src/components/assistant/SendButtonPlugin.tsx
  packages/paste-website/src/components/assistant/UserMessage.tsx
  packages/paste-website/src/pages/components/ai-chat-log/api.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4144 chore(cards-docs): pricing example and SVG update
  packages/paste-website/public/images/card/Marketing4.tsx
  packages/paste-website/src/pages/components/card/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4139 feat(design-tokens): add spacing tokens up to 310
  .changeset/shy-readers-scream.md
  packages/paste-core/components/anchor/type-docs.json
  packages/paste-core/components/callout/type-docs.json
  packages/paste-core/components/card/type-docs.json
  packages/paste-core/components/chat-composer/type-docs.json
  packages/paste-core/components/chat-log/type-docs.json
  packages/paste-core/components/combobox/type-docs.json
  packages/paste-core/components/date-picker/type-docs.json
  packages/paste-core/components/input/type-docs.json
  packages/paste-core/components/list/type-docs.json
  packages/paste-core/components/progress-steps/type-docs.json
  packages/paste-core/components/separator/type-docs.json
  packages/paste-core/components/time-picker/type-docs.json
  packages/paste-core/layout/flex/type-docs.json
  packages/paste-core/layout/grid/type-docs.json
  packages/paste-core/layout/media-object/type-docs.json
  packages/paste-core/layout/stack/type-docs.json
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-core/primitives/text/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/spacing.yml
  packages/paste-design-tokens/tokens/global/spacing.yml
Labels: Area: Components, Type: Tests, Area: Tokens, Area: Layout, Area: Repo, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4143 fix(tabs): change scrollintoview logic on load
  .changeset/cold-eagles-search.md
  .changeset/hot-owls-dream.md
  packages/paste-core/components/in-page-navigation/src/InPageNavigation.tsx
  packages/paste-core/components/in-page-navigation/stories/index.stories.tsx
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/Tabs.tsx
  packages/paste-core/components/tabs/stories/index.stories.tsx
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4140 [Side Modal]!: Align Side Modal footer actions to left
  .changeset/smooth-ads-admire.md
  packages/paste-core/components/side-modal/src/SideModalFooterActions.tsx
  packages/paste-core/components/side-modal/stories/customization.stories.tsx
  packages/paste-core/components/side-modal/stories/index.stories.tsx
  packages/paste-website/src/component-examples/SideModalExamples.ts
Labels: Area: Doc Site, Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4148 fix(tabs): do not scroll to end in some instances
  .changeset/healthy-squids-cheat.md
  packages/paste-core/components/code-block/src/CodeBlockTabList.tsx
  packages/paste-core/components/code-block/src/utlis.ts
  packages/paste-core/components/in-page-navigation/src/InPageNavigation.tsx
  packages/paste-core/components/in-page-navigation/src/utils.ts
  packages/paste-core/components/tabs/src/TabList.tsx
  packages/paste-core/components/tabs/src/utils.ts
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4146 Newsletter November
  .changeset/quiet-days-know.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/timeline/src/TimelineItemIcon.tsx
  packages/paste-website/src/assets/images/articles/2024-11-07-paste-newsletter/ai-error-state.png
  packages/paste-website/src/assets/images/articles/2024-11-07-paste-newsletter/callout.png
  packages/paste-website/src/assets/images/articles/2024-11-07-paste-newsletter/paste-mate-2024-11.png
  packages/paste-website/src/assets/images/articles/2024-11-07-paste-newsletter/pricing-pattern.png
  packages/paste-website/src/assets/images/articles/2024-11-07-paste-newsletter/progress-steps.png
  packages/paste-website/src/assets/images/articles/2024-11-07-paste-newsletter/tabs.gif
  packages/paste-website/src/assets/images/articles/2024-11-07-paste-newsletter/timeline.png
  packages/paste-website/src/pages/blog/2024-11-07-paste-newsletter.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4157 feat(example-text): create package
  .changeset/eight-windows-rescue.md
  .changeset/ninety-islands-trade.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/example-text/CHANGELOG.md
  packages/paste-core/components/example-text/__tests__/index.spec.tsx
  packages/paste-core/components/example-text/build.js
  packages/paste-core/components/example-text/package.json
  packages/paste-core/components/example-text/src/ExampleText.tsx
  packages/paste-core/components/example-text/src/index.tsx
  packages/paste-core/components/example-text/stories/index.stories.tsx
  packages/paste-core/components/example-text/tsconfig.json
  packages/paste-core/components/example-text/type-docs.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/example-text.tsx
  packages/paste-core/core-bundle/src/index.tsx
  tools/plop-templates/component-component.hbs
  yarn.lock
Labels: Area: Infrastructure, Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#4161 feat(tooltip): add keyboard shortcuts to tooltip
  .changeset/happy-panthers-buy.md
  packages/paste-core/components/code-block/package.json
  packages/paste-core/components/tooltip/package.json
  packages/paste-core/components/tooltip/src/Tooltip.tsx
  packages/paste-core/components/tooltip/src/index.tsx
  packages/paste-core/components/tooltip/stories/keyboard-key.stories.tsx
  packages/paste-core/components/tooltip/type-docs.json
  yarn.lock
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4170 fix(progress-steps): unnecessary re-renders
  .changeset/nervous-rabbits-love.md
  internal-docs/engineering/gotchas.md
  packages/paste-core/components/progress-steps/src/ProgressSteps.tsx
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4168 Create blockquote
  .changeset/dull-horses-exist.md
  .changeset/dull-panthers-develop.md
  .changeset/quiet-windows-poke.md
  .changeset/tough-dolphins-decide.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/blockquote/CHANGELOG.md
  packages/paste-core/components/blockquote/__tests__/index.spec.tsx
  packages/paste-core/components/blockquote/build.js
  packages/paste-core/components/blockquote/package.json
  packages/paste-core/components/blockquote/src/Blockquote.tsx
  packages/paste-core/components/blockquote/src/BlockquoteCitation.tsx
  packages/paste-core/components/blockquote/src/BlockquoteContent.tsx
  packages/paste-core/components/blockquote/src/BlockquoteContext.tsx
  packages/paste-core/components/blockquote/src/index.tsx
  packages/paste-core/components/blockquote/stories/index.stories.tsx
  packages/paste-core/components/blockquote/tsconfig.json
  packages/paste-core/components/blockquote/type-docs.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/blockquote.tsx
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/primitives/box/src/types.ts
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/BlockquoteIcon.tsx
  packages/paste-icons/svg/Blockquote.svg
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo, Area: Primitives, Area: Core bundle, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm
