Repository twilio-labs/paste, pull requests merged in 2024-01, with the labels that each got.

#3701 fix: broken link to superfriendly which no longer exists.
  packages/paste-website/src/pages/introduction/about-paste/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#3706 chore: ignore eslint from renovate updates
  renovate.json
Labels: Status: Do Not Merge, Area: Repo, size:S

#3708 chore: update renovate schedule and deps
  renovate.json
Labels: Status: Do Not Merge, Area: Repo, size:XS

#3711 feat: add page header docs
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/components/page-header/CHANGELOG.md
  packages/paste-website/package.json
  packages/paste-website/src/assets/images/PageHeaderPNG.png
  packages/paste-website/src/component-examples/PageHeaderExamples.ts
  packages/paste-website/src/components/homepage/HomeHero.tsx
  packages/paste-website/src/pages/components/page-header/api.mdx
  packages/paste-website/src/pages/components/page-header/changelog.mdx
  packages/paste-website/src/pages/components/page-header/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:XL

#3710 chore: add a small section about Flex plugins on get started
  packages/paste-website/src/pages/introduction/for-engineers/quickstart/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3715 chore: update page template stories to use page headers
  packages/paste-website/src/component-examples/page-templates/ObjectDetailsExamples.ts
  packages/paste-website/src/component-examples/page-templates/ObjectsListExamples.ts
  packages/paste-website/src/component-examples/page-templates/SettingsExamples.ts
  packages/paste-website/src/component-examples/page-templates/WizardExamples.ts
  packages/paste-website/stories/PageTemplates.stories.tsx
Labels: Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#3709 fix: allow for scrolling long menus
  .changeset/ninety-penguins-rule.md
  packages/paste-core/components/menu/src/Menu.tsx
  packages/paste-core/components/menu/stories/index.stories.tsx
Labels: Area: Components, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3722 fix(input): correctly display decrement arrow
  .changeset/late-mirrors-rule.md
  packages/paste-core/components/input/src/Input.tsx
  packages/paste-core/components/input/stories/input.stories.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3729 chore(website): add theme swapping to design guidelines
  packages/paste-website/src/pages/introduction/for-designers/design-guidelines/index.mdx
  packages/paste-website/src/pages/theme/changing-theme.mdx
Labels: Type: Documentation, Area: Doc Site, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3723 fix(chatlog): fix overflow on message bubbles
  .changeset/pink-buckets-hope.md
  packages/paste-core/components/chat-log/src/ChatBubble.tsx
  packages/paste-core/components/chat-log/stories/index.stories.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3727 feat(summary-detail): add package
  .changeset/clean-chefs-pull.md
  .changeset/grumpy-islands-sell.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/summary-detail/CHANGELOG.md
  packages/paste-core/components/summary-detail/__tests__/index.spec.tsx
  packages/paste-core/components/summary-detail/build.js
  packages/paste-core/components/summary-detail/package.json
  packages/paste-core/components/summary-detail/src/SummaryDetail.tsx
  packages/paste-core/components/summary-detail/src/SummaryDetailContent.tsx
  packages/paste-core/components/summary-detail/src/SummaryDetailContext.tsx
  packages/paste-core/components/summary-detail/src/SummaryDetailHeading.tsx
  packages/paste-core/components/summary-detail/src/SummaryDetailHeadingContent.tsx
  packages/paste-core/components/summary-detail/src/SummaryDetailToggleButton.tsx
  packages/paste-core/components/summary-detail/src/index.tsx
  packages/paste-core/components/summary-detail/stories/customization.stories.tsx
  packages/paste-core/components/summary-detail/stories/index.stories.tsx
  packages/paste-core/components/summary-detail/tsconfig.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/index.tsx
  packages/paste-core/core-bundle/src/summary-detail.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#3739 feat(theme): allow styling themeprovider like box
  .changeset/khaki-doors-cheer.md
  packages/paste-customization/src/types/CustomizationProvider.ts
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/stories/themeProvider.stories.tsx
Labels: Area: Theme, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3741 fix(summary-detail): fixes issue in react <18
  .changeset/warm-ads-notice.md
  package.json
  packages/paste-core/components/summary-detail/__tests__/index.spec.tsx
  packages/paste-core/components/summary-detail/src/SummaryDetail.tsx
Labels: Area: Components, Type: Tests, Status: Do Not Merge, Area: Repo, size:M, lgtm

#3745 fix: disable a11y test for theme provider in style test
  packages/paste-theme/stories/themeProvider.stories.tsx
Labels: Area: Theme, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#3736 chore: bump the paste fonts to fix backticks
  .changeset/nice-walls-brake.md
  .storybook/preview-head.html
  packages/paste-theme/src/styles/fonts.ts
  packages/paste-token-contrast-checker/public/index.html
  packages/paste-website/src/pages/_document.tsx
  packages/paste-website/src/pages/api/og-image.tsx
  packages/paste-website/src/pages/introduction/for-engineers/manual-installation/index.mdx
  packages/paste-website/src/pages/theme/changing-theme.mdx
  templates/paste-nextjs-template/pages/_document.tsx
Labels: Type: Documentation, Area: Storybook, Area: Doc Site, Area: Theme, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3744 feat: ability to post slack upates
  apps/backend/README.md
  apps/backend/supabase/migrations/20240129215251_top_searches.sql
  apps/backend/supabase/schema.gen.ts
  packages/paste-website/package.json
  packages/paste-website/src/pages/api/post-to-slack.ts
  packages/paste-website/src/pages/api/share-search-usage.ts
  packages/paste-website/vercel.json
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#3743 chore(visual picker): reduce space between input and content
  .changeset/loud-eagles-fry.md
  packages/paste-core/components/visual-picker/src/VisualPickerCheckbox.tsx
  packages/paste-core/components/visual-picker/src/VisualPickerRadio.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3735 feat(tokens): use aliases in evergreen font size tokens
  .changeset/long-zebras-care.md
  packages/paste-design-tokens/tokens/themes/evergreen/global/font-size.yml
Labels: Area: Tokens, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#3740 feat(table,datagrid): allow passing whiteSpace style prop
  .changeset/shaggy-geese-dress.md
  packages/paste-core/components/data-grid/__tests__/index.spec.tsx
  packages/paste-core/components/data-grid/src/table/Td.tsx
  packages/paste-core/components/data-grid/src/table/Th.tsx
  packages/paste-core/components/data-grid/stories/components/PlainDataGrid.tsx
  packages/paste-core/components/data-grid/type-docs.json
  packages/paste-core/components/summary-detail/type-docs.json
  packages/paste-core/components/table/__tests__/index.spec.tsx
  packages/paste-core/components/table/src/Td.tsx
  packages/paste-core/components/table/src/Th.tsx
  packages/paste-core/components/table/src/types.ts
  packages/paste-core/components/table/type-docs.json
  packages/paste-website/src/pages/components/table/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#3738 fix(select): background color in dark mode on windows
  .changeset/strange-spoons-hear.md
  packages/paste-core/components/select/src/Select.tsx
Labels: Area: Components, Status: Do Not Merge, size:XS, lgtm

#3746 feat(textarea): add maxRows prop
  .changeset/healthy-bulldogs-matter.md
  packages/paste-core/components/textarea/src/TextArea.tsx
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
  packages/paste-core/components/textarea/type-docs.json
  packages/paste-website/src/pages/components/textarea/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#3747 fix(date-picker): limit max year to 9999 by default
  .changeset/four-bulldogs-join.md
  packages/paste-core/components/date-picker/src/DatePicker.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, lgtm
