Repository twilio-labs/paste, pull requests merged in 2024-10, with the labels that each got.

#4094 feat(status-badge): add borderless size
  .changeset/clean-llamas-joke.md
  .changeset/fuzzy-crews-brake.md
  .changeset/soft-snails-crash.md
  packages/paste-core/components/badge/src/index.tsx
  packages/paste-core/components/status/src/StatusBadge.tsx
  packages/paste-core/components/status/stories/StatusBadge.stories.tsx
  packages/paste-core/components/status/type-docs.json
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/components/status-badge/index.mdx
  packages/paste-website/src/pages/patterns/status/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4084 feat(pricing): add pattern
  .changeset/four-worms-search.md
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-core/layout/grid/src/Grid.tsx
  packages/paste-core/layout/grid/stories/index.stories.tsx
  packages/paste-website/src/assets/images/patterns/pricing-pattern.png
  packages/paste-website/src/pages/patterns/pricing/index.mdx
  packages/paste-website/stories/Pricing.stories.tsx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Layout, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4101 chore(docs): fix formatting on Progress Steps docs
  packages/paste-website/src/pages/components/list/index.mdx
  packages/paste-website/src/pages/components/progress-steps/index.mdx
  packages/paste-website/src/pages/components/timeline/index.mdx
Labels: Type: Documentation, Area: Doc Site, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4102 Fix Visual Picker Checkbox doesn't work in Firefox when checkbox is clicked on directly
  .changeset/modern-starfishes-matter.md
  packages/paste-core/components/visual-picker/src/VisualPickerCheckbox.tsx
Labels: Area: Components, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4109 [Inline Code]: Update children prop
  .changeset/spicy-badgers-double.md
  packages/paste-core/components/inline-code/src/InlineCode.tsx
  packages/paste-core/components/inline-code/stories/index.stories.tsx
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4105 chore: add create-docs script and templates
  package.json
  packages/paste-website/src/pages/components/account-switcher/index.mdx
  plopfile.js
  tools/plop-templates/docs-api.hbs
  tools/plop-templates/docs-changelog.hbs
  tools/plop-templates/docs-index.hbs
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Status: Do Not Merge, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4110 chore: update status pattern
  packages/paste-website/src/component-examples/ObjectStatusPatternExamples.tsx
  packages/paste-website/src/component-examples/StatusPatternExamples.tsx
  packages/paste-website/src/pages/patterns/object-status/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#4126 [Progress Steps]: remove unnecessary space
  .changeset/warm-pots-rush.md
  packages/paste-core/components/progress-steps/src/ProgressStepError.tsx
  packages/paste-core/components/progress-steps/src/ProgressStepIncomplete.tsx
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4127 chore(callout): change to horizontal alignment
  .changeset/two-eyes-pay.md
  packages/paste-core/components/callout/src/Callout.tsx
  packages/paste-core/components/callout/src/CalloutHeading.tsx
  packages/paste-core/components/callout/src/CalloutText.tsx
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm
