Repository twilio-labs/paste, pull requests merged in 2025-03, with the labels that each got.

#4226 Elevation component changes
  .changeset/great-singers-stare.md
  .changeset/red-mirrors-play.md
  packages/paste-core/components/callout/src/Callout.tsx
  packages/paste-core/components/chat-composer/src/ChatComposerAttachmentCard.tsx
  packages/paste-core/components/chat-composer/src/ChatComposerContainer.tsx
  packages/paste-core/components/chat-composer/src/PlaceholderWrapper.tsx
  packages/paste-core/components/chat-log/src/ChatBubble.tsx
  packages/paste-core/components/chat-log/src/ComposerAttachmentCard.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListbox.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxOption.tsx
  packages/paste-core/components/input-box/src/InputChevronWrapper.tsx
  packages/paste-core/components/input-box/src/Prefix.tsx
  packages/paste-core/components/input-box/src/Suffix.tsx
  packages/paste-core/components/input/src/DecrementButton.tsx
  packages/paste-core/components/input/src/IncrementButton.tsx
  packages/paste-core/components/menu/src/Menu.tsx
  packages/paste-core/components/menu/src/MenuItem.styles.tsx
  packages/paste-core/components/minimizable-dialog/src/MinimizableDialogHeader.tsx
  packages/paste-core/components/minimizable-dialog/src/StyledMinimizableDialog.tsx
  packages/paste-core/components/modal/src/Modal.tsx
  packages/paste-core/components/popover/src/Popover.tsx
  packages/paste-core/components/side-modal/src/SideModal.tsx
  packages/paste-core/components/side-panel/src/SidePanel.tsx
  packages/paste-core/components/side-panel/src/SidePanelBody.tsx
  packages/paste-core/components/side-panel/stories/components/SidePanelWithAIContent.tsx
  packages/paste-core/components/side-panel/stories/components/SidePanelWithFilterContent.tsx
  packages/paste-core/components/sidebar/src/Sidebar.tsx
  packages/paste-core/components/sidebar/src/SidebarSkipLinks.tsx
  packages/paste-core/components/sidebar/src/header/SidebarHeader.tsx
  packages/paste-core/components/sidebar/src/navigation/SidebarNavigation.tsx
  packages/paste-core/components/toast/src/ErrorToast.tsx
  packages/paste-core/components/toast/src/NeutralToast.tsx
  packages/paste-core/components/toast/src/SuccessToast.tsx
  packages/paste-core/components/toast/src/WarningToast.tsx
  packages/paste-core/components/tooltip/src/Tooltip.tsx
  packages/paste-core/components/tooltip/src/TooltipArrow.tsx
  packages/paste-core/components/topbar/src/Topbar.tsx
  packages/paste-core/components/user-dialog/src/UserDialog.tsx
  packages/paste-core/components/user-dialog/src/UserDialogList.tsx
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-core/primitives/text/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/aliases/color-palette.yml
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/twilio-dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/twilio/global/background-color.yml
  packages/paste-website/src/pages/components/side-panel/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4261 feat(theme): update components and themes
  .changeset/brown-zebras-try.md
  .changeset/neat-dancers-shake.md
  packages/paste-core/components/button/__tests__/button.test.tsx
  packages/paste-core/components/button/src/DestructiveSecondaryButton.tsx
  packages/paste-core/components/button/src/PrimaryButton.tsx
  packages/paste-core/components/button/src/SecondaryButton.tsx
  packages/paste-core/components/card/src/Card.tsx
  packages/paste-core/components/input-box/src/FauxInput/DefaultFauxInput.tsx
  packages/paste-core/components/table/src/TBody.tsx
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/box-shadow.yml
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
Labels: Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4262 React 19 intersection
  packages/paste-core/components/combobox/__tests__/combobox-customization.spec.tsx
  packages/paste-libraries/styling/package.json
  packages/paste-theme-designer/next-env.d.ts
  packages/paste-theme/__tests__/withTheme.spec.tsx
  packages/paste-website/package.json
  packages/paste-website/src/assets/illustrations/DoodleArrow.tsx
  packages/paste-website/src/assets/illustrations/DoodleBurst.tsx
  packages/paste-website/src/assets/illustrations/DoodleCloud.tsx
  packages/paste-website/src/assets/illustrations/DoodleCurve.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopArrow.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopArrowLarge.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopLarge.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopMedium.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopSmall.tsx
  packages/paste-website/src/assets/illustrations/DoodleLoopTiny.tsx
  packages/paste-website/src/assets/illustrations/DoodleZigzag.tsx
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/components/customization-landing-page/ReadyToGetStarted.tsx
  packages/paste-website/src/components/customization-landing-page/image-slider/ImageSlider.tsx
  packages/paste-website/src/components/homepage/HomeHeroIllustration.tsx
  packages/paste-website/src/components/homepage/Themeable.tsx
  packages/paste-website/src/components/homepage/WeDoTheThinking.tsx
  packages/paste-website/src/components/site-wrapper/site-footer/SiteFooterNav.tsx
  yarn.lock
Labels: Area: Doc Site, Area: Theme, Area: Components, Type: Tests, Area: Repo, size:L

#4265 feat(storybook): working stories
  .eslintrc.js
  .storybook/addons/google-analytics/register.js
  .storybook/main.ts
  .storybook/preview.tsx
  package.json
  packages/paste-core/components/sidebar/stories/full-composition/docs.stories.tsx
  packages/paste-theme/package.json
  packages/paste-theme/stories/cacheProvider.stories.tsx
  packages/paste-website/package.json
  yarn.lock
Labels: Area: Storybook, Area: Doc Site, Area: Infrastructure, Area: Theme, Area: Components, Area: Repo, size:M

#4266 fix(types): add correct types for react 19 codemod changes
  packages/paste-core/components/ai-chat-log/src/useAIChatLogger.tsx
  packages/paste-core/components/alert/src/Alert.tsx
  packages/paste-core/components/badge/stories/customization.stories.tsx
  packages/paste-core/components/breadcrumb/src/Breadcrumb.tsx
  packages/paste-core/components/button-group/src/ButtonGroup.tsx
  packages/paste-core/components/callout/src/Callout.tsx
  packages/paste-core/components/chat-log/src/useChatLogger.ts
  packages/paste-core/components/combobox/__tests__/combobox-customization.spec.tsx
  packages/paste-core/components/combobox/__tests__/multiselect-combobox-customization.spec.tsx
  packages/paste-core/components/combobox/stories/Combobox-customization.stories.tsx
  packages/paste-core/components/combobox/stories/MultiselectCombobox-customization.stories.tsx
  packages/paste-core/components/file-picker/src/FilePicker.tsx
  packages/paste-core/components/keyboard-key/stories/index.stories.tsx
  packages/paste-core/components/meter/stories/index.stories.tsx
  packages/paste-core/components/page-header/stories/index.stories.tsx
  packages/paste-core/components/progress-bar/stories/customization.stories.tsx
  packages/paste-core/components/progress-bar/stories/index.stories.tsx
  packages/paste-core/components/select/__tests__/option.test.tsx
  packages/paste-core/components/status/stories/StatusBadgeCustomization.stories.tsx
  packages/paste-core/components/textarea/stories/textarea.stories.tsx
  packages/paste-core/components/toast/src/Toast.tsx
  packages/paste-core/components/toast/src/types.ts
  packages/paste-core/components/toast/stories/customization.stories.tsx
  packages/paste-core/components/tooltip/src/Tooltip.tsx
  packages/paste-core/components/visual-picker/stories/customization.stories.tsx
  packages/paste-customization/__tests__/CustomizationProvider.test.tsx
  packages/paste-theme/__tests__/themeConsumer.spec.tsx
  packages/paste-theme/__tests__/themeProvider.spec.tsx
  packages/paste-theme/__tests__/useTheme.spec.tsx
  packages/paste-theme/__tests__/withTheme.spec.tsx
  packages/paste-theme/src/themeConsumer.tsx
  packages/paste-utils/__tests__/useWindowSize.test.tsx
  packages/paste-website/src/component-examples/filter/components/filters/AddFilters.tsx
  packages/paste-website/src/component-examples/filter/components/filters/HostNameFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/MoreFilters.tsx
  packages/paste-website/src/component-examples/filter/components/filters/RoomSidFilter.tsx
  packages/paste-website/src/component-examples/filter/components/filters/UniqueNameFilter.tsx
  packages/paste-website/src/components/homepage/Accessibility.tsx
  packages/paste-website/src/components/homepage/CommunityOfBuilders.tsx
  packages/paste-website/src/components/homepage/DesignEfficiency.tsx
  packages/paste-website/src/components/homepage/ForTwilioCustomers.tsx
  packages/paste-website/src/components/homepage/NewSection.tsx
  packages/paste-website/src/components/homepage/Templates.tsx
  packages/paste-website/src/components/homepage/Themeable.tsx
  packages/paste-website/src/components/homepage/ThemeableBuilder.tsx
  packages/paste-website/src/components/homepage/WeDoTheThinking.tsx
  packages/paste-website/src/components/homepage/component-showcase/ComboboxShowcase.tsx
  packages/paste-website/src/components/paste-mdx-provider/index.tsx
  packages/paste-website/src/layouts/ComponentPageLayout.tsx
  packages/paste-website/src/layouts/DefaultLayout.tsx
  packages/paste-website/src/pages/_app.tsx
  packages/paste-website/src/pages/_document.tsx
  packages/paste-website/src/pages/customization/index.tsx
  packages/paste-website/src/pages/index.tsx
  packages/paste-website/src/pages/sitemap.xml.tsx
Labels: Type: Documentation, Area: Doc Site, Area: Theme, Area: Components, Type: Tests, Area: Repo, size:L, lgtm

#4264 feat(theme): add option to use css variables
  .changeset/brave-clouds-sneeze.md
  .changeset/pretty-weeks-smash.md
  packages/paste-design-tokens/gulpfile.ts
  packages/paste-design-tokens/package.json
  packages/paste-theme/__tests__/__snapshots__/themes.spec.ts.snap
  packages/paste-theme/__tests__/themes.spec.ts
  packages/paste-theme/src/generateThemeFromTokens.ts
  packages/paste-theme/src/themeProvider.tsx
  packages/paste-theme/src/themes/css-variables/index.ts
  packages/paste-theme/stories/cssVariables.stories.tsx
  packages/paste-website/src/pages/theme/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Theme, Type: Tests, Area: Tokens, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4271 feat(docs): fix theme flicker
  packages/paste-website/package.json
  packages/paste-website/src/components/color-swatch/ColorGradient.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/context/PreviewThemeContext.tsx
  packages/paste-website/src/hooks/useDarkMode.tsx
  packages/paste-website/src/pages/_app.tsx
  packages/paste-website/src/pages/_document.tsx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4281 add banner for use client directive
  .changeset/shaggy-eggs-own.md
  packages/paste-icons/build.js
  tools/build/esbuild.js
Labels: Area: Infrastructure, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4287 feat(docs): add SSR and SSG docs
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/articles/2025-03-20-css-variables-ssr-ssg/flicker.gif
  packages/paste-website/src/components/ResponsiveBorderedImage.tsx
  packages/paste-website/src/pages/blog/2025-03-20-css-variables-ssr-ssg.mdx
  packages/paste-website/src/pages/theme/changing-theme.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm
