Repository twilio-labs/paste, pull requests merged in 2025-08, with the labels that each got.

#4371 chore: fix closing tag in Badge docs
  packages/paste-website/src/pages/components/badge/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4374 chore(box): remove className from blocked props
  .changeset/good-jokes-boil.md
  packages/paste-core/primitives/box/src/SafelySpreadProps.ts
Labels: Area: Repo, Area: Primitives, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4356 feat(ai-chat-log): add new components
  .changeset/nasty-files-shave.md
  .changeset/orange-frogs-flash.md
  .changeset/stale-clocks-float.md
  apps/backend/package.json
  apps/backend/supabase/schema.gen.ts
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/ai-chat-log/package.json
  packages/paste-core/components/ai-chat-log/src/AIChatMessageSource.tsx
  packages/paste-core/components/ai-chat-log/src/AIChatMessageSourceLink.tsx
  packages/paste-core/components/ai-chat-log/src/index.tsx
  packages/paste-core/components/ai-chat-log/stories/aiChatLog.stories.tsx
  packages/paste-core/components/ai-chat-log/type-docs.json
  packages/paste-core/components/footnote/src/Footnote.tsx
  yarn.lock
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm
