Repository twilio-labs/paste, pull requests merged in 2025-01, with the labels that each got.

#4200 chore(docs): fix sitemap
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/pages/sitemap.xml.tsx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4203 chore(website): small fixes
  packages/paste-website/src/components/site-search/SearchForm.tsx
  packages/paste-website/src/components/tokens-list/TokensListFilter.tsx
Labels: Area: Doc Site, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4206 fix(in-page-navigation): modified code so vertical items wrap text
  .changeset/selfish-bottles-argue.md
  packages/paste-core/components/in-page-navigation/src/InPageNavigationItem.tsx
Labels: Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4205 chore(docs): add GSC verification
  packages/paste-website/src/pages/index.tsx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4213 fix(ci): update supabase and OpenAI version
  .github/workflows/on_pull_request_open.yml
  apps/backend/package.json
  apps/backend/supabase/migrations/20230928013336_initial_schema.sql
  apps/backend/supabase/schema.gen.ts
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/package.json
  packages/paste-website/src/components/assistant/Assistant.tsx
  packages/paste-website/src/components/assistant/AssistantComposer.tsx
  packages/paste-website/src/components/assistant/AssistantMessage.tsx
  packages/paste-website/src/components/assistant/UserMessage.tsx
  packages/paste-website/src/pages/api/paste-assistant-message.ts
  packages/paste-website/src/pages/api/paste-assistant-messages/[tid].ts
  packages/paste-website/src/stores/assistantMessagesStore.ts
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Infrastructure, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4199 feat(ai-chat-log): add typewriter animations
  .changeset/tough-moles-film.md
  packages/paste-core/components/ai-chat-log/src/AIChatMessageBody.tsx
  packages/paste-core/components/ai-chat-log/src/utils.tsx
  packages/paste-core/components/ai-chat-log/stories/composer.stories.tsx
  packages/paste-core/components/ai-chat-log/stories/parts.stories.tsx
  packages/paste-core/components/ai-chat-log/stories/scrollableSidePanel.stories.tsx
  packages/paste-core/components/ai-chat-log/stories/useAIChatLogger.stories.tsx
  packages/paste-core/components/ai-chat-log/type-docs.json
  packages/paste-website/src/component-examples/AIChatLogExamples.ts
  packages/paste-website/src/pages/components/ai-chat-log/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4220 Fix evergreen shadow borders and font-size-40
  .changeset/violet-elephants-ring.md
  .storybook/preview.tsx
  packages/paste-core/components/table/stories/index.stories.tsx
  packages/paste-design-tokens/tokens/themes/evergreen/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/box-shadow.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/font-size.yml
  packages/paste-design-tokens/tokens/themes/evergreen/global/text-color.yml
Labels: Area: Storybook, Area: Infrastructure, Area: Components, Area: Tokens, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4215 chore(intenral-docs): add icons doc
  internal-docs/engineering/developing-locally.md
  internal-docs/engineering/icons.md
  package.json
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm
