Repository twilio-labs/paste, pull requests merged in 2025-04, with the labels that each got.

#4292 chore(chat-composer): adjust spacing, make icon optional
  .changeset/soft-berries-roll.md
  packages/paste-core/components/chat-composer/package.json
  packages/paste-core/components/chat-composer/src/ChatComposerAttachmentCard.tsx
  packages/paste-core/components/chat-composer/stories/container.stories.tsx
  packages/paste-core/components/chat-composer/type-docs.json
  packages/paste-website/src/pages/components/chat-composer/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4303 feat(icons): add icons for next release
  .changeset/rude-ads-invent.md
  packages/paste-icons/__test__/__snapshots__/icons.spec.tsx.snap
  packages/paste-icons/build.icon-list.js
  packages/paste-icons/json/icons.json
  packages/paste-icons/src/RandomizeIcon.tsx
  packages/paste-icons/src/SplitIcon.tsx
  packages/paste-icons/svg/Randomize.svg
  packages/paste-icons/svg/Split.svg
Labels: Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4290 chore(website): update code editor library with editable code block info
  packages/paste-website/src/pages/core/libraries/code-editor/index.mdx
  packages/paste-website/src/pages/foundations/spacing-and-layout/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4304 feat(card): add fillWidth
  .changeset/sharp-pens-relax.md
  packages/paste-core/components/card/src/Card.tsx
  packages/paste-core/components/card/stories/index.stories.tsx
  packages/paste-core/components/card/type-docs.json
  packages/paste-website/src/component-examples/CardExamples.ts
  packages/paste-website/src/pages/components/card/index.mdx
  packages/paste-website/stories/Card.stories.tsx
Labels: Type: Documentation, Area: Doc Site, Area: Components, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:L, lgtm

#4316 feat(form-layout): update form component to form-layout
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/next.config.mjs
  packages/paste-website/src/pages/components/form-layout/api.mdx
  packages/paste-website/src/pages/components/form-layout/changelog.mdx
  packages/paste-website/src/pages/components/form-layout/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm
