Repository twilio-labs/paste, pull requests merged in 2025-05, with the labels that each got.

#4312 feat(data-viz): create intial pages for engineering
  .changeset/cuddly-berries-explain.md
  .eslintignore
  apps/backend/package.json
  apps/backend/supabase/schema.gen.ts
  cypress/integration/sidebar-navigation/index.spec.ts
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-libraries/data-visualization/__test__/__snapshots__/index.spec.tsx.snap
  packages/paste-libraries/data-visualization/src/usePasteHighchartsTheme.tsx
  packages/paste-libraries/data-visualization/stories/base-chart.stories.tsx
  packages/paste-libraries/data-visualization/stories/components/BaseChart.tsx
  packages/paste-website/package.json
  packages/paste-website/src/component-examples/data-visualization/BaseChart.tsx
  packages/paste-website/src/component-examples/data-visualization/ChartProviderExamples.ts
  packages/paste-website/src/components/site-wrapper/sidebar/SidebarNavigation.tsx
  packages/paste-website/src/constants.ts
  packages/paste-website/src/pages/components/chart-provider/api.mdx
  packages/paste-website/src/pages/components/chart-provider/changelog.mdx
  packages/paste-website/src/pages/components/chart-provider/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/for-engineers/chart-types.mdx
  packages/paste-website/src/pages/foundations/data-visualization/for-engineers/index.mdx
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#4322 fix(form): fix pattern links
  packages/paste-website/src/pages/patterns/form/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4334 Add color-background-weaker-elevation
  .changeset/flat-rice-report.md
  packages/paste-core/components/chat-composer/src/ChatComposerAttachmentCard.tsx
  packages/paste-core/components/combobox/src/styles/ComboboxListboxOption.tsx
  packages/paste-core/components/menu/src/MenuItem.styles.tsx
  packages/paste-core/components/topbar/src/Topbar.tsx
  packages/paste-core/primitives/box/type-docs.json
  packages/paste-core/primitives/sibling-box/type-docs.json
  packages/paste-design-tokens/__tests__/__snapshots__/index.test.tsx.snap
  packages/paste-design-tokens/tokens/global/background-color.yml
  packages/paste-design-tokens/tokens/themes/dark/global/background-color.yml
  packages/paste-website/src/assets/images/foundations/elevation/level-2-accent-shadow.png
Labels: Area: Doc Site, Area: Components, Type: Tests, Area: Tokens, Area: Repo, Area: Primitives, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm
