Repository twilio-labs/paste, pull requests merged in 2025-02, with the labels that each got.

#4225 fix(sitemap): ensure all canonical URL
  packages/paste-website/src/pages/sitemap.xml.tsx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm

#4228 feat(website): update data viz docs with plugin and license info
  packages/paste-website/src/assets/images/foundations/data-visualization/figma-colors.png
  packages/paste-website/src/pages/foundations/data-visualization/index.mdx
Labels: Type: Documentation, Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:S, lgtm

#4230 feat(side-panel): add useSidePanelState hook, animation zhoosh
  .changeset/itchy-teachers-dance.md
  .changeset/lazy-months-roll.md
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/side-panel/package.json
  packages/paste-core/components/side-panel/src/SidePanel.tsx
  packages/paste-core/components/side-panel/src/SidePanelFooter.tsx
  packages/paste-core/components/side-panel/src/SidePanelHeader.tsx
  packages/paste-core/components/side-panel/src/SidePanelPushContentWrapper.tsx
  packages/paste-core/components/side-panel/src/hooks.ts
  packages/paste-core/components/side-panel/src/index.tsx
  packages/paste-core/components/side-panel/src/types.ts
  packages/paste-core/components/side-panel/stories/index.stories.tsx
  packages/paste-website/src/components/shortcodes/live-preview/index.tsx
  packages/paste-website/src/pages/components/paragraph/api.mdx
  packages/paste-website/src/pages/components/side-panel/index.mdx
  yarn.lock
Labels: Type: Documentation, Area: Doc Site, Area: Components, Area: Repo, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4227 Create elevation page
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/assets/images/foundations/elevation/elevated-background-color-tokens.png
  packages/paste-website/src/assets/images/foundations/elevation/level-1-accent-shadow.png
  packages/paste-website/src/assets/images/foundations/elevation/level-1-tonal-change.png
  packages/paste-website/src/assets/images/foundations/elevation/level-2-accent-shadow.png
  packages/paste-website/src/assets/images/foundations/elevation/level-2-risen-shadow.png
  packages/paste-website/src/assets/images/foundations/elevation/level-3-overlay.png
  packages/paste-website/src/assets/images/foundations/elevation/level-3-risen-shadow.png
  packages/paste-website/src/component-examples/ElevationFoundationExamples.tsx
  packages/paste-website/src/pages/foundations/elevation/index.mdx
  packages/paste-website/stories/Elevation.stories.tsx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XL, lgtm

#4236 feat(chart-provider): add component to wrap charts
  .changeset/cyan-lemons-kneel.md
  .changeset/popular-plants-search.md
  .codesandbox/ci.json
  packages/paste-codemods/tools/.cache/mappings.json
  packages/paste-core/components/chart-provider/CHANGELOG.md
  packages/paste-core/components/chart-provider/__tests__/index.spec.tsx
  packages/paste-core/components/chart-provider/build.js
  packages/paste-core/components/chart-provider/package.json
  packages/paste-core/components/chart-provider/src/ChartContext.tsx
  packages/paste-core/components/chart-provider/src/ChartProvider.tsx
  packages/paste-core/components/chart-provider/src/index.tsx
  packages/paste-core/components/chart-provider/stories/BaseChart.tsx
  packages/paste-core/components/chart-provider/stories/index.stories.tsx
  packages/paste-core/components/chart-provider/tsconfig.json
  packages/paste-core/components/chart-provider/type-docs.json
  packages/paste-core/core-bundle/.gitignore
  packages/paste-core/core-bundle/package.json
  packages/paste-core/core-bundle/src/chart-provider.tsx
  packages/paste-core/core-bundle/src/index.tsx
  yarn.lock
Labels: Area: Components, Type: Tests, Area: Repo, Area: Core bundle, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XXL, lgtm

#4235 (feat): more word list updates
  packages/paste-website/src/data/word-list.json
Labels: Area: Doc Site, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm, Contribution

#4254 Revert 4025 fix theme flash
  cypress/integration/sitemap-vrt/constants.ts
  packages/paste-website/src/components/site-wrapper/site-header/SiteHeaderSearch.tsx
  packages/paste-website/src/hooks/useDarkMode.tsx
  packages/paste-website/src/pages/_app.tsx
  packages/paste-website/src/pages/blog/2023-06-12-paste-newsletter.mdx
  packages/paste-website/src/pages/blog/2023-08-02-paste-newsletter.mdx
  packages/paste-website/src/pages/components/description-list/index.mdx
  packages/paste-website/src/pages/components/status-badge/index.mdx
  packages/paste-website/src/pages/components/status-menu/index.mdx
  packages/paste-website/src/pages/patterns/object-status/index.mdx
Labels: Type: Documentation, Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:M, lgtm

#4234 (feat): Add "downgrade to word list"
  cypress/integration/word-list/index.spec.ts
  packages/paste-website/src/data/word-list.json
Labels: Area: Doc Site, Type: Tests, Area: Repo, 🚀 merge it!, 🕵🏻‍♀️ Run website visual regression, size:XS, lgtm, Contribution
